<!DOCTYPE html>
<html class='universe'>
	
	<head class='heavens'>
		<title>{% block title %}Give A Minute{% endblock title %}</title>
		
		<meta name="viewport" content="width=device-width" />
		
		
		<link rel="stylesheet" href="/static/css/tc.reset.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.fontfaces.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.mobile.css" type="text/css" media="screen" charset="utf-8" />
		
	</head>
	
	<body class='earth'>
		
		<div class='atmosphere'>
			<div class='stratosphere'>
				<ul class="clearfix">
					<li class="home">
						<a href="/"><span>NYC SimpliCity | Give A Minute</span></a>
					</li>
					<li class="userland">
						<div class='login'><a href='/login'>Login</a></div>
						<div class="join"><a href='/join'>Join</a></div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class='continent'>
			
			{% block continent %}Main{% endblock %}
			
		</div>
		
	</body>
	
</html>