/*------------------------------------------------------------------------------
	Give a Minute
	Internet Explorer IE 8 and below CSS
-------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
GENERAL & SITE-WIDE STYLES */

/* buttons & inputs */
div.continent input[type="text"], 
div.continent input[type="password"] { padding-top: 10px; padding-bottom: 8px; height: 22px; }

button.rounded-button,
input[type=button].rounded-button,
input[type=submit].rounded-button { float:none; display:block; height: 42px; padding-bottom: 0px; }
div.seafloor input.ft-search-btn { padding-top: 0; padding-bottom:0; }

ul.navbar li.search input[type=text] { padding-top: 7px; padding-bottom: 7px; height: 11px;}
ul.navbar li.search input[type=submit] { padding-bottom: 0; }

textarea[disabled] { color: #000 !important; }


/* merlin */
.merlin-progress .indicator .num { padding-top: 7px; }


/* transparancies */
div.continent.home .headlands .splash .top-pane { /* 50% transparency white */
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff); /* For < IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff)"; /* For IE 8*/ }

div.continent.home .headlands .splash .projects-pane.not-found,
div.home.continent .headlands .splash .top-pane.step-three,
div.continent.home .headlands .splash .projects-pane.step-three .related-projects,
div.continent.home .headlands .splash .projects-pane.step-three .citywide-projects,
div.continent.home .headlands .splash .projects-pane.not-found,
div.continent.splash .beta-splash-container .pane { /* 70% transparency white */
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff, endColorstr=#b2ffffff) !important; /* For < IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff, endColorstr=#b2ffffff)" !important; /* For IE 8*/ }

.change-image:hover { /* 70% transparency black */
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000) !important; /* For < IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000)" !important; /* For IE 8*/ }




/*-----------------------------------------------------------------------------
PAGE-SPECIFIC STYLES */

/* home page */
.continent.home .note-card-pane .primary-action .ca-btn.disabled { filter:none; }
.continent.home .top-pane .holderWrap .holder { background-color: #d6d5d4; }
.continent.home .note-card-pane .note-card-submit-idea .charlimit { filter: none; color: #666; }


/* search results page */
.continent.search-results #list-view .sidebar .sidebar-item { padding-top: 4px; padding-bottom: 3px; }
.continent.search-results #list-view .sidebar .sidebar-item span { position:relative; top: 2px; }
.continent.search-results #list-view .sidebar .sidebar-item span.counter { top: -1px; }
.continent.search-results #list-view .carousel.resource .scrollable .items > li { width: 765px; }
.continent.search-results .results-box .ft { width: 805px; }
.continent.search-results .headlands input[type='text'] { padding-top: 8px !important; padding-bottom: 2px !important; }
.continent.search-results .official-resource-alt { margin-top: 3px; }
.continent.search-results #list-view table.resources-list tr:first-child { padding-top: 3px; }
.continent.search-results #map-view .results-box .hd .control a { margin-top: 4px; }

/* user account page */
.continent.user-account .midlands div.user-account-nav ul.tabs li a { padding-bottom: 2px;}

/* project page */
.continent.project div.external-links .rounded-button.add-link { float: left !important; }
.continent.project div.add-link .form-pane .submit { padding-bottom: 8px; }
ol.comment-stack .note-card .note-meta-hd { margin-bottom: 0; padding-bottom: 8px; }
.box.fresh-ideas h2 .sub { margin-top: -1px; }

/* create page */
div.continent.create .midlands .step.location > .east { float: none; margin-left: 265px; }

/* blog */
.continent.blog .headlands input[type="text"] { padding-bottom: 10px !important; padding-top: 11px !important; height: auto;}