/*------------------------------------------------------------------------------
	Give a Minute
	Internet Explorer 7 CSS
-------------------------------------------------------------------------------*/


/* buttons & inputs */
button.rounded-button,
input[type=button].rounded-button,
input[type=submit].rounded-button,
div.seafloor input.ft-search-btn { padding-left: 0px; padding-right: 0px; }

a span.sm-arrow-forward,
a span.sm-arrow-back { position: relative; top: -3px; }

ul.navbar li.search input[type=submit] { padding-left: 0; padding-right: 0; }



/* home page */
.continent.home .headlands .splash .step-three.projects-pane a.see-more { margin-bottom: 10px; }


/* create page */
.continent.create .headlands > .east > .box { float: right; }



/* search results page */
.continent.search-results div.location-hood-list { margin-left: 4px;}