/*------------------------------------------------------------------------------
	Give a Minute
	Internet Explorer general CSS (IE 9 and below)
-------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
GENERAL & SITE-WIDE STYLES */

/* table styles */
table.resources-list .resource-name > span { display: block; vertical-align: baseline; }
table.resources-list .resource-name > span span { display: inline; vertical-align: baseline; font-size: 15px;}




/*-----------------------------------------------------------------------------
PAGE-SPECIFIC STYLES */

/* search results page */
.continent.search-results table { padding:0; width: 100%; }
.search-results.continent #map-view table { width: auto; }
.continent.search-results .results-box .bd { padding:20px; width: 765px !important; }
.continent.search-results #list-view .results-box .bd ul.ideas-list { padding: 0 !important; }