/*------------------------------------------------------------------------------
	Give a Minute
	Internet Explorer IE 8 and below CSS
-------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
GENERAL & SITE-WIDE STYLES */

/* buttons & inputs */
div.continent input[type="text"], 
div.continent input[type="password"] { padding-top: 10px; padding-bottom: 8px; height: 22px; }

button.rounded-button,
input[type=button].rounded-button,
input[type=submit].rounded-button { float:none; display:block; height: 42px; padding-bottom: 0px; }
div.seafloor input.ft-search-btn { padding-top: 0; padding-bottom:0; }

ul.navbar li.search input[type=text] { padding-top: 7px; padding-bottom: 7px; height: 11px;}
ul.navbar li.search input[type=submit] { height: 27px; padding-bottom: 0; }


/* merlin */
.merlin-progress .indicator .num { padding-top: 7px; }


/* transparancies */
div.continent.home .headlands .splash .top-pane { /* 50% transparency white */
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff) !important; /* For < IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff)" !important; /* For IE 8*/ }

div.continent.home .headlands .splash .projects-pane.not-found,
div.home.continent .headlands .splash .top-pane.step-three,
div.continent.home .headlands .splash .projects-pane.step-three .related-projects,
div.continent.home .headlands .splash .projects-pane.step-three .citywide-projects,
div.continent.home .headlands .splash .projects-pane.not-found,
div.continent.splash .beta-splash-container .pane { /* 70% transparency white */
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff, endColorstr=#b2ffffff) !important; /* For < IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2ffffff, endColorstr=#b2ffffff)" !important; /* For IE 8*/ }

.project-header .thumb .change-image:hover { /* 70% transparency black */
		background-color: transparent;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000) !important; /* For < IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000, endColorstr=#b2000000)" !important; /* For IE 8*/ }

div.continent.home .headlands .splash .projects-pane h2 .text  { background: url(../../images/white_70.png) top center repeat transparent; }




/*-----------------------------------------------------------------------------
PAGE-SPECIFIC STYLES */

/* home page */
div.continent.home .headlands .splash  .projects-pane h2 span.text { padding-top: 3px; padding-bottom: 2px; }


/* search results page */
.continent.search-results #list-view .sidebar .sidebar-item { padding-top: 4px; padding-bottom: 3px; }
.continent.search-results #list-view .sidebar .sidebar-item span { position:relative; top: 2px; }
.continent.search-results #list-view .sidebar .sidebar-item span.counter { top: -1px; }
.continent.search-results .results-box .ft { width: 805px; }
.continent.search-results .headlands input[type='text'] { padding-top: 8px !important; padding-bottom: 2px !important; }

/* user account page */
.continent.user-account .midlands div.user-account-nav ul.tabs li a { padding-bottom: 2px;}