/*------------------------------------------------------------------------------
	Give a Minute
	Internet Explorer 7 CSS
-------------------------------------------------------------------------------*/


/* buttons & inputs */
button.rounded-button,
input[type=button].rounded-button,
input[type=submit].rounded-button,
div.seafloor input.ft-search-btn { padding-left: 0px !important; padding-right: 0px !important; }

.rounded-button.small { padding-top: 7px; padding-bottom: 7px; }

div.seafloor input.ft-search-field { padding-top: 12px; padding-bottom: 4px; /*height: 40px;*/ }

a span.sm-arrow-forward,
a span.sm-arrow-back { position: relative; top: -3px; }
div.continent.login .retry-login-link .sm-arrow-back { margin-top: -10px; }

ul.navbar li.news-about a { margin-top: 9px; }
ul.navbar li.userland > div { margin-top: 7px; }
ul.navbar li.search input[type=submit] { padding-left: 0; padding-right: 0;  }



/* home page */
.continent.home .splash { z-index:5; }
.continent.home .headlands .splash .top-pane div.idea-input textarea.idea { position: relative; width: 285px; right: 3px; }
.continent.home .headlands .splash .step-three.projects-pane a.see-more { margin-bottom: 10px; }

/* leaving these out for now -- these issues have been addressed over in the main css -- Lev
.continent.home .top-pane { overflow: visible; position: relative;}
.continent.home .splash .row-3 { position: absolute; }
.continent.home input.location-hood-enter { margin-left: 0; position: absolute;}
.continent.home .location-hood-list { }
.continent.home .info-input .east { height: 500px; }
*/

.continent.home .midlands div.why-use li { clear:both; }
.continent.home .midlands div.why-use li .text { float: left; margin-left: 0; }


/* project page */
.continent.project .organizations-not-empty .add-organization { float: left; }
.continent.project table.resources-list .resource-name { overflow: hidden; }
.conversation-controls .filters { width: 150px; }
.conversation-controls .filters select { visibility:visible; }
.conversation-controls .filters .ddToggle span { top: -3px; }
.comment-stack { display:inline-block; }
.comment-stack > li {z-index:-1;}

/* join page */
.continent.register .headlands > .east > .box { float: right; }

/* user account page */
.continent.user-account .user-details input[type="text"],
.continent.user-account .user-details input[type="password"] { margin-left: -80px; }

/* create page */
.continent.create .headlands > .east > .box { float: right; }
.continent.create .midlands .step.location .row-3 { position: relative; }
.continent.create .midlands .step.location input.location-hood-enter { position: absolute; }
.continent.create .midlands .step.location .location-hood-list { position: absolute; top: 40px; } 

/* search results page */
.continent.search-results .headlands { z-index: 98; }
.continent.search-results div.location-hood-list {z-index:100 !important;}
.continent.search-results #map-view .results-box { margin-top: 15px; }
.continent.search-results #list-view.all tr.hidden-result { display: none !important; }
.continent.search-results #list-view.projects tr.hidden-result { display: block !important; }
.continent.search-results #list-view.resources tr.hidden-result { display: block !important; }

/* about */
div.continent.about .midlands .box.first .hd { min-height: 399px; }

/* admin/cms */
.continent.cms-admin-settings table.active-admins-table label { width: 100%; }
.continent.cms-content ul.pending-resources-stack li .hd { height: 15px; position: relative;}
.continent.cms-content ul.pending-resources-stack li .hd .control-delete { float: none; position: absolute; top: 8px; right: 10px; }
.continent.cms-content #metrics .metrics-section h2 { min-height: 50px; }

/* feedback page */
.continent.feedback .row.row-comment { width: 960px; }
.continent.feedback .row.row-send { width:960px; }

/* leaderbaord page */
.continent.leaderboard .headlands h1 span { margin-top: 4px; }
table.leaderboard { border-top: 1px solid #E0DEDC; }