/*------------------------------------------------------------------------------
	Give a Minute
	Internet Explorer 7 CSS
-------------------------------------------------------------------------------*/


/* buttons, tables, & inputs */
button.rounded-button,
input[type=button].rounded-button,
input[type=submit].rounded-button,
div.seafloor input.ft-search-btn { padding-left: 0px !important; padding-right: 0px !important; }

.rounded-button.small { padding-top: 7px; padding-bottom: 7px; }

div.seafloor input.ft-search-field { padding-top: 12px; padding-bottom: 4px; /*height: 40px;*/ }

a span.sm-arrow-forward,
a span.sm-arrow-back { position: relative; top: -3px; }
div.continent.login .retry-login-link .sm-arrow-back { margin-top: -10px; }

ul.navbar li.news-about a { margin-top: 9px; }
ul.navbar li.userland > div { margin-top: 7px; }
ul.navbar li.search input[type=submit] { padding-left: 0; padding-right: 0;  }

table.resources-list .resource-name > span.official-resource-alt { min-width: 90px; }


/* home page */
.continent.home .splash { z-index:5; }
.continent.home .headlands .splash .step-three.projects-pane a.see-more { margin-bottom: 10px; }

	/* temporary fix for homepage input sections in .info-input jiggling around */
	.more-info.after-idea-message { position: absolute; }
	.continent.home div.info-input { padding-top: 92px; }
	/* end temporary fix */
	
.continent.home input#email { margin-left: -12px; }


/* project page */
.continent.project .organizations-not-empty .add-organization { float: left; }
.continent.project table.resources-list .resource-name { overflow: hidden; }
.conversation-controls { z-index: 1; }
.conversation-controls .filters { width: 150px; }
.conversation-controls .filters select { visibility:visible; }
.conversation-controls .filters .ddToggle span { top: -3px; }
.comment-stack { display:inline-block; }
.comment-stack > li {z-index: 0;}
.box.fresh-ideas h2 .sub { margin-top: -2px; margin-left: -112px; }
.continent.project ol.comment-stack .note-meta-hd {height: 0;}

/* join page */
.continent.register .headlands > .east > .box { float: right; }


/* create page */
.continent.create .headlands > .east > .box { float: right; }
.continent.create .midlands .step.location .row-3 { position: relative; }
.continent.create .midlands .step.location input.location-hood-enter { position: absolute; }
.continent.create .midlands .step.location .location-hood-list { position: absolute; top: 40px; } 
.create.continent .midlands table.triplewide tr td { width: 293px; }

/* search results page */
.continent.search-results { overflow: hidden; }
/*.continent.search-results #list-view > .east { overflow: hidden; }*/
.continent.search-results .headlands { z-index: 98; }
.continent.search-results div.location-hood-list {z-index:100 !important;}
.continent.search-results #map-view .results-box { margin-top: 15px; }
.continent.search-results #list-view.all tr.hidden-result { display: none !important; }
.continent.search-results #list-view.projects tr.hidden-result { display: block !important; }
.continent.search-results #list-view.resources tr.hidden-result { display: block !important; }
.continent.search-results table td:first-child { border-top: none; }
.continent.search-results table.resources-list .official-resource-alt { width: 90px; }

/* user account page */
div.continent.user-account .midlands .activity-view div.my-resources table td { width: 236px; }

/* about */
div.continent.about .midlands .box.first .hd { min-height: 399px; }

/* admin/cms */
.continent.cms-admin-settings table.active-admins-table label { width: 100%; }
.continent.cms-content ul.pending-resources-stack li .hd { height: 15px; position: relative;}
.continent.cms-content ul.pending-resources-stack li .hd .control-delete { float: none; position: absolute; top: 8px; right: 10px; }
.continent.cms-content #metrics .metrics-section h2 { min-height: 50px; }
select.replace-project-options { width: 250px; }

/* feedback page */
.continent.feedback .row.row-comment { width: 960px; }
.continent.feedback .row.row-send { width:960px; }

/* leaderbaord page */
.continent.leaderboard .headlands h1 span { margin-top: 4px; }
.continent.leaderboard table.leaderboard { border-top: 1px solid #E0DEDC; }