/**
 * File: CSS for Merlin example page.
 */
.merlin {
    width: 100%;
}

.messages {
    font-size: 1.2em;
    margin-bottom: .5em;
    border: 1px solid #555555;
    padding: .5em;
    background-color: #CCCCCC;
}

.next-button,
.back-button {
    font-size: 1.2em;
    margin-bottom: .5em;
    border: 1px solid #333333;
    padding: .3em;
    background-color: #555555;
    color: #EEEEEE;
    display: block;
    width: 15%;
}
.next-button {
    float: right;
    text-align: right;
}
.back-button {
    float: left;
}

h3 {
    font-size: 2em;
    border-bottom: 2px solid #444444;
    margin-bottom: .5em;
    margin-top: 3em;
}

.merlin input[type="text"].textfield-input {
    width: 50%;
    float: none;
    
}