/**
 * File: CSS for Merlin example page.
 */
.merlin {
    width: 100%;
}

.messages {
    font-size: 1.2em;
    margin-bottom: .5em;
    border: 1px solid #555555;
    padding: .5em;
    background-color: #CCCCCC;
}

.navigation-container {
    height: 2em;
}

.next-button,
.back-button {
    font-size: 1.2em;
    margin-bottom: .5em;
    border: 1px solid #333333;
    padding: .3em;
    background-color: #555555;
    color: #EEEEEE;
    display: block;
    width: 15%;
}
.next-button {
    float: right;
    text-align: right;
}
.back-button {
    float: left;
}
.next-button.disabled,
.back-button.disabled {
    color: #555555;
} 

h3 {
    font-size: 2em;
    border-bottom: 2px solid #444444;
    margin-bottom: .5em;
    margin-top: 1em;
}

.merlin input[type="text"].textfield-input {
    width: 50%;
    float: none;
}

.error-indicator {
    width: 60%;
    text-align: center;
    border: 1px solid #D95C5C;
    padding: .3em;
    background-color: #FFFFFF;
    margin: 0 auto;
}