[run]
source=
    framework/
    controllers/
    giveaminute/
    helpers/
include=
    framework/*
    controllers/*
    giveaminute/*
    helpers/*
omit=
    giveaminute/migrations/*
    .env/*
    lib/*
    /usr/*
