*.py[c|o]
*~

# environments
.env
cbu.env

# LigHTTPd logs
logs/*

# Necessary for the LigHTTPd pid file to be stored
run/*

# Config files
lighttpd.conf
config.yaml

# Scripts
scripts/genBetaCodes.py

# Eclipse project files
example.project
example.pydevproject

# Uploaded data
data/*

# Documentation
naturaldocs