

# Scripts
scripts/genBetaCodes.py

# Uploaded data
data/*

# Documentation
naturaldocs

# Custom files
static/files/*
!static/files/README.txt

# Import files
import/data/*
!import/data/README.txt

# Migration manage scripts
manage.py
generate_models.sh
backup.sql
sql/models.sql.*

# Tests and coverage
.coverage
htmlcov/
*,cover

#-----
# Ignore all compiled binaries
#-----
*.py[c|o]

# compiled translation files
*.mo

#-----
# Configuration files should not be checked in, only example files
#-----
lighttpd.conf*
!lighttpd.conf.sample
!lighttpd.conf.tmpl
config.yaml*
!config.yaml.tmpl
!config.yaml.sample
rcfile.*
!rcfile.sample

#-----
# Ignore log files
#-----
*logs*
*.log

#-----
# IDE files that are user-environment-specific
# But retain the example.* files since that's the template
#-----

# Eclipse/Aptana
.project
.pydevproject
org.eclipse.core.resources.prefs
.metadata
.settings

# vim/gvim related files
*.swo
*.swp

*~
.DS_Store

# environments
.env
cbu.env

#-----
# Ignore all temporary git-related files
# Not sure this is a good idea since we want to know when .orig files exist
#-----
# *.orig

#-----
# Ignore archives - if they need to be added they should be done manually
#-----
*.zip
*.tar
*.tar.gz
*.tgz

#-----
# Generally ignore binary assets, but this needs to be refined
#-----
# *.fla
# *.swf
# *.swc
#

#-----
# Ignore system processes and run files
#-----
# Necessary for the LigHTTPd pid file to be stored
run/*
*.pid

#-----
# Ignore any files that are user-specific.
# This is kind of a sloppy way of doing things, but works for now
#-----
*.sundar
# *.ethan


#-----
# Ignore all secret stuff
#-----
*.pem
*.crt
*.id_rsa
*.id_dsa
