*.py[c|o]
*~

# environments
.env
cbu.env

# LigHTTPd logs
changebyus/logs/*

# Necessary for the LigHTTPd pid file to be stored
changebyus/run/*

# Config files
lighttpd.conf
config.yaml

# Scripts
scripts/genBetaCodes.py
