# Git files 
.gitattributes export-ignore
.gitignore export-ignore

# We don't need any of the sample/template files
*.tmpl export-ignore
*.sample export-ignore

# We certainly don't need the fabfile, or any rcfiles
rcfile.*
fabfile.py

