#--------------------------------------------------------------------
#
# This is a sample configuration file for Give A Minute / Change By Us
# Instructions:
#   * NEVER NEVER NEVER store passwords or keys in this file. This is a EXAMPLE!!
#   * Copy this file to config.yaml on the production / deployed server
#   * In your copy, change all XXXX values to whatever you feel is correct
#   * diff, opendiff, diffmerge, windiff are your friends
#
#--------------------------------------------------------------------


# Applications state
#--------------------------------------------------------------------
# Explanation of these values is needed.
#
# app_mode -- If 'beta', the site will be in private beta mode.  Set
#             to anything else to get out of beta mode.  This is 
#             currently handled by the __init__ of the Controller
#             class.
#--------------------------------------------------------------------
dev: Yes
app_mode: beta
app_env: dev
instance: 'ChangeByUs-dev'


# Locations
#--------------------------------------------------------------------
# These are settings are around URLs and locations.
#
#--------------------------------------------------------------------
default_host: 'http://localhost:8080/'
blog_host: 'http://<BLOG_URL>/'


# Site settings
#--------------------------------------------------------------------
# Various site settings
#
#--------------------------------------------------------------------
site:
    name: 'Change by Us <CITY>'
    city: '<CITY>'


# Homepage
#--------------------------------------------------------------------
# Home page specific settings
#
#--------------------------------------------------------------------
homepage:
    is_display_leaderboard: False
    is_display_featured_projects: True
    num_featured_projects: 6
    num_recent_ideas: 125    


# Server settings
#--------------------------------------------------------------------
# Various server level settings
#
#--------------------------------------------------------------------
database:
    dbn: mysql
    db: '<DB_NAME>'
    user: '<DB_USER>'
    password: '<DB_PASS>'
    host: '<DB_HOST>'

memcache:
    address: '0.0.0.0'
    port: 11222

beanstalk:
    address: '0.0.0.0'
    port: 11238
    
media:
    isS3mirror: True
    root: '<URL_TO_S3_MEDIA>'  
    
email:
    # This needs to be an email address that has been validated by SES
    # run ./ses-verify-email-address.pl -k ~/.aws/localprojects/awsCredentials -l
    # and 
    # ./ses-verify-email-address.pl -k ~/.aws/localprojects/awsCredentials -v <EMAIL>
    from_email: '<EMAIL>'
    from_name: '<EMAIL_FROM>'
    
    # address for non-responsive messaging, such as person-to-person emails
    from_noreplies_email: '<EMAIL>'
    from_noreplies_name: '<EMAIL_FROM>'
    
    log_file: ~/cbu.log
    log_level: debug
    
    # Digest email prefix is for the Digest email subject line
    digest_subject_prefix: '<SUBJECT_PREFIX>'
    
    # The email to which we should send digest messages during test/dev testing
    # so that we don't spam live users.
    # Used by the digest_emailer.py script, if 'dev' == Yes | True
    digest_debug_recipients: '<EMAIL>'
    
    # If both SMTP and AWS_SES are enabled then the system uses AWS first, and if 
    # the aws send quota is close then we switch over to SMTP. This is handled in code.
    # To just use SMTP, simply comment out the aws_ses section below.
    
    # SMTP specific configuration. 
    smtp:
        host: smtp.gmail.com
        port: 587
        username: '<EMAIL_USERNAME>'
        password: '<EMAIL_PASSWORD>'
        # Generally TLS is necessary for gmail. So set it here
        starttls: True
  
    # Amazon SES
    # TODO: merge this with the AWS root config
    # TODO: add the quota limit
    # aws_ses:
    #    access_key_id: '<ACCESS_KEY>'
    #    secret_access_key: '<SECRET_KEY>'
      

# Services
#--------------------------------------------------------------------
# Various service settings
#
#--------------------------------------------------------------------
twilio:
    sid: '<TWILIO_SID>'
    token: '<TWILIO_TOKEN>'
    api: '<API>'
    phone: '<TWILIO_PHONE_NUMBER>'
    
facebook:
    app_id: '<FB_APP_ID>'

twitter:
    consumer_key: '<TWITTER_KEY>'
    consumer_secret: '<TWITTER_SECRET>'
    request_token_url: 'http://twitter.com/oauth/request_token'
    access_token_url: 'http://twitter.com/oauth/access_token'
    authenticate_url: 'http://twitter.com/oauth/authenticate'
    
aws:
    access_key_id: '<ACCESS_KEY>'
    secret_access_key: '<SECRET_KEY>'
    bucket: '<BUCKET_NAME>'
    

# Test settings
#--------------------------------------------------------------------
# Settings for test environment.  The database should be a different
# for testing.
#
#--------------------------------------------------------------------
database_test:
    dbn: mysql
    db: '<DB_NAME>'
    user: '<DB_USER>'
    password: '<DB_PASS'
    host: '<DB_HOST>'
