#--------------------------------------------------------------------
#
# This is a sample configuration file for Give A Minute / Change By Us
# Instructions:
#   * NEVER NEVER NEVER store passwords or keys in this file. This is a EXAMPLE!!
#   * Copy this file to config.yaml on the production / deployed server
#   * In your copy, change all XXXX values to whatever you feel is correct
#   * diff, opendiff, diffmerge, windiff are your friends
#
#--------------------------------------------------------------------


# Applications state
#--------------------------------------------------------------------
# Explanation of these values is needed.
#
# app_mode -- If 'beta', the site will be in private beta mode.  Set
#             to anything else to get out of beta mode.  This is 
#             currently handled by the __init__ of the Controller
#             class.
#--------------------------------------------------------------------
dev: %(dev)s
app_mode: %(appmode)s
app_env: %(app_env)s
instance: %(instance)s


# Locations
#--------------------------------------------------------------------
# These are settings are around URLs and locations.
#
#--------------------------------------------------------------------
default_host: %(default_host)s
blog_host: %(blog_host)s


# Site settings
#--------------------------------------------------------------------
# Various site settings
# 
# 'name' is the site name, like "Change by Us NYC"
# 'city' is the city name, like "NYC"
# 'full_city' is the city name, like "New York City"
#--------------------------------------------------------------------
site:
    name: %(site_name)s
    city: %(site_city)s
    full_city: %(site_full_city)s


# Homepage
#--------------------------------------------------------------------
# Home page specific settings
#
#--------------------------------------------------------------------
homepage:
    is_display_leaderboard: %(homepage_is_display_leaderboard)s
    is_display_featured_projects: %(homepage_is_display_featured_projects)s
    num_featured_projects: %(homepage_num_featured_projects)s
    num_recent_ideas: %(homepage_num_recent_ideas)s    


# Server settings
#--------------------------------------------------------------------
# Various server level settings
#
#--------------------------------------------------------------------
database:
    dbn: mysql
    db: %(database_db)s
    user: %(database_user)s
    password: %(database_password)s
    host: %(database_host)s

memcache:
    address: 0.0.0.0
    port: 11222

beanstalk:
    address: '0.0.0.0'
    port: 11238
    
media:
    isS3mirror: True
    root: %(media_root)s 
    
email:
    # This needs to be an email address that has been validated by SES
    # run ./ses-verify-email-address.pl -k ~/.aws/localprojects/awsCredentials -l
    # and 
    # ./ses-verify-email-address.pl -k ~/.aws/localprojects/awsCredentials -v <EMAIL>
    from_email: %(email_from_email)s
    from_name: %(email_from_name)s
    
    # address for non-responsive messaging, such as person-to-person emails
    from_noreplies_email: %(email_from_noreplies_email)s
    from_noreplies_name: %(email_from_noreplies_name)s
    
    digest:
        # Log settings for digest_emailer.py
        log_file: %(digest_log_file)s
        log_level: %(digest_log_level)s
        
        # Digest email prefix is for the Digest email subject line
        digest_subject_prefix: %(digest_subject_prefix)s
        
        # The email to which we should send digest messages during test/dev testing
        # so that we don't spam live users.
        # Used by the digest_emailer.py script, if 'dev' == Yes | True
        digest_debug_recipients: %(digest_debug_recipients)s
    
    # If both SMTP and AWS_SES are enabled then the system uses AWS first, and if 
    # the aws send quota is close then we switch over to SMTP. This is handled in code.
    # To just use SMTP, simply comment out the aws_ses section below.
    
    # SMTP specific configuration. 
    smtp:
        host: %(email_smtp_host)s
        port: %(email_smtp_port)s
        username: %(email_smtp_username)s
        password: %(email_smtp_password)s
        # Generally TLS is necessary for gmail. So set it here
        starttls: True
  
    # Amazon SES
    # TODO: merge this with the AWS root config
    # TODO: add the quota limit
    # aws_ses:
    #    access_key_id: %(aws_ses_access_key_id)s
    #    secret_access_key: %(aws_ses_secret_access_key)s
      

# Services
#--------------------------------------------------------------------
# Various service settings
#
#--------------------------------------------------------------------
twilio:
    sid: %(twilio_sid)s
    token: %(twilio_token)s
    api: %(twilio_api)s
    phone: %(twilio_phone)s

facebook:
    app_id: %(facebook_app_id)s

twitter:
    consumer_key: %(twitter_consumer_key)s
    consumer_secret: %(twitter_consumer_secret)s
    request_token_url: 'http://twitter.com/oauth/request_token'
    access_token_url: 'http://twitter.com/oauth/access_token'
    authenticate_url: 'http://twitter.com/oauth/authenticate'

aws:
    access_key_id: %(aws_access_key_id)s
    secret_access_key: %(aws_secret_access_key)s
    bucket: %(s3_bucket)s

media:
    isS3mirror: True
    root: %(media_root)s
    
aws:
    access_key_id: %(aws_access_key_id)s
    secret_access_key: %(aws_secret_access_key)s
    bucket: %(s3_bucket)s
