#------------------------------------------------
# INSTRUCTIONS
#------------------------------------------------
#
# 1. Copy this file to rcfile.<your-name>:
#       cp rcfile.sample rcfile.your-name
# 2. Replace all the strings
# 3. Ask an admin for a pre-existing rcfile to start from
# 4. Check that this works by running:
#       fab --config=rcfile.your-name create_config_yaml
#    This will create config.yaml in the current directory,
#    which can then be used by the fabfile for all other tasks
#
# fab --config=rcfile.sundar_dev dev bundle_code deploy_webapp_and_configs
#
#------------------------------------------------
# COMMON TARGET SETTINGS
# These are necessary for every deployment target
# NOTE: Do NOT use quotes around these parameters!!!
#------------------------------------------------
application = gam2

# We need at least a specific python version
python = python2.6

# the user to run sudo() as, since this account probably has higher rights
sudo_as = ubuntu

# settings defines the environment that we're in. Usually this is the extension
# eg. demo, dev, prod, live, etc.
settings = demo

# Repository Information
scm = git
repository = git@git.assembla.com:lp-changebyus.git

# Branch to deploy
branch = develop

# Logging
logfile = %(log_path)s/%(application)s.log
# Path to store old log files (post-rotate, by logrotate.d)
log_archive_path = /mnt/var/log/
# Log level is lowercase - debug, info, warning, error, etc.
log_level = debug

#------------------------------------------------
# LOCAL (user-specific) Parameters
#------------------------------------------------

# User's Development environment (local)
build_path = /tmp/%(application)s/releases

# local_path = ~/Projects/LP/%(application)s

#------------------------------------------------
# CHANGEBYUS User Parameters
#------------------------------------------------
# The user context under which the application runs
user = giveaminute
deploy_to = /home/%(user)s/www


# Hosts that this environment deploys to (comma-delimited list). This is the same
# list that will be used by ROLES
hosts = demo-nyc.changeby.us


# Connection to remote hosts should be via key-pair, rather than password
key_filename = ~/.ssh/localprojects/gam2.pem

# Base Path for scripts to put their temporary content to:
script_working_path = /mnt/%(application)s/var
#-----------/common -----------------------------

#------------------------------------------------
# LIGHTTPD Configurations
#------------------------------------------------
webserver = lighttpd
webserver_port = 8080
webserver_user = %(user)s
webserver_group = developers

# The value to use for server.name in lighttpd
webserver_name = dev-nyc.changeby.us
# Port to use for SSL. Configurable to allow for testing
webserver_sslport = 443
webserver_docroot = %(current_path)s

#---- /lighttpd configuration -------------------


#------------------------------------------------
# CHANGE-BY-US APPLICATION Configurations
#------------------------------------------------

appmode = not-beta
dev = Yes
app_env = dev
# Instance is either ChangeByUs-dev or ChangeByUs-Live
instance = ChangeByUs-dev
# htaccess -- Yes or no.  Is the site behind htaccess.
htaccess = No

default_host = http://localhost:8080/
blog_host = http://dev-nycblog.changeby.us/

# Database stuff
database_db = gam2
database_user = gam
database_password = 'gam'
database_host = 127.0.0.1
database_test = gam2_test

# Email configurations
email_from_noreplies_email = noreplies@nyc.changeby.us
email_from_noreplies_name = 'Do Not Reply, Change By Us NYC'
email_smtp_host = localhost
email_smtp_port = 25
email_smtp_username = 'noreplies@nycmail.changeby.us'
email_smtp_password = XXXXXXXXXX
email_common_domain = xxxxx.changeby.us
email_from_email = info@xxxxx.changeby.us
email_from_name = 'Change By Us XXXXX'

# Digest configuratiosn
digest_log_file = %(log_path)s/digests.log
digest_log_level = debug
# Comma-delimited (without-spaces) names of all recipients of debug messages
digest_debug_recipients = a@b.com,admin@digest-admin.com
digest_subject_prefix = '[CBU Digest]'



# Homepage and leaderboard configurations
homepage_num_featured_projects = 6
homepage_num_recent_ideas = 125
homepage_is_display_featured_projects = True
homepage_is_display_leaderboard = False
homepage_is_question_from_cms = True
homepage_question = ''
homepage_who_is_listening = No
homepage_news = No
# Following are default values
homepage_postboard_bg = /static/images/bg_home_wider.jpg
homepage_top_left_tag_bg = /static/images/button_heyNYC_old.png
homepage_photo_credit = ''


# Site Settings
site_name = 'Change by Us NYC'
site_city = NYC
site_city_id = nyc
site_full_city = 'New York City'
site_city_logo = 
site_city_url = http://nyc.changeby.us

# Map settings
center_lat = 0
center_lon = 0

# Language settings
# Nothing yet

# Features settings
feature_is_display_leaderboard = True
feature_is_display_featured_projects = True
features_is_official_supported = True
feature_is_feedback_form_available = True
feature_is_community_leaders_displayed = True
feature_is_show_beta_splash = True
feature_is_calendar_enabled = True

# AWS Credentials
aws_secret_access_key = XXXXXXXXXX
aws_access_key_id = XXXXXXXXXX

# S3 configs
s3_bucket = xxxxxxxxxx

# Twilio Credentials
twilio_sid = XXXXXXXXXX
twilio_token = XXXXXXXXXX
twilio_api = 2010-04-01
twilio_phone = XXXXXXXXXX

# Facebook credentials
facebook_app_id = XXXXXXXXXX

# Twitter credentials
twitter_consumer_key = XXXXXXXXXX
twitter_consumer_secret = XXXXXXXXXX

# Get Satisfaction credentials
getsatisfaction_company = 'Change by Us NYC'
getsatisfaction_product = xxxxxxxxxx

# Typekit settings
typekit_key = xxxxxxxxxx

# Google analytics settings
google_analytics_key = xxxxxxxxxx

# Blitz settings
blitz_io_route = xxxxxxxxxx
blitz_io_response = xxxxxxxxxx

# Media
media_root = XXXXXXXXXX
file_path = 'data/files'

# Static Files
staticfiles_root = XXXXXXXXX


