PyYAML
python-memcached
boto==2.1.0
MySQL-python
PIL
oauth2
python-dateutil
flup

# Setup and administration
fabric

# Documentation
sphinx

# Database orm
SQLAlchemy
sqlalchemy-migrate

# Testing requirements
selenium
nose
paste
unittest2
mock

# Deployment requirements
Fabric==1.3.1
