<!DOCTYPE html>
<html class='universe'>
	
	<head class='heavens'>
		<title>{% block title %}GAM Templates{% endblock %}</title>
		
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
			Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		
		<meta name="description" content=""/>
		<meta name="author" content=""/>
		
		<link rel="shortcut icon" href="/static/images/favicon.ico"/>
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
		
		<link rel="stylesheet" href="/static/css/tc.reset.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.fontfaces.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.main.css" type="text/css" media="screen" charset="utf-8"/>
		<link rel="stylesheet" href="/static/css/fileuploader.css" type="text/css" media="screen" charset="utf-8"/>
		<link rel="stylesheet" href="/static/css/tc.gam.search.map.css" type="text/css" media="screen" charset="utf-8"/>
		{% if d.template_data and d.template_data.user %}
		<link rel="stylesheet" href="/static/css/tc.gam.admin.css" type="text/css" media="screen" charset="utf-8"/>
		{% endif %}
		
		{% block javascript_header %}
		<script>
			var app_page = {
				data:{},
				features:[]
			};
			app_page.features.push(function(app){
				tc.util.log('Give A Minute: Base');
				app.components.modal = new tc.modal(app,{
					element:tc.jQ('#modal')
				});
				app.components.top_bar = tc.top_bar(tc.jQ(".stratosphere"), {});
			});
		</script>
		{% endblock %}
		
		<script type="text/javascript" src="http://use.typekit.com/mco2pzd.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

		<style type="text/css">
			/*.wf-loading .exosphere, .wf-loading .exosphere .small-note { visibility: hidden }
			.force-typekit .exosphere { visibility: visible }*/
		</style>
		
		<!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->
		
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="/static/css/ie/tc.gam.ie.css" type="text/css" media="screen" charset="utf-8"/>
		<![endif]-->
		
		<!--[if lte IE 7]>
		<link rel="stylesheet" href="/static/css/ie/tc.gam.ie7.css" type="text/css" media="screen" charset="utf-8"/>
		<![endif]-->
	
	</head>
	
	<!-- the "green-nyc" class is to decorate page with green-specific styles -->
	<body class='earth {% if d.template_data and d.template_data.user %}logged-in{% endif %} admin'>
		
		<div class='exosphere'>
		
			<div class='atmosphere'>
				<div class='stratosphere'>
					<ul class="navbar clearfix">
						<li class="home">
							<a href="/"><span>Give A Minute | </span></a>
						</li>
						<li class="simplicity">
							<a href="http://www.nyc.gov/html/simplicity/html/about/about.shtml" target="_blank"><span>NYC SimpliCity</span></a>
						</li>
						<li class="news-about">
							<a href='/blog'>News</a>
							<a href='/about'>About</a>
						</li>
						<li class="search">
							<form action='/search' method='GET'>
								<input type='text' name='terms' value="{% if d.template_data and d.template_data.search_terms %}{{ d.template_data.search_terms }}{% endif %}" />
								<input type='submit' value='Search' />
							</form>
						</li>
						<li class="userland">
							<div class="join"><a href='/join'>Join</a></div>
							<div class='login'><a href='/login'>Login</a></div>
							<div class='messages has-messages'><a href='/useraccount#messages'><span class="indicator"><span class="num">2</span></span></a></div>
							<div class='username'>
								<a href='/useraccount'><span class="unbold">Hi, </span>{% if d.template_data and d.template_data.user %}{{ d.template_data['user'].data.f_name }}{% endif %}!</a>
								<div class="dropdown">
									<div class="membrane">
										<a href="/useraccount">Account</a>
										<a href="#logout">Log out</a>
									</div>
								</div>
							</div>
							<div class='myprojects'>
								<a href='/useraccount'><span class="unbold">My </span>Projects</a>
								<div class="dropdown">
									<div class="membrane">
										{% if d.template_data and d.template_data.user %}
											{% if d.template_data.user.data.projects|length > 0 %}
												{% for project in d.template_data.user.data.projects %}
													<a href="/project/{{ project.project_id }}">{{ project.title }}</a>
												{% endfor %}
											{% else %}
													<a href="/create"><em>Create a project!</em></a>
											{% endif %}
										{% endif %}
									</div>
								</div>
							</div>
						</li>
					</ul><!--end navbar-->
					
					{% if d.template_data and d.template_data.user %}
					<ul class="adminbar">
						<li class="content"><a href="/cms_content">Content</a></li>
						<li class="admin-settings"><a href="/cms_adminsettings">Admin Settings</a></li>
						<li class="feature"><a href="" class="fancy-caps">Feature <span>this</span> project</a></li>
						<li class="delete"><a href="" class="fancy-caps">Delete <span>this</span> project</a></li>
					<ul>
					{% endif %}
					
				</div>
			</div>
			
			{% block continent %}
				<div class='continent'>
					<div class='headlands'>
					
					</div>
					
					<div class='midlands'>
					
					</div>
					
					<div class='foothills'>
				</div>
			{% endblock %}
		
		<div class='seafloor'>
			<div class='west'>
				<div class='box logos clearfix'>
					<a href='http://www.localprojects.net' target='_blank'><img src='/static/images/footer-localprojects.png' alt='Local Projects' /></a>
					<a href='http://www.ceosforcities.org/' target='_blank'><img src='/static/images/footer-ceosforcities.png' alt='CEOs For Cities' /></a>
					<a href='http://www.rockefellerfoundation.org' target='_blank'><img src='/static/images/footer-rockefeller.png' alt='The Rockefeller Foundation' /></a>
					<a href='http://www.ofbyandforus.org/' target='_blank'><img src='/static/images/footer-us.png' alt='US' /></a>
					<a href='http://www.knightfoundation.org/' target='_blank'><img src='/static/images/footer-knight.png' alt='The Knight Foundation' /></a>
					<a href='http://www.nyc.gov/html/planyc2030/html/home/home.shtml' target='_blank'><img src='/static/images/footer-planyc.png' alt='PLANYC' /></a>
				</div>
				<div class="box">
					<ul class="sitemap">
						<li><a href='/about'>About Give a Minute</a></li>
						<li><a href='http://www.nyc.gov/html/simplicity/html/about/about.shtml'>About Simplicity</a></li>
						<li><a href='/blog'>News</a></li>
						<li><a href='/tou'>Terms of Service</a></li>
						<li><a href='/feedback'>Feedback</a></li>
					</ul>
					<div class="search generic-search">
						<form action='/search' method='GET'>
							<input type='text' id='ft-search-field' class='ft-search-field' name='terms' value="{% if d.template_data and d.template_data.search_terms %}{{ d.template_data.search_terms }}{% endif %}" />
							<input type='submit' id='ft-search-btn' class='ft-search-btn' value='Search' />
						</form>
					</div>
				</div>
			</div>
			<div class='east'>
				<div class='box social-networking'>
					<!--<div class="facebook">
						<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.giveaminute.info&amp;layout=standard&amp;show_faces=false&amp;width=275&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:60px;" allowTransparency="true"></iframe>
					</div>-->
				</div>
				<div class='box copyright'>
					<p>&copy; Copyright <strong>Give a Minute</strong> 2011</p>
				</div>
			</div>
		</div>
				
		{% include 'partials/dev_util.html' %}
		
		</div>
		
		<div id='modal' class='modal'></div>
		
		<div class='tooltip' id='organization-tooltip' style='display:none;position:absolute;'></div>
		
		<!-- invite ideas merlin template -->
		<div class='template-content modal-content merlin invite-user'>
			<div class='step invite-message-info'>
				<h2>Invite <strong><span class="name">XXXXXX</span></strong> To Your Project</h2>
				<p>You can send a message to <span class="name">XXXXXX</span> telling them more about your new project and why he or she should join (optional).</p>
				<form action='#' class="form-pane">
					<div class="fields">
						<textarea name='invite-message' class='invite-message'></textarea>
						<span class="charlimit invite-message">200</span>
					</div>
					<a class='submit rounded-button' href="#">Send</a>
				</form>
			</div>
			
			<div class="step invite-message-project-info">
				<h2>Invite <strong><span class="name">XXXXXX</span></strong> To Your Project</h2>
				<p>Since you are a part of multiple projects we need to know which projects you would like to invite <span class="name">XXXXXX</span> to?</p>
				<form action='#' class="form-pane non-float checklist">
					<div class="fields">
						{% if d.template_data and d.template_data.user %}
							{% if d.template_data.user.data.projects|length > 0 %}
								{% for project in d.template_data.user.data.projects %}
									<div class="row">
										<input type="radio" class="project-radio" rel="#project,{{ project.project_id }}" name="invite-project-name" id="invite-project-{{ project.project_id }}" />
										<label for="invite-project-{{ project.project_id }}">{{ project.title }}</label>
									</div>
								{% endfor %}
							{% else %}
							
							{% endif %}
						{% endif %}
					</div>
					<a class='submit rounded-button' href="#">Send</a>
				</form>
			</div>
			
			<div class='step invite-message-submit spinner-message'>
				<p>Thanks for sending an invitation!</p>
				<p><img src='/static/images/loader32x32.gif' /></p>
			</div>
			
			<a class='close' href="#"><span>close</span></a>
		</div>
		
		<!-- Javascript goes here -->
		<script src="/static/js/libs/jquery-1.5.1.js"></script>
		<script src="/static/js/libs/jqtools.tabs.js"></script>
		<script src="/static/js/libs/jqtools.tooltips.js"></script>
		<script src="/static/js/libs/jqtools.dynamic.js"></script>
		<script src="/static/js/libs/jqtools.scrollable.js"></script>
		<script src="/static/js/libs/jqtools.overlay.js"></script>
		<script src="/static/js/libs/jqtools.expose.js"></script>
		<script src="/static/js/libs/jquery.easing.1.3.js"></script>
		<script src="/static/js/libs/jquery.hashchange.js"></script>
		<script src="/static/js/libs/jquery.color.js"></script>
		<script src="/static/js/libs/jquery.autogrowtextarea.js"></script>
		<script src="/static/js/libs/fileuploader.js"></script>
		<script src="/static/js/libs/tc.util.js"></script>
				
		<script src="/static/js/tc.gam.validate.js"></script>
		<script src="/static/js/tc.gam.merlin.js"></script>
		<script src="/static/js/tc.gam.topbar.js"></script>
		<script src="/static/js/tc.gam.modal.js"></script>
		<script src="/static/js/tc.gam.carousel.js"></script>
		<script src="/static/js/tc.gam.tooltip.js"></script>
		<script src="/static/js/tc.gam.locationDropdown.js"></script>
		<script src="/static/js/tc.gam.project.js"></script>
		<script src="/static/js/tc.gam.invite.js"></script>
		<script src="/static/js/tc.gam.user_handler.js"></script>
		<script src="/static/js/tc.gam.app.js"></script>
		
		{% block page_js %}{% endblock page_js %}
		
		<!--<script type="text/javascript">
			// only hide page until typekit is loaded for less than firefox 4 (gecko 2.0)
			if (tc.jQ.browser.mozilla && tc.jQ.browser.version.slice(0,3) < 2) {
			    tc.jQ('.wf-loading .exosphere, .wf-loading .exosphere .small-note').addClass('typekit-loading');
			}
		</script>-->
		
		<script type='text/javascript'>
			jQuery(document).one('ready',function(e){
				
				{% if d.template_data and d.template_data.user %} app_page.user = {{ d.template_data.user.json }}; {% else %} app_page.user = null; {% endif %}
				{% if d.template_data and d.template_data.project_user %} app_page.project_user = {{ d.template_data.project_user.json }}; {% else %} app_page.project_user = null; {% endif %}
				{% if d.locations %} app_page.data.locations = {{ d.locations.json }}; {% endif %}
				{% if d.template_data and d.template_data.locations %} app_page.data.locations = {{ d.template_data.locations.json }}; {% endif %}
				if(!app_page.data.locations){ app_page.data.locations = []; }
				{% if d.all_ideas %} app_page.data.all_ideas = {{ d.all_ideas.json }}; {% else %} app_page.data.all_ideas = null; {% endif %}
				
				tc.util.dump(app_page);
				
				tc.app(app_page);
				
				/* DELETE THIS LATER!!!!!!! */
				$('body').delay(3000).queue(function() {
					$(this).addClass("force-typekit");
				});
				$('.dev-util .toggle').click(function() {
				  $('.dev-util-content').toggle();
				});
				/* STOP DELETEING!!!!! */
			});
		</script>
		
		{% block javascript_footer %}{% endblock %}
		
	</body>
	
</html>