<!DOCTYPE html>
<html class='universe'>
	
	<head class='heavens'>
		<title>{% block title %}Give A Minute{% endblock title %}</title>
		
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		
		<link rel="stylesheet" href="/static/css/tc.reset.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.fontfaces.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.mobile.css" type="text/css" media="screen" charset="utf-8" />
		
		<script type="text/javascript">
			ipdConfig = {
				baseUrl: '/static/js/libs/iphonedebug/client/', // trailing slash!
				consoleBaseUrl: 'http://192.168.0.194:8170/' // trailing slash!
			}
		</script>
		<script type="text/javascript" src="/static/js/libs/iphonedebug/client/ipd.js"></script>
		
		<script>
			var app_page = {
				data:{},
				features:[]
			};
		</script>
		
	</head>
	
	<body class='earth'>
		
		<div class='atmosphere'>
			<div class='stratosphere'>
				<ul class="clearfix">
					<li class="home">
						<a href="/mobile"><span>NYC SimpliCity | Give A Minute</span></a>
					</li>
					{% if d.template_data and d.template_data.user %}
					<li class="userland">
						<div class='logout'><a href='#mobile,logout'>Logout</a></div>
					</li>
					{% else %}
					<li class="userland">
						<div class='login'><a href='#mobile,login'>Login</a></div>
						<div class="join"><a href='#mobile,join'>Join</a></div>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
		
		<div class='continent'>
			
			{% block continent %}Main{% endblock %}
			
		</div>
		
		<script src="/static/js/libs/jquery-1.5.1.js"></script>
		<script src="/static/js/libs/tc.util.js"></script>
		<script src="/static/js/libs/jqtools.scrollable.js"></script>
		
		<script src="/static/js/tc.gam.validate.js"></script>
		<script src="/static/js/tc.gam.merlin.js"></script>
		<script src="/static/js/tc.gam.carousel.js"></script>
		<script src="/static/js/tc.gam.locationDropdown.js"></script>
		
		<script src="/static/js/tc.gam.app.js"></script>
		
		
		{% block page_js %}{% endblock %}
		
		
		<script>
			$(document).one('ready',function(){
				
				{% if d.template_data and d.template_data.user %} app_page.user = {{ d.template_data.user.json }}; {% else %} app_page.user = null; {% endif %}
				
				tc.jQ('.step').css('width',window.outerWidth-30+'px').show();
				
				tc.app(app_page);
			});
		</script>
	</body>
	
</html>