<!DOCTYPE html>
<html class='universe'>
	
	<head class='heavens'>
		<title>{% block title %}Give A Minute{% endblock title %}</title>
		
		<meta name="viewport" content="width=device-width" />
		
		
		<link rel="stylesheet" href="/static/css/tc.reset.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.fontfaces.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.mobile.css" type="text/css" media="screen" charset="utf-8" />
		
		<script>
			var app_page = {
				features:[]
			};
		</script>
		
	</head>
	
	<body class='earth'>
		
		<div class='atmosphere'>
			<div class='stratosphere'>
				<ul class="clearfix">
					<li class="home">
						<a href="/"><span>NYC SimpliCity | Give A Minute</span></a>
					</li>
					<li class="userland">
						<div class='login'><a href='/login'>Login</a></div>
						<div class="join"><a href='/join'>Join</a></div>
					</li>
				</ul>
			</div>
		</div>
		
		<div class='continent'>
			
			{% block continent %}Main{% endblock %}
			
		</div>
		
		<script src="/static/js/libs/jquery-1.5.1.js"></script>
		<script src="/static/js/libs/tc.util.js"></script>
		
		<script src="/static/js/tc.gam.app.js"></script>
		<script>
			$(document).one('ready',function(){
				
				tc.util.dump(window.outerWidth)
				
				tc.jQ('.step').css('width',window.outerWidth-30+'px').show();
				
				tc.app(app_page);
			});
		</script>
	</body>
	
</html>