server {
    listen       %(webserver_port)s;
    server_name  %(webserver_name)s;
    
    access_log  %(app_path)s/var/log/access.log;
    error_log %(app_path)s/var/log/error.log;
    
    location / {
        include uwsgi_params;
        uwsgi_pass unix:%(app_path)s/run/uwsgi.sock;
    }
    
    location /static {
        alias %(app_path)s/current/static;
        expires 1y;
        add_header Cache-Control "public";
    }

    location /images {
        alias %(app_path)s/current/data/giveaminute/images";
    }
    
    location /crossdomain.xml {
        alias %(app_path)s/current/static/util/crossdomain.xml;
    }

    location /robots.txt {
        alias %(app_path)s/current/static/util/robots.txt;
    }

    location /favicon.ico {
        alias %(app_path)s/current/static/util/favicon.ico;
    }
    
    location /css {
        alias %(app_path)s/current/static/css;
    }

    location /img {
        alias %(app_path)s/current/static/img;
    }

    location /js {
        alias %(app_path)s/current/static/js;
    }

    location /swf {
        alias %(app_path)s/current/static/swf;
    }

    location /xml {
        alias %(app_path)s/current/static/xml;
    }
}