<div class='box goals-add' style='display:none;'>
	<div class="actions">
		<a href="#project-home" class="back fancy-caps">
			<span>Back <span>to</span> Project Home</span>
		</a>
	</div>
	
	<div class="merlin add-goal form-pane">
		<h2><strong>Add</strong> a Goal</h2>
		
		<div class='step info clearfix'>
			<div class="fields">
				<div class="row clearfix">
					<label>What's the goal?</label>
					<textarea class='message'></textarea>
				</div>
				<div class="row">
					<label>How quickly can it get done?</label>
					<span class="serif">
						<select class='duration'>
							<option value='-1'></option>
							<option value='1,week'>1 week or less</option>
							<option value='1,month'>1 month or less</option>
							<option value='3,month'>3 months or less</option>
							<option value='1,year'>1 year or less</option>
						</select>
					</span>
				</div>
				<div class="row">
					<label>Who will be the contact person?</label>
					<span class="serif">
						<select class='point_person'>
							<option value='-1'></option>
							{% for member in d.template_data.project.data.info.members['items'] %}
								<option value='{{ member.u_id }}'>{{ member.name }}</option>
							{% endfor %}
						</select>
					</span>
				</div>
			</div>
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Let's Do it!</span>
				</a>
			</div>
		</div>
		
		<div class='step finish spinner-message' style='display:none;'>
			<p>Thank you for submitting an idea!</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	</div>
</div>

<div class='template-content modal-content add-goal-no-user'>
	<p>You must <a href='/join'>register</a> or <a href='/login'>login</a> with Change by Us NYC in order to add a goal to this project.</p>
	<a class='close' href="#"><span>close</span></a>
</div>

<script type='text/javascript' src="/static/js/pages/project.goal_add.js"></script>