{% if d.template_data.project_user.data.is_member %}
	<div class="box goals-stack-holder" style="display:none;">
		<div class="hd clearfix">
			<h2>
				<span>
					Goals 
					<span class="counter">{{ d.template_data.project.data.info.goals['items']|length }}</span>
				</span>
			</h2>
			<div class="actions">
				<a class="back fancy-caps" href="#hide,goals_stack">
					<span>Back <span>to</span> Project Home</span>
				</a>
			</div>
		</div>
		
		<ul class="goals-stack">
			
			{% for goal in d.template_data.project.data.info.goals['items'] %}
				{% if goal.active == True %}
					<li>
						<div class="goal-card">
							<!-- <a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a> -->
							<p>{{ goal.text }}</p>
							<div class="meta">
								<dl>
									<dt>Timeframe</dt>
									<dd>{{ goal.timeframe }}</dd>
									
									<dt>Point Person</dt>
									<dd>{{ goal.owner.name }}</dd>
								</dl>
							</div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
			
			{% for goal in d.template_data.project.data.info.goals['items'] %}
				{% if goal.active == False %}
					<li>
						<div class="goal-card">
							<!-- <a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a> -->
							
							<div class="make-this-active">
								<a href="#makeActive,{{ goal.goal_id }}" class="fancy-caps">Make <span>this the</span> Active Goal</a>
							</div>
							
							<p>{{ goal.text }}</p>
							<div class="meta">
								<dl>
									<dt>Timeframe</dt>
									<dd>{{ goal.timeframe }}</dd>
									
									<dt>Point Person</dt>
									<dd>{{ goal.owner.name }}</dd>
								</dl>
							</div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
	
		</ul>
	</div>
	
<li class='template-content goal-stack-item'>
	<div class="goal-card">
		{% if d.template_data.project_user.data.is_project_admin %}
			<!-- <a class="close" href="#close,"><span>Close</span></a> -->
			<div class="make-this-active">
				<a href="#makeActive," class="fancy-caps">Make <span>this the</span> Active Goal</a>
			</div>
		{% endif %}
		<p class='goal-title'></p>
		<div class="meta">
			<dl>
				<dt>Timeframe</dt>
				<dd class='timeframe'></dd>
				<dt>Point Person</dt>
				<dd class='owner-name'></dd>
			</dl>
		</div>
	</div>
</li>
	
<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.goals_stack = function(project,dom,deps,options){
		var widget, me;
		tc.util.log("project.goals_stack");
		me = this;
		this.project = project;
		this.options = tc.jQ.extend({name:'goals_stack'},options);
		this.dom = dom;
		widget = tc.gam.widget(this,project); 
		this.handlers = {
			make_goal_active: function(e, d) {
				e.preventDefault();
				var t;
				t = e.target;
				if(t.nodeName == 'SPAN'){
					t = t.parentNode;
				}
				e.data.me.make_goal_active(t.href.split(',')[1]);
			},
			remove_goal: function(e, d) {
				e.preventDefault();
			},
			goals_refresh:function(e){
				tc.util.dump('goals_stack.goals-refresh');
				tc.jQ.ajax({
					type:'GET',
					url:'/project/goals',
					data:{
						project_id:e.data.me.project.data.project_id
					},
					context:e.data.me,
					dataType:'text',
					success:function(data,ts,xhr){
						var d;
						try{
							d = tc.jQ.parseJSON(data);
						}catch(e){
							return;
						}
						this.handle_goals(d);
					}
				});
			}
		};
		
		project.dom.bind('goals-refresh',{me:this},this.handlers.goals_refresh);
		
		this.generate_markup = function(data){
			var temphtml;
			temphtml = tc.jQ('.template-content.goal-stack-item').clone().removeClass('template-content');
			temphtml.find('.goal-title').text(data.text);
			tc.util.dump(data);
			if(data.active){
				temphtml.find('.make-this-active').remove();
			} else {
				temphtml.find('a.fancy-caps').attr('href','#makeActive,'+data.goal_id);
			}
			
			temphtml.find('.timeframe').text(data.timeframe);
			temphtml.find('.owner-name').html("<a href='/useraccount/"+data.owner.u_id+"'>"+data.owner.name+"</a>");
			return temphtml;
		};
		
		this.handle_goals = function(data){
			var i, list, temphtml;
			list = this.dom.find('.goals-stack');
			list.children().remove();
			this.dom.find('.counter').text(data.length);
			for(i in data){
				if(data[i].active){
					list.append(this.generate_markup(data[i]));
					delete data[i];
					break;
				}
			}
			for(i in data){
				list.append(this.generate_markup(data[i]));
			}
			this.dom.find(".goal-card").each(function() {
				var card = tc.jQ(this);
				card.find(".make-this-active a").bind("click", { project:project, me:me, goal_card:card }, me.handlers.make_goal_active);
				card.find("a.close").bind("click", { project:project, me:me, goal_card:card }, me.handlers.remove_goal);
			});
		};
		
		this.make_goal_active = function(goal_id){
			tc.util.log('goals_stack.make_goal_active');
			tc.jQ.ajax({
				type:'POST',
				url:'/project/goal/active',
				data:{
					project_id:project.project_id,
					goal_id:goal_id
				},
				context:this,
				dataType:'text',
				success:function(data,ts,xhr){
					if(data == 'False'){
						//window.location.hash = 'project_conversation,message-submit-error';
						return false;
					}
					project.dom.trigger('goals-refresh');
					//project.dom.trigger('add-new-message',this.options.data);
					//window.location.hash = 'project_conversation,message';
				}
			});
		};
		
		this.dom.find(".goal-card").each(function() {
			var card = tc.jQ(this);
			card.find(".make-this-active a").bind("click", { project:project, me:me, goal_card:card }, me.handlers.make_goal_active);
			card.find("a.close").bind("click", { project:project, me:me, goal_card:card }, me.handlers.remove_goal);
		});
		
		return {
			show:widget.show,
			hide:widget.hide
		};
	};

	
</script>
{% endif %}