<!-- begin members -->
<div class="box members" style='display:none;'>
	<div class="hd clearfix">
		<h2>
			<span>
				Members <span class="counter">{{ d.template_data.project.data.info.members['items']|length }}</span>
			</span>
		</h2>
		<div class="actions">
			<a class="back fancy-caps" href="#hide,members">
				<span>Back <span>to</span> Project Home</span>
			</a>
		</div>
	</div>
	<div class="bd">
		<div class="west">
		
			{% if d.template_data.project.data.info.members['items']|length > 0 %}
				
				<!-- Begin Members.Stack -->
				<ul class="members-stack">
				{% for member in d.template_data.project.data.info.members['items'] %}
				
					<li>
						<div class="thumb">
							<img src="http://placehold.it/40x40" alt="" />
						</div>
						<div class="main">
							<a href="">{{ member.name }}</a>
						</div>
						{% if d.template_data.project_user.data.is_project_admin %}
							<a class="close" href="#removeMember,{{member.u_id}}"><span>Close</span></a>
						{% endif %}
					</li>
				
				{% endfor %}
				</ul>
				<!-- End Members.Stack -->
			{% else %}
				
				{% if d.template_data.project_user.data.is_project_admin %}
					<!-- Begin Members.Empty -->
					<div class="empty-state-box">
						<a class="close" href="#"><span>Close</span></a>
						<p>Use the tools at the right to get some members listed in here!</p>
						<a href="#show,link_add" class="rounded-button small">Add Link</a>
					</div>
					<!-- End Members.Empty -->
				{% endif %}
				
			{% endif %}
		
		</div>
		<div class="east">
		
			<!-- Begin Members.email-invite -->
			<div class="email-invite merlin">
				
				<div class='step email-invite-info'>
					<div class="sub-hd">
						<h3 class="fancy-caps">Invite People <span>by</span> Email</h3>
					</div>
					<div class="sub-bd form-pane">
						<form action="" method="POST">
							<div class="fields">
								<div class="row clearfix">
									<textarea class='email-list'></textarea>
								</div>
								<div class='row clearfix'>
									<input class="rounded-button email-invite-submit-button" id="send-invites" name="send-invites" type="submit" value="Send Invites" />
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class='step email-invite-submit clearfix spinner-message'>
					<p>Thank you for inviting more users!</p>
					<p><img src='/static/images/loader32x32.gif' /></p>
				</div>
				
				<div class='step email-invite-error'>
					<p>There was an error sending the email invites!</p>
				</div>
				
			</div>
			<!-- End Members.email-invite -->
		
			<!-- Begin Members.ideas-invite -->
			<div class="ideas-invite">
				<div class="sub-hd">
					<h3 class="fancy-caps">Invite People <span>with</span> Similar Ideas</h3>
					<div class="pagination">
						<span class="cur-index">0</span> <em>of</em>
						<span class="total">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
					</div>
				</div>
				<div class="sub-bd">
					
					{% if d.template_data.project.data.info.related_ideas['items']|length > 0 %}
						<div class="carousel">
							<div class="scrollable">
								<ul class="items">
									{% for idea in d.template_data.project.data.info.related_ideas['items'] %}
										<li>
											<div class="note-card-public-controls">
												<a class="invite rounded-button" href="#">Invite</a>
												<a href="#"><span class="flag">Flag as Inappropriate</span></a>
											</div>
											<div class="note-card">
												<div class="membrane">
													<cite class="note-meta-hd">
														<strong>{{ idea.owner.name }}</strong> says &mdash;
													</cite>
													<blockquote>
														<p>{{ idea.message }}</p>
													</blockquote>
													<cite class="note-meta-ft">
														Posted <strong>{{ idea.created }}</strong>
													</cite>
												</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="carousel-controls">
								<a class="next" href="#">
									<span>Next</span>
								</a>
							</div>
						</div>
					{% endif %}
					
				</div>
			</div>
			<!-- End Members.ideas-invite -->
		
		</div>
	</div>
</div>
<!-- end Members -->

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.members = function(project,dom,deps,options){
		var widget, me;
		tc.util.log("project.members");
		me = this;
		this.options = tc.jQ.extend({name:'members'},options);
		this.dom = dom;
		widget = tc.gam.widget(this,project);
		this.elements = {
			members_list: { },
			email_invite: { },
			ideas_invite: {
				elements: {
					carousel: null
				}
			}
		};
		this.handlers = {
			
		};
		
		this.components = {
			merlin:null
		}
		
		this.build_merlin = function(){
			if(this.components.merlin){
				return;
			}
			this.components.merlin = new tc.merlin(options.app,{
				name:'email_invite',
				dom:tc.jQ('.email-invite'),
				next_button:tc.jQ('input.email-invite-submit-button'),
				first_step:null,//'email-invite-info',
				data:{
					email_list:null,
					project_id:null
				},
				steps:{
					'email-invite-info':{
						selector:'.step.email-invite-info',
						next_step:'email-invite-submit',
						inputs:{
							email_list:{
								selector:'.email-list',
								validators:['min-3','max-32','required'],
								hint:'Add emails separated by commas'
							}
						},
						init:function(merlin,dom){
							merlin.current_step.inputs.email_list.dom.val('').removeClass('has-been-focused').removeClass('has-attempted-submit');
						},
						finish:function(merlin,dom){
							merlin.options.data = tc.jQ.extend(merlin.options.data,{
								project_id:merlin.app.app_page.data.project.project_id,
								email_list:','+merlin.current_step.inputs.email_list.dom.val()
							});
						}
					},
					'email-invite-submit':{
						selector:'.step.email-invite-submit',
						next_step:'email-invite-info',
						init:function(merlin,dom){
							tc.jQ.ajax({
								type:'POST',
								url:'/project/invite',
								data:merlin.options.data,
								context:merlin,
								dataType:'text',
								success:function(data,ts,xhr){
									if(data == 'False'){
										window.location.hash = 'email_invite,email-invite-error';
										return false;
									}
									tc.timer(1000,function(){
										window.location.hash = 'email_invite,email-invite-info';
									});
								}
							});
						}
					},
					'email-invite-error':{
						selector:'.step.email-invite-error'
					}
				}
			});
		};
		
		this.build_merlin();
		
		// initialize carousels the first time
		// this widget is rendered
		function init_carousels() {
			var ideas_carousel;
			ideas_carousel = me.dom.find(".ideas-invite .carousel");
			if (ideas_carousel.length === 1) {
				me.elements.ideas_invite.elements.carousel = new tc.carousel({
					element: me.dom.find(".ideas-invite .carousel"),
					pagination: {
						current: me.dom.find(".ideas-invite .pagination .cur-index"),
						total: me.dom.find(".ideas-invite .pagination .total")
					}
				}).carousel;
			}
		}
		
		return {
			show:function(propagate) {
				widget.show(propagate);
				if (!me.elements.ideas_invite.elements.carousel) {
					init_carousels();
				}
				window.location.hash = 'email_invite,email-invite-info';
			},
			hide:widget.hide
		};
	};

	
</script>