<!-- Begin Project.West -->
<div class="box mission">

	<div class="hd clearfix">
		<h2>
			<span>
				Mission
			</span>
		</h2>
	</div>

	<div class="bd clearfix">
		{% if d.template_data.project_user.data.is_project_admin %}
			<div class="our-mission editable">
		{% else %}
			<div class="our-mission">
		{% endif %}
			<div class="sub-hd clearfix">
				<h3>Our Mission</h3>
				<div class="edit-controls" style="display:none;">
					<a href="#" class="ca-btn save-btn">Save</a>
					<a href="#" class="cancel-btn">Cancel</a>
				</div>
			</div>
			<div class="sub-bd serif">
				<p class='mission-text'>{{ d.template_data.project.data.info.mission }}</p>
			</div>
		</div>
		<div class="endorsements" style="{% if d.template_data.user and d.template_data.user.data.is_leader %}{% elif d.template_data.project.data.info.endorsements['items']|length == 0 %}display:none;{% endif %}">
			<div class="sub-hd">
				<h3>Endorsements</h3>
			</div>
			<div class="sub-bd">
				<ul class="endorsements-stack clearfix">
					{% for endorsement in d.template_data.project.data.info.endorsements['items'] %}
						<li>
							<div class="thumb">
								<img class="endorser-photo" alt="{{ endorsement.name }}" src="http://placehold.it/30x30"/>
								<span class="overlay-tag"></span>
							</div>
							<div class="main">
								<strong>{{ endorsement.name }}</strong>,
								<cite>{{ endorsement.title }} {{ endorsement.organization }}</cite>
							</div>
						</li>
					{% endfor %}
				</ul>
				{% if d.template_data.user and d.template_data.user.data.is_leader %}
					<a class="endorse-button" href='#endorse,{{ d.template_data.project.data.project_id }}'><span><span class="fancy-caps">Endorse <span>this</span> project</span></span></a>
				{% endif %}
			</div>
		</div>
		<div class="location">
			<div class="sub-hd">
				<h3>Location</h3>
			</div>
			<div class="sub-bd">
				<div id="location-map" class="map-holder"><!-- container for google map --></div>
			</div>
		</div>
		<div class="keywords">
			<div class="sub-hd">
				<h3>Keywords</h3>
			</div>
			<div class="sub-bd">
				<ul class="tag-cloud serif">
					{% for keyword in d.template_data.project.data.info.keywords %}
						{% if d.template_data.user and d.template_data.project_user.data.is_project_admin %}
							<li class="admin" id='keyword-{{ keyword }}'><a href="/search?terms={{ keyword }}">{{ keyword }}</a> <a href="#remove,{{ keyword }}" class="remove-btn keyword"><span>Remove</span></a></li>
						{% else %}
							<li><a href="/search?terms={{ keyword }}">{{ keyword }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
				{% if d.template_data.user and d.template_data.project_user.data.is_member %}
					<a href="" class="add-keyword">&#43; Add Keyword</a>
				{% endif %}
			</div>
		</div>
	</div>
</div> <!-- end .box.mission -->

<div class="template-content modal-content endorse-project">
	<div class="step">
		<h2><strong>Endorse</strong> this project?</h2>
		<div>
			<p>Do you want to endorse</p>
			<p>{{ d.template_data.project.data.info.title }}?</p>
			<p>It will receive your seal of approval!</p>
		</div>
		<div class="actions">
			<a class="submit rounded-button" href="#">Yes</a>
			<a class="cancel rounded-button" href="#">No</a>
		</div>
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>

{% if d.template_data.user and d.template_data.user.data.is_leader %}

{% endif %}

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/js/gam-map-style.js"></script>
<script type="text/javascript" src="/static/js/libs/infobox_packed.js"></script>
<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.infopane = function(project,dom,deps,options){
		var widget, data, me;
		tc.util.log("project.infopane");
		me = this;
		this.options = tc.jQ.extend({name:'infopane'},options);
		data = this.options.app.app_page.data;
		this.data = data;
		this.dom = dom;
		this.editable = false;
		this.edit_mode = false;
		if (this.options.app.app_page.project_user.is_project_admin) {
			this.editable = true;
			this.dom.addClass("can-edit");
		}
		widget = tc.gam.widget(this,project);
		this.elements = {
			mission: {
				edit_controls: null,
				textpane: null,
				init: function(element) {
					if (me.editable) {
						me.elements.mission.edit_controls = element.find(".edit-controls");
						me.elements.mission.textpane = element.find(".sub-bd");
						
						me.elements.mission.edit_controls.children(".save-btn").bind(
							"click",
							{ project:project, me:me },
							me.handlers.our_mission_save
						);
						me.elements.mission.edit_controls.children(".cancel-btn").bind(
							"click",
							{ project:project, me:me },
							me.handlers.our_mission_cancel
						);
						
						me.elements.mission.textpane.bind("click", { project:project, me:me }, me.handlers.our_mission_clicked);
					} else {
						
					}
				},
				edit: function() {
					me.edit_mode = true;
					me.elements.mission.edit_controls.show();
					me.elements.mission.textpane.html("<div class='form-pane'><div class='fields'><textarea>"+ 
							data.project.info.mission +
							"</textarea></div></div>");
				},
				display: function() {
					me.edit_mode = false;
					me.elements.mission.edit_controls.hide();
					me.elements.mission.textpane.html("<p>"+ data.project.info.mission +"</p>");
				},
				save: function() { // TODO
					tc.util.dump(this);
					var text;
					text = me.elements.mission.textpane.find("textarea").val();
					tc.jQ.ajax({
						url: "/project/description",
						data: {
							project_id: me.options.app.app_page.data.project.project_id,
							text: text
						},
						context: me,
						type: "POST",
						dataType: "text",
						success: function(data,ts,xhr) {
							if (data == "False") {
								return;
							}
							this.data.project.info.mission = text;
							this.elements.mission.display();
						}
					});
				}
			},
			endorsements: {
				
			},
			location_map: {
				map: null,
				init: function() {
					var coords, zoom, map;
					tc.util.log("project.infopane.location_map.init");
					
					coords = [data.project.info.location.position.lat, 
					          data.project.info.location.position.lng];
					zoom = 12;
					
					if(coords[0] == 'None' || coords[1] == 'None'){
						coords = [40.716667, -74];
						zoom = 9;
					}
					
					// tc.util.dump(coords);
					// TODO handle null/empty location data (?)
					
					map = new google.maps.Map(document.getElementById("location-map"), {
						center: new google.maps.LatLng(coords[0], coords[1]),
						zoom: zoom,
						maxZoom: zoom,
						minZoom: zoom,
						disableDefaultUI: true,
						mapTypeControlOptions: {
						   mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'GAM']
						},
						draggable: false
					});
					
					map.mapTypes.set("GAM", new google.maps.StyledMapType(gamMapStyle, { name: "Give a Minite" }));
					map.setMapTypeId("GAM");
					
					me.elements.location_map.map = map;
				}
			},
			keywords: {
				
			}
		};
		this.handlers = {
			our_mission_save: function(e, d) {
				e.preventDefault();
				e.data.me.elements.mission.save();
			},
			our_mission_cancel: function(e, d) {
				e.preventDefault();
				e.data.me.elements.mission.display();
			},
			our_mission_clicked: function(e, d) {
				if (e.data.me.edit_mode) {
					
				} else {
					e.data.me.elements.mission.edit();
				}
			},
			remove_keyword:function(e){
				e.preventDefault();
				e.stopPropagation();
				t = e.target;
				if(t.nodeName == 'SPAN'){
					t = t.parentNode;
				}
				e.data.project.options.app.components.modal.show({
					app:e.data.project.options.app,
					source_element:tc.jQ('.modal-content.remove-keyword'),
					submit:function(){
						tc.jQ.ajax({
							type:'POST',
							url:'/project/tag/remove',
							data:{
								project_id: e.data.me.options.app.app_page.data.project.project_id,
								text: t.href.split(',')[1]
							},
							context:e.data.me,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
								this.dom.find('#keyword-'+t.href.split(',')[1]).remove();
							}
						});
					}
				});
			},
			endorse_project:function(e){
				e.preventDefault();
				
				e.data.project.options.app.components.modal.show({
					app:e.data.project.options.app,
					source_element:tc.jQ('.modal-content.endorse-project'),
					submit:function(){
						tc.jQ.ajax({
							type:'POST',
							url:'/project/endorse',
							data:{
								project_id: e.data.me.options.app.app_page.data.project.project_id,
								user_id: e.data.me.options.app.app_page.user.u_id
							},
							context:e.data.me,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
								location.reload(true);
							}
						});
					}
				});
			}
		};
		
		tc.util.dump(this.dom.find('a.remove-btn.keyword'));
		tc.util.dump(this.dom.find('a.remove-btn'));
		this.dom.find('a.remove-btn.keyword').unbind('click').bind('click', {project:project,me:this}, this.handlers.remove_keyword);
		this.dom.find('a.endorse-button').unbind('click').bind('click', {project:project,me:this}, this.handlers.endorse_project);
		
		this.elements.mission.init( this.dom.find(".our-mission.editable") );
		this.elements.location_map.init();
		
		return {
			show:widget.show,
			hide:widget.hide
		};
	};
		
</script>