{% if d.template_data.project_user.data.is_member == True or d.template_data.project.data.info.resources.links['items']|length > 0 or d.template_data.project.data.info.resources.organizations['items']|length > 0 %}
<div class="box resources">
	<div class="hd clearfix">
		<h2>
			<span>
				Resources
			</span>
		</h2>
	</div>

	<div class="bd">
		<p class="hint">The resources listed below are separate entities not run by the Change by Us Projects but used by this Project</p>
		
		<!-- begin .external-links -->
		{% if d.template_data.project_user.data.is_member == True or d.template_data.project.data.info.resources.links['items']|length > 0 %}
		<div class="external-links">
			<div class="sub-hd">
				<h3>External Links</h3>
			</div>
			
			<div class="sub-bd" style="{% if d.template_data.project.data.info.resources.links['items']|length == 0 %}display:none;{% endif %}">
				<table class="resources-list link-table doublewide">
					<tbody>
						{% for link in d.template_data.project.data.info.resources.links['items'] %}
							{% if loop.index is odd %}
								<tr>
							{% endif %}
							<td rel="#link,{{ link.link_id }}" title="{{ link.title }}">
								<span class="thumb">
									{% if d.template_data and d.template_data.user and d.template_data.user.is_admin %}
										<a class="close" href="#removeLink,{{ link.link_id }}"></a>
									{% endif %}
									{% if link.image_id %}
										<img width='30' src='/images/{{ link.image_id % 10 }}/{{ link.image_id }}.png' alt=""/>
									{% else %}
										<img width='30' src="/static/images/thumb_genAvatar30.png" alt=""/>
									{% endif %}
								</span>
								<span class="resource-name">
									<span>
										<span><a target='_blank' href="{{ link.url }}"><span>{{ link.title }}</span></a></span>
									</span>
								</span>
							</td>
							{% if loop.index is even %}
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
			
			{% if d.template_data.project_user.data.is_member == True %}
			<div class="sub-ft clearfix" style="{% if d.template_data.project.data.info.resources.links['items']|length == 0 %}display:none;{% endif %}">
				<a href="#show,add_link" class="rounded-button small add-link">Add a Link</a>
			</div>
			{% endif %}
			
			<div class="sub-bd" style="{% if d.template_data.project.data.info.resources.links['items']|length > 0 %}display:none;{% endif %}">
				<div class="empty-state-box">
					<a class="close" href="#"><span>Close</span></a>
					<p><a href="#show,add_link">Add links</a> to anything, including some of our recommended links like Facebook groups and Kickstarter.</p>
					<a href="#show,add_link" class='rounded-button small add-link'>Add Link</a>
				</div>
			</div>
		</div>
		{% endif %}
		<!-- end .external-links -->
		
		<!-- begin .organizations -->
		{% if d.template_data.project_user.data.is_member == True or d.template_data.project.data.info.resources.organizations['items']|length > 0 %}
		<div class="organizations">
			<div class="sub-hd">
				<h3>Organizations</h3>
			</div>
			
			<div class="sub-bd" style="{% if d.template_data.project.data.info.resources.organizations['items']|length == 0 %}display:none;{% endif %}">
				<table class="resources-list organization-table doublewide">
					<tbody>
						{% for org in d.template_data.project.data.info.resources.organizations['items'] %}
							{% if loop.index is odd %}
								<tr>
							{% endif %}
							<td title="{{ org.title }}">
								<span class="thumb">
									{% if d.template_data and d.template_data.user and d.template_data.user.is_admin %}
										<a class="close" href="#removeOrganization,{{ org.organization }}"></a>
									{% endif %}
									{% if org.image_id %}
										<img width='30' src='/images/{{ org.image_id % 10 }}/{{ org.image_id }}.png' alt=""/>
									{% else %}
										<img width='30' src="/static/images/thumb_genAvatar30.png" alt=""/>
									{% endif %}
								</span>
								<span class="resource-name">
									<span>
										<span><a target='_blank' rel="#organization,{{ org.organization }}" href="{{ org.url }}" class='tooltip_trigger'><span>{{ org.title }}</span></a></span>
									</span>
								</span>
							</td>
							{% if loop.index is even %}
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
				
			{% if d.template_data.project_user.data.is_member == True %}
			<div class="sub-ft clearfix" style="{% if d.template_data.project.data.info.resources.organizations['items']|length == 0 %}display:none;{% endif %}">
				<a href="#show,related_resources" class="rounded-button small add-organization">Add Organization</a>
			</div>
			{% endif %}
			
			<div class="sub-bd" style="{% if d.template_data.project.data.info.resources.organizations['items']|length > 0 %}display:none;{% endif %}">
				<div class="empty-state-box">
					<a class="close" href="#"><span>Close</span></a>
					<p>When you <a href="#show,related_resources">add organizations</a>, we'll introduce your project to the people over there.</p>
					<a href="#show,related_resources" class="rounded-button small">Add Organizations</a>
				</div>
			</div>
			
		</div>
		{% endif %}
		<!-- end .organizations -->
		
	</div>
</div>

<div class='template-content link-table-cell'>
	<span class="thumb">
		<a class="close" href="#removeLink,"></a>
		<img width='30' src="/static/images/thumb_genAvatar30.png" alt=""/>
	</span>
	<span class="resource-name">
		<span>
			<span><a target='_blank' href="" class='link-link'><span></span></a></span>
		</span>
	</span>
</div>

<div class='template-content organization-table-cell' title=''>
	<span class="thumb">
		<a class="close" href="#removeOrganization,"></a>
		<img width='30' src="/static/images/thumb_genAvatar30.png" alt=""/>
	</span>
	<span class="resource-name">
		<span>
			<span><a target='_blank' rel="#organization," href="" class='tooltip_trigger'><span></span></a></span>
		</span>
	</span>
</div>

<div class='template-content' id='organization-markup-source'>
	<div class='tooltip-hd'>
		<h2></h2>
	</div>
	<div class='tooltip-bd'>
		<div class='info'>
			<div class='thumb'>
				<img width='90' alt='' src="/static/images/thumb_genAvatar100.png"/>
			</div>
			<div class='main'>
				<p></p>
			</div>
		</div>
		<dl class='details'>
			<dt>Visit Us</dt>
			<dd><a target='_blank' href='#'></a></dd>
		</dl>
	</div>
</div>

<div class="template-content modal-content confirm-delete remove-link">
	<div class="step">
		<h2><strong>Delete</strong> this Link?</h2>
		<div>
			<p>This deletes the link from the project! <br/>Are you sure?</p>
		</div>
		<div class="actions">
			<a class="submit rounded-button" href="#">Yes, Delete Link</a>
			<a class="cancel" href="#">No, keep them.</a>
		</div>
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>

<div class="template-content modal-content confirm-delete remove-resource">
	<div class="step">
		<h2><strong>Delete</strong> this Organization?</h2>
		<div>
			<p>This deletes the organization from the project! <br/>Are you sure?</p>
		</div>
		<div class="actions">
			<a class="submit rounded-button" href="#">Yes, Delete Organization</a>
			<a class="cancel" href="#">No, keep them.</a>
		</div>
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>

{% endif %}

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.resources = function(project,dom,deps,options){
		var widget, me;
		tc.util.log("project.resources");
		me = this;
		this.options = tc.jQ.extend({name:'resources'},options);
		this.dom = dom; 
		widget = tc.gam.widget(this,project);
		
		this.elements = {
			links_table:this.dom.find('.link-table'),
			organizations_table:this.dom.find('.organization-table')
		};
		
		this.components = {
			tooltips:null
		}
		
		this.runtime_data = {};
		
		this.handlers = {
			resource_refresh_handler:function(e,d){
				if(d.type){
					switch(d.type){
						case 'link':
							e.data.me.runtime_data.load_into = 'link';
							//e.data.me.elements.links_table.children('tbody').children().remove();
							//e.data.me.elements.links_table.children('tbody').append('<tr><td class="loading"><img class="loading" src="/static/images/loader32x32.gif" /></td></tr>');
							break;
						case 'organization':
							e.data.me.runtime_data.load_into = 'organization';
							//e.data.me.elements.organizations_table.children('tbody').children().remove();
							//e.data.me.elements.organizations_table.children('tbody').append('<tr><td class="loading"><img class="loading" src="/static/images/loader32x32.gif" /></td></tr>');
							break;
					}
					
					tc.jQ.ajax({
						type: 'GET',
						url: '/project/resources',
						data: {
							project_id: project.data.project_id
						},
						context: e.data.me,
						dataType:'text',
						success: function(data){
							try {
								d = tc.jQ.parseJSON(data);
							} catch(err) {
								tc.util.log('error loading /project/resources','error');
								return;
							}
							project.dom.trigger('resources-loaded',d);
							
						}
					});
				}
			},
			resources_loaded_handler:function(e,d){
				var i, temptbody, temptd;
				temptbody = tc.jQ('<tbody></tbody>');
				switch(e.data.me.runtime_data.load_into){
					default:
						return;
					case 'link':
						for(i in d.links){
							if(temptbody.find('tr').length == 0 || temptbody.find('tr:last').children().length == 2){
								temptbody.append('<tr></tr>');
							}
							temptd = tc.jQ('<td></td>').append(tc.jQ('.template-content.link-table-cell').clone().children());
							if(d.links[i].image_id){
								temptd.find('img').attr('src','/images/'+(d.links[i].image_id%10)+'/'+d.links[i].image_id+'.png');
							}
							temptd.find('a.close').attr('href','#removeLink,'+d.links[i].link_id);
							temptd.find('.link-link').attr('href',d.links[i].url).children('span').text(d.links[i].title);
							temptbody.find('tr:last').append(temptd);
						}
						e.data.me.elements.links_table.children('tbody').replaceWith(temptbody);
						e.data.me.elements.links_table.find('a.close').unbind('click').bind('click', {project:project,me:e.data.me}, e.data.me.handlers.remove_resource);
						break;
					case 'organization':
						for(i in d.resources){
							if(temptbody.find('tr').length == 0 || temptbody.find('tr:last').children().length == 2){
								temptbody.append('<tr></tr>');
							}
							temptd = tc.jQ('<td></td>').append(tc.jQ('.template-content.organization-table-cell').clone().children());
							temptd.attr('title',d.resources[i].title);
							if(d.resources[i].image_id){
								temptd.find('img').attr('src','/images/'+(d.resources[i].image_id%10)+'/'+d.resources[i].image_id+'.png');
							}
							temptd.find('a.close').attr('href','#removeResource,'+d.resources[i].organization);
							temptd.find('.tooltip_trigger')
								.attr('rel','#organization,'+d.resources[i].organization)
								.attr('href',d.resources[i].url).children('span').text(d.resources[i].title);
							e.data.me.components.tooltips.add_trigger(temptd.find('.tooltip_trigger'));
							temptbody.find('tr:last').append(temptd);
						}
						e.data.me.elements.organizations_table.children('tbody').replaceWith(temptbody);
						e.data.me.elements.organizations_table.find('a.close').unbind('click').bind('click', {project:project,me:e.data.me}, e.data.me.handlers.remove_resource);
						break;
				}
			},
			remove_resource:function(e){
				e.preventDefault();
				if(e.target.hash.split(',')[0] == '#removeLink'){
					e.data.project.options.app.components.modal.show({
						app:e.data.project.options.app,
						source_element:tc.jQ('.modal-content.remove-link'),
						submit:function(){
							tc.jQ.ajax({
								type:'POST',
								url:'/project/link/remove',
								data:{
									project_id: e.data.me.options.app.app_page.data.project.project_id,
									link_id: e.target.href.split(',')[1]
								},
								context:e.data.me,
								dataType:'text',
								success:function(data,ts,xhr){
									if(data == 'False'){
										return false;
									}
									project.dom.trigger('resources-refresh',{ type:'link' });
								}
							});
						}
					});
				} else if(e.target.hash.split(',')[0] == '#removeOrganization'){
					e.data.project.options.app.components.modal.show({
						app:e.data.project.options.app,
						source_element:tc.jQ('.modal-content.remove-resource'),
						submit:function(){
							tc.jQ.ajax({
								type:'POST',
								url:'/project/resource/remove',
								data:{
									project_id: e.data.me.options.app.app_page.data.project.project_id,
									project_resource_id: e.target.href.split(',')[1]
								},
								context:e.data.me,
								dataType:'text',
								success:function(data,ts,xhr){
									if(data == 'False'){
										return false;
									}
									project.dom.trigger('resources-refresh',{ type:'organization' });
								}
							});
						}
					});
				}
				
				
			}
		};
		
		this.dom.find('a.close').unbind('click').bind('click', {project:project,me:this}, this.handlers.remove_resource);
		
		this.components.tooltips = tc.resource_tooltip({
			triggers: this.dom.find(".resources-list .tooltip_trigger"),
			markup_source_element:tc.jQ('#organization-markup-source'),
			get_url: "/project/resource/info"
		});
		
		project.dom.bind('resources-loaded', {me:this}, this.handlers.resources_loaded_handler);
		project.dom.bind('resources-refresh', {me:this}, this.handlers.resource_refresh_handler);
		
		
		
		return {
			show:widget.show,
			hide:widget.hide
		};
	};
</script>
