<!DOCTYPE html>
<html class='universe'>
	
	<head class='heavens'>
		<title>Change by Us NYC</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		
		<link rel="stylesheet" href="/static/css/tc.reset.css" type="text/css" media="screen" charset="utf-8" />
		<link rel="stylesheet" href="/static/css/tc.gam.bb.css" type="text/css" media="screen" charset="utf-8" />
		
		<script>
			var app_page = {
				data:{},
				features:[]
			};
		</script>
		
	</head>
	
	<body class='earth'>
		
		<div class='atmosphere'>
			<div class='stratosphere'>
				<ul>
					<li class="userland">
						<div class='about'><a href='#bb,about'>About</a></div>
					</li>
					<li class="home">
						<a href="/bb"><span>Change by Us NYC</span></a>
					</li>
				</ul>
			</div>
		</div><!--end .atmosphere-->
		
		
		
		<div class='continent'>
			
			<div class="step start current">
				<h1>Hey NYC, How can we make our city a greener, greater place to live?</h1>
				<form>
					<input type="text" id="idea-input" class="idea-input" name="idea-input" value="What's your idea?" />
					<input type="submit" id="idea-submit" class="idea-submit" name="idea-submit" value="Post" />
				</form>
			</div><!--end step-->
			
			
			<div class="step email">
				<h1>Thanks for your idea!<br /><span class="unbold">We need a little more information.</span></h1>
				<form>
					<input type="text" id="email-input" class="email-input" name="email-input" value="Email address" />
					<input type="submit" id="email-submit" class="email-submit" name="email-submit" value="Next" />
				</form>
			</div><!--end step-->
			
			
			<div class="step hood">
				<h1>Where is your idea located?</span></h1>
				<form>
					<div class="radio-buttons">
						<span><input type="radio" id="hood-city" class="hood-city" name="hood-input" value="city" />The city<br /></span>
						<span><input type="radio" id="hood-neighborhood" class="hood-neighborhood" name="hood-input" value="neighborhood" />A neighborhood or borough<br /></span>
					</div>
					<input type="text" id="hood-neighborhood-enter" class="hood-neighborhood-enter" name="hood-neighborhood-enter" value="" />
					<p>Ex. Harlem, East Village, Bronx, etc.</p>
					<input type="submit" id="email-submit" class="email-submit" name="email-submit" value="Next" />
				</form>
			</div><!--end step-->
			
			
			<div class="step find-projects">
				<h1>Be part of the solution<br /><span class="unbold">Join one of the projects listed below or <a href="/">visit the full site</a> to start your own.</span></h1>
				<h2><span class="unbold">Found </span>20 Projects</h2>
				<ol>
					<li class="project">
						<span class="num">1.</span>
						<span class="title">Start a Garden in the Bronx</span>
						<span class="creator"><em>Created by </em>Shawna T.</span>
						<span class="description">Wouldn’t it be great if we had a garden on 161st and Melrose...</span>
						<input type="button" id="project-1-join" class="project-1-join" name="project-1-join" value="Join" />
					</li>
					<li class="project">
						<span class="num">2.</span>
						<span class="title">Start a Garden in the Bronx</span>
						<span class="creator"><em>Created by </em>Shawna T.</span>
						<span class="description">Wouldn’t it be great if we had a garden on 161st and Melrose...</span>
						<input type="button" id="project-1-join" class="project-1-join" name="project-1-join" value="Join" />
					</li>
					<li class="project">
						<span class="num">3.</span>
						<span class="title">Start a Garden in the Bronx</span>
						<span class="creator"><em>Created by </em>Shawna T.</span>
						<span class="description">Wouldn’t it be great if we had a garden on 161st and Melrose...</span>
						<input type="button" id="project-1-join" class="project-1-join" name="project-1-join" value="Join" />
					</li>
				</ol>
			</div><!--end step-->
			
			
			<div class="step invited-project">
				<h1>You've been invited to<br />join a project!</h1>
				<div class="project">
					<span class="title">Start a Garden in the Bronx</span>
					<span class="creator"><em>Created by </em>Shawna T.</span>
					<span class="description">Wouldn’t it be great if we had a garden on 161st and Melrose...</span>
					<input type="button" id="project-1-join" class="project-1-join" name="project-1-join" value="Join" />
				</div>
			</div><!--end step-->
			
			
			<div class="step joined-project">
				<h1>Thanks, you've joined the project:</h1>
				<h1><span class="unbold">Start a Garden in the Bronx<br /><em>Created by </em>Shawna T.</span></h1>
				<div class="box">
					<p class="large">Leave the mobile site and</p>
					<input type="button" id="view-project" class="view-project large dark" name="view-project" value="View this project" />
				</div>
			</div><!--end step-->
			
			
			<div class="step login-join">
				<h1>Change by Us is a place to<br />make your city better</h1>
				<h2><span class="unbold">Share your ideas. Build projects. Make a change.</span></h2>
				<div class="box">
					<input type="button" id="signup" class="signup large dark west" name="signup" value="Sign Up" />
					<h2 class="west or">or</h2>
					<input type="button" id="login" class="login large dark west" name="login" value="Log In" />
				</div>
				<h2 class="last">to join or start a project.</h2>
			</div><!--end step-->
			
			
			<div class="step about">
				<h1>Change by Us NYC <span class="unbold">is a new website created by Local Projects and run by the City of New York. It’s a place for New Yorkers to put their ideas into action by creating projects and building teams to make our city a better place to live. We’re kicking things off by asking how we can make our city greener. Get started today.</span></h1>
			</div><!--end step-->
			
		</div><!--end .continent-->
		
		
		
		<div class="seafloor">
			<p>Change by Us is a place to share ideas, create projects, build teams, and make our city better.</p>
			<p>
				<a href="http://www.nyc.gov/html/simplicity/html/about/about.shtml"><strong>NYC Simplicity</strong></a>
				<a href="/feedback" class="contact east">Contact Us</a>
			</p>
			<p class="links">
				<a href="http://www.localprojects.net/">Local Projects</a>
				<a href="http://www.ceosforcities.org/">CEOS for Cities</a>
				<a href="http://www.knightfoundation.org/">Knight Foundation</a><br />
				<a href="http://www.rockefellerfoundation.org/">The Rockefeller Foundation</a>
				<a href="http://www.nyc.gov/html/planyc2030/html/home/home.shtml">PlaNYC</a>
			</p>
			<p class="sitemap">
				<a href="#bb,about">About Change by Us</a><br />
				<a href="http://www.nyc.gov/html/simplicity/html/about/about.shtml">About NYC Simplicity</a><br />
				<a href="http://nycblog.changeby.us">News</a><br />
				<a href="/tou#community">Community Policy</a><br />
				<a href="/tou">Terms of Service</a><br />
				<a href="/tou#privacy">Privacy Policy</a>
			</p>
			<p class="credits credits-one">Design and Development<br />&copy; 2011 Local Projects, LLC<br />All rights reserved.</p>
			<p class="credits credits-two">Content and NYC Logo<br />&copy; 2011 Mayor's Fund to Advance the City of New York.<br />All rights reserved.</p>
		</div><!--end .seafloor-->
		
		
		
		<!--<script type="text/javascript" src="/static/js/libs/tc.util.js"></script>
		<script type="text/javascript" src="/static/js/libs/jquery.hashchange.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.validate.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.merlin.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.locationDropdown.js"></script>-->
		<script type="text/javascript" src="/static/js/libs/jquery-1.5.1.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.app.js"></script>
		
		<script type="text/javascript">
			
			$('input[type="text"]').focus(function() {
				$(this).attr('value','');
			});
			
			// having an initial hash seems to be causing problems when loading the page on win 7
			// (document.ready() not firing) -- clearing the hash appears to fix the issue
			// though that is really bonkers. This needs to be revisited!
			// -- LK
			if (window.location.hash) {
				//alert("has hash");
				window.location.hash = "";
			}
			
			tc.jQ(function(){
				
				{% if d.template_data and d.template_data.user %}
					app_page.user = {{ d.template_data.user.json }}; 
				{% else %} 
					app_page.user = null; 
				{% endif %}
				
				tc.app(app_page);
			
			});
			
		</script>
	</body>
	
</html>