{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - CMS Content
{% endblock title %}

{% block continent %}

<div class='continent cms cms-content'>

	<div class='headlands'>
		<ul class="tabs">
			<li class="tab featured-projects"><a href="#featured-projects">Featured Projects</a></li>
			<li class="tab warning-list active"><a href="#warning-list">Warning List</a></li>
			<li class="tab pending-resources"><a href="#pending-resources">Pending Resources</a></li>
			<li class="tab metrics"><a href="#metrics">Metrics</a></li>
		</ul>
	</div><!-- end .headlands -->

	<div class='midlands clearfix'>
		<div id="featured-projects" class="view">
			<div class="top-tier">
				<div class="west">
					<h2>Featured Projects are displayed on the board located on the homepage of the site.</h2>
				</div>
				<div class="east">
					<p><strong>Note:</strong> only five projects can be featured on the homepage at a time. To add a different project, you can <a href="">find some projects to feature</a>.</p>
				</div>
			</div>
			<div class="main-tier">
				<table class="featured-projects-table">
					<tbody>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="warning-list" class="view">
			<div class="west sidebar">
				<div class="box flagged-content-filters">
					<div class="hd">
						<h2>Flagged Content</h2>
					</div>
					<div class="bd">
						<a href="#all" class="sidebar-item all"><span>All</span></a>
						<a href="#ideas" class="sidebar-item ideas"><span>Ideas</span></a>
						<a href="#projects" class="sidebar-item projects"><span>Projects</span></a>
						<a href="#project-posts" class="sidebar-item project-posts"><span>Project Posts</span></a>
						<a href="#project-goals" class="sidebar-item project-goals"><span>Project Goals</span></a>
						<a href="#links" class="sidebar-item links"><span>Links</span></a>
					</div>
					<div class="ft">
						<p>Content is flagged according to the <q>Graylist</q> of questionable language.</p>
						<p>View and Edit the Graylist under Admin Settings &rarr; Blacklist</p>
					</div>
				</div>
			</div>
			<div class="east">
				<div class="box">
					<div class="hd">
						<div class="pagination-controls">
							<a class="prev" href="#"><span>Previous</span></a>
							<a class="next" href="#"><span>Next</span></a>
						</div>
					</div>
					<div class="bd">
						<ul class="items warning-list-stack">
							<li class="item-box">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<blockquote>
										<p>Iusto dolore eorum claritatem exerci consuetudium. Qui est processus lectores modo humanitatis. Aliquam non dolor eodem lectorum duis.</p>
									</blockquote>
								</div>
							</li>
							<li class="item-box every-other">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<blockquote>
										<p>Iusto dolore eorum claritatem exerci consuetudium. Qui est processus lectores modo humanitatis. Aliquam non dolor eodem lectorum duis.</p>
									</blockquote>
								</div>
							</li>
							<li class="item-box">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<blockquote>
										<p>Iusto dolore eorum claritatem exerci consuetudium. Qui est processus lectores modo humanitatis. Aliquam non dolor eodem lectorum duis.</p>
									</blockquote>
								</div>
							</li>
							
							<li class="item-box every-other">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<h3>Flagged Facebook Link Name</h3>
									<p>http://facebook.com/terrible-group-link/</p>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="pending-resource" class="view">
			
		</div>
		<div id="metrics" class="view">
			
		</div>
	</div>

	<div class='foothills'>

	</div>
	

</div><!-- end .continent.cms-content -->
{% endblock continent %}


{% block page_js %}

<script>
	
</script>
{% endblock page_js %}