{% extends "./partials/base.html" %}

{% block title %}
Change by Us - CMS Admin Settings
{% endblock title %}

{% block continent %}

<div class='continent cms cms-admin-settings'>

	<div class='headlands clearfix'>
		<ul class="tabs">
			<li class="tab administrators active"><a href="#admins">Administrators</a></li>
			<li class="tab blacklist"><a href="#blacklists">Blacklist</a></li>
		</ul>
	</div><!-- end .headlands -->

	<div class='midlands merlin merlin-admin-settings clearfix'>
		<div id="administrators" class="step view">
			<div class="west"><!-- begin .west -->
				<form class="add-admin-merlin" method="POST" action=" "><!-- ADD CLASS ".merlin"-->
					<div class="add-admin-main"><!-- ADD CLASS ".step"-->
						<div class="box">
							<div class="hd">
								<h2 class="fancy-caps">Add <span>an</span> Administrator</h2>
							</div>
							<div class="bd">
								<div class="row">
									<label>First Name</label>
									<input type="text"/>
								</div>
								<div class="row">
									<label>Last Name</label>
									<input type="text"/>
								</div>
								<div class="row">
									<label>E-mail</label>
									<input type="text"/>
								</div>
								<div class="row">
									<label>Password</label>
									<input type="password"/>
								</div>
								<div class="row clearfix">
									<input type="radio" name="add-admin-radio" id="city-leaders-radio" />
									<label for="city-leaders-radio" class="white"><strong>City Leaders</strong> can endorse projects</label>
								</div>
								<div class="row clearfix">
									<input type="radio" name="add-admin-radio" id="administrators-radio" />
									<label for="administrators-radio" class="white"><strong>Administrators</strong> can moderate and delete posts and delete regular accounts</label>
								</div>
								<div class="row clearfix">
									<input type="radio" name="add-admin-radio" id="superadmin-radio" />
									<label for="superadmin-radio" class="white"><strong>Super Administrators</strong> can create other admins and delete posts, users, and delete other admins</label>
								</div>
							</div>
							<div class="ft">
								<a class="rounded-button" href="#">Add Administrator</a>
							</div>
						</div>
					</div>
					<div class="add-admin-finish"><!-- ADD CLASS ".step"-->
						
					</div>
				</form>
			</div><!-- end .west -->
			
			
			
			<div class="east">
				<div class="box active-admins">
					<div class="hd">
						<div class="pagination-controls">
							<span class="control">
								<a class="prev" href="#"><span class="sm-arrow-back light"></span><span>Previous</span></a>
								<a class="next" href="#"><span>Next</span><span class="sm-arrow-forward light"></span></a>
							</span>
						</div>
						<h2 class="fancy-caps">Active Administrators</h2>
					</div>
					<div class="bd">
						<div class="carousel">
							<div class="scrollable">
								<ul class="items">
									<li>
										<table class="active-admins-table">
											<tbody>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user1-superuser-radio" name="user1-radio" />
																<label for="user1-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user1-admin-radio" name="user1-radio" />
																<label for="user1-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user1-leader-radio" name="user1-radio" />
																<label for="user1-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user1-oncall-check" />
														<label for="user1-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user2-superuser-radio" name="user2-radio" />
																<label for="user2-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user2-admin-radio" name="user2-radio" />
																<label for="user2-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user2-leader-radio" name="user2-radio" />
																<label for="user2-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user2-oncall-check" />
														<label for="user2-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user3-superuser-radio" name="user3-radio" />
																<label for="user3-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user3-admin-radio" name="user3-radio" />
																<label for="user3-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user3-leader-radio" name="user3-radio" />
																<label for="user3-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user3-oncall-check" />
														<label for="user3-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user4-superuser-radio" name="user4-radio" />
																<label for="user4-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user4-admin-radio" name="user4-radio" />
																<label for="user4-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user4-leader-radio" name="user4-radio" />
																<label for="user4-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user4-oncall-check" />
														<label for="user4-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user5-superuser-radio" name="user5-radio" />
																<label for="user5-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user5-admin-radio" name="user5-radio" />
																<label for="user5-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user5-leader-radio" name="user5-radio" />
																<label for="user5-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user5-oncall-check" />
														<label for="user5-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user6-superuser-radio" name="user6-radio" />
																<label for="user6-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user6-admin-radio" name="user6-radio" />
																<label for="user6-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user6-leader-radio" name="user6-radio" />
																<label for="user6-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user6-oncall-check" />
														<label for="user6-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user7-superuser-radio" name="user7-radio" />
																<label for="user7-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user7-admin-radio" name="user7-radio" />
																<label for="user7-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user7-leader-radio" name="user7-radio" />
																<label for="user7-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user7-oncall-check" />
														<label for="user7-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scope="row" class="active-admin-info serif">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<form>
															<div>
																<input type="radio" id="user8-superuser-radio" name="user8-radio" />
																<label for="user8-superuser-radio" class="small">Super User</label>
															</div>
															<div>
																<input type="radio" id="user8-admin-radio" name="user8-radio" />
																<label for="user8-admin-radio" class="small">Administrator</label>
															</div>
															<div>
																<input type="radio" id="user8-leader-radio" name="user8-radio" />
																<label for="user8-leader-radio" class="small">City Leader</label>
															</div>
														</form>
													</td>
													<td class="control-call-status">
														<input type="checkbox" id="user8-oncall-check" />
														<label for="user8-oncall-check" class="white">On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
											</tbody>
										</table>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!--end .east-->
		</div><!--end #administrators-->
		
		
		<div id="blacklist" class="step view" style="display:none">
			<div class="description">
				The blacklist and graylist are used to filter out inappropriate responses.
			</div>
			<form class="blacklist-merlin" method="POST" action=" "><!-- ADD CLASS ".merlin"-->
				<div class="blacklist-merlin-main"><!-- ADD CLASS ".step"-->
					<div class="box graylist-box west">
						<div class="hd">
							<h2>Graylist</h2>
							<p>If anything on the site matches the graylist, <br />it will be <strong>flagged for review</strong>.</p>
						</div>
						<div class="bd">
							<textarea class="word-set"></textarea>
						</div>
					</div>
					<div class="box blacklist-box west">
						<div class="hd">
							<h2>Blacklist</h2>
							<p>If anything on the site matches the blacklist, <br />it will be <strong>automatically hidden</strong>.</p>
						</div>
						<div class="bd">
							<textarea class="word-set"></textarea>
						</div>
					</div>
					<div class="box actions-box west">
						<div class="hd">
							<h2>&nbsp;</h2>
							<p>The last changes were saved at <span>02:45pm</span> on <span>04.12.2011</span> by <span>Jen</span></p>
						</div>
						<div class="bd">
							<a class="rounded-button save-button" href="#">Save</a>
						</div>
					</div>
				</div>
				<div class="blacklist-merlin-finish"><!-- ADD CLASS ".step"-->
					
				</div>
			</form>
		</div>
	</div>

	<div class='foothills'>

	</div>

	

</div><!-- end .continent.cms-admin-settings -->
{% endblock continent %}


{% block page_js %}
<script src="/static/js/prettyCheckboxes.js" type="text/javascript"></script>
<script type="text/javascript">
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Admin Settings');
		
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('.merlin-admin-settings'),
			first_step:'admins',
			steps:{
				'admins':{
					selector:'#administrators',
					init:function(merlin,dom){
						tc.jQ('.headlands .tabs li').removeClass('active');
						tc.jQ('.headlands .tabs li.administrators').addClass('active');
					}
				},
				'blacklists':{
					selector:'#blacklist',
					init:function(merlin,dom){
						tc.jQ('.headlands .tabs li').removeClass('active');
						tc.jQ('.headlands .tabs li.blacklist').addClass('active');
					}
				}
			}
		});
		
		
		tc.jQ(document).ready(function(){
			tc.jQ('input[type=checkbox],input[type=radio]').prettyCheckboxes();
		});
		
		tc.jQ('.adminbar li.admin-settings').addClass('active');
		
	});
</script>
{% endblock page_js %}