{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Create a Project
{% endblock title %}

{% block continent %}
<div class='continent create'>
	<div class='headlands clearfix'>
		<div class='west'>
			<span class="above-h1">Create <em>a</em> Project</span>
			<h1>Go from an idea to a solution.</h1>
			<h2><strong>Shawna,</strong> let's make it happen. The first step is to start a project that supports your idea.</h2>
		</div>
		<div class='east'>
			<div class='box'>
				<div class='box merlin-progress clearfix'>
					<div class='indicator 1 west'><span class="label">Describe</span><span class="num">1</span></div>
					<div class='indicator 2 west inactive'><span class="label">Location</span><span class="num">2</span></div>
					<div class='indicator 3 west inactive'><span class="label">Check</span><span class="num">3</span></div>
					<div class='indicator 4 west inactive last'><span class="label">Add</span><span class="num">4</span></div>
				</div>
				<div class='box next'>
					<a class="ca-btn" href="#">
						<span>Next step</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class='midlands'>
		<form class='merlin' action='/register' method='POST'>
			
			<div class='step start describe clearfix'>
				<div class="west">
					<div class="thumb">
						<img src="http://placehold.it/100x100" alt="" class="proj"/>
						<span class="overlay-tag"></span>
					</div>
					<div class="addphoto"><a href="">&#43; Add A Photo</a></div>
				</div>
				
				<div class="east">
					<div class="row clearfix">
						<label for='name'><strong>Name</strong> your project:</label>
						<input value='Name' type='text' name='name' id='name' class='name'/>
						<span class="charlimit">50</span>
						<div class="below-input clearfix"><span class="createdby">Created by</span><span class="user-name">Shawna Tearsdille</span><span class="edit">Edit</span></div>
					</div>
					<div class="row clearfix">
						<label for='describe'><strong>Describe</strong> your project well so that people can find it and join to change!</label>
						<textarea cols="20" rows="6" name='describe' id='describe' class='describe'></textarea>
						<span class="charlimit">200</span>
					</div>
					<div class="row clearfix">
						<label for='keywords'><strong>Add</strong> keywords to help people find your project:</label>
						<input value='Seperate keywords by comma' type='text' name='keywords' id='keywords' class='keywords'/>
						<div class="below-input clearfix">
							<span class="suggested-keywords-label">Suggested Keywords</span>
							<span class="suggested-keywords">
								<span>Lorem</span>
								<span>ipsum</span>
								<span>dolor</span>
								<span>amet</span>
							</span>
						</div>
					</div>
				</div>
			</div><!--end step-->
			
			<div class='step location clearfix' style='display:none;'>
				<div class="west">
				</div>
				<div class="east">
					<h3>Where is your project located?</h3>
					<div class="row row-1 clearfix">
						<input type='checkbox' name='location-city' id='location-city' class='location-city'/>
						<label class="location-city-label" for='location-city'>It's for the whole city</a></label>
					</div>
					<div class="row row-2 clearfix">
						<input type='checkbox' name='location-hood' id='location-hood' class='location-hood'/>
						<label class="location-hood-label" for='location-hood'>It's about a neighborhood or borough</a></label>
					</div>
					<div class="row row-3 clearfix">
						<input value='Start typing neighboorhood or borough...' type='text' name='location-hood-enter' id='location-hood-enter' class='location-hood-enter'/>
						<div class="location-hood-list">
							<ul>
								<li><strong>So</strong>Ho</li>
								<li><strong>So</strong>uth Bronx</li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--end step-->
			
			<div class='step check clearfix' style='display:none;'>
				<h3>Similar Projects</h3>
				<ul class="clearfix">
					<li>
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> Terry Richardson</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
					<li>
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> Terry Richardson</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
					<li class="every-third">
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> Terry Richardson</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
					<li>
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> Terry Richardson</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
					<li>
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> Terry Richardson</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
					<li class="every-third">
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> Terry Richardson</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
				</ul>
			</div><!--end step-->
			
			<div class='step add clearfix' style='display:none;'>
				<div class="west">
				</div>
				
				<div class="east">
				</div>
			</div><!--end step-->
			
			<div class='step finish clearfix ' style='display:none;'>
				<p class="west">Thank you for joining.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
		</form>
	</div>

	<div class='foothills'>
		<!--<a class='back' href='#'><p>Back</p></a>-->
	</div>
	
</div>

<script>
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Create a Project');
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('form.merlin'),
			progress_element:tc.jQ('.merlin-progress'),
			next_button:tc.jQ('.ca-btn'),
			back_button:tc.jQ('.foothills .back'),
			watch_keypress:true,
			first_step:'check',
			steps:{
				'start':{
					progress_selector:'.1',
					selector:'.step.start',
					prev_step:null,
					next_step:'location',
					validators:{
						'input.name':['max-50','min-3','required'],
						'textarea.describe':['max-200','min-3','required']
					},
					init:function(merlin,dom){
						dom.find('.addphoto a').unbind('click').bind('click',function(e,d){
							merlin.app.components.modal.show('');
						});
					}
				},
				'location':{
					progress_selector:'.2',
					selector:'.step.location',
					prev_step:'start',
					next_step:'check',
					validators:{
						'input.neighborhood':['max-0','min-0','required']
					}
				},
				'check':{
					progress_selector:'.2',
					selector:'.step.check',
					prev_step:'location',
					next_step:'add'
				},
				'add':{
					progress_selector:'.3',
					selector:'.step.add',
					prev_step:'check',
					next_step:'finish'
				},
				'finish':{
					progress_selector:'.3',
					selector:'step.finish',
					prev_step:null,
					next_step:null,
					init:function(merlin,dom){
						tc.timer(1000,function(){
							window.location = '/project';
						});
					}
				}
			}
		});
	});
</script>


{% endblock continent %}