{% extends "./partials/base.html" %}

{% block continent %}
<div class='continent create'>
	<div class='headlands clearfix'>
		<div class='west'>
			<span class="above-h1">Create <em>a</em> Project</span>
			<h1>Go from an idea to a solution.</h1>
			<h2><strong>Shawna,</strong> let's make it happen. The first step is to start a project that supports your idea.</h2>
		</div>
		<div class='east'>
			<div class='box'>
				<div class='box merlin-progress clearfix'>
					<div class='indicator 1 west'><span class="label">Describe</span><span class="num">1</span></div>
					<div class='indicator 2 west inactive'><span class="label">Location</span><span class="num">2</span></div>
					<div class='indicator 3 west inactive'><span class="label">Check</span><span class="num">3</span></div>
					<div class='indicator 4 west inactive last'><span class="label">Add</span><span class="num">4</span></div>
				</div>
				<div class='box next'>
					<a class="ca-btn" href="#">
						<span>Let's Do it!</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class='midlands'>
		<form class='merlin' action='/register' method='POST'>
			
			<div class='step start clearfix'>
				<div class="west">
					<div class="thumb">
						<img src="http://placehold.it/100x100" alt="" class="proj"/>
						<img src="" alt="" class="overlay-tag"/>
					</div>
				</div>
				
				<div class="east">
				</div>
			</div>
			
			<div class='step user-info clearfix' style='display:none;'>
				<p>Give a Minute users use their real names. <a href='#' class='real-names'><strong>Here's Why</strong></a></p>
				
				<input value='' type='text' name='f_name' id='f_name' class='f_name'/>
				<input value='' type='text' name='l_name' id='l_name' class='l_name'/>
				<label for='email'>Email</label>
				<input value='' type='text' name='email' id='email' class='email'/>
				<label for='password'>Password</label>
				<input value='' type='password' name='password' id='password' class='password'/>
				
				<input type='checkbox' name='tos-user-info' id='tos-user-info' class='tos-user-info'/>
				<label for='tos-user-info'>I accept and have read the <a href='/tou' target='_blank'>Terms and Conditions</a></label>
			</div>
			
			
			<div class='step sms-process clearfix ' style='display:none;'>
				<p>Finding SMS submissions...</p>
				<p><img src='/static/images/loader32x32.gif' /></p>
			</div>
			
			<div class='step sms-results clearfix ' style='display:none;'>
				<p><strong>We found 2 ideas from that telephone number.</strong></p>
				<p>We'll add these ideas to your profile and link any new ideas that come in from that number</p>
			</div>
			
			<div class='step sms-no-results clearfix ' style='display:none;'>
				<p>We couldn't find an ideas associated with</p>
				<p>(XXX) XXX-XXXX</p>
			</div>
			
			<div class='step sms-already-used clearfix ' style='display:none;'>
				<p>The number</p>
				<p>(XXX) XXX-XXXX</p>
				<p>is already associated with an account.</p>
			</div>
			
			<div class='step finish clearfix ' style='display:none;'>
				<p>Thank you for joining.</p>
				<p><img src='/static/images/loader32x32.gif' /></p>
			</div>
		</form>
	</div>

	<div class='foothills'>
		<a class='back' href='#'><p>&larr; Back</p></a>
	</div>
	
	
	
</div>


{% endblock continent %}