{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Feedback
{% endblock title %}

{% block continent %}
<div class='continent feedback'>
	<div class='headlands clearfix'>
		<div class='west'>
			<h2>Get in touch with us.</h2>
			<h3>If you have a question, feature request, or something is broken, please let us know. We try to respond quickly to all messages.</h3>
		</div>
	</div>

	<div class='midlands clearfix'>
		<form action='/feedback' method='POST'>
			<label for='name'>Name</label>
			<input type='text' name='name' id='name' />
			
			<label for='email'>E-mail</label>
			<input type='text' name='email' id='email' />
			
			<label for='text'>Question/Comment</label>
			<textarea name='text' id='text' ></textarea>
			<input type='submit' name='send' value='Send' />
		</form>
	</div>

	<div class='foothills'>
		<a class='back' href='#'><p>&larr; Back</p></a>
	</div>
</div>
{% endblock continent %}