{% extends "./partials/base-pure.html" %}

{% block title %}
Change by Us
{% endblock title %}

{% block continent %}
<div class='continent splash' style='margin-top:0;'>
	<div class='headlands' style='margin:0;'>
		<div class='beta-splash-container'>
			<div class="pane merlin" style='display:block;height:1141px;background-image:url("../static/images/bg_homeCities.png");text-shadow: rgba(0,0,0,0.157) 0px 0px 1px'>
				<a href='#'><img src="../static/images/logo-note.png" style='position:absolute;right:97px;'></a>
				<div style='position:absolute;left:508px;top:357px;width:280px;color:white;'>
					<span style='font-size:24px;font-weight:bold;line-height:31px;position:absolute'>A new way to share ideas, create projects, build teams, and make our cities better.</span>
					<span style='font-size:16px;position:absolute;top:144px'>LAUNCHING <strong>SPRING 2011</strong> <em>in</em></span>
					<a href='http://nyc.changeby.us' style='font-size:54px;font-weight:bold;position:absolute;top:177px;left:-4px;border-bottom-width:4px;border-bottom-style:solid;line-height:46px'>NEW YORK</a>
					<span style='position:absolute;top:246px'>Change by Us is the next evolution of<br>Give a Minute available in:</span>
					<a href='http://giveaminute.info/chicago' style='position:absolute;top:290px;font-size:24px;font-weight:bold;border-bottom-width:2px;border-bottom-style:solid;line-height:21px'>CHICAGO</a><a href='http://giveaminute.info/memphis' style='position:absolute;top:290px;left:150px;font-size:24px;font-weight:bold;border-bottom-width:2px;border-bottom-style:solid;line-height:21px'>MEMPHIS</a>
				</div>
			</div>
			
		</div><!--end .beta-splash-container-->
	</div>

	<div class='foothills'>
	</div>
	
</div>
{% endblock continent %}

{% block page_js %}
{% endblock page_js %}