{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Join
{% endblock title %}

{% block continent %}
<div class='continent register'>
	<div class='headlands clearfix'>
		<div class='west'>
			<h1>Give a Minute is a place to make your city better.</h1>
			<h2>Share your ideas. Build projects. Make a change.</h2>
		</div>
		<div class='east'>
			<div class='box'>
				<div class='box merlin-progress no-labels clearfix'>
					<a href='#'class='indicator 1 west'><span class="num">1</span></a>
					<a href='#' class='indicator 2 west inactive'><span class="num">2</span></a>
					<a href='#' class='indicator 3 west inactive'><span class="num">3</span></a>
				</div>
				<div class='box next'>
					<a class="ca-btn" href="#">
						<span>Let's Do it!</span>
					</a>
				</div>
				<div class="oops" style='display:none;'>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class='midlands'>
		<form class='merlin' action='/register' method='POST'>
			
			<div class='step start clearfix'>
				<p>Create a login using <strong>Facebook</strong> or <strong>Twitter</strong></p>
				<div class='social-login clearfix'>
					<a href='' class='login-facebook west'><span>Facebook</span></a>
					<a href='' class='login-twitter west'><span>Twitter</span></a>
				</div>
				<p><a class='step_link' href='#user-info'>Click Here</a> <span class="italic">if you want to create a login without Facebook or Twitter</span></p>
			</div><!--end step-->
			
			<div class='step user-info clearfix' style='display:none;'>
				<p>Give a Minute users use their real names. <a href='#' class='real-names'>Here's Why</a>.</p>
				
				<div class="west">
					<div class="row">
						<input value='First name' type='text' name='f_name' id='f_name' class='f_name' tabindex='1'/>
					</div>
					<div class="row">
						<input value='Last name' type='text' name='l_name' id='l_name' class='l_name' tabindex='2'/>
					</div>
					<div class="row">
						<label for='email'>E-mail</label>
						<input value='' type='text' name='email' id='email' class='email' tabindex='3'/>
					</div>
					<div class="row row-password">
						<label for='password'>Password</label>
						<input value='' type='password' name='password' id='password' class='password' tabindex='4'/>
						<span class="pass-strength"></span>
					</div>
					<div class="row row-error">
						<span class="email-error" style='display:none;'>Please enter a valid e-mail address</span>
					</div>
				</div>
				
				<div class="east">
					<input type='checkbox' name='tos-user-info' id='tos-user-info' class='tos-user-info'/>
					<label class="tos-user-info-label" for='tos-user-info'>I accept and have read<br />the <a href='#' target='_blank' class='toc-link'>Terms and Conditions</a></label>
				</div>
			</div><!--end step-->
			
			<div class='step email-lookup clearfix ' style='display:none;'>
				<p class="west">Verifying account information...</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step email-step clearfix ' style='display:none;'>
				<p><strong>You can opt to receive email notifications from Give a Minute projects.</strong><br />Please Provide an email.</p>
				
				<input type='text' name='email' id='email' class='email'/>
				
				<input type='checkbox' name='tos-email' id='tos-email' class='tos-email'/>
				<label class="tos-email-label" for='tos-email'>I accept and have read<br />the <a href='/tou' target='_blank'>Terms and Conditions</a></label>
			</div><!--end step-->
			
			<div class='step sms-lookup clearfix ' style='display:none;'>
				<div class='west'>
					<p>If you added any ideas to Give a Minute via SMS, you can link those ideas by entering your phone number below.</p>
					<p>
						<input type='text' name='phone_1' id='phone_1' class='phone_1'/>
						<input type='text' name='phone_2' id='phone_2' class='phone_2'/>
						<span class="phone-dash west">&ndash;</span>
						<input type='text' name='phone_3' id='phone_3' class='phone_3'/>
						<input type='button' class='submit-sms-query' name='lookup_sms' value='Find My Ideas' />
					</p>
				</div>
				<div class='east'>
					<input type='checkbox' name='no_sms' id='no_sms' class='no_sms'/>
					<label class="no_sms_label" for='no_sms'>I didn't text any ideas.</label>
				</div>
			</div><!--end step-->
			
			<div class='step sms-process clearfix ' style='display:none;'>
				<p class="west">Finding SMS submissions...</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step sms-results clearfix ' style='display:none;'>
				<p><strong>We found 2 ideas from that telephone number.</strong></p>
				<p>We'll add these ideas to your profile and link any new ideas that come in from that number.</p>
			</div><!--end step-->
			
			<div class='step sms-no-results clearfix ' style='display:none;'>
				<p>We couldn't find an ideas associated with</p>
				<p class="phone-num">(718) 222-6680</p>
			</div><!--end step-->
			
			<div class='step sms-already-used clearfix ' style='display:none;'>
				<p>The number</p>
				<p>(XXX) XXX-XXXX</p>
				<p>is already associated with an account.</p>
			</div><!--end step-->
			
			<div class='step finish clearfix ' style='display:none;'>
				<p class="west">Thank you for joining.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
		</form>
	</div>

	<div class='foothills'>
		<a class='back' href='#'><span>Back</span></a>
	</div>
	
	<div class='modal-content real-name'>
		<h2><strong>This</strong> is why you use your real name.</h2>
		<p>Blahdy blahdy blah.</p>
		<a class='close' href="#"><span>close</span></a>
	</div>
	
	
	
</div>
<div class='modal-content toc'>
	<h2><strong>Terms and Conditions</strong></h2>
	<div class="scroll-pane">
		{% include 'partials/toc.html' %}
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>

<script>
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Register');
		
		tc.jQ('a.real-names').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.real-name'),
			init:function(modal,callback){
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.preventDefault();
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ('a.toc-link').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.toc'),
			init:function(modal,callback){
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.preventDefault();
			e.data.app.components.modal.show(e.data);
		});
		
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('form.merlin'),
			progress_element:tc.jQ('.merlin-progress'),
			next_button:tc.jQ('.ca-btn'),
			back_button:tc.jQ('.foothills .back'),
			error_indicator:tc.jQ('.oops'),
			watch_keypress:true,
			first_step:'start',
			data:{
				f_name:null,
				l_name:null,
				email:null,
				password:null,
				sms_number:null
			},
			steps:{
				'start':{
					progress_selector:'.1',
					selector:'.start',
					prev_step:null,
					next_step:'user-info'
				},
				'user-info':{
					progress_selector:'.2',
					selector:'.user-info',
					prev_step:'start',
					next_step:'email-lookup',
					validators:{
						'input.f_name':['max-32','min-3','required'],
						'input.l_name':['max-32','min-3','required'],
						'input.email':['max-32','min-3','email','required'],
						'input.password':['password-20','required'],
						'input.tos-user-info':['required']
					},
					hints:{
						'f_name':'First name',
						'l_name':'Last name'
					},
					init:function(merlin,dom){
						dom.find('input.f_name:not(.has-been-focused)').val('First name');
						dom.find('input.email:not(.has-been-focused)').val('');
						dom.find('input.password:not(.has-been-focused)').val('');
					},
					finish:function(merlin,dom){
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							f_name:dom.find('input.f_name').val(),
							l_name:dom.find('input.l_name').val(),
							email:dom.find('input.email').val(),
							password:dom.find('input.password').val()
						});
					}
				},
				'email-lookup':{
					progress_selector:null,
					selector:'.email-lookup',
					prev_step:'user-info',
					next_step:'sms-lookup',
					init:function(merlin,dom){
						tc.timer(1000,function(){
							if(merlin.options.data.email == 'bad@email.com'){
								merlin.options.steps['user-info'].validators['input.email'].push('not-'+merlin.options.data.email);
								if(merlin.options.error_indicator){
									merlin.options.error_indicator.html('<span>Oops! We found someone with that name and e-mail address in our system.</span>').show();
								}
								window.location.hash = 'user-info';
							} else {
								window.location.hash = 'sms-lookup';
							}
						});
					},
				},
				'email-step':{
					progress_selector:'.2',
					selector:'.email-step',
					prev_step:'user-info',
					next_step:'sms-lookup',
					validators:{
						'input.email':['min-3','max-32','email'],
						'input.tos-email':function(merlin,element,step){
							if(step.dom.find('input.email').val().length){
								return tc.validate(element,['required']);
							} else {
								return {
									valid:true
								}
							}
						}
					}
				},
				'sms-lookup':{
					progress_selector:'.3',
					selector:'.sms-lookup',
					prev_step:'email-step',
					next_step:'finish',
					init:function(merlin,dom){
						var inputs;
						inputs = {
							1:dom.find('input.phone_1'),
							2:dom.find('input.phone_2'),
							3:dom.find('input.phone_3'),
							'submit':dom.find('.submit-sms-query')
						}
						inputs[1].not('.has-been-focused').val('').bind('keyup',{inputs:inputs},function(e,d){
							if(e.target.value.length == 3 && e.target.className.indexOf('not-valid') == -1){
								e.data.inputs[2].focus();
							}
						});
						inputs[2].not('.has-been-focused').val('').bind('keyup',{inputs:inputs},function(e,d){
							if(e.target.value.length == 3 && e.target.className.indexOf('not-valid') == -1){
								e.data.inputs[3].focus();
							}
						});
						inputs[3].not('.has-been-focused').val('').bind('keypress',{inputs:inputs},function(e,d){
							tc.util.dump(e.keyCode);
							if(e.keyCode == 13){
								e.data.inputs.submit.click();
							}
						});
						inputs.submit.bind('click',{merlin:merlin,inputs:inputs},function(e,d){
							var i;
							for(i in e.data.inputs){
								if((i != 'submit') && !e.data.inputs[i].hasClass('valid')){
									return false;
								}
							}
							e.data.merlin.show_step('sms-process');
							tc.timer(1000,function(){
								e.data.merlin.show_step('sms-results');
							});
						});
					},
					validators:{
						'input.phone_1':['min-3','max-3','numeric'],
						'input.phone_2':['min-3','max-3','numeric'],
						'input.phone_3':['min-4','max-4','numeric'],
						'input.no_sms':['required']
					}
				},
				'sms-process':{
					progress_selector:'.3',
					selector:'.sms-process',
					prev_step:'sms-lookup',
					next_step:null
				},
				'sms-results':{
					progress_selector:'.3',
					selector:'.sms-results',
					prev_step:'sms-lookup',
					next_step:'finish',
					init:function(merlin,dom){
						
					}
				},
				'sms-no-results':{
					progress_selector:'.3',
					selector:'.sms-no-results',
					prev_step:'sms-lookup',
					next_step:'finish'
				},
				'sms-already-used':{
					progress_selector:'.3',
					selector:'.sms-already-used',
					prev_step:'sms-lookup',
					next_step:'finish'
				},
				'finish':{
					progress_selector:'.3',
					selector:'.finish',
					prev_step:null,
					next_step:null,
					init:function(merlin,dom){
						tc.timer(1000,function(){
							window.location = '/login';
						});
					}
				}
			}
		});
	});
</script>


{% endblock continent %}