{% extends "./partials/base.html" %}

{% block title %}
Change by Us - Join
{% endblock title %}

{% block continent %}
<script>

    facebookClass = function() { this.initialize.apply(this, arguments); };
    facebookClass.prototype = {
        initialize: function () {
        },
        
        connect: function () {
        
            var requiredPerms = ['email','user_about_me','user_birthday','user_website','publish_stream'];

            FB.login(
                function(response) {
                    if(response.session)
                    {
                        window.location.href="/login_facebook";
                        //$.get("/login_facebook", function(data){
                        //    window.location.href=data;
                        //});
                    }
                    else
                    {
                        // login failure, do something here
                    }
                },
                {perms: requiredPerms.join(',')}
            );
        }
    };

    F = new facebookClass();
  
</script>


<div class='continent register'>
	<div class='headlands clearfix'>
		<div class='west'>
			<h1><strong>Change by Us</strong> is a place to share ideas, create projects, build teams, and make our city better.</h1>
		</div>
		<div class='east'>
			<div class='box'>
				<div class='box merlin-progress no-labels clearfix'>
					<a href='#'class='indicator 1 west'><span class="num">1</span></a>
					<a href='#' class='indicator 2 west inactive'><span class="num">2</span></a>
					<a href='#' class='indicator 3 west inactive'><span class="num">3</span></a>
				</div>
				<div class='box next'>
					<a class="ca-btn" href="#">
						<span>Let's Do it!</span>
					</a>
					<div class="oops" style='display:none;'>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class='midlands'>
		<form class='merlin' action='/register' method='POST'>
			
			<div class='step start clearfix'>
				<p>Create a login using <strong>Facebook</strong> or <strong>Twitter</strong></p>
				<div class='social-login clearfix'>
					<a class="login-facebook west" href='#' onclick="F.connect();"><span>Facebook</span></a>
					<a class="login-twitter west" href='/login_twitter'><span>Twitter</span></a>
				</div>
				<p><a class='step_link' href='#user-info'>Click Here</a> <span class="italic">if you want to create a login without Facebook or Twitter</span></p>
			</div><!--end step-->
			
			<div class='step user-info clearfix' style='display:none;'>
				<p>Change by Us uses real names. <a href='/tou#names' class='real-names'>Read Why</a>.</p>
				
				<div class="west">
					<div class="row">
						<label for='f_name'>First name</label>
						<input value='First name' type='text' name='f_name' id='f_name' class='f_name' tabindex='1'/>
					</div>
					<div class="row">
						<label for='l_name'>Last name</label>
						<input value='Last name' type='text' name='l_name' id='l_name' class='l_name' tabindex='2'/>
					</div>
					<div class="row">
						<label for='email'>Email</label>
						<input value='' type='text' name='email' id='email' class='email' tabindex='3'/>
					</div>
					<div class="row row-password">
						<label for='password'>Password</label>
						<input value='' type='password' name='password' id='password' class='password' tabindex='4'/>
						<span class="pass-strength"></span>
					</div>
					<div class="row row-error">
						<span class="email-error" style='display:none;'>Please enter a valid email address</span>
					</div>
				</div>
				
				<div class="east">
					<input type='checkbox' name='tos-user-info' id='tos-user-info' class='tos-user-info'/>
					<label class="tos-user-info-label" for='tos-user-info'>I have read and accept the<br />the <a href='/tou' target='_blank' class='toc-link'>Terms and Conditions</a></label>
				</div>
			</div><!--end step-->
			
			<div class='step email-lookup clearfix spinner-message ' style='display:none;'>
				<p class="west">Verifying account information...</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step email-step clearfix ' style='display:none;'>
				<p><strong>Enter your email to get updates from Change by Us projects.</strong></p>
				
				<div class="fields">
					<input type='text' name='email' id='email' class='email'/>
					<div class="row row-error">
						<span class="email-error" style='display: none'>Please enter a valid email address</span>
					</div>
				</div>
				
				<div class="west">
					<input type='checkbox' name='tos-email' id='tos-email' class='tos-email'/>
					<label class="tos-email-label" for='tos-email'>I accept and have read<br />the <a href='/tou' target='_blank'>Terms and Conditions</a></label>
				</div>
				
		
			</div><!--end step-->
			
			<div class='step sms-lookup clearfix ' style='display:none;'>
				<div class='west'>
					<p>Did you text your ideas to Give a Minute?  Enter your phone number to link them to your profile.</p>
					<p>
						<input type='text' name='phone_1' id='phone_1' class='phone_1'/>
						<input type='text' name='phone_2' id='phone_2' class='phone_2'/>
						<span class="phone-dash west">&ndash;</span>
						<input type='text' name='phone_3' id='phone_3' class='phone_3'/>
						<input type='button' class='submit-sms-query rounded-button' name='lookup_sms' value='Find My Ideas' />
					</p>
				</div>
				<div class='east'>
					<input type='checkbox' name='no_sms' id='no_sms' class='no_sms'/>
					<label class="no_sms_label" for='no_sms'>I didn't text any ideas.</label>
				</div>
			</div><!--end step-->
			
			<div class='step sms-process clearfix spinner-message ' style='display:none;'>
				<p class="west">Finding SMS submissions...</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step sms-results clearfix ' style='display:none;'>
				<p><strong>We found <span class='n_ideas'>X</span> ideas from your phone number.</strong></p>
				<p>We'll add these to your profile and any others you send from that number.</p>
			</div><!--end step-->
			
			<div class='step sms-no-results clearfix ' style='display:none;'>
				<p>We couldn't find any ideas sent from</p>
				<p class="phone-num">(718) 222-6680</p>
			</div><!--end step-->
			
			<div class='step sms-already-used clearfix ' style='display:none;'>
				<p>The number</p>
				<p class='phone-num'>(XXX) XXX-XXXX</p>
				<p>is already associated with an account.</p>
			</div><!--end step-->
			
			<div class='step finish clearfix spinner-message ' style='display:none;'>
				<p class="west">Thank you for joining.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step error clearfix ' style='display:none;'>
				<p class="west">There was a problem creating your account.</p>
			</div><!--end step-->
		</form>
	</div>

	<div class='foothills'>
		<a class='back' href='#' style='display:none'><span>Back</span></a>
	</div>
	

</div>
<div class='template-content modal-content toc'>
	<h2><strong>Terms and Conditions</strong></h2>
	<div class="scroll-pane">
		{% include 'partials/toc.html' %}
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>
{% endblock continent %}


{% block page_js %}
<script>
	
	app_page.features.push(tc.user_handler({
		user_handler:function(){
			window.location = '/useraccount';
		}
	}));
	
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Register');
		
		/*tc.jQ('a.toc-link').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.toc'),
			init:function(modal,callback){
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.preventDefault();
			e.data.app.components.modal.show(e.data);
		});*/
		
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('form.merlin'),
			progress_element:tc.jQ('.merlin-progress'),
			next_button:tc.jQ('.ca-btn'),
			back_button:tc.jQ('.foothills .back'),
			error_indicator:tc.jQ('.oops'),
			watch_keypress:true,
			magic:false,
			first_step:'start',
			data:{
				f_name:null,
				l_name:null,
				email:null,
				password:null,
				sms_phone:'-1'
			},
			steps:{
				/* Step: Start  */
				'start':{
					progress_selector:'.1',
					selector:'.start',
					prev_step:null,
					next_step:'user-info',
					use_for_history:true,
					init:function(merlin,dom){
						tc.jQ('.foothills a.back').hide();
					},
					finish:function(merlin,dom){
						tc.jQ('.foothills a.back').show();
					}
				},
				/* Step: user-info  */
				'user-info':{
					progress_selector:'.2',
					selector:'.user-info',
					prev_step:'start',
					next_step:'email-lookup',
					use_for_history:true,
					inputs:{
						f_name:{
							selector:'input.f_name',
							validators:['max-32','min-3','required'],
							hint:'First name'
						},
						l_name:{
							selector:'input.l_name',
							validators:['max-32','min-3','required'],
							hint:'Last name'
						},
						email:{
							selector:'input.email',
							validators:['max-32','min-3','email','required'],
							hint:''
						},
						password:{
							selector:'input.password',
							validators:['password-20','required'],
							hint:''
						},
						tos_user_info:{
							selector:'input.tos-user-info',
							validators:['required']
						},
					},
					finish:function(merlin,dom){
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							f_name:merlin.current_step.inputs.f_name.dom.val(),
							l_name:merlin.current_step.inputs.l_name.dom.val(),
							email:merlin.current_step.inputs.email.dom.val(),
							password:merlin.current_step.inputs.password.dom.val()
						});
					}
				},
				/* Step: email-lookup  */
				'email-lookup':{
					progress_selector:null,
					selector:'.email-lookup',
					prev_step:'user-info',
					next_step:'sms-lookup',
					init:function(merlin,dom){
						tc.jQ.ajax({
							url:'/join/users',
							data:merlin.options.data,
							context:merlin,
							dataType:'json',
							success:function(data,ts,xhr){
								if(data.n_users){
									merlin.options.steps['user-info'].inputs['email'].validators.push('not-'+merlin.options.data.email);
									if(merlin.options.error_indicator){
										merlin.options.error_indicator.html('<span>Oops! We found someone with that name and email address in our system. <a href="http://localhost:9090/login#forgot-password" class="oops-forgot">Forgot your password?</a></span>').show();
									}
									window.location.hash = 'user-info';
								} else {
									window.location.hash = 'sms-lookup';
								}
							}
						});
					}
				},
				/* Step: email-step  */
				'email-step':{
					progress_selector:'.2',
					selector:'.email-step',
					prev_step:'user-info',
					next_step:'sms-lookup',
					use_for_history:true,
					inputs:{
						email:{
							selector:'input.email',
							validators:['min-3','max-32','email'],
							hint:''
						},
						tos_email:{
							selector:'input.tos-email',
							validators:function(merlin,element,step){
								if(step.dom.find('input.email').val().length){
									return tc.validate(element,['required']);
								} else {
									return {
										valid:true
									}
								}
							},
							hint:''
						}
					}
				},
				/* Step: sms-lookup  */
				'sms-lookup':{
					progress_selector:'.3',
					selector:'.sms-lookup',
					prev_step:'email-step',
					next_step:'finish',
					use_for_history:true,
					inputs:{
						phone_1:{
							selector:'input.phone_1',
							validators:['min-3','max-3','numeric'],
							hint:'',
							handlers:{
								keyup:function(e,d){
									if(e.target.value.length == 3 && e.target.className.indexOf('not-valid') == -1){
										e.data.me.current_step.inputs.phone_2.dom.focus();
									}
								}
							}
						},
						phone_2:{
							selector:'input.phone_2',
							validators:['min-3','max-3','numeric'],
							hint:'',
							handlers:{
								keyup:function(e,d){
									if(e.target.value.length == 3 && e.target.className.indexOf('not-valid') == -1){
										e.data.me.current_step.inputs.phone_3.dom.focus();
									} else if(e.target.value.length == 0 && e.which == 8){
										e.data.me.current_step.inputs.phone_1.dom.focus();
									}
								}
							}
						},
						phone_3:{
							selector:'input.phone_3',
							validators:['min-4','max-4','numeric'],
							hint:'',
							handlers:{
								keyup:function(e,d){
									if(e.keyCode == 13){
										e.data.me.current_step.inputs.submit.dom.click();
									} else if(e.target.value.length == 0 && e.which == 8){
										e.data.me.current_step.inputs.phone_2.dom.focus();
									}
								}
							}
						},
						submit:{
							selector:'.submit-sms-query',
							handlers:{
								click:function(e,d){
									var i;
									for(i in e.data.me.current_step.inputs){
										if((i != 'submit' && i != 'no_sms') && !e.data.me.current_step.inputs[i].dom.hasClass('valid')){
											return false;
										}
									}
									e.data.me.options.data.sms_phone = e.data.me.current_step.inputs.phone_1.dom.val()+e.data.me.current_step.inputs.phone_2.dom.val()+e.data.me.current_step.inputs.phone_3.dom.val();
									window.location.hash = 'sms-process';
								}
							}
						},
						no_sms:{
							selector:'input.no_sms',
							validators:['required']
						}
					}
				},
				/* Step: sms-process  */
				'sms-process':{
					progress_selector:'.3',
					selector:'.sms-process',
					prev_step:'sms-lookup',
					next_step:null,
					init:function(merlin,dom){
						tc.jQ.ajax({
							url:'/join/ideas',
							data:merlin.options.data,
							context:merlin,
							dataType:'json',
							success:function(data,ts,xhr){
								if(data.sms_number_already_used){
									window.location.hash = 'sms-already-used';
								}else if(data.n_ideas){
									this.options.steps['sms-results'].data = data;
									window.location.hash = 'sms-results';
								} else {
									window.location.hash = 'sms-no-results';
								}
							}
						});
					}
				},
				/* Step: sms-results  */
				'sms-results':{
					progress_selector:'.3',
					selector:'.sms-results',
					prev_step:'sms-lookup',
					next_step:'finish',
					data:{
						n_ideas:null
					},
					init:function(merlin,dom){
						dom.find('span.n_ideas').text(merlin.current_step.data.n_ideas);
						dom.find('p.phone-num').html('('+merlin.options.data.sms_phone.substring(0,3)+') '+merlin.options.data.sms_phone.substring(3,6)+'-'+merlin.options.data.sms_phone.substring(6,10));
					}
				},
				/* Step: sms-no-results  */
				'sms-no-results':{
					progress_selector:'.3',
					selector:'.sms-no-results',
					prev_step:'sms-lookup',
					next_step:'finish',
					init:function(merlin,dom){
						dom.find('p.phone-num').html('('+merlin.options.data.sms_phone.substring(0,3)+') '+merlin.options.data.sms_phone.substring(3,6)+'-'+merlin.options.data.sms_phone.substring(6,10));
					}
				},
				/* Step: sms-already-used  */
				'sms-already-used':{
					progress_selector:'.3',
					selector:'.sms-already-used',
					prev_step:'sms-lookup',
					next_step:'finish',
					init:function(merlin,dom){
						dom.find('p.phone-num').html('('+merlin.options.data.sms_phone.substring(0,3)+') '+merlin.options.data.sms_phone.substring(3,6)+'-'+merlin.options.data.sms_phone.substring(6,10));
						merlin.options.data.sms_phone = '-1';
					}
				},
				/* Step: finish  */
				'finish':{
					progress_selector:'.3',
					selector:'.finish',
					prev_step:null,
					next_step:null,
					init:function(merlin,dom){
						tc.jQ.ajax({
							type:'POST',
							url:'/join',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False' || data == 'None'){
									window.location.hash = 'error';
									return;
								}
								if(merlin.app.app_page.data.redir_from){
									window.location = merlin.app.app_page.data.redir_from;
								} else {
									window.location = '/useraccount';
								}
							}
						});
					}
				},
				'error':{
					selector:'.step.error'
				}
			}
		});
	});
</script>
{% endblock page_js %}