{% extends "./partials/base.html" %}

{% block title %}
Change by Us NYC - Leaderboard
{% endblock title %}

{% block continent %}

<div class='continent leaderboard'>
	<div class='headlands'>
		<a href="/" class="back east"><span>Go Back</span></a>
		<h1>Leaderboard<span><strong>Top 10*</strong> Projects<br />on Change by Us</span></h1>
	</div>

	<div class='midlands clearfix'>
		<table class="leaderboard">
			<thead>
				<tr>
					<th class='pos'><span>Pos</span></th>
					<th class='project-header'><span>Project</th>
					<th class='members'><span>Members <span class="unbold">(<span class="uncaps">x</span>5)</span></span></th>
					<th class='goals'><span>Completed<br />Goals <span class="unbold">(<span class="uncaps">x</span>2)</span></span></th>
					<th class='total last'><span>Total</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class='pos'><span>1</span></td>
					<td class='project-header'>
						<div class='thumb'>
							<img width='60' src="/static/images/thumb_genAvatar100.png" alt="" class="proj"/>
							<span class="overlay-tag"></span>
						</div>
						<div class='main'>
							<h1><a href="">Some Project That Could Be This Long in There!</a></h1>
							<cite class="meta"><em>Created by</em> <a href="">Alexander M.</a></cite>
						</div>
					</td>
					<td class='members'>300<span><strong>60</strong> members</span></td>
					<td class='goals'>20<span><strong>10</strong> goals</span></td>
					<td class='total'>320</td>
				</tr>
				
				<tr>
					<td class='pos'><span>2</span></td>
					<td class='project-header'>
						<div class='thumb'>
							<img width='60' src="/static/images/thumb_genAvatar100.png" alt="" class="proj"/>
							<span class="overlay-tag"></span>
						</div>
						<div class='main'>
							<h1><a href="">Some Project That Could Be This Long in There!</a></h1>
							<cite class="meta"><em>Created by</em> <a href="">Alexander M.</a></cite>
						</div>
					</td>
					<td class='members'>300<span><strong>60</strong> members</span></td>
					<td class='goals'>20<span><strong>10</strong> goals</span></td>
					<td class='total'>320</td>
				</tr>
				
				<tr>
					<td class='pos'><span>3</span></td>
					<td class='project-header'>
						<div class='thumb'>
							<img width='60' src="/static/images/thumb_genAvatar100.png" alt="" class="proj"/>
							<span class="overlay-tag"></span>
						</div>
						<div class='main'>
							<h1><a href="">Some Project That Could Be This Long in There!</a></h1>
							<cite class="meta"><em>Created by</em> <a href="">Alexander M.</a></cite>
						</div>
					</td>
					<td class='members'>300<span><strong>60</strong> members</span></td>
					<td class='goals'>20<span><strong>10</strong> goals</span></td>
					<td class='total'>320</td>
				</tr>
				
				<tr>
					<td class='pos'><span>4</span></td>
					<td class='project-header'>
						<div class='thumb'>
							<img width='60' src="/static/images/thumb_genAvatar100.png" alt="" class="proj"/>
							<span class="overlay-tag"></span>
						</div>
						<div class='main'>
							<h1><a href="">Some Project That Could Be This Long in There!</a></h1>
							<cite class="meta"><em>Created by</em> <a href="">Alexander M.</a></cite>
						</div>
					</td>
					<td class='members'>300<span><strong>60</strong> members</span></td>
					<td class='goals'>20<span><strong>10</strong> goals</span></td>
					<td class='total'>320</td>
				</tr>
				
				<tr>
					<td class='pos'><span>5</span></td>
					<td class='project-header'>
						<div class='thumb'>
							<img width='60' src="/static/images/thumb_genAvatar100.png" alt="" class="proj"/>
							<span class="overlay-tag"></span>
						</div>
						<div class='main'>
							<h1><a href="">Some Project That Could Be This Long in There!</a></h1>
							<cite class="meta"><em>Created by</em> <a href="">Alexander M.</a></cite>
						</div>
					</td>
					<td class='members'>300<span><strong>60</strong> members</span></td>
					<td class='goals'>20<span><strong>10</strong> goals</span></td>
					<td class='total'>320</td>
				</tr>
			</tbody>
		</table>
	</div><!--end midlands-->

	<div class='foothills'>
		<p>* The score for each project is based on a variety of other factors.</p>
	</div>
</div>

{% endblock continent %}

{% block page_js %}{% endblock page_js %}