{% extends "./partials/mobilebase.html" %}

{% block continent %}

<div class='merlin mobile clearfix'>

	<ul class="nav clearfix">
		<li><a class="idea current" href="#mobile,idea-merlin">Add an Idea</a></li>
		<li><a class='join' href="#mobile,featured">Join a Project</a></li>
	</ul>
	<ul class="page step add-idea merlin">
		<li class="step idea">
			<div class="console">
				<span class="hey"><span>Hey NYC!</span></span>
				<span class="console-message"><span></span>How can we green our neighborhoods?</span>
			</div>
			<div class="idea-input">
				
				<div class="row">
					<!--<label>What's your idea?</label>-->
					<textarea class='idea'></textarea>
					<div class="char-count">200</div>
				</div>
				<div class="primary-action">
					<a class="ca-btn idea-merlin" href="#">
						<span>Post</span>
					</a>
				</div>
				<div class="about">
					<p class="m14 welcome-about"><strong>Give a Minute</strong> is a new kind of public dialogue. It only takes a minute to think about improving your city, but your ideas can make a world of difference.</p>
				</div>
			</div>
		</li>
		
		<li class="step email-input user-details">
			<div class="about">
				<p class="m18"><strong>Thanks for your idea!</strong></p>
				<p class="m18">We need a little more information.</p>
			</div>
			<div class="detail-input">
				
				<div class="row">
					<label for='email'>E-mail</label>
					<input value='' type='email' name='email' class='email' tabindex='3'/>
					<div class="email-info">
						<p style="display: block;" class="email-error">Please enter a valid email address</p>
						<p>We will never send spam or sell your e-mail address.</p>
						<p><em>See our <a href="/tou" class="toc-link">privacy policy</a> for more details.</em></p>
					</div>
				</div>
				<div class="primary-action">
					<a class="ca-btn idea-merlin" href="#">
						<span>Post</span>
					</a>
				</div>
			</div>
		</li>
		
		<li class="step location idea-location">
			<div class="about">
				<p class="m18"><strong>Where is your idea located?</strong></p>
			</div>
			<div class="location-input">
				<div class="row">
						<input type='radio' name='city' id='city' class='location-group location-city'/>
						<label class="tos-user-info-label" for='city'>It's for the whole city</label>
				</div>
				<div class="row">
						<input type='radio' name='city' id='city' class='location-group location-hood'/>
						<label class="tos-user-info-label" for='city'>It's for a specific neighborhood</label>
				</div>
				<div class="row">
					<input value='' type='text' name='neighborhood' id='neighborhood' class='location-group neighborhood location-hood-enter' tabindex='2'/>
					<div class="location-hood-list">
						<ul>
							<li><strong>So</strong>Ho</li>
							<li><strong>So</strong>uth Bronx</li>
						</ul>
					</div>
					<span class="error">Please try entering a neighborhood name, or a nearby borough.</span>
				</div>
				<div class="row">
					<p><strong>Ex.</strong> East Village, Bronx, Harlem, etc.</p>
				</div>
				<div class="primary-action">
					<a class="ca-btn idea-merlin" href="#">
						<span>Post</span>
					</a>
				</div>
			</div>
		</li>
		
		<li class="step finish">
			<p>Thank you for your idea</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</li>
	</ul>
	
	<div class="page step join-list join-list-featured">
		<div class="about">
			<p class="m24"><strong>Be a part of the solution.</strong></p> 
			<p class="m18">Join a project or <strong><a href='/'>visit the full site</a></strong> to start your own.</p>
		</div>
		<div class="projects carousel">
			<div class="row clearfix">
				<div class="actions east">
					<a class="prev" href="#"><span>back</span></a>
					<a class="next" href="#"><span>next</span></a>
				</div>
				<p><span class="light">FOUND</span> <strong class='n_projects'>XX</strong> projects</p>
			</div>
			<div class="row carousel">
				<div class="scrollable featured">
					<ul class="projects-list clearfix items">
						<li class="swipe" id='1'>
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
						<li class="swipe" id='2'>
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
						<li class="swipe" id='3'>
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Post</span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="page step join-list join-list-related">
		<div class="about">
			<p class="m24"><strong>Be a part of the solution.</strong></p> 
			<p class="m18">Join a project or <strong><a href='/'>visit the full site</a></strong> to start your own.</p>
		</div>
		<div class="projects">
			<div class="row clearfix">
				<div class="actions east">
					<a class="prev" href="#"><span>back</span></a>
					<a class="next" href="#"><span>next</span></a>
				</div>
				<p><span class="light">FOUND</span> <strong class='n_projects'>20</strong> projects</p>
			</div>
			<div class="row carousel">
				
				<div class="scrollable related">
					<ul class="projects-list clearfix items">
						<li class="swipe">
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Post</span>
				</a>
			</div>
		</div>
	</div>

	<div class="page step join-list join-list-invite">
		<div class="about">
			<p class="m28"><strong>You've been invited to join a project!</strong></p>
		</div>
		<div class="projects">
		
			<div class="row carousel">
				<div class="scrollable invite">
					<ul class="projects-list clearfix items">
						<li class="swipe">
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
						<li class="swipe">
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
						<li class="swipe">
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Post</span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="page step join-list join-list-joined">
		<div class="about">
			<p class="m28"><strong>Thanks, you've joined:</strong></p>
		</div>
		<div class="projects">
		
			<div class="row carousel">
				<div class="scrollable joined">
					<ul class="projects-list clearfix items">
						<li class="swipe">
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="proj"/>
								<span class="overlay-tag"></span>
								<span class="member-count">58</span>
							</div>
							<div class="project-info">
								<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
								<span class="creator"><em>Created by </em> Terry Richardson</span>
								<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="view-project">
				<p>Leave the mobile site and</p>
				<a class="submit fancy-caps" href="#">View <span>this</span> project</a>
			</div>
		</div>
	</div>
	
	<div class='step join-process clearfix spinner-message' style='display:none;'>
		<p>Please wait while we add you to this project.</p>
		<p><img class="loading" src='/static/images/loader32x32.gif' /></p>
	</div>
	
	<div class='step join-error clearfix spinner-message' style='display:none;'>
		<p>There was a problem adding you to the project.</p>
	</div>
	
	<div class="page login step">
		<div class="about">
			<p class="m24"><strong>Give a minute is a place to make your city better.</strong> </p>
			<p>Share your ideas. Build projects. Make a change.</p>
		</div>
		<div class="detail-input">
			<div class="row login-social">
				<!--<p class="m18">LOGIN</p>-->
				<div class='social-login clearfix'>
					<!--<label class="m24" for='social'><strong>LOGIN</strong></label>-->
					<p class="mid-strong">LOGIN</p>
					<a href='' class='login-facebook west'><span>Facebook</span></a>
					<a href='' class='login-twitter west'><span>Twitter</span></a>
					
				</div>
				<span class="login-or">or<span>
			</div>
			<div class='merlin mobile-login'>
				<div class='step inputs'>
					<div class="row">
						<label for='email'>E-mail Address</label>
						<input value='' type='email' name='email' id='email' class='email' tabindex='1'/>
					</div>
					<div class="row">
						<label for='email'>Password</label>
						<input value='' type='password' name='password' id='password' class='password' tabindex='2'/>
						<p class="light">Forgot your password?</p>
					</div>
					<div class="row">
						<p class="signup"><a href="/join">Click Here</a> to create a traditional login</p>
						<a class="submit" href="#mobile-login,finish">Submit</a>
					</div>
				</div>
				<div class='step finish clearfix spinner-message' style='display:none;'>
					<p>Thanks for logging in...</p>
					<p><img class="loading" src='/static/images/loader32x32.gif' /></p>
				</div>
			</div>
			<!--
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Post</span>
				</a>
			</div>-->
		</div>
	</div>
	
	<div class="page signup step">
		<div class="about">
			<p class="m24"><strong>Give a minute is a place to make your city better.</strong> </p>
			<p>Share your ideas. Build projects. Make a change.</p>
		</div>
		<div class="detail-input">
			<div class="row login-social">
				<!--<p class="m18">LOGIN</p>-->
				<div class='social-login clearfix'>
					<!--<label class="m24" for='social'><strong>LOGIN</strong></label>-->
					<p class="mid-strong">SIGN UP</p>
					<a href='' class='login-facebook west'><span>Facebook</span></a>
					<a href='' class='login-twitter west'><span>Twitter</span></a>
				</div>
			
			</div>
			
			<div class="row">
				<p class="signup"><a href="/join">Click Here</a> to sign up on the full website without Facebook or Twitter</p>
			</div>
		</div>
	</div>

</div>

<div style='clear:both;'></div>

<style type="text/css" media="screen">
	.template-content{ display:none; }
</style>

<li class="template-content project-carousel-item swipe">
	<div class="thumb">
		<img src="http://placehold.it/50x50" alt="" class="proj"/>
		<span class="overlay-tag"></span>
		<span class="member-count">58</span>
	</div>
	<div class="project-info">
		<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
		<span class="creator"><em>Created by </em> <div class='owner'></div></span>
		<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
	</div>
</li>


{% endblock continent %}


{% block page_js %}
<script>
	
	{% if d.template_data and d.template_data.locations %} app_page.data.locations = {{ d.template_data.locations.json }}; {% endif %}
	
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Mobile');
		
		app.components.carousels = {};
		
		app.data = {
			idea:null
		};
		
		app.components.mobile_merlin = new tc.merlin(app,{
			name:'mobile',
			dom:tc.jQ('.merlin.mobile'),
			first_step:'idea-merlin',
			steps:{
				'idea-merlin':{
					selector:'.step.add-idea',
					init:function(merlin,dom){
						window.scroll(0,0);
						window.location.hash = 'idea-submission,idea';
						merlin.dom.children('.nav').find('.idea').addClass('current').parent().siblings().children('a').removeClass('current');
					}
				},
				'related-processing':{
					init:function(merlin,dom){
						if(!merlin.app.data.idea){
							window.location.hash = 'mobile,featured';
							return;
						}
						tc.jQ.ajax({
							url:'/idea/related',
							data:merlin.app.data.idea,
							context:merlin,
							dataType:'json',
							success:function(data,ts,xhr){
								if(data.citywide.length || data.related.length){
									this.options.steps['related'].step_data = data;
									window.location.hash = 'mobile,related';
								} else {
									window.location.hash = 'mobile,featured';
								}
							}
						});
					}
				},
				'related':{
					selector:'.step.join-list-related',
					init:function(merlin,dom){
						var i, tempitem, tempdom, n_projects;
						window.scroll(0,0);
						merlin.dom.siblings('.nav').find('.join').addClass('current').parent().siblings().children('a').removeClass('current');
						dom.find('.swipe').css('width',dom.find('.scrollable').width());
						
						if(!merlin.app.components.carousels.related){
							merlin.app.components.carousels.related = new tc.carousel({
								element: dom.find(".carousel")
							});
							dom.find('.prev').bind('click',{carousel:merlin.app.components.carousels.related}, function(e){
								e.preventDefault();
								e.stopPropagation();
								e.data.carousel.carousel.prev();
							});
							dom.find('.next').bind('click',{carousel:merlin.app.components.carousels.related},function(e){
								e.preventDefault();
								e.stopPropagation();
								e.data.carousel.carousel.next();
							});
							
							dom.find('.ca-btn').bind('click',{m:merlin,carousel:merlin.app.components.carousels.related}, function(e){
								e.stopPropagation();
								e.preventDefault();
								e.data.m.options.steps['join-process'].data.project_id = e.data.carousel.carousel.getItems()[e.data.carousel.carousel.getIndex()].id;
								window.location.hash = 'mobile,join-process';
							});
						}
						
						if(merlin.app.components.carousels.related && merlin.options.steps['related'].step_data){
							n_projects = 0;
							merlin.app.components.carousels.related.carousel.getItems().remove();
							for(i in merlin.options.steps['related'].step_data.related){
								tempitem = merlin.options.steps['related'].step_data.related[i];
								if(!tempitem){
									continue;
								}
								tempdom = tc.jQ('.template-content.project-carousel-item').clone().removeClass('template-content');
								if(tempitem.image_id){
									tempdom.find('img').attr('src','/images/'+(tempitem.image_id%10)+'/'+tempitem.image_id+'.png');
								}
								tempdom.find('.member-count').text(tempitem.num_members);
								tempdom.find('a').attr('href','/project/'+tempitem.project_id).text(tempitem.title);
								tempdom.find('.description').text(tempitem.description);
								tempdom.find('.owner').text('XXXX XXXXX');
								tempdom.attr('id',tempitem.project_id);
								tempdom.css('width',dom.find('.scrollable').width());
								merlin.app.components.carousels.related.carousel.addItem(tempdom);
								n_projects++;
							}
							for(i in merlin.options.steps['related'].step_data.citywide){
								tempitem = merlin.options.steps['related'].step_data.related[i];
								if(!tempitem){
									continue;
								}
								tempdom = tc.jQ('.template-content.project-carousel-item').clone().removeClass('template-content');
								if(tempitem.image_id){
									tempdom.find('img').attr('src','/images/'+(tempitem.image_id%10)+'/'+tempitem.image_id+'.png');
								}
								tempdom.find('.member-count').text(tempitem.num_members);
								tempdom.find('a').attr('href','/project/'+tempitem.project_id).text(tempitem.title);
								tempdom.find('.description').text(tempitem.description);
								tempdom.find('.owner').text('XXXX XXXXX');
								tempdom.attr('id',tempitem.project_id);
								tempdom.css('width',dom.find('.scrollable').width());
								merlin.app.components.carousels.related.carousel.addItem(tempdom);
								n_projects++;
							}
							merlin.app.components.carousels.related.carousel.begin();
							dom.find('.n_projects').text(n_projects);
						}
						
					}
				},
				'featured':{
					selector:'.step.join-list-featured',
					init:function(merlin,dom){
						window.scroll(0,0);
						merlin.dom.children('.nav').find('.join').addClass('current').parent().siblings().children('a').removeClass('current');
						dom.find('.swipe').css('width',dom.find('.scrollable').width());
						tc.util.dump(merlin.app.components.carousels.featured);
						if(!merlin.app.components.carousels.featured){
							merlin.app.components.carousels.featured = new tc.carousel({
								element: dom.find(".carousel")
							});
							dom.find('.prev').bind('click',{carousel:merlin.app.components.carousels.featured}, function(e){
								e.preventDefault();
								e.stopPropagation();
								e.data.carousel.carousel.prev();
							});
							dom.find('.next').bind('click',{carousel:merlin.app.components.carousels.featured},function(e){
								e.preventDefault();
								e.stopPropagation();
								e.data.carousel.carousel.next();
							});
							dom.find('.ca-btn').bind('click',{m:merlin,carousel:merlin.app.components.carousels.featured}, function(e){
								e.stopPropagation();
								e.preventDefault();
								e.data.m.options.steps['join-process'].data.project_id = e.data.carousel.carousel.getItems()[e.data.carousel.carousel.getIndex()].id;
								window.location.hash = 'mobile,join-process';
							});
						}
					}
				},
				'invited':{
					selector:'.step.join-list-invite',
					init:function(merlin,dom){
						window.scroll(0,0);
						children('.nav').find('.join').addClass('current').parent().siblings().children('a').removeClass('current');
						dom.find('.swipe').css('width',dom.find('.scrollable').width());
						if(!merlin.app.components.carousels.invited){
							merlin.app.components.carousels.invited = new tc.carousel({
								element: dom.find(".carousel")
							});
							dom.find('.prev').bind('click',{carousel:merlin.app.components.carousels.invited}, function(e){
								e.preventDefault();
								e.stopPropagation();
								e.data.carousel.carousel.prev();
							});
							dom.find('.next').bind('click',{carousel:merlin.app.components.carousels.invited},function(e){
								e.preventDefault();
								e.stopPropagation();
								e.data.carousel.carousel.next();
							});
							dom.find('.ca-btn').bind('click',{m:merlin,carousel:merlin.app.components.carousels.invited}, function(e){
								e.stopPropagation();
								e.preventDefault();
								e.data.m.options.steps['join-process'].data.project_id = e.data.carousel.carousel.getItems()[e.data.carousel.carousel.getIndex()].id;
								window.location.hash = 'mobile,join-process';
							});
						}
					}
				},
				'join-process':{
					data:{
						project_id:null,
						message:'I joined from my mobile device!'
					},
					selector:'.step.join-process',
					init:function(merlin,dom){
						tc.util.dump(merlin.app.app_page.user);
						if(!merlin.app.app_page.user){
							merlin.app.components.mobile_login.options.steps.finish.data.next_step = 'mobile,join-process';
							window.location.hash = 'mobile,login';
							return;
						}
						tc.jQ.ajax({
							type:'POST',
							url:'/project/join',
							data:merlin.current_step.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									window.location.hash = 'mobile,join-error';
									return;
								}
								window.location.hash = 'mobile,joined';
							}
						});
					}
				},
				'join-error':{
					selector:'.step.join-error'
				},
				'joined':{
					selector:'.step.join-list-joined',
					init:function(merlin,dom){
						window.scroll(0,0);
						children('.nav').find('.join').addClass('current').parent().siblings().children('a').removeClass('current');
						tc.jQ.ajax({
							type:'GET',
							url:'/project/small',
							data:merlin.options.steps['join-process'].data,
							context:merlin,
							dataType:'json',
							success:function(data,ts,xhr){
								this.current_step.dom.find('')
								if(data.image_id){
									this.current_step.dom.find('img').attr('src','/images/'+(data.image_id%10)+'/'+data.image_id+'.png');
								}
								this.current_step.dom.find('.member-count').text(data.num_members);
								this.current_step.dom.find('a').attr('href','/project/'+data.project_id).text(tempitem.title);
								this.current_step.dom.find('.description').text(data.description);
								this.current_step.dom.find('.owner').text('XXXX XXXXX');
							}
						});
					}
				},
				'login':{
					selector:'.step.login',
					init:function(merlin,dom){
						window.scroll(0,0);
						window.location.hash = 'mobile-login,inputs';
					}
				},
				'logout':{
					selector:'.step.logout',
					init:function(merlin,dom){
						tc.jQ.ajax({
							type:'POST',
							url:'/logout',
							context:this,
							dataType:'text',
							success:function(data,ts,xhr){
								window.location.hash = '';
								location.reload(true);
							}
						});
					}
				},
				'join':{
					selector:'.step.signup',
					init:function(merlin,dom){
						window.scroll(0,0);
					}
				}
			}
		});
		
		app.components.idea_submission = new tc.merlin(app,{
			name:'idea-submission',
			dom:tc.jQ('.merlin.add-idea'),
			next_button:tc.jQ('a.ca-btn.idea-merlin'),
			data:{
				text:null,
				email:null,
				location_id:null
			},
			first_step:'idea',
			steps:{
				'idea':{
					selector:'.step.idea',
					prev_step:null,
					next_step:'email',
					inputs:{
						idea:{
							selector:'textarea.idea',
							validators:['min-3','max-180','required'],
							counter:{
								selector:'.char-count',
								limit:200
							},
							hint:''
						}
					},
					init:function(merlin,dom){
						window.scroll(0,0);
						tc.util.dump('HERE');
					},
					finish:function(merlin,dom){
						merlin.options.data.text = merlin.current_step.inputs.idea.dom.val();
					}
				},
				'email':{
					selector:'.step.email-input',
					prev_step:'start',
					next_step:'location',
					inputs:{
						email:{
							selector:'input.email',
							validators:['min-3','max-32','email'],
							hint:''
						}
					},
					init:function(merlin,dom){
						window.scroll(0,0);
					},
					finish:function(merlin,dom){
						merlin.options.data.email = merlin.current_step.inputs.email.dom.val();
					}
				},
				'location':{
					selector:'.step.location',
					prev_step:'email',
					next_step:'finish',
					inputs:{
						location:{
							selector:'.location-group',
							validators:tc.locationDropdown.validator
						}
					},
					step_data:{
						locationDropdown:null
					},
					init:function(merlin,dom){
						window.scroll(0,0);
						if(!merlin.current_step.step_data.locationDropdown){
							merlin.current_step.step_data.locationDropdown = new tc.locationDropdown({
								radios:dom.find('input[type=radio]'),
								input:dom.find('input.location-hood-enter'),
								list:dom.find('div.location-hood-list'),
								warning:dom.find('span.error'),
								locations:merlin.app.app_page.data.locations
							});
						}
					},
					finish:function(merlin,dom){
						merlin.options.data.location_id = merlin.current_step.step_data.locationDropdown.getLocation();
					}
				},
				'finish':{
					selector:'.step.finish',
					init:function(merlin,dom){
						tc.jQ.ajax({
							type:'POST',
							url:'/idea',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
								this.app.data.idea = {
									idea_id:data,
									n_limit:5
								};
								window.location.hash = 'mobile,related-processing'
							}
						});
					}
				}
			}
		});
		
		app.components.mobile_login = new tc.merlin(app,{
			name:'mobile-login',
			dom:tc.jQ('.merlin.mobile-login'),
			next_step:tc.jQ(''),
			first_step:'inputs',
			data:{
				email:null,
				password:null
			},
			steps:{
				'inputs':{
					selector:'.step.inputs',
					next_step:'finish',
					inputs:{
						email:{
							selector:'input.email',
							validators:['min-3','max-180','email']
						},
						password:{
							selector:'input.password',
							validators:['min-3','max-180']
						}
					},
					init:function(merlin,dom){
						window.scroll(0,0);
					},
					finish:function(merlin,dom){
						merlin.options.data.email = merlin.current_step.inputs.email.dom.val();
						merlin.options.data.password = merlin.current_step.inputs.password.dom.val();
					}
				},
				'finish':{
					selector:'.step.finish',
					data:{
						next_step:null
					},
					init:function(merlin,dom){
						tc.jQ.ajax({
							type:'POST',
							url:'/login',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									window.location.hash = 'mobile-login,login-failure';
									return;
								}
								if(this.current_step.data.next_step){
									merlin.app.app_page.user = true;
									window.location.hash = this.current_step.data.next_step;
								} else {
									window.location.hash = 'mobile,featured';
									location.reload(true);
								}
								
							}
						});
					}
				}
			}
		});
		
	});
	
</script>

{% endblock page_js  %}