{% extends "./partials/mobilebase.html" %}

{% block continent %}

<div class='merlin mobile clearfix'>

	<ul class="nav clearfix">
		<li><a class="current" href="#mobile,idea-merlin">Add an Idea</a></li>
		<li><a href="#mobile,featured">Join a Project</a></li>
	</ul>
	<ul class="page step add-idea merlin">
		<li class="step idea">
			<div class="console">
				<span class="hey"><span>Hey NYC!</span></span>
				<span class="console-message"><span></span>How can we green our neighborhoods?</span>
			</div>
			<div class="idea-input">
				
				<div class="row">
					<!--<label>What's your idea?</label>-->
					<textarea class='idea'></textarea>
					<div class="char-count">200</div>
				</div>
				<div class="primary-action">
					<a class="ca-btn" href="#">
						<span>Post</span>
					</a>
				</div>
				<div class="about">
					<p class="m14 welcome-about"><strong>Give a Minute</strong> is a new kind of public dialogue. It only takes a minute to think about improving your city, but your ideas can make a world of difference.</p>
				</div>
			</div>
		</li>
		
		<li class="step email-input user-details">
			<div class="about">
				<p class="m18"><strong>Thanks for your idea!</strong></p>
				<p class="m18">We need a little more information.</p>
			</div>
			<div class="detail-input">
				
				<div class="row">
					<label for='email'>E-mail</label>
					<input value='' type='email' name='email' class='email' tabindex='3'/>
				</div>
				<div class="primary-action">
					<a class="ca-btn" href="#">
						<span>Post</span>
					</a>
				</div>
			</div>
		</li>
		
		<li class="step location idea-location">
			<div class="about">
				<p class="m18"><strong>Where is your idea located?</strong></p>
			</div>
			<div class="location-input">
				<div class="row">
						<input type='radio' name='city' id='city' class='location-group location-city'/>
						<label class="tos-user-info-label" for='city'>It's for the whole city</label>
				</div>
				<div class="row">
						<input type='radio' name='city' id='city' class='location-group location-hood'/>
						<label class="tos-user-info-label" for='city'>It's for a specific neighborhood</label>
				</div>
				<div class="row">
					<input value='' type='text' name='neighborhood' id='neighborhood' class='location-group neighborhood location-hood-enter' tabindex='2'/>
					<div class="location-hood-list">
						<ul>
							<li><strong>So</strong>Ho</li>
							<li><strong>So</strong>uth Bronx</li>
						</ul>
					</div>
					<span class="error">Please try entering a neighborhood name, or a nearby borough.</span>
				</div>
				<div class="row">
					<p><strong>Ex.</strong> East Village, Bronx, Harlem, etc.</p>
				</div>
				<div class="primary-action">
					<a class="ca-btn" href="#">
						<span>Post</span>
					</a>
				</div>
			</div>
		</li>
		
		<li class="step finish">
			<p>Thank you for your idea</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</li>
	</ul>
	
	<div class="page step join-list join-list-related">
		<div class="about">
			<p class="m24"><strong>Be a part of the solution.</strong></p> 
			<p class="m18">Join a project or <strong>visit the full site</strong> to start your own.</p>
		</div>
		<div class="projects">
			<div class="row clearfix">
				<div class="actions east">
					<a class="back" href="#"><span>back</span></a>
					<a class="next" href="#"><span>next</span></a>
				</div>
				<p><span class="light">FOUND</span> <strong>20</strong> projects</p>
			</div>
			<div class="row">
				<ul class="projects-list clearfix">
					<li>
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> Terry Richardson</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Post</span>
				</a>
			</div>
		</div>
	</div>

	<div class="page step join-list join-list-invite">
		<div class="about">
			<p class="m28"><strong>You've been invited to join a project!</strong></p>
		</div>
		<div class="projects">
		
			<div class="row">
				<ul class="projects-list clearfix">
					<li>
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> XXXX XXXXXX</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Post</span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="page step join-list join-list-joined">
		<div class="about">
			<p class="m28"><strong>Thanks, you've joined:</strong></p>
		</div>
		<div class="projects">
		
			<div class="row">
				<ul class="projects-list display clearfix">
					<li>
						<div class="thumb">
							<img src="http://placehold.it/50x50" alt="" class="proj"/>
							<span class="overlay-tag"></span>
							<span class="member-count">58</span>
						</div>
						<div class="project-info">
							<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
							<span class="creator"><em>Created by </em> XXXX XXXXXX</span>
							<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="view-project">
				<p>Leave the mobile site and</p>
				<a class="submit fancy-caps" href="#">View <span>this</span> project</a>
			</div>
		</div>
	</div>

	<div class="page login step">
		<div class="about">
			<p class="m24"><strong>Give a minute is a place to make your city better.</strong> </p>
			<p>Share your ideas. Build projects. Make a change.</p>
		</div>
		<div class="detail-input">
			<div class="row login-social">
				<!--<p class="m18">LOGIN</p>-->
				<div class='social-login clearfix'>
					<!--<label class="m24" for='social'><strong>LOGIN</strong></label>-->
					<p class="mid-strong">LOGIN</p>
					<a href='' class='login-facebook west'><span>Facebook</span></a>
					<a href='' class='login-twitter west'><span>Twitter</span></a>
					
				</div>
				<span class="login-or">or<span>
			</div>
			<div class="row">
				<label for='email'>E-mail Address</label>
				<input value='' type='email' name='f_name' id='f_name' class='f_name' tabindex='1'/>
			</div>
			<div class="row">
				<label for='email'>Password</label>
				<input value='' type='password' name='l_name' id='l_name' class='l_name' tabindex='2'/>
				<p class="light">Forgot your password?</p>
			</div>
			<div class="row">
				<p class="signup"><a href="#">Click Here</a> to create a traditional login</p>
				<a class="submit" href="#">Submit</a>
			</div>
			<!--
			<div class="primary-action">
				<a class="ca-btn" href="#">
					<span>Post</span>
				</a>
			</div>-->
		</div>
	</div>
	
	<div class="page signup step">
		<div class="about">
			<p class="m24"><strong>Give a minute is a place to make your city better.</strong> </p>
			<p>Share your ideas. Build projects. Make a change.</p>
		</div>
		<div class="detail-input">
			<div class="row login-social">
				<!--<p class="m18">LOGIN</p>-->
				<div class='social-login clearfix'>
					<!--<label class="m24" for='social'><strong>LOGIN</strong></label>-->
					<p class="mid-strong">SIGN UP</p>
					<a href='' class='login-facebook west'><span>Facebook</span></a>
					<a href='' class='login-twitter west'><span>Twitter</span></a>
				</div>
			
			</div>
			
			<div class="row">
				<p class="signup"><a href="#">Click Here</a> to sign up on the full website without Facebook or Twitter</p>
			</div>
		</div>
	</div>

</div>

<div style='clear:both;'></div>

{% endblock continent %}


{% block page_js %}
<script>
	
	{% if d.template_data and d.template_data.locations %} app_page.data.locations = {{ d.template_data.locations.json }}; {% endif %}
	
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Mobile');
		
		app.components.idea_submission = new tc.merlin(app,{
			name:'mobile',
			dom:tc.jQ('.merlin.mobile'),
			first_step:'idea',
			steps:{
				'idea-merlin':{
					selector:'.step.add-idea',
					init:function(){
						window.scroll(0,0);
						window.location.hash = 'idea-submission,idea';
					}
				},
				'related':{
					selector:'.step.join-list-related',
					init:function(merlin,dom){
						window.scroll(0,0);
					}
				},
				'featured':{
					selector:'.step.join-list-related',
					init:function(merlin,dom){
						window.scroll(0,0);
					}
				},
				'invited':{
					selector:'.step.join-list-invite',
					init:function(merlin,dom){
						window.scroll(0,0);
					}
				},
				'joined':{
					selector:'.step.join-list-joined',
					init:function(merlin,dom){
						window.scroll(0,0);
					}
				},
				'login':{
					selector:'.step.login',
					init:function(merlin,dom){
						window.scroll(0,0);
					}
				},
				'join':{
					selector:'.step.signup',
					init:function(merlin,dom){
						window.scroll(0,0);
					}
				}
			}
		});
			
		
		app.components.idea_submission = new tc.merlin(app,{
			name:'idea-submission',
			dom:tc.jQ('.merlin.add-idea'),
			next_button:tc.jQ('a.ca-btn'),
			first_step:'idea',
			data:{
				text:null,
				email:null,
				location_id:null
			},
			steps:{
				'idea':{
					selector:'.step.idea',
					prev_step:null,
					next_step:'email',
					inputs:{
						idea:{
							selector:'textarea.idea',
							validators:['min-3','max-180','required'],
							counter:{
								selector:'.char-count',
								limit:200
							}
						}
					},
					init:function(merlin,dom){
						window.scroll(0,0);
						tc.util.dump('HERE');
					},
					finish:function(merlin,dom){
						merlin.options.data.text = merlin.current_step.inputs.idea.dom.val();
					}
				},
				'email':{
					selector:'.step.email-input',
					prev_step:'start',
					next_step:'location',
					inputs:{
						email:{
							selector:'input.email',
							validators:['min-3','max-32','email']
						}
					},
					init:function(merlin,dom){
						window.scroll(0,0);
					},
					finish:function(merlin,dom){
						merlin.options.data.email = merlin.current_step.inputs.email.dom.val();
					}
				},
				'location':{
					selector:'.step.location',
					prev_step:'email',
					next_step:'finish',
					inputs:{
						location:{
							selector:'.location-group',
							validators:tc.locationDropdown.validator
						}
					},
					step_data:{
						locationDropdown:null
					},
					init:function(merlin,dom){
						window.scroll(0,0);
						if(!merlin.current_step.step_data.locationDropdown){
							merlin.current_step.step_data.locationDropdown = new tc.locationDropdown({
								radios:dom.find('input[type=radio]'),
								input:dom.find('input.location-hood-enter'),
								list:dom.find('div.location-hood-list'),
								warning:dom.find('span.error'),
								locations:merlin.app.app_page.data.locations
							});
						}
					},
					finish:function(merlin,dom){
						merlin.options.data.location_id = merlin.current_step.step_data.locationDropdown.getLocation();
					}
				},
				'finish':{
					selector:'.step.finish',
					init:function(merlin,dom){
						tc.util.dump('----ifnishing');
						tc.jQ.ajax({
							type:'POST',
							url:'/idea',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
								tc.util.dump(data);
								window.location.hash = 'mobile,related'
							}
						});
					}
				}
			}
		});
		
	});
	
</script>

{% endblock page_js  %}