{% extends "./partials/mobilebase.html" %}

{% block continent %}

<ul class="nav clearfix">
	<li><a class="current" href="#">Add an Idea</a></li>
	<li><a href="#">Join a Project</a></li>
</ul>

<div class="merlin add-idea">
	<div class="console">
		<span class="hey"><span>Hey NYC!</span></span>
		<span class="console-message"><span></span>How can we green our neighborhoods?</span>
	</div>
	<div class="idea-input">
		
		<div class="row">
			<!--<label>What's your idea?</label>-->
			<textarea></textarea>
			<div class="char-count">200</div>
		</div>
		<div class="primary-action">
			<a class="ca-btn" href="#">
				<span>Post</span>
			</a>
		</div>
		<div class="about">
			<p><strong>Give a Minute</strong> is a new kind of public dialogue. It only takes a minute to think about improving your city, but your ideas can make a world of difference.</p>
		</div>
	</div>
</div>

<div class="merlin add-idea user-details">
	<div class="about">
		<p class="m18"><strong>Thanks!</strong> Please Tell us about yourself.</p>
	</div>
	<div class="detail-input">
		<div class="row">
			<label for='email'>First name</label>
			<input value='' type='text' name='f_name' id='f_name' class='f_name' tabindex='1'/>
		</div>
		<div class="row">
			<label for='email'>Last Name</label>
			<input value='' type='text' name='l_name' id='l_name' class='l_name' tabindex='2'/>
		</div>
		<div class="row">
			<label for='email'>E-mail</label>
			<input value='' type='email' name='email' id='email' class='email' tabindex='3'/>
		</div>
		<div class="primary-action">
			<a class="ca-btn" href="#">
				<span>Post</span>
			</a>
		</div>
	</div>
</div>

<div class="merlin add-idea idea-location">
	<div class="about">
		<p class="m18"><strong>Where is your idea located?</strong></p>
	</div>
	<div class="location-input">
		<div class="row">
				<input type='checkbox' name='city' id='city' class='tos-user-info'/>
				<label class="tos-user-info-label" for='city'>It's for the whole city.</label>
		</div>
		
		<div class="row">
			<label for='neighborhood'>It for a specific neighborhood</label>
			<input value='' type='text' name='neighborhood' id='neighborhood' class='neighborhood' tabindex='2'/>
		</div>
		<div class="row">
			<p><strong>Ex.</strong> East Village, Bronx, Harlem, etc.</p>
		</div>
		<div class="primary-action">
			<a class="ca-btn" href="#">
				<span>Post</span>
			</a>
		</div>
	</div>
</div>
{% endblock continent %}