{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Project
{% endblock title %}

{% block continent %}

<div class='continent project'>
	
	<div class='headlands clearfix project-header'>
		<div class="thumb">
			<img src="http://placehold.it/100x100" alt="" class="proj"/>
			<span class="overlay-tag"></span>
		</div>
		<div class="tools">
			<a class="ca-btn join-project" href="#">
				<span>Join</span>
			</a>
			<div class="members">
				<a href='#'>Members <span class="counter">0</span></a>
			</div>
			<span class="control"><a href="#">Manage</a></span>
		</div>
		<div class="main">
			<h1>Start a Garden on 161st and Melrose Ave</h1>
			<cite class="meta"><span>Created</span> <span>by</span> <strong>You!</strong></cite>
			<div class="sub-ft">
				<div class="twitter">
					
				</div>
				<div class="facebook">
					
				</div>
			</div>
		</div>
	</div>

	<div class='midlands clearfix'>
		
		<!-- Begin Project.East -->
		<div class="east">
			
			
			<div class="box goals">
				<div class="hd">
					<h2>Goals <span class="counter">0</span></h2>
					<span class="control"><a href="#">Manage</a></span>
					<div class="actions">
						<a href="#" class='add'>Propose Your Own</a>
					</div>
				</div>
				<div class=" " style='display:none;'>
					<h3>Make <span>an</span> Active Goal <span>for this</span> Project</h3>
					<div class="empty-state-box big">
						<a class="close" href="#"><span>Close</span></a>
						<p>Goals help you define what you want to do and get your project done more efficiently. Why not <a href="#">add a goal now?</a></p>
					</div>
				</div>
				
				<div class="active-goals">
					<h3><span>The</span> Active Goal <span>for this</span> Project</h3>
					<div class="carousel">
						<div class="scrollable">
							<ul class="items">
								<li>
									<div class="goal-card">
										<a class="close" href="#"><span>Close</span></a>
										<p>Contact the city parks dept and find out about the permit situation for planting trees in the area.</p>
										<div class="meta">
											<dl>
												<dt>Timeframe</dt>
												<dd>1 Month</dd>
												
												<dt>Point Person</dt>
												<dd>Aaron A.</dd>
											</dl>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="carousel-controls">
							<a class="next" href="#">
								<span>Next</span>
							</a>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class='box goals-add' style='display:none;'>
				
				<div class="actions detached back">
					<a href="#">Back <span>to</span> Project Home</a>
				</div>
				<div class="add-goal form-pane">
					<h2><strong>Add</strong> a Goal</h2>
					<form action="" method="POST">
						<div class="fields">
							<div>
								<label>What's the goal?</label>
								<textarea></textarea>
							</div>
							<div>
								<label>How quickly can it get done?</label>
								<select>
									<option>1 week or less</option>
								</select>
							</div>
							<div>
								<label>Who will be the point person for getting it done?</label>
								<select>
									<option>Dan D.</option>
								</select>
							</div>
						</div>
						<div class="primary-action">
							<a class="ca-btn" href="#">
								<span>Let's Do it!</span>
							</a>
						</div>
					</form>
				</div>
				
			</div>
			
			<div class="box conversation">
				<div class="conversation-controls">
					<a class="rss-btn" href="#"><span><abbr>RSS</abbr></span></a>
					<div class="filters">
						<select>
							<option>All messages</option>
						</select>
					</div>
					<div class=" ">
						<div class="conversation-input">
							<label>Start <span>the</span> Conversation</label>
							<textarea></textarea>
							<p class="hint">Post your update as a comment or add links to photos and videos.</p>
						</div>
						<div class="primary-action">
							<button>Update</button>
						</div>
					</div>
				</div>
				<ol class="comment-stack">
					<li>
						<div class="membrane">
							<a class="close" href="#"><span>Close</span></a>
							<div class="thumb">
								<img src="http://placehold.it/50x50" alt="" class="avatar"/>
							</div>
							<div class="main">
								<cite class="meta-hd"><strong>Administrator</strong> says</cite>
								<blockquote>
									<p>Hey - welcome to give a minute! I'm the adminstrator of the site. If there is anything we can help with, please email us at <a href="">info@giveaminute.info</a>.</p>
								</blockquote>
								<cite class="meta-ft">30 minutes ago</cite>
							</div>
						</div>
					</li>
					<li class="intro">
						<div class="membrane">
							<a class="close" href="#"><span>Close</span></a>
							<div class="thumb">
								<img src="" alt="" class="avatar"/>
							</div>
							<div class="main">
								<cite class="meta-hd"><strong>Drew H.</strong> joined the project!</cite>
								<div class="note-card">
									<cite class="note-meta-hd"></cite>
									<blockquote>
										<p>There's a big need on my street for a garden. I think that it will be a great community builder as well! Definitely more gardens on 161st street in the South Bronx!</p>
									</blockquote>
									<cite class="note-meta-ft"></cite>
								</div>
								<blockquote>
									<p>There's a big need on my street for a garden. I think that it will be a great community builder as well! Definitely more gardens on 161st street in the South Bronx!</p>
								</blockquote>
								<cite class="meta-ft">5 hours ago</cite>
							</div>
						</div>
					</li>
				</ol>
				<div class="load-more">
					<a href="#">Load older posts</a>
				</div>
			</div>
			
			<!-- begin members -->
			<div class="box members" style='display:none;'>
				<div class="hd">
					<h2>Members <span class="counter">0</span></h2>
					<div class="actions back">
						<a href="#">Back <span>to</span> Project Home</a>
					</div>
				</div>
				<div class="bd">
					<div class="west">
						
						<!-- Begin Members.Empty -->
						<div class="empty-state-box" style='display:none;'>
							<a class="close" href="#"><span>Close</span></a>
							<p>Use the tools at the right to get some members listed in here!</p>
							<button>Add Link</button>
						</div>
						<!-- End Members.Empty -->
						
						<!-- Begin Members.Stack -->
						<ul class="members-stack">
							<li>
								<div class="thumb">
									<img src="" alt="" />
								</div>
								<a href="">Maia A.</a>
							</li>
							<li>
								<div class="thumb">
									<img src="" alt="" />
								</div>
								<a href="">Maia A.</a>
							</li>
							<li>
								<div class="thumb">
									<img src="" alt="" />
								</div>
								<a href="">Maia A.</a>
							</li>
							<li>
								<div class="thumb">
									<img src="" alt="" />
								</div>
								<a href="">Maia A.</a>
							</li>
							<li>
								<div class="thumb">
									<img src="" alt="" />
								</div>
								<a href="">Maia A.</a>
							</li>
							<li>
								<div class="thumb">
									<img src="" alt="" />
								</div>
								<a href="">Maia A.</a>
							</li>
						</ul>
						<!-- End Members.Stack -->
						
					</div>
					
					<div class="east">
						
						<!-- Begin Members.email-invite -->
						<div class="email-invite">
							<div class="sub-hd">
								<h3>Invite People <span>by</span> Email</h3>
							</div>
							<div class="sub-bd">
								<form action="" method="POST">
									<textarea>Add emails separated by commas</textarea>
									<input type="submit" value="Send Invites" />
								</form>
							</div>
						</div>
						<!-- End Members.email-invite -->
						
						<!-- Begin Members.ideas-invite -->
						<div class="ideas-invite">
							<div class="sub-hd">
								<h3>Invite People <span>with</span> Similar Ideas</h3>
								<div class="pagination">
									<span class="cur-index">1</span> of
									<span class="total">34</span>
								</div>
							</div>
							<div class="sub-bd card">
								<div class="controls">
									<span class="control"><a href="#">Flag as Inappropiate</a></span>
									<button class='invite'>Invite</button>
								</div>
								<div class="carousel">
									<div class="scrollable">
										<ul class="items">
											<li>
												<div class="note-card">
													<cite class="note-meta-hd"><strong>Roger</strong> says &mdash;</cite>
													<blockquote>
														<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finially!</p>
													</blockquote>
													<cite class="note-meta-ft">Posted on 02.04.2011 at 2:45pm via Web</cite>
												</div>
											</li>
										</ul>
									</div>
									<div class="carousel-controls">
										<a class="next" href="#">
											<span>Next</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- End Members.ideas-invite -->
						
					</div>
				</div>
			</div>
			<!-- end Members -->
			
			
		</div>
		<!-- End Project.East -->
		
		
		<!-- Begin Project.West -->
		<div class="west">
			
			<div class="box mission">
				
				<div class="hd">
					<h2>Mission</h2>
					<span class="control"><a href="#">Manage</a></span>
				</div>
				
				<div class="bd">
					<div class="our-mission">
						<div class="sub-hd">
							<h3>Our Mission</h3>
						</div>
						<div class="sub-bd">
							<p>(project.info.mission) Tired of the empty lot at 161st and Melrose? Let's start a community gardgen to help out the Bronx and get the kids up here involved!</p>
						</div>
					</div>
					<div class="endorsements">
						<div class="sub-hd">
							<h3>Endorsements</h3>
						</div>
						<div class="sub-bd">
							Endorsements
						</div>
					</div>
					<div class="location">
						<div class="sub-hd">
							<h3>Location</h3>
						</div>
						<div class="sub-bd">
							<div class="map-holder">Location Text</div>
						</div>
					</div>
					<div class="keywords">
						<div class="sub-hd">
							<h3>Keywords</h3>
						</div>
						<div class="sub-bd">
							<ul class="tag-cloud">
								<li><a href="">(mission.info.keywords)</a></li>
								<li><a href="">garden</a></li>
								<li><a href="">trees</a></li>
								<li><a href="">green</a></li>
								<li><a href="">sustainable</a></li>
								<li><a href="">environment</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- end .box.mission -->
			
			
			
			<div class="box resources">
				
				<div class="hd">
					<h2>Resources</h2>
				</div>
				
				<div class="bd">
					<p class="hint">The resources listed below are separate entities not run by the Give a Minute Projects but used by this Project</p>
					<div class="external-links">
						<div class="sub-hd">
							<h3>External Links</h3>
						</div>
						<div class="sub-bd">
							
							
							<div class="empty-state-box" style='display:none;'>
								<a class="close" href="#"><span>Close</span></a>
								<p><a href="">Add links</a> to anything, including some of our recommended links like Facebook groups and Kickstarter.</p>
								<button class='add-link'>Add Link</button>
							</div>
							
							
							<div class="tooltip" style='display:none;'>
								<div class="tooltip-hd">
									<h2>Bronx River Alliance</h2>
								</div>
								<div class="tooltip-bd">
									<div class="info">
										<div class="thumb">
											<img src="" alt=""/>
										</div>
										<div>
											<p>In collaboration with Alliance partners, we maintain a full-time presence on the river, monitoring river conditions and doing ecological restoration projects that improve water quality, stabilize the riverbanks and improve river habitat.</p>
										</div>
									</div>
									<dl>
										<dt>Visit Us</dt>
										<dd><a href="">bronxriver.org</a></dd>
										<dt>Latest Update</dt>
										<dd>
											<blockquote>
												<p>Wally Arias is an intern from the Phipps Community Development Corporation. For the past few weeks he has been alongside&hellip;</p>
											</blockquote>
										</dd>
									</dl>
								</div>
							</div>
						</div>
					</div>
					<div class="organizations">
						<div class="sub-hd">
							<h3>Organizations</h3>
						</div>
						<div class="sub-bd">
							<div class="empty-state-box" style='display:none;'>
								<a class="close" href="#"><span>Close</span></a>
								<p>When you <a href="">add organizations</a>, we'll introduce your project to the people over there.</p>
								<button>Add Organizations</button>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="ft">
					<button>Add a Resource</button>
				</div>
				
			</div>
			<div class="box fresh-ideas">
				<p class="hint">Check out some new ideas related to your project!</p>
				<div class="hd">
					<h2>
						<select>
							<option>Fresh Ideas</options>
						</select>
					</h2>
				</div>
			</div>
		</div>
		
	</div>

	<div class='foothills'>

	</div>
	
	<div class='modal-content introduce-yourself'>
		<div class='step introduce-message-step'>
			<form action='#'>
				<div class='box note-card'>
					<cite class="note-meta-hd">
						<strong>You</strong> say &ndash;
					</cite>
					<textarea name='introduce-message' class='introduce-message'></textarea>
				</div>
				<div class='box'>
					<h2><strong>Introduce</strong> yourself to the project team.</h2>
					<p>What's your idea for something this project could do?</p>
					<button class='submit'>Send</button>
				</div>
			</form>
		</div>
		
		<div class='step finish'>
			<p>Thanks for introducing yourself...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
		
		<a class='close' href="#"><span>close</span></a>
	</div>
	
	<div class='modal-content invite-user'>
		<div class='step invite-message-step'>
			<h2>Invite XXXXXX To Your Project</h2>
			<p>You can send a message to XXXXXX telling them more about your new project and why he or she should join (optional).</p>
			<form action='#'>
				<textarea name='invite-message' class='invite-message'></textarea>
				<button class='submit'>Invite</button>
			</form>
		</div>
		
		<div class='step finish'>
			<p>Thanks for sending an invitation...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
		
		<a class='close' href="#"><span>close</span></a>
	</div>
	
	<div class='modal-content add-link'>
		<div class='step add-link-step'>
			<h2><strong>Add</strong> a link</h2>
			<p>You can add links to blogs, news items, or one of our recommended links.</p>
			<form action='#'>
				<input name='link-url' class='link-url'></input>
				<button class='submit'>Add</button>
			</form>
			<div class='box'>
				<a class='partner_link' href='http://www.facebook.com'>Facebook</a>
				<p>Create a <strong>Facebook group</strong> and link it here. You can have the option to make the feed from the group show up in your group as well.</p>
			</div>
			<div class='box'>
				<a class='partner_link' href='http://www.kickstarter.com'>Kickstarter</a>
				<p><strong>Raise money</strong> for your project on Kickstarter.</p>
			</div>
			<div class='box'>
				<a class='partner_link' href='http://www.meetup.com'>Meetup</a>
				<p>A popular way of <strong>managing complex groups</strong>.</p>
			</div>
		</div>
		
		<div class='step finish'>
			<p>Thank you for adding a link to this group...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
		
		<a class='close' href="#"><span>close</span></a>
	</div>
	
</div>

<script>
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Project');
		
		app.components.project = new tc.gam.project({
			dom:tc.jQ('.continent.project')
		});
		
		tc.util.dump(app.components.project);
		
		tc.jQ('a.join-project').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.introduce-yourself'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.introduce-yourself'),
					first_step:'introduce-message-step',
					steps:{
						'introduce-message-step':{
							selector:'.introduce-message-step',
							validators:{
								'textarea.introduce-message':['max-200']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('button.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ('button.invite').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.invite-user'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.invite-user'),
					first_step:'invite-message-step',
					steps:{
						'invite-message-step':{
							selector:'.invite-message-step',
							validators:{
								'textarea.invite-message':['max-200']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('button.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ('button.add-link').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.add-link'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.add-link'),
					first_step:'add-link-step',
					steps:{
						'add-link-step':{
							selector:'.add-link-step',
							validators:{
								'input.link-url':['max-200','url']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('a.partner_link').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.util.dump(e.target.href);
									window.open(e.target.href);
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
								dom.find('button.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
	});
</script>
{% endblock continent %}