{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Project
{% endblock title %}

{% block continent %}

<div class='continent project'>

	<div class='headlands clearfix project-header'>
		<div class="green-nyc-project-tag">
			<span>Official Project</span>
		</div>
		<div class="thumb">
			<img src="http://placehold.it/100x100" alt="" class="proj"/>
			<span class="overlay-tag"></span>
		</div>
		<div class="tools">
			{%  if not d.template_data.project_user.data.is_member %}
				<a class="ca-btn join-project" href="#">
					<span>Join</span>
				</a>
			{%  endif %}
			<div class="members {% if d.template_data.project.data.info.members['items']|length > 0 %}has-members{% endif %}">
				Members <span class="counter">{{ d.template_data.project.data.info.members['items']|length }}</span>
			</div>
			{% if d.template_data.project_user.data.is_project_admin %}
				<span class="control"><a href="#show,members">Manage</a></span>
			{% endif %}
		</div>
		<div class="main">
			<h1><a href='#'>{{ d.template_data.project.data.info.title }}</a></h1>
			<cite class="meta">
				<span class="fancy-caps">Created <span>by</span></span> <strong><a href='/useraccount/{{ d.template_data.project.data.info.owner.u_id }}'>{{ d.template_data.project.data.info.owner.name }}</strong>
			</cite>
			<div class="sub-ft">
				<div class="twitter">
					<!-- TODO -->
				</div>
				<div class="facebook">
					<!--<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
					<fb:like layout="button_count" show_faces="true" width="100"></fb:like>-->
				</div>
			</div>
		</div>
	</div><!-- end .headlands -->

	<div class='midlands clearfix'>
		<div class="east">
			{% include 'project/related_resources.html' %}
			{% include 'project/add_link.html' %}
			{% include 'project/goals_main.html' %}
			{% include 'project/goals_add.html' %}
			{% include 'project/goals_stack.html' %}
			{% include 'project/conversation.html' %}
			{% include 'project/members.html' %}
		</div>
		<div class="west">
			{% include 'project/mission.html' %}
			{% include 'project/resources.html' %}
			{% include 'project/fresh_ideas.html' %}
		</div>
	</div>

	<div class='foothills'>

	</div>

	<div class='modal-content introduce-yourself'>
		<div class='step introduce-message-step'>
			<form action='#'>
				<div class='box note-card'>
					<cite class="note-meta-hd">
						<strong>You</strong> say &ndash;
					</cite>
					<textarea name='introduce-message' class='introduce-message'></textarea>
				</div>
				<div class='box'>
					<h2><strong>Introduce</strong> yourself to the project team.</h2>
					<h3>What's your idea for something this project could do?</h3>
					<a href="#" class='submit rounded-button'>Send</a>
				</div>
			</form>
		</div>
	
		<div class='step finish'>
			<p>Thanks for introducing yourself&hellip;</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	
		<a class='close' href="#"><span>close</span></a>
	</div>
	
	<div class='modal-content join-no-user'>
		<p>You must <a href='/join'>register</a> or <a href='/login'>login</a> with Give a Minute in order to Join this project.</p>
		<a class='close' href="#"><span>close</span></a>
	</div>

	<div class='modal-content invite-user'>
		<div class='step invite-message-step'>
			<h2>Invite <strong>XXXXXX</strong> To Your Project</h2>
			<p>You can send a message to XXXXXX telling them more about your new project and why he or she should join (optional).</p>
			<form action='#' class="form-pane">
				<div class="fields">
					<textarea name='invite-message' class='invite-message'></textarea>
					<span class="charlimit">200</span>
				</div>
				<a class='submit rounded-button' href="#">Send</a>
			</form>
		</div>
	
		<div class='step finish'>
			<p>Thanks for sending an invitation...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	
		<a class='close' href="#"><span>close</span></a>
	</div>

	<div class='modal-content add-link'>
		<div class='step add-link-step'>
			<h2><strong>Add</strong> a link</h2>
			<p>You can add links to blogs, news items, or one of our recommended links.</p>
			<form action='#' class="form-pane">
				<div class="fields">
					<div class="row">
						<input name='link-label' class='link-url' type="text"></input>
					</div>
					<div class="row">
						<input name='link-url' class='link-url' type="text"></input>
					</div>
				</div>
				<a href="#" class='submit rounded-button'>Add</a>
			</form>
			<div class='box link-to-facebook'>
				<a class='partner-link' href='http://www.facebook.com'><span>Facebook</span></a>
				<p>Create a <strong>Facebook group</strong> and link it here. You can have the option to make the feed from the group show up in your group as well.</p>
			</div>
			<div class='box link-to-kickstarter'>
				<a class='partner-link' href='http://www.kickstarter.com'><span>Kickstarter</span></a>
				<p><strong>Raise money</strong> for your project on Kickstarter.</p>
			</div>
			<div class='box link-to-meetup'>
				<a class='partner-link' href='http://www.meetup.com'><span>Meetup</span></a>
				<p>A popular way of <strong>managing complex groups</strong>.</p>
			</div>
		</div>
	
		<div class='step finish spinner-message'>
			<p>Thank you for adding a link to this group...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	
		<a class='close' href="#"><span>close</span></a>
	</div>

	<div class="modal-content confirm-delete member-delete">
		<div class="step">
			<h2><strong>Delete</strong> this Project Member?</h2>
			<div>
				<p>This deletes <span class="person-name serif">XXXXXX</span> from the system permanently! <br/>Are you sure?</p>
			</div>
			<div class="actions">
				<a class="submit rounded-button" href="#">Yes, Delete Member</a>
				<a class="cancel" href="#">No, keep them.</a>
			</div>
		</div>
		<a class='close' href="#"><span>close</span></a>
	</div>

</div><!-- end .continent.project -->
{% endblock continent %}


{% block page_js %}

<script>
	{% if d.template_data and d.template_data.project %}
		app_page.data.project = {{ d.template_data.project.json }};
	{% else %}
		app_page.data.project = null;
	{% endif %}

	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Project');
		
		tc.util.log(' ');
		tc.util.log('PROJECT DATA!!!');
		tc.util.dump(app.app_page.data.project);
		tc.util.log("PROJECT USER");
		tc.util.dump(app.app_page.project_user);
		tc.util.log(' ');
		
		app.components.project = new tc.gam.project({
			app:app,
			data:app_page.data.project,
			project_user:app_page.project_user,
			dom:tc.jQ('.continent.project')
		});
		
		// Join
		tc.jQ('a.join-project').bind('click',{
			app:app,
			no_user:{
				source_element:tc.jQ('.modal-content.join-no-user'),
				init:function(modal,callback){
					
					if(tc.jQ.isFunction(callback)){
						callback(modal);
					}
				}
			},
			user:{
				source_element:tc.jQ('.modal-content.introduce-yourself'),
				init:function(modal,callback){
					var modal_merlin;
					modal_merlin = new tc.merlin(app,{
						dom:modal.options.element.find('.introduce-yourself'),
						first_step:'introduce-message-step',
						data:{
							project_id:app.app_page.data.project.project_id,
							message:null
						},
						steps:{
							'introduce-message-step':{
								selector:'.introduce-message-step',
								inputs:{
									message:{
										selector:'textarea.introduce-message',
										validators:['max-200']
									}
								},
								init:function(merlin,dom){
									dom.find('.submit').bind('click',{merlin:merlin,dom:dom},function(e,d){
										e.preventDefault();
										if(dom.hasClass('invalid')){
											return;
										}
										window.location.hash = 'finish';
									});
								},
								finish:function(merlin,dom){
									merlin.options.data.message = merlin.current_step.inputs.message.dom.val();
								}
							},
							'finish':{
								selector:'.finish',
								init:function(merlin,dom){
									tc.jQ.ajax({
										type:'POST',
										url:'/project/join',
										data:merlin.options.data,
										context:merlin,
										dataType:'json',
										success:function(data,ts,xhr){
											
										}
									});
								}
							}
						}
					});
					if(tc.jQ.isFunction(callback)){
						callback(modal);
					}
				}
			}
		},function(e,d){
			if(!e.data.app.app_page.user){
				e.data.app.components.modal.show(e.data.no_user);
			} else {
				e.data.app.components.modal.show(e.data.user);
			}
		});
		
		// Invite
		tc.jQ('a.invite').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.invite-user'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.invite-user'),
					first_step:'invite-message-step',
					steps:{
						'invite-message-step':{
							selector:'.invite-message-step',
							validators:{
								'textarea.invite-message':['max-200']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('a.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		// Add a link
		tc.jQ('a.add-link-defunct').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.add-link'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.add-link'),
					first_step:'add-link-step',
					steps:{
						'add-link-step':{
							selector:'.add-link-step',
							validators:{
								'input.link-url':['max-200','url']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('a.partner-link').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.util.dump(e.target.href);
									window.open(e.target.href);
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
								dom.find('a.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ(".members-stack li a.close").bind("click", {
			app:app,
			source_element:tc.jQ(".modal-content.member-delete"),
			init:function(modal, callback) {
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d) {
			e.data.app.components.modal.show(e.data);
		});

	});
</script>
{% endblock page_js %}