{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Project
{% endblock title %}

{% block continent %}

<div class="green-nyc"><!-- top-level wrapper to decorate page with "green"-specific styles -->
	<div class='continent project'>
	
		<div class='headlands clearfix project-header'>
			<div class="thumb">
				<img src="http://placehold.it/100x100" alt="" class="proj"/>
				<span class="overlay-tag"></span>
			</div>
			<div class="tools">
				<a class="ca-btn join-project" href="#">
					<span>Join</span>
				</a>
				<div class="members">
					<a href='#'>Members <span class="counter">0</span></a>
				</div>
				<span class="control"><a href="#">Manage</a></span>
			</div>
			<div class="main">
				<h1>Start a Garden on 161st and Melrose Ave</h1>
				<cite class="meta">
					<span class="fancy-caps">Created <span>by</span></span> <strong>You!</strong>
				</cite>
				<div class="sub-ft">
					<div class="twitter">
					
					</div>
					<div class="facebook">
						<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
						<fb:like layout="button_count" show_faces="true" width="100"></fb:like>
					</div>
				</div>
			</div>
		</div>

		<div class='midlands clearfix'>
		
			<!-- Begin Project.East -->
			<div class="east">
			
				<div class="box resources">
					<div class="hd clearfix">
						<h2>
							<span>
								Related Resources <span class="counter">6</span>
								<span class="control"><a href="#">Manage</a></span>
							</span>
						</h2>
						<div class="actions">
							<a href="#" class="see-all">&larr; Back <em>to</em> project home</a>
						</div>
					</div>
				
					<div class="bd clearfix">		
						<ul class="resources-list doublewide clearfix">
							<li>
								<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
								<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								<a href="" class="add-button rounded-button">Add</a>
							</li>
							<li class="every-other added">
								<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
								<span class="resource-name"><span><span>Bronx River Alliance</span></span></span>
								<a href="" class="add-button rounded-button">Add</a>
								<div class="added-dialog">
									<span class="added-header">Added <em>to</em> your project</span>
									<span class="added-text">We sent an introduction to this organization... <a href="">?</a></span>
									<span class="added-close"></span>
								</div>
							</li>
							<li>
								<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
								<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								<a href="" class="add-button rounded-button">Add</a>
							</li>
							<li class="every-other">
								<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
								<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								<a href="" class="add-button rounded-button">Add</a>
							</li>
							<li class="last-two">
								<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
								<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								<a href="" class="add-button rounded-button">Add</a>
							</li>
							<li class="every-other last-two">
								<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
								<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								<a href="" class="add-button rounded-button">Add</a>
							</li>
						</ul>
						
						<div class="actions">
							<a href="#" class="forward fancy-caps">
								<span>Find more resources</span>
							</a>
						</div>
					</div>
				</div>
			
			
				<div class="box goals">
					<div class="hd clearfix">
						<h2>
							<span>Goals 
								<span class="counter">0</span>
								<span class="control"><a href="#">Manage</a></span>
							</span>
						</h2>
						<div class="actions">
							<a href="#" class="see-all">See all the Goals</a> <em>or</em>
							<a href="#" class='add'>Propose Your Own</a>
						</div>
					</div>
					<div class="goals-empty" style=" ">
						<h3 class="fancy-caps">Make <span>an</span> Active Goal <span>for this</span> Project</h3>
						<div class="empty-state-box big">
							<a class="close" href="#"><span>Close</span></a>
							<p>Goals help you define what you want to do and get your project done more efficiently. Why not <a href="#">add a goal now?</a></p>
						</div>
					</div>
				
					<div class="goals-display">
						<h3 class="fancy-caps"><span>The</span> Active Goal <span>for this</span> Project</h3>
						<div class="carousel">
							<div class="scrollable">
								<ul class="items">
									<li>
										<div class="goal-card">
											<a class="close" href="#"><span>Close</span></a>
											<p>Contact the city parks dept and find out about the permit situation for planting trees in the area.</p>
											<div class="meta">
												<dl>
													<dt>Timeframe</dt>
													<dd>1 Month</dd>
												
													<dt>Point Person</dt>
													<dd>Aaron A.</dd>
												</dl>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="carousel-controls">
								<a class="next" href="#">
									<span>Next</span>
								</a>
							</div>
						</div>
					</div>
				
				</div>
			
				<div class='box goals-add' style=' '>
					<div class="actions">
						<a href="#" class="back fancy-caps">
							<span>Back <span>to</span> Project Home</span>
						</a>
					</div>
					<div class="add-goal form-pane">
						<h2><strong>Add</strong> a Goal</h2>
						<form action="" method="POST">
							<div class="fields">
								<div class="row">
									<label>What's the goal?</label>
									<textarea></textarea>
								</div>
								<div class="row">
									<label>How quickly can it get done?</label>
									<select>
										<option>1 week or less</option>
									</select>
								</div>
								<div class="row">
									<label>Who will be the point person for getting it done?</label>
									<select>
										<option>Dan D.</option>
									</select>
								</div>
							</div>
							<div class="primary-action">
								<a class="ca-btn" href="#">
									<span>Let's Do it!</span>
								</a>
							</div>
						</form>
					</div>
				</div>
			
				<div class="box goals-cards">
					<ul class="goals-stack">
						<li>
							<div class="goal-card">
								<a class="close" href="#"><span>Close</span></a>
								<div class="make-this-active">
									<a href="#" class="fancy-caps">Make <span>this the</span> Active Goal</a>
								</div>
								<p>Contact some nurseries and see if they'll donate some seeds for our garden.</p>
								<div class="meta">
									<dl>
										<dt>Timeframe</dt>
										<dd>3 Months</dd>
						
										<dt>Point Person</dt>
										<dd>Donna R.</dd>
									</dl>
								</div>
							</div>
						</li>
						<li>
							<div class="goal-card">
								<a class="close" href="#"><span>Close</span></a>
								<div class="make-this-active">
									<a href="#" class="fancy-caps">Make <span>this the</span> Active Goal</a>
								</div>
								<p>Contact some nurseries and see if they'll donate some seeds for our garden.</p>
								<div class="meta">
									<dl>
										<dt>Timeframe</dt>
										<dd>3 Months</dd>
						
										<dt>Point Person</dt>
										<dd>Donna R.</dd>
									</dl>
								</div>
							</div>
						</li>
					</ul>
				</div>
			
				<div class="box conversation">
					<div class="conversation-controls clearfix">
						<a class="rss-btn" href="#"><span><abbr>RSS</abbr></span></a>
						<div class="filters">
							<select>
								<option>All messages</option>
								<option>All messages</option>
								<option>All messages</option>
							</select>
						</div>
						<div class="main">
							<div class="conversation-input">
								<label class="fancy-caps">Start <span>the</span> Conversation</label>
								<textarea></textarea>
								<p class="hint">Post your update as a comment or add links to photos and videos.</p>
							</div>
							<div class="primary-action">
								<!--<button class="rounded-button">Update</button>-->
								<a class="ca-btn" href="#">
									<span>Post</span>
								</a>
							</div>
						</div>
					</div>
					<ol class="comment-stack">
						<li>
							<a class="close" href="#"><span>Close</span></a>
							<div class="membrane">
								<div class="thumb">
									<img src="../static/images/thumb_genAvatar.jpg" alt="" class="avatar"/>
								</div>
								<div class="main">
									<cite class="meta-hd"><strong>Administrator</strong> says</cite>
									<blockquote class="serif">
										<p>Hey - welcome to give a minute! I'm the adminstrator of the site. If there is anything we can help with, please email us at <a href="">info@giveaminute.info</a>.</p>
									</blockquote>
									<cite class="meta-ft">30 minutes ago</cite>
								</div>
							</div>
						</li>
						<li class="intro">
							<a class="close" href="#"><span>Close</span></a>
							<div class="membrane">
								<div class="thumb">
									<img src="http://placehold.it/50x50" alt="" class="avatar"/>
								</div>
								<div class="main">
									<cite class="meta-hd"><strong>Drew H.</strong> joined the project!</cite>
									<div class="note-card">
										<cite class="note-meta-hd"></cite>
										<blockquote>
											<p>There's a big need on my street for a garden. I think that it will be a great community builder as well! Definitely more gardens on 161st street in the South Bronx!</p>
										</blockquote>
										<cite class="note-meta-ft"></cite>
									</div>
									<blockquote class="serif">
										<p>There's a big need on my street for a garden. I think that it will be a great community builder as well! Definitely more gardens on 161st street in the South Bronx!</p>
									</blockquote>
									<cite class="meta-ft">5 hours ago</cite>
								</div>
							</div>
						</li>
					</ol>
					<div class="load-more">
						<a href="#"><span>Load older posts</span></a>
					</div>
				</div>
			
				<!-- begin members -->
				<div class="box members" style=' '>
					<div class="hd clearfix">
						<h2>
							<span>
								Members <span class="counter">0</span>
							</span>
						</h2>
						<div class="actions">
							<a class="back fancy-caps" href="#">
								<span>Back <span>to</span> Project Home</span>
							</a>
						</div>
					</div>
					<div class="bd">
						<div class="west">
						
							<!-- Begin Members.Empty -->
							<div class="empty-state-box" style=' '>
								<a class="close" href="#"><span>Close</span></a>
								<p>Use the tools at the right to get some members listed in here!</p>
								<a href="#" class="rounded-button small">Add Link</a>
							</div>
							<!-- End Members.Empty -->
						
							<!-- Begin Members.Stack -->
							<ul class="members-stack">
								<li>
									<div class="thumb">
										<img src="http://placehold.it/40x40" alt="" />
									</div>
									<div class="main">
										<a href="">XXXX</a>
									</div>
									<a class="close" href="#"><span>Close</span></a>
								</li>
								<li>
									<div class="thumb">
										<img src="http://placehold.it/40x40" alt="" />
									</div>
									<div class="main">
										<a href="">XXXX</a>
									</div>
									<a class="close" href="#"><span>Close</span></a>
								</li>
								<li>
									<div class="thumb">
										<img src="http://placehold.it/40x40" alt="" />
									</div>
									<div class="main">
										<a href="">XXXX</a>
									</div>
									<a class="close" href="#"><span>Close</span></a>
								</li>
								<li>
									<div class="thumb">
										<img src="http://placehold.it/40x40" alt="" />
									</div>
									<div class="main">
										<a href="">XXXX</a>
									</div>
									<a class="close" href="#"><span>Close</span></a>
								</li>
								<li>
									<div class="thumb">
										<img src="http://placehold.it/40x40" alt="" />
									</div>
									<div class="main">
										<a href="">XXXX</a>
									</div>
									<a class="close" href="#"><span>Close</span></a>
								</li>
							</ul>
							<!-- End Members.Stack -->
						
						</div>
					
						<div class="east">
						
							<!-- Begin Members.email-invite -->
							<div class="email-invite">
								<div class="sub-hd">
									<h3 class="fancy-caps">Invite People <span>by</span> Email</h3>
								</div>
								<div class="sub-bd form-pane">
									<form action="" method="POST">
										<div class="fields">
											<div class="row">
												<textarea>Add emails separated by commas</textarea>
											</div>
											<div>
												<input class="rounded-button" id="send-invites" name="send-invites" type="submit" value="Send Invites" />
											</div>
										</div>
									</form>
								</div>
							</div>
							<!-- End Members.email-invite -->
						
							<!-- Begin Members.ideas-invite -->
							<div class="ideas-invite">
								<div class="sub-hd">
									<h3 class="fancy-caps">Invite People <span>with</span> Similar Ideas</h3>
									<div class="pagination">
										<span class="cur-index">1</span> <em>of</em>
										<span class="total">34</span>
									</div>
								</div>
								<div class="sub-bd">
									<div class="carousel">
										<div class="scrollable">
											<ul class="items">
												<li>
													<div class="note-card-public-controls">
														<a class="invite rounded-button" href="#">Invite</a>
														<a href="#"><span class="flag">Flag as Inappropriate</span></a>
													</div>
													<div class="note-card">
														<div class="membrane">
															<cite class="note-meta-hd">
																<strong>Shawna</strong> says &mdash;
															</cite>
															<blockquote>
																<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
															</blockquote>
															<cite class="note-meta-ft">
																Posted <strong>02.04.2011</strong> at <strong>02:45pm</strong> via <strong>Web</strong>
															</cite>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="carousel-controls">
											<a class="next" href="#">
												<span>Next</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<!-- End Members.ideas-invite -->
						
						</div>
					</div>
				</div>
				<!-- end Members -->
			
			
			</div>
			<!-- End Project.East -->
		
		
			<!-- Begin Project.West -->
			<div class="west">
			
				<div class="box mission">
				
					<div class="hd clearfix">
						<h2>
							<span>
								Mission
								<span class="control"><a href="#">Manage</a></span>
							</span>
						</h2>
					</div>
				
					<div class="bd clearfix">
						<div class="our-mission">
							<div class="sub-hd">
								<h3>Our Mission</h3>
							</div>
							<div class="sub-bd serif">
								<p>(project.info.mission) Tired of the empty lot at 161st and Melrose? Let's start a community gardgen to help out the Bronx and get the kids up here involved!</p>
							</div>
						</div>
						<div class="endorsements">
							<div class="sub-hd">
								<h3>Endorsements</h3>
							</div>
							<div class="sub-bd">
								<ul class="endorsements-stack">
									<li>
										<div class="thumb">
											<img class="endorser-photo" alt="" src="http://placehold.it/30x30"/>
											<span class="overlay-tag"></span>
										</div>
										<div class="main">
											<strong>Michael R. Bloomberg,</strong>
											<cite>Mayor City of New York</cite>
										</div>
									</li>
									<li>
										<div class="thumb">
											<span class="overlay-tag"></span>
										</div>
										<div class="main">
											<strong>Adrian Benepe,</strong>
											<cite>Commissioner New York City Department of Parks and Recreation</cite>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="location">
							<div class="sub-hd">
								<h3>Location</h3>
							</div>
							<div class="sub-bd">
								<div class="map-holder">Location Map</div>
							</div>
						</div>
						<div class="keywords">
							<div class="sub-hd">
								<h3>Keywords</h3>
							</div>
							<div class="sub-bd">
								<ul class="tag-cloud serif">
									<li><a href="">(mission.info.keywords)</a></li>
									<li><a href="">garden</a></li>
									<li><a href="">trees</a></li>
									<li><a href="">green</a></li>
									<li><a href="">sustainable</a></li>
									<li class="admin"><a href="">environment</a> <a href="#" class="remove-btn"><span>Remove</span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> <!-- end .box.mission -->
			
			
			
				<div class="box resources">
				
					<div class="hd clearfix">
						<h2>
							<span>
								Resources
							</span>
						</h2>
					</div>
				
					<div class="bd">
						<p class="hint">The resources listed below are separate entities not run by the Give a Minute Projects but used by this Project</p>
						<div class="external-links">
							<div class="sub-hd">
								<h3>External Links</h3>
							</div>
							<div class="sub-bd">
							
								<ul class="doublewide resources-list clearfix">
									<li>
										<span class="thumb">
											<img src="http://placehold.it/30x30" alt=""/>
										</span>
										<span class="resource-name">
											<span>
												<span><a href=" "><span>Our Facebook Page</span></a></span>
											</span>
										</span>
									</li>
									<li class="every-other">
										<span class="thumb">
											<img src="http://placehold.it/30x30" alt=""/>
										</span>
										<span class="resource-name">
											<span>
												<span><a href=" "><span>Our Kickstarter Project</span></a></span>
											</span>
										</span>
									</li>
									<li class="last-two">
										<span class="thumb">
											<img src="http://placehold.it/30x30" alt=""/>
										</span>
										<span class="resource-name">
											<span>
												<span><a href=" "><span>Our Google Calendar</span></a></span>
											</span>
										</span>
									</li>
									<li class="every-other last-two">
										<a href="#" class="add-button add-link rounded-button small">Add Link</a>
									</li>
								</ul>
							
								<div class="empty-state-box" style=' '>
									<a class="close" href="#"><span>Close</span></a>
									<p><a href="">Add links</a> to anything, including some of our recommended links like Facebook groups and Kickstarter.</p>
									<a href="#" class='rounded-button small add-link'>Add Link</a>
								</div>
							
						
							</div>
						</div>
						<div class="organizations">
							<div class="sub-hd">
								<h3>Organizations</h3>
							</div>
							<div class="sub-bd">
							
								<ul class="doublewide resources-list clearfix">
									<li>
										<span class="thumb">
											<img src="http://placehold.it/30x30" alt=""/>
										</span>
										<span class="resource-name">
											<span>
												<span><a href=" ">Bronx River Alliance</a></span>
											</span>
										</span>
									
									
									
									</li>
									<li class="every-other">
										<span class="thumb">
											<img src="http://placehold.it/30x30" alt=""/>
										</span>
										<span class="resource-name">
											<span>
												<span><a href=" "><span>Grow NYC</span></a></span>
											</span>
										</span>
									
										<!-- add the class "right" to the tooltip to change its orientation accordingly -->
										<div class="tooltip" style=' '>
											<div class="tooltip-hd">
												<h2>Bronx River Alliance</h2>
											</div>
											<div class="tooltip-bd">
												<div class="info">
													<div class="thumb">
														<img src="http://placehold.it/90x90" alt=""/>
													</div>
													<div class="main">
														<p>In collaboration with Alliance partners, we maintain a full-time presence on the river, monitoring river conditions and doing ecological restoration projects that improve water quality, stabilize the riverbanks and improve river habitat.</p>
													</div>
												</div>
												<dl class="details">
													<dt>Visit Us</dt>
													<dd><a href="">bronxriver.org</a></dd>
													<dt>Latest Update</dt>
													<dd>
														<blockquote>
															<p>Wally Arias is an intern from the Phipps Community Development Corporation. For the past few weeks he has been alongside&hellip;</p>
														</blockquote>
													</dd>
												</dl>
											</div>
										</div>
									
									</li>
									<li class="last-two">
										<span class="thumb">
											<img src="http://placehold.it/30x30" alt=""/>
										</span>
										<span class="resource-name">
											<span>
												<span><a href=" "><abbr>SSBX</abbr></a></span>
											</span>
										</span>
									</li>
									<li class="every-other last-two">
										<span class="thumb">
											<img src="http://placehold.it/30x30" alt=""/>
										</span>
										<span class="resource-name">
											<span>
												<span><a href=" "><span>NYC 311</span></a></span>
											</span>
										</span>
									</li>
								</ul>
							
								<div class="empty-state-box" style=' '>
									<a class="close" href="#"><span>Close</span></a>
									<p>When you <a href="">add organizations</a>, we'll introduce your project to the people over there.</p>
									<a href="#" class="rounded-button small">Add Organizations</a>
								</div>
							
							
							</div>
						</div>
					</div>
				
				
					<div class="ft clearfix">
						<a href="#" class="rounded-button small">Add a Resource</a>
					</div>
				
				</div>
				<div class="box fresh-ideas">
					<p class="hint">Check out some new ideas related to your project!</p>
					<div class="hd clearfix">
						<h2>
							<span>Fresh Ideas</span>
						</h2>
					</div>
					<div class="bd">
						<div class="ideas-invite">
							<div class="sub-bd">
								<div class="carousel">
									<div class="scrollable">
										<ul class="items">
											<li>
												<div class="note-card-public-controls">
													<a class="invite rounded-button" href="#">Invite</a>
													<a href="#"><span class="flag">Flag as Inappropriate</span></a>
												</div>
												<div class="note-card">
													<div class="membrane">
														<blockquote>
															<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
														</blockquote>
														<cite class="note-meta-ft">
															Posted <strong>02.04.2011</strong> at <strong>02:45pm</strong> via <strong>Web</strong>
														</cite>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="carousel-controls">
										<a class="next" href="#">
											<span>Next</span>
										</a>
									</div>
								</div>
								<div class="pagination">
									<span class="cur-index">1</span> <em>of</em>
									<span class="total">45</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
		</div>

		<div class='foothills'>

		</div>
	
		<div class='modal-content introduce-yourself'>
			<div class='step introduce-message-step'>
				<form action='#'>
					<div class='box note-card'>
						<cite class="note-meta-hd">
							<strong>You</strong> say &ndash;</strong>
						</cite>
						<textarea name='introduce-message' class='introduce-message'></textarea>
					</div>
					<div class='box'>
						<h2><strong>Introduce</strong> yourself to the project team.</h2>
						<h3>What's your idea for something this project could do?</h3>
						<a href="#" class='submit rounded-button'>Send</a>
					</div>
				</form>
			</div>
		
			<div class='step finish'>
				<p>Thanks for introducing yourself&hellip;</p>
				<p><img src='/static/images/loader32x32.gif' /></p>
			</div>
		
			<a class='close' href="#"><span>close</span></a>
		</div>
	
		<div class='modal-content invite-user'>
			<div class='step invite-message-step'>
				<h2>Invite <strong>XXXXXX</strong> To Your Project</h2>
				<p>You can send a message to XXXXXX telling them more about your new project and why he or she should join (optional).</p>
				<form action='#' class="form-pane">
					<div class="fields">
						<textarea name='invite-message' class='invite-message'></textarea>
						<span class="charlimit">200</span>
					</div>
					<a class='submit rounded-button' href="#">Send</a>
				</form>
			</div>
		
			<div class='step finish'>
				<p>Thanks for sending an invitation...</p>
				<p><img src='/static/images/loader32x32.gif' /></p>
			</div>
		
			<a class='close' href="#"><span>close</span></a>
		</div>

		<div class='modal-content add-link'>
			<div class='step add-link-step'>
				<h2><strong>Add</strong> a link</h2>
				<p>You can add links to blogs, news items, or one of our recommended links.</p>
				<form action='#' class="form-pane">
					<div class="fields">
						<div class="row">
							<input name='link-label' class='link-url' type="text"></input>
						</div>
						<div class="row">
							<input name='link-url' class='link-url' type="text"></input>
						</div>
					</div>
					<a href="#" class='submit rounded-button'>Add</a>
				</form>
				<div class='box link-to-facebook'>
					<a class='partner-link' href='http://www.facebook.com'><span>Facebook</span></a>
					<p>Create a <strong>Facebook group</strong> and link it here. You can have the option to make the feed from the group show up in your group as well.</p>
				</div>
				<div class='box link-to-kickstarter'>
					<a class='partner-link' href='http://www.kickstarter.com'><span>Kickstarter</span></a>
					<p><strong>Raise money</strong> for your project on Kickstarter.</p>
				</div>
				<div class='box link-to-meetup'>
					<a class='partner-link' href='http://www.meetup.com'><span>Meetup</span></a>
					<p>A popular way of <strong>managing complex groups</strong>.</p>
				</div>
			</div>
		
			<div class='step finish'>
				<p>Thank you for adding a link to this group...</p>
				<p><img src='/static/images/loader32x32.gif' /></p>
			</div>
		
			<a class='close' href="#"><span>close</span></a>
		</div>
	
		<div class="modal-content confirm-delete member-delete">
			<div class="step">
				<h2><strong>Delete</strong> this Project Member?</h2>
				<div>
					<p>This deletes <span class="person-name serif">XXXXXX</span> from the system permanently! <br/>Are you sure?</p>
				</div>
				<div class="actions">
					<a class="submit rounded-button" href="#">Yes, Delete Member</a>
					<a class="cancel" href="#">No, keep them.</a>
				</div>
			</div>
			<a class='close' href="#"><span>close</span></a>
		</div>
	
	</div><!-- end .continent.project -->
</div><!-- end .green-nyc -->

<script>

	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Project');
		
		app.components.project = new tc.gam.project({
			dom:tc.jQ('.continent.project')
		});
		
		tc.util.dump(app.components.project);
		
		tc.jQ('a.join-project').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.introduce-yourself'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.introduce-yourself'),
					first_step:'introduce-message-step',
					steps:{
						'introduce-message-step':{
							selector:'.introduce-message-step',
							validators:{
								'textarea.introduce-message':['max-200']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ('a.invite').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.invite-user'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.invite-user'),
					first_step:'invite-message-step',
					steps:{
						'invite-message-step':{
							selector:'.invite-message-step',
							validators:{
								'textarea.invite-message':['max-200']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('a.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ('a.add-link').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.add-link'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.add-link'),
					first_step:'add-link-step',
					steps:{
						'add-link-step':{
							selector:'.add-link-step',
							validators:{
								'input.link-url':['max-200','url']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('a.partner-link').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.util.dump(e.target.href);
									window.open(e.target.href);
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
								dom.find('a.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ(".members-stack li a.close").bind("click", {
			app:app,
			source_element:tc.jQ(".modal-content.member-delete"),
			init:function(modal, callback) {
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d) {
			e.data.app.components.modal.show(e.data);
		});
		
		
	});
</script>
{% endblock continent %}