{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Search Results
{% endblock title %}

{% block continent %}

<div class='continent search-results'>
	<div class='headlands clearfix'>
		<ul class="tabs">
			<li class="tab tab-map">Map</li>
			<li class="tab tab-list active">List</li>
		</ul>
		<form class="search-results-header" action="" method="GET">
			<label>Search results for:</label>
			<div class="form-tier west">
				<div class="search-terms-container">
					<input type="text" class="search-terms" /> 
					<a class="clear-field" href=""></a>
				</div>
				<span class="in">in</span>
				<input type="text" class="search-location" />
				<input type="submit" class="rounded-button search-submit" value="Search" />
			</div>
		</form>
	</div>
	
	

	<div class='midlands clearfix'>
		
		<!-- LIST VIEW -->
		<div class="list-view">
			<div class="west sidebar">
				<span class="sidebar-item all active">All<span class="counter">4</span></span>
				<span class="sidebar-item projects">Projects<span class="counter">15</span></span>
				<span class="sidebar-item ideas">Ideas<span class="counter">34</span></span>
				<span class="sidebar-item resources">Resources<span class="counter">2</span></span>
			</div>
			<div class="east">
				<div class="box results-box results-projects tab-view clearfix">
					<div class="hd">
						<h2><span class="counter">23</span> Projects</h2>
						<span class="control"><a href="#">See all &rarr;</a></span>
					</div>
					<div class="bd">							
						<table class="projects-list doublewide clearfix">
							<tr>
								<td>
									<a class="close" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<span class="overlay-tag"></span>
										<span class="member-count">58</span>
									</div>
									<div class="project-info">
										<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
										<span class="creator"><em>Created by </em> Terry Richardson</span>
										<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
									</div>
								</td>
								<td>
									<a class="close" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<span class="overlay-tag"></span>
										<span class="member-count">58</span>
									</div>
									<div class="project-info">
										<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
										<span class="creator"><em>Created by </em> Terry Richardson</span>
										<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<a class="close" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<span class="overlay-tag"></span>
										<span class="member-count">58</span>
									</div>
									<div class="project-info">
										<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
										<span class="creator"><em>Created by </em> Terry Richardson</span>
										<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
									</div>
								</td>
								<td>
									<a class="close" href="#"><span>Close</span></a>
									<div class="endorser-thumb">
										<img src="http://placehold.it/30x30" alt="" class="endorser-photo" />
										<span class="overlay-tag"></span>
									</div>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<span class="overlay-tag"></span>
										<span class="member-count">58</span>
									</div>
									<div class="project-info">
										<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
										<span class="creator"><em>Created by </em> Terry Richardson</span>
										<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<a class="close" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<span class="overlay-tag"></span>
										<span class="member-count">58</span>
									</div>
									<div class="project-info">
										<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
										<span class="creator"><em>Created by </em> Terry Richardson</span>
										<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
									</div>
								</td>
								<td>
									<a class="close" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<span class="overlay-tag"></span>
										<span class="member-count">58</span>
									</div>
									<div class="project-info">
										<span class="link"><a href="/project">Start a Garden on 161st in South Bronx</a></span>
										<span class="creator"><em>Created by </em> Terry Richardson</span>
										<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
									</div>
								</td>
							</tr>
						</table>
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Projects</strong> found</h2>
							<a class="rounded-button fancy-caps more-link" href="">Start <span>a</span> Project <span class="sm-arrow-forward"></span></a>
						</div>
					</div>
					<div class="ft">
						<a class="rounded-button fancy-caps more-link" href="">Start <span>a</span> Project <span class="sm-arrow-forward"></span></a>
					</div>
				</div>
				
				<div class="box results-box results-resources clearfix">
					<div class="hd">
						<h2><span class="counter">18</span> Resources</h2>
						<span class="control"><a href="#">See all &rarr;</a></span>
					</div>
					<div class="bd">
						<table class="resources-list triplewide clearfix">
							<tr>
								<td>
									<a href="" class="add-button rounded-button">Add</a>
									<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
									<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								</td>
								<td>
									<a href="" class="add-button rounded-button">Add</a>
									<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
									<span class="resource-name"><span><span>NYC 311</span></span></span>
								</td>
								<td>
									<a href="" class="add-button rounded-button">Add</a>
									<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
									<span class="resource-name"><span><span>Bronx River Alliance</span></span></span>
								</td>
							</tr>
							<tr>
								<td>
									<a href="" class="add-button rounded-button">Add</a>
									<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
									<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								</td>
								<td>
									<a href="" class="add-button rounded-button">Add</a>
									<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
									<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
								</td>
								<td class="added">
									<a href="" class="add-button rounded-button">Add</a>
									<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
									<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
									<div class="added-dialog">
										<span class="added-header">Added <em>to</em> your project</span>
										<span class="added-text">We sent an introduction to this organization with a link to this project. <a href="">?</a></span>
										<span class="added-close"></span>
									</div>
								</td>
							</tr>
						</table>
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Resources</strong> found</h2>
							<a class="rounded-button fancy-caps more-link" href="">Add <span>an</span> Organization <span class="sm-arrow-forward"></span></a>
						</div>
					</div>
					<div class="ft">
						<a class="rounded-button fancy-caps more-link" href="">Add <span>an</span> Organization <span class="sm-arrow-forward"></span></a>
					</div>
				</div>
				
				<div class="box results-box results-ideas clearfix">
					<div class="hd">
						<h2><span class="counter">18</span> Ideas</h2>
						<span class="control"><a href="#">See all &rarr;</a></span>
					</div>
					<div class="bd">
						<ul class="ideas-list clearfix">
							<li>
								<div class="note-card-public-controls">
									<a class="invite rounded-button" href="">Invite</a>
									<span class="flag">Flag as Inappropriate</span>
								</div>
								<div class="note-card">
									<div class="membrane">
										<cite class="note-meta-hd">
											<strong>Shawna</strong> says &mdash;
										</cite>
										<blockquote>
											<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
										</blockquote>
										<cite class="note-meta-ft">
											Posted <strong>02.04.2011</strong> at <strong>02:45pm</strong> via <strong>Web</strong>
										</cite>
									</div>
								</div>
							</li>
							<li>
								<div class="note-card-public-controls">
									<a class="invite rounded-button" href="">Invite</a>
									<span class="flag">Flag as Inappropriate</span>
								</div>
								<div class="note-card">
									<div class="membrane">
										<cite class="note-meta-hd">
											<strong>Shawna</strong> says &mdash;
										</cite>
										<blockquote>
											<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
										</blockquote>
										<cite class="note-meta-ft">
											Posted <strong>02.04.2011</strong> at <strong>02:45pm</strong> via <strong>Web</strong>
										</cite>
									</div>
								</div>
							</li>
							<li class="every-third">
								<div class="note-card-public-controls">
									<a class="invite rounded-button" href="">Invite</a>
									<span class="flag">Flag as Inappropriate</span>
								</div>
								<div class="note-card">
									<div class="membrane">
										<cite class="note-meta-hd">
											<strong>Shawna</strong> says &mdash;
										</cite>
										<blockquote>
											<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
										</blockquote>
										<cite class="note-meta-ft">
											Posted <strong>02.04.2011</strong> at <strong>02:45pm</strong> via <strong>Web</strong>
										</cite>
									</div>
								</div>
							</li>
						</ul>
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Ideas</strong> found</h2>
							<a class="rounded-button fancy-caps more-link" href="">Add <span>an</span> Idea <span class="sm-arrow-forward"></span></a>
						</div>
					</div>
					<div class="ft">
						<a class="rounded-button fancy-caps more-link" href="">Add <span>an</span> Idea <span class="sm-arrow-forward"></span></a>
					</div>
				</div>
				
			</div><!--end .east -->
		</div><!-- end .list-view-->
			
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}