{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Search Results
{% endblock title %}

{% block continent %}

<div class='continent search-results'>
	<div class='headlands clearfix'>
		<form class="search-results-header" action="" method="GET">
			<label>Search results for:</label>
			<div class="form-tier west">
				<div class="search-terms-container">
					<input type="text" class="search-terms" /> 
					<a class="clear-field" href=""></a>
				</div>
				<span class="in">in</span>
				<input type="text" class="search-location" />
				<input type="submit" class="rounded-button search-submit" value="Search" />
			</div>
			<div class="tabs">
				<div class="tab tab-map">Map</div>
				<div class="tab tab-list active">List</div>
			</div>
		</form>
	</div>
	
	

	<div class='midlands clearfix'>
		
		<!-- LIST VIEW -->
		<div class="list-view">
			<div class="west sidebar">
				<span class="sidebar-item all active">All<span class="counter">4</span></span>
				<span class="sidebar-item projects">Projects<span class="counter">15</span></span>
				<span class="sidebar-item ideas">Ideas<span class="counter">34</span></span>
				<span class="sidebar-item resources">Resources<span class="counter">2</span></span>
			</div>
			<div class="east">
				<div class="box results-box results-projects tab-view clearfix">
					<div class="hd clearfix">
						<h2><span class="counter">23</span> Projects</h2>
						<span class="control"><a href="#">See all</a></span>
					</div>
					<div class="bd clearfix">							
						<ul class="doublewide">
							<li>
								<a class="close" href="#"><span>Close</span></a>
								<div class="thumb">
									<img src="http://placehold.it/50x50" alt="" class="proj"/>
									<span class="overlay-tag"></span>
									<span class="member-counter">22</span>
								</div>
								<div class="main">
									<h3>More South Bronx Gardens</h3>
									<cite><span>Created by</span> Rebecca</span>
									<p>Volunteer at a community garden in your neighborhood&hellip;</p>
								</div>
							</li>
							<li>
								<a class="close" href="#"><span>Close</span></a>
								<div class="thumb">
									<img src="http://placehold.it/50x50" alt="" class="proj"/>
									<span class="overlay-tag"></span>
									<span class="member-counter">22</span>
								</div>
								<div class="main">
									<h3>More South Bronx Gardens</h3>
									<cite><span>Created by</span> Rebecca</span>
									<p>Volunteer at a community garden in your neighborhood&hellip;</p>
								</div>
								<div class="endorsement-indicator">
									<img src="http://placehold.it/30x30" alt="" class=" "/>
								</div>
							</li>
							<li>
								<a class="close" href="#"><span>Close</span></a>
								<div class="thumb">
									<img src="http://placehold.it/50x50" alt="" class="proj"/>
									<span class="overlay-tag"></span>
									<span class="member-counter">22</span>
								</div>
								<div class="main">
									<h3>More South Bronx Gardens</h3>
									<cite><span>Created by</span> Rebecca</span>
									<p>Volunteer at a community garden in your neighborhood&hellip;</p>
								</div>
							</li>
							<li>
								<a class="close" href="#"><span>Close</span></a>
								<div class="thumb">
									<img src="http://placehold.it/50x50" alt="" class="proj"/>
									<span class="overlay-tag"></span>
									<span class="member-counter">22</span>
								</div>
								<div class="main">
									<h3>More South Bronx Gardens</h3>
									<cite><span>Created by</span> Rebecca</span>
									<p>Volunteer at a community garden in your neighborhood&hellip;</p>
								</div>
							</li>
							<li>
								<a class="close" href="#"><span>Close</span></a>
								<div class="thumb">
									<img src="http://placehold.it/50x50" alt="" class="proj"/>
									<span class="overlay-tag"></span>
									<span class="member-counter">22</span>
								</div>
								<div class="main">
									<h3>More South Bronx Gardens</h3>
									<cite><span>Created by</span> Rebecca</span>
									<p>Volunteer at a community garden in your neighborhood&hellip;</p>
								</div>
							</li>
							<li>
								<a class="close" href="#"><span>Close</span></a>
								<div class="thumb">
									<img src="http://placehold.it/50x50" alt="" class="proj"/>
									<span class="overlay-tag"></span>
									<span class="member-counter">22</span>
								</div>
								<div class="main">
									<h3>More South Bronx Gardens</h3>
									<cite><span>Created by</span> Rebecca</span>
									<p>Volunteer at a community garden in your neighborhood&hellip;</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="box results-box results-resources clearfix">
					<div class="hd">
						<h2><span class="counter">18</span> Resources</h2>
						<span class="control"><a href="#">See all</a></span>
					</div>
					<div class="bd">
						<ul class="triplewide">
							<li>
								<div class="thumb">
									<img src="http://placehold.it/38x38" alt="" class=" "/>
								</div>
								<div class="main">
									<h3>NYC 311</h3>
									<cite>Citywide</cite>
									<button>Add</button>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img src="http://placehold.it/38x38" alt="" class=" "/>
								</div>
								<div class="main">
									<h3>NYC 311</h3>
									<cite>Citywide</cite>
									<button>Add</button>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img src="http://placehold.it/38x38" alt="" class=" "/>
								</div>
								<div class="main">
									<h3>NYC 311</h3>
									<cite>Citywide</cite>
									<button>Add</button>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img src="http://placehold.it/38x38" alt="" class=" "/>
								</div>
								<div class="main">
									<h3>NYC 311</h3>
									<cite>Citywide</cite>
									<button>Add</button>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img src="http://placehold.it/38x38" alt="" class=" "/>
								</div>
								<div class="main">
									<h3>NYC 311</h3>
									<cite>Citywide</cite>
									<button>Add</button>
								</div>
							</li>
							<li>
								<div class="thumb">
									<img src="http://placehold.it/38x38" alt="" class=" "/>
								</div>
								<div class="main">
									<h3>NYC 311</h3>
									<cite>Citywide</cite>
									<button>Add</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="box results-box results-ideas clearfix">
					<div class="hd">
						<h2><span class="counter">18</span> Ideas</h2>
						<span class="control"><a href="#">See all</a></span>
					</div>
					<div class="bd">
						<ul class="triplewide-idea-cards">
							<li>
								<div class="controls">
									<span class="control"><a href="#">Flag as Inappropiate</a></span>
									<button>Invite</button>
								</div>
								<div class="note-card">
									<a class="close" href="#"><span>Close</span></a>
									<cite class="note-meta-hd">
										<strong>Bart</strong> says &ndash;
									</cite>
									<blockquote>
										<p>Start a neighborhood car sharing service just for people near me.</p>
									</blockquote>
									<cite class="note-meta-ft">
										Posted 01.17 at 09:05am
									</cite>
								</div>
								<div class="sub-ft">
									<cite>Citywide</cite>
								</div>
							</li>
							<li>
								<div class="controls">
									<span class="control"><a href="#">Flag as Inappropiate</a></span>
									<button>Invite</button>
								</div>
								<div class="note-card">
									<a class="close" href="#"><span>Close</span></a>
									<cite class="note-meta-hd">
										<strong>Bart</strong> says &ndash;
									</cite>
									<blockquote>
										<p>Start a neighborhood car sharing service just for people near me.</p>
									</blockquote>
									<cite class="note-meta-ft">
										Posted 01.17 at 09:05am
									</cite>
								</div>
								<div class="sub-ft">
									<cite>Citywide</cite>
								</div>
							</li>
							<li>
								<div class="controls">
									<span class="control"><a href="#">Flag as Inappropiate</a></span>
									<button>Invite</button>
								</div>
								<div class="note-card">
									<a class="close" href="#"><span>Close</span></a>
									<cite class="note-meta-hd">
										<strong>Bart</strong> says &ndash;
									</cite>
									<blockquote>
										<p>Start a neighborhood car sharing service just for people near me.</p>
									</blockquote>
									<cite class="note-meta-ft">
										Posted 01.17 at 09:05am
									</cite>
								</div>
								<div class="sub-ft">
									<cite>Citywide</cite>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div><!--end .east -->
		</div><!-- end .list-view-->
			
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}