{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Search Results
{% endblock title %}

{% block continent %}

<div class='continent search-results'>
	<div class='headlands'>
		<form class="search-results-header" action="" method="GET">
			<label>Search results for:</label>
			<div class="form-tier">
				<input type="text" /> in <input type="text" />
				<input type="submit" value="Search" />
				<div class="actions">
					Don't see what you're looking for? <a href="">Start your own</a>
				</div>
			</div>
		</form>
	</div>

	<div class='midlands'>
			
			<div class="box results-box results-projects tab-view">
				<div class="hd">
					<h2><span class="counter">23</span> Projects</h2>
					<span class="control"><a href="#">See all</a></span>
					<ul class="tabs">
						<li><a href="#">Map</li>
						<li class="current"><a href="#">List</li>
					</ul>
				</div>
				<div class="bd">
					<div class="panes">
						<div class="map-view">
							
						</div>
						<div class="list-view">
							<ul class="x2-grid">
								<li>
									<a class="close-btn" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<img src="" alt="" class="overlay-tag"/>
										<span class="member-counter">22</span>
									</div>
									<div class="main">
										<h3>More South Bronx Gardens</h3>
										<cite><span>Created by</span> Rebecca</span>
										<p>Volunteer at a community garden in your neighborhood&hellip;</p>
									</div>
								</li>
								<li>
									<a class="close-btn" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<img src="" alt="" class="overlay-tag"/>
										<span class="member-counter">22</span>
									</div>
									<div class="main">
										<h3>More South Bronx Gardens</h3>
										<cite><span>Created by</span> Rebecca</span>
										<p>Volunteer at a community garden in your neighborhood&hellip;</p>
									</div>
									<div class="endorsement-indicator">
										<img src="http://placehold.it/30x30" alt="" class=" "/>
									</div>
								</li>
								<li>
									<a class="close-btn" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<img src="" alt="" class="overlay-tag"/>
										<span class="member-counter">22</span>
									</div>
									<div class="main">
										<h3>More South Bronx Gardens</h3>
										<cite><span>Created by</span> Rebecca</span>
										<p>Volunteer at a community garden in your neighborhood&hellip;</p>
									</div>
								</li>
								<li>
									<a class="close-btn" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<img src="" alt="" class="overlay-tag"/>
										<span class="member-counter">22</span>
									</div>
									<div class="main">
										<h3>More South Bronx Gardens</h3>
										<cite><span>Created by</span> Rebecca</span>
										<p>Volunteer at a community garden in your neighborhood&hellip;</p>
									</div>
								</li>
								<li>
									<a class="close-btn" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<img src="" alt="" class="overlay-tag"/>
										<span class="member-counter">22</span>
									</div>
									<div class="main">
										<h3>More South Bronx Gardens</h3>
										<cite><span>Created by</span> Rebecca</span>
										<p>Volunteer at a community garden in your neighborhood&hellip;</p>
									</div>
								</li>
								<li>
									<a class="close-btn" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="proj"/>
										<img src="" alt="" class="overlay-tag"/>
										<span class="member-counter">22</span>
									</div>
									<div class="main">
										<h3>More South Bronx Gardens</h3>
										<cite><span>Created by</span> Rebecca</span>
										<p>Volunteer at a community garden in your neighborhood&hellip;</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="filters">
					<ul>
						<li class="filter-all"><a href="">All <span class="counter">154</span></a></li>
						<li class="filter-projects"><a href="">Projects <span class="counter">15</span></a></li>
						<li class="filter-ideas"><a href="">Ideas <span class="counter">34</span></a></li>
						<li class="filter-resources"><a href="">Resources <span class="counter">2</span></a></li>
					</ul>
				</div>
			</div>
			
			<div class="box results-box results-resources">
				<div class="hd">
					<h2><span class="counter">18</span> Resources</h2>
					<span class="control"><a href="#">See all</a></span>
				</div>
				<div class="bd">
					<ul class="x3-grid">
						<li>
							<div class="thumb">
								<img src="http://placehold.it/38x38" alt="" class=" "/>
							</div>
							<div class="main">
								<h3>NYC 311</h3>
								<cite>Citywide</cite>
								<button>Add</button>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="http://placehold.it/38x38" alt="" class=" "/>
							</div>
							<div class="main">
								<h3>NYC 311</h3>
								<cite>Citywide</cite>
								<button>Add</button>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="http://placehold.it/38x38" alt="" class=" "/>
							</div>
							<div class="main">
								<h3>NYC 311</h3>
								<cite>Citywide</cite>
								<button>Add</button>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="http://placehold.it/38x38" alt="" class=" "/>
							</div>
							<div class="main">
								<h3>NYC 311</h3>
								<cite>Citywide</cite>
								<button>Add</button>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="http://placehold.it/38x38" alt="" class=" "/>
							</div>
							<div class="main">
								<h3>NYC 311</h3>
								<cite>Citywide</cite>
								<button>Add</button>
							</div>
						</li>
						<li>
							<div class="thumb">
								<img src="http://placehold.it/38x38" alt="" class=" "/>
							</div>
							<div class="main">
								<h3>NYC 311</h3>
								<cite>Citywide</cite>
								<button>Add</button>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="box results-box results-ideas">
				<div class="hd">
					<h2><span class="counter">18</span> Ideas</h2>
					<span class="control"><a href="#">See all</a></span>
				</div>
				<div class="bd">
					<ul class="x3-idea-cards">
						<li>
							<div class="controls">
								<span class="control"><a href="#">Flag as Inappropiate</a></span>
								<button>Invite</button>
							</div>
							<div class="note-card">
								<a class="close-btn" href="#"><span>Close</span></a>
								<cite class="note-meta-hd">
									<strong>Bart</strong> says &ndash;
								</cite>
								<blockquote>
									<p>Start a neighborhood car sharing service just for people near me.</p>
								</blockquote>
								<cite class="note-meta-ft">
									Posted 01.17 at 09:05am
								</cite>
							</div>
							<div class="sub-ft">
								<cite>Citywide</cite>
							</div>
						</li>
						<li>
							<div class="controls">
								<span class="control"><a href="#">Flag as Inappropiate</a></span>
								<button>Invite</button>
							</div>
							<div class="note-card">
								<a class="close-btn" href="#"><span>Close</span></a>
								<cite class="note-meta-hd">
									<strong>Bart</strong> says &ndash;
								</cite>
								<blockquote>
									<p>Start a neighborhood car sharing service just for people near me.</p>
								</blockquote>
								<cite class="note-meta-ft">
									Posted 01.17 at 09:05am
								</cite>
							</div>
							<div class="sub-ft">
								<cite>Citywide</cite>
							</div>
						</li>
						<li>
							<div class="controls">
								<span class="control"><a href="#">Flag as Inappropiate</a></span>
								<button>Invite</button>
							</div>
							<div class="note-card">
								<a class="close-btn" href="#"><span>Close</span></a>
								<cite class="note-meta-hd">
									<strong>Bart</strong> says &ndash;
								</cite>
								<blockquote>
									<p>Start a neighborhood car sharing service just for people near me.</p>
								</blockquote>
								<cite class="note-meta-ft">
									Posted 01.17 at 09:05am
								</cite>
							</div>
							<div class="sub-ft">
								<cite>Citywide</cite>
							</div>
						</li>
					</ul>
				</div>
			</div>
			
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}