{% extends "./partials/base.html" %}

{% block title %}
Change by Us NYC - Terms of Use
{% endblock title %}

{% block continent %}

<div class='continent tou'>
	<div class='headlands'>
		<span class="above-h1">Change by Us NYC</span>
		<h1>Terms <em>of</em> Use</h1>
	</div>

	<div class='midlands clearfix'>
		<div class="west">
			{% include 'partials/toc.html' %}
		</div>
		<div class="east">
			<div class="box feedback">
				<div class="hd">
					<h2>We Love Feedback</h2>
				</div>
				<div class="bd">
					<p>Do you want to comment on a post? <a href="/feedback"><strong>Send it to us</strong></a></p>
				</div>
			</div>
		</div>
	</div>

	<div class='foothills'>
	</div>
</div>

{% endblock continent %}

{% block page_js %}
	<script type='text/javascript' src="/static/js/pages/tou.js"></script>
{% endblock page_js %}