/**
 * File: File Uploader
 * Specific files for the fileuploader.js library.
 */

.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-upload-button {
    /* or inline-block */
    background: #880000;
    border-bottom: 1px solid #ddd;
    color: #fff;
    display: block;
    nowhitespace: afterproperty;
    padding: 7px 0;
    text-align: center;
    width: 105px;
}

.qq-upload-button-hover {
    background: #cc0000;
}

.qq-upload-button-focus {
    outline: 1px dotted black
}

.qq-upload-drop-area {
    background: #FF9797;
    height: 100%;
    left: 0;
    min-height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;
}

.qq-upload-drop-area span {
    display: block;
    font-size: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.qq-upload-drop-area-active {
    background: #FF7171
}

.qq-upload-list {
    list-style: disc;
    margin: 15px 35px;
    padding: 0;
}

.qq-upload-list li {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;
}

.qq-upload-file,
.qq-upload-spinner,
.qq-upload-size,
.qq-upload-cancel,
.qq-upload-failed-text {
    margin-right: 7px
}

.qq-upload-file {

}

.qq-upload-spinner {
    background: url("loading.gif");
    display: inline-block;
    height: 15px;
    vertical-align: text-bottom;
    width: 15px;
}

.qq-upload-size,
.qq-upload-cancel {
    font-size: 11px
}

.qq-upload-failed-text {
    display: none
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline
}
