#map_canvas {
	width: 960px;
	height:545px;
}
#infobox {
	width: 155px;
	height: 135px;
	background: url('/static/images/map-infobox-bg.png') no-repeat;
	padding-left: 35px;
	padding-top: 26px;
}
#ib-title {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, serif;
	font-size: 17px;
	color: #555046;
	margin-bottom: 8px;
	width: 140px;
}
.ib-num {
	margin-left: 4px;
	font-family: "DIN", "Arial Narrow";
	font-size: 9px;
	color: #E06420;
}