/*------------------------------------------------------------------------------
	Give a Minute
	Mobile-specific CSS

-------------------------------------------------------------------------------*/
html.universe{ -webkit-text-size-adjust: none; }
head.heavens{ /* too bad we can't style the heavens */ }

body.earth{ height:auto; background:none repeat scroll 0 0 #F3F2F0; text-align:left;
	font-family:DIN,Helvetica; font-size:14px; color: #55504b;}
div.exosphere{ height:100%; overflow-y:scroll; }

.west{ float:left; }
.east{ float:right; }

a { text-decoration:none; color:#55504b; }
a.login-facebook,
a.login-twitter { width: 136px; height: 48px; display: block; background-position: top left; background-repeat: none; background-color: transparent; margin-right: 15px; background-size: 136px 48px; -webkit-transition: 100ms ease-in;  -moz-transition: 100ms ease-in; -o-transition: 100ms ease-in; transition: 100ms ease-in;}
a.login-facebook:hover,
a.login-twitter:hover { -webkit-box-shadow: 1px 1px 4px #bfbebc; -moz-box-shadow: 1px 1px 4px #bfbebc; box-shadow: 1px 1px 4px #bfbebc; }
a.login-facebook { background-image: url(../images/signin_fb.png); }
a.login-twitter { background-image: url(../images/signin_twitter.png); margin-right:0px; }
a.login-facebook span,
a.login-twitter span { visibility: hidden; }

/* typography utils */
.serif { font-family:MetaSerif,Georgia,serif; }

.fancy-caps { text-transform:uppercase; }
.fancy-caps > span { text-transform:none; font-style:italic; }

.fancy-caps { text-transform:uppercase; }
.fancy-caps > span { text-transform:none; font-style:italic; }

/* carousel */
.carousel { position:relative; }
.carousel .scrollable { position:relative; overflow:hidden; }
.carousel .scrollable .items { position:absolute; width:2000em; }
.carousel .scrollable .items > li { float:left; }

/* headings */
h1, h2, h3, h4, h5, h6, .above-h1 { font-weight:normal; color: #55504b; }
h1{ font-size:42px; line-height: 44px; font-weight: bold; margin-bottom: 18px; letter-spacing: -1px;}
h2{ font-size:24px; line-height: 30px; }
h3{ font-size:14px; }
.above-h1 { font-size: 13px; line-height: 13px; margin-bottom: 12px; font-weight: bold; text-transform: uppercase; display: block; letter-spacing: 1px;}
.above-h1 em { font-weight: normal; font-style: italic; text-transform: none; }
h1 span.unbold { font-weight: normal; }

.m14{ font-size:14px;}
.m18{ font-size:18px;}
.m24{ font-size:24px; line-height:28px; margin-bottom:5px;}
.m28{ font-size:27px; line-height:32px;}
.light{ color:#a6a5a4;}
.mid-strong{font-size:20px; margin:0 0 10px 0;}


/* top bar */
div.atmosphere{ width:100%; background-color:#231f20; height: 45px; }
div.atmosphere .stratosphere{ width:100%; margin:0 auto; position: relative;}
div.atmosphere .stratosphere > ul > li{ float:left; }
div.atmosphere .stratosphere li a { color: #c9b577; text-transform: uppercase;}
div.atmosphere .stratosphere li a:hover { color: #F3F2F0; }

div.atmosphere .stratosphere li.home a { background-image: url(../images/header-logo-mobile.png); background-size:180px 24px; width: 180px; height: 24px; margin: 10px 10px 0 15px; display:block;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
div.atmosphere .stratosphere li.home a { background-image: url(../images/header-logo-mobile-hdpi.png); background-size:180px 24px; width: 180px; height: 24px; margin: 10px 10px 0 15px; display:block;}
}
div.atmosphere .stratosphere li.home a span { visibility: hidden; }
div.atmosphere .stratosphere li.userland { margin: 15px 15px 0 0; text-align: right; position: absolute; top: 0; right: 0; }
div.atmosphere .stratosphere li.userland div { float:right; font-weight: bold; font-size: 12px; line-height: 12px; }
div.atmosphere .stratosphere li.userland div.join { margin-right: 15px; }

div.continent{ width:100%; margin:5px auto 0; overflow:hidden; }

/* Nav */

.nav{ margin:20px  auto 30px; width:290px; display:block;}
.nav li {float: left; letter-spacing: 0;}
.nav li a.current { font-weight:bold; color:#66615b; outline:1px solid #e8e8e6;background-color:#F3F2F0; background-color:#e8e8e6;}
.nav li a{ font-size: 17px; text-transform:uppercase; color:#a6a5a4; padding:5px 8px; outline:1px solid #e8e8e6;background-color:#F3F2F0;}

/* Mobile Wizard (Little merlin) */

.merlin input,
.merlin textarea { background-color: #fff; font-size: 18px; line-height: 18px; color: #b9b8b6; padding: 8px; border: 1px solid #b9b8b6; font-family: DIN, Verdana, Arial, sans-serif; display: block; float: left; width:94%; margin-bottom:5px; }
.merlin input[type="text"],
.merlin input[type="password"] { height: 22px; font-style: italic;}
.merlin input[type="text"].has-been-focused,
.merlin input[type="password"].has-been-focused,
.merlin textarea.has-been-focused { font-family: Georgia, Times, Times New Roman, serif; color: #55504b; font-style: normal; }

.merlin input[type="checkbox"] { width: 20px; height: 20px; background-color: #d6d5d4; }
.merlin input[type="radio"] { width: 20px; height: 20px; background-color: #d6d5d4; }
.merlin input[type=submit],
.merlin input[type=button] {background-color: #e5e4e1; color: #878786; font-weight: bold; font-size: 16px; line-height: 16px; padding: 10px; cursor: pointer; }
.merlin input[type=submit]:hover,
.merlin input[type=button]:hover {color: #F3F2F0; background: #7F7D7A; background: -moz-linear-gradient(top, #7F7D7A 0%, #A8A6A3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7F7D7A), color-stop(100%,#A8A6A3)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7F7D7A', endColorstr='#A8A6A3',GradientType=0 );}

a.submit {
	background-color:#e6e4e1; border:1px solid #cfcecb;
	font-weight:bold; text-transform:uppercase;
	cursor:pointer; color:#878786;
	padding:5px 10px 7px;
	margin-top:5px;
}
a.submit {
	-webkit-transition: 100ms ease-in;  -moz-transition: 100ms ease-in; -o-transition: 100ms ease-in; transition: 100ms ease-in;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
	font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
}

/* merlin step */

.merlin { width:100%; }
/*.merlin .step { width:0px;display:none; }*/

/* Add Idea  */

.page { position:relative; width:auto; padding: 8px 15px; display:inline-block; min-height:420px; border-bottom: 1px dashed #e5e5e5;}
.page .console { display: block; width: auto; }
.page .console span.hey { display: block; position: absolute; left: -6px; top:0px; background: url(../images/button_heyNYC_mobile_2.png) top left no-repeat transparent; height: 46px; width: 108px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        .add-idea .console span.hey { display: block; position: absolute; left: -6px; top:0px; background: url(../images/button_heyNYC_mobile_hdpi.png) top left no-repeat transparent; background-size: 108px 46px; height: 46px; width: 108px; }

}

.page .console span.hey span { visibility: hidden; }
.page .console span.console-message { font-size: 24px; line-height: 30px; font-weight: bold; letter-spacing: -1px;}
.page .console span.console-message span { display: block; float: left; width: 90px; height: 10px; }

.page .idea-input { float:left; margin-top: 11px; width:100%; }
.page .idea-input textarea { float:none; width: 94%; min-height: 85px; border:1px solid #e5e5e3; }
.page .idea-input .char-count { float:right; font-size:11px; color:#c0bfbd; margin-bottom:-12px;}
.page .idea-input div.helpers a { font-size: 11px; line-height: 11px; font-weight: bold; color: #3d3a36; text-transform: uppercase; margin:0 8px; }
.page div.primary-action {margin:0 auto; display:block; width:107px; height: 76px; top: 14px; right: 10px; }
.page div.primary-action a span { visibility: hidden; }
.page .idea-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_postActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.page .idea-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_postActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 107px 76px;}
}

.page .about { margin: 0 0 20px 0; font-size: 13px; letter-spacing:-0.5px;}

.page .row { display:inline-block; margin-bottom:12px; width:100%;}
.page label { font-size: 15px; line-height: 16px; margin: 4px 0 8px 4px; display: block }

.page.add-idea {width:2000px; position:relative; left:0px;}
.step{ display:block; width:100%; float:left; margin-right:15px;}

.page.add-idea .step .welcome-about { font-size:13px !important;}

/* User Details */

.page .detail-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_nextActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.add-idea .detail-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_nextActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 107px 76px;}
}

/* Location */

.page .location-input div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_finishActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.page .location-input div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_finishActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 120px 90px;}
}

/* location hood list */
div.location-hood-list { 
	padding: 8px; margin-top:2px; background-color:#fff; 
	border:1px solid #B9B8B6; font-size: 18px; line-height: 28px;
	-webkit-transition: 100ms ease-in;  -moz-transition: 100ms ease-in; -o-transition: 100ms ease-in; transition: 100ms ease-in;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
	}
div.location-hood-list:hover { -webkit-box-shadow: 1px 1px 4px #cfcecc; -moz-box-shadow: 1px 1px 4px #cfcecc; box-shadow: 1px 1px 4px #cfcecc; }
div.location-hood-list a{ }
div.location-hood-list a:hover{ background-color:#cfcecc; }
div.location-hood-list li.selected a{ background-color:#cfcecc; }
div.location-hood-list a span{ font-weight:bold; }
span.error { display: block; margin-top: 6px; color: #e53224; font-size: 11px; line-height: 11px; font-style: italic; }

/* Join List  */

.page .projects div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_join_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.page .projects div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_join_mobile_hdpi.png) center right no-repeat transparent;background-size: 120px 90px;}
}

.page .projects .carousel .scrollable { height:145px; }

.thumb { position:relative; }
.thumb .overlay-tag { display:block; position:absolute; left:0; }

ul.projects-list li div.thumb img { position: absolute; top: 6px; left: 6px; z-index: 1; }
ul.projects-list li div.thumb .overlay-tag { display: block; position: absolute; width: 24px; height: 24px; background: url(../images/avatar_sq_19.png) top left no-repeat #F3F2F0; z-index: 2; }
ul.projects-list li div.thumb .member-count { 
	position: absolute; top: 59px; left: 6px; margin-top: 5px; padding: 2px 12px 2px 4px; font-weight: bold; font-size: 11px; line-height: 11px;  
	background: url(../images/bg_avatar_memberCount.png) center right no-repeat #fff; color: #747474;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
ul.projects-list li div.project-info { margin-left: 70px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis;  }
ul.projects-list li div.project-info span { display: block; font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, Times, Times New Roman, serif; font-size: 13px; line-height: 16px;  }
ul.projects-list li span.link { margin-bottom: 2px; }
ul.projects-list li span.link a { font-size: 17px; line-height: 19px; font-weight: bold; color: #55504b; }
ul.projects-list li span.link a:hover { color: #3d3a36; }
ul.projects-list li span.creator { margin-bottom: 6px; }
ul.projects-list li span.description { text-overflow: ellipsis; }

ul.projects-list li { display: block; float: left; border-top: 1px solid #e5e5e3; border-bottom: 1px solid #e5e5e3; }
ul.projects-list.display li {border:none;}

ul.projects-list li { height: 105px; width: auto; padding-top: 20px; padding-bottom: 15px; padding-right: 10px;  }

.actions a { width:21px; height:18px;}
.actions a.back {background:url("../images/control_backArrow_mobile.png") no-repeat scroll left center transparent;}
.actions a.next {background:url("../images/control_nextArrow_mobile.png") no-repeat scroll left center transparent;}
.actions span { visibility:hidden; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.actions a { background-size: 21px 18px; }
	.actions a.back { background:url("../images/control_backArrow_mobile_hdpi.png") no-repeat scroll left center transparent;}
	.actions a.next { background:url("../images/control_nextArrow_mobile_hdpi.png") no-repeat scroll left center transparent;}
}

.view-project {
	text-align:center;
}

.view-project .submit{ font-weight:normal; width:220px; margin:0 auto; text-align:center; font-size:22px;
	margin-top:10px; }

/*  Login/Signup  */

.page .login-social { padding-bottom:20px; margin-bottom:35px; border-bottom:1px solid #E5E5E3; display:block;}

.page.signup .login-social { border:none; margin-bottom:10px;}

.page .login-or { margin:0 auto; text-transform:uppercase; font-size:18px; font-style:italic; color:#A6A5A4;
	background-color:#F3F2F0; position:relative; bottom:-33px; text-align:center; display:block; width:45px; }

a.submit { border: 1px solid #b9b8b6; font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Verdana, Arial, sans-serif;   }
a.submit {background-color: #e5e4e1; color: #878786; font-weight: bold; font-size: 16px; line-height: 1; padding: 7px; cursor: pointer; display:inline-block;}
a.submit:hover {color: #F3F2F0; background: #7F7D7A; background: -moz-linear-gradient(top, #A8A6A3 0%, #7F7D7A 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A8A6A3), color-stop(100%,#7F7D7A)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A8A6A3', endColorstr='#7F7D7A',GradientType=0 );}
a.submit:active {color: #F3F2F0; background: #7F7D7A; background: -moz-linear-gradient(top, #7F7D7A 0%, #A8A6A3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7F7D7A), color-stop(100%,#A8A6A3)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7F7D7A', endColorstr='#A8A6A3',GradientType=0 );}

.page p.signup { width:140px; float:right; }
.page.signup p.signup { width:auto; float:left; }
.page p.signup a{ text-transform:uppercase; text-decoration:underline; }

/* Validation */

.valid { border-color:#52B312 !important;}
.not-valid { border-color:#D95C5C !important; }
.email-info { margin-top: 3px; }
.email-info p {  font-size: 11px; line-height: 15px; }
.email-info p a { border-bottom: 1px solid #3d3a36; }
.email-info p.email-error { color: #e53224; margin-bottom: 3px; }





