/*------------------------------------------------------------------------------
	Give A Minute Font Faces


-------------------------------------------------------------------------------*/

@font-face { font-family: DIN; src: url('/static/fonts/DIN-Regular.otf'); } 
@font-face { font-family: DIN; font-weight: bold; src: url('/static/fonts/DIN-Bold.otf'); }
@font-face { font-family: DIN; font-style: italic; src: url('/static/fonts/DIN-RegularItalic.otf'); }
@font-face { font-family: DIN; font-weight: bold; font-style: italic; src: url('/static/fonts/DIN-BoldItalic.otf'); }
