/**
 * File: Project
 * Project specific CSS.
 */
div.headlands.project-header {
    margin-bottom: 0;
    margin-top: -10px;
}

.project-navigation {
    width: 100%;
    margin: -7px 0 30px 0;
    border-bottom: 1px solid #e5e5e3;
    padding: 0;
}

.project-navigation div,
.project-navigation ul li a {
    float: left;
    padding: 8px 12px;
    border-right: 1px solid #e5e5e3;
    min-height: 25px;
    display: block;
}

.project-navigation .similar-project {
    float: right;
    border: none;
    text-align: right;
}

.project-navigation ul {
    padding: 0;
    margin-left: 320px;
}

.project-navigation ul li a {
    font-size: 1.3em;
    vertical-align: middle;
    padding-top: 10px;
}

.project-navigation ul li a.current {
    background-color: #e5e5e3;
    border-top: 5px solid #55504B;
    padding-top: 5px;
}

.project-navigation ul li a.project-discussions {
    border-right: none;
}

.project-navigation div.twitter,
.project-navigation div.facebook,
.project-navigation div.google-plus {
    min-width: 50px;
}

.project-navigation div.facebook {
    padding-left: 0;
}

.project-navigation div.twitter {
    border-right: none;
}

.project-navigation div.google-plus div {
    width: 75px !important;
}
