#map_canvas {
	width: 960px;
	height:545px;
}
#infobox {
	width: 155px;
	height: 135px;
	background: url('/static/images/map-infobox-bg.png') no-repeat;
	padding-left: 35px;
	padding-top: 12px;
}
#ib-content {
	cursor: pointer;
}
#ib-title {
	font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, serif;
	font-size: 15px;
	color: #555046;
	margin-bottom: 8px;
	width: 110px;
}

/* For vertically-centered title */

.vCenter .outer {
	display: table;
	height: 110px;
	overflow: hidden;
	width: 112px;
}

.vCenter .outer .inner {
	display: table-cell;
	vertical-align: middle;
	width: 110px; /* Adjust this width, it should be a fraction smaller than the outercontainer width. */
	margin: 0 auto;
}

.ib-num {
	margin-left: 4px;
	font-family: "DIN", "Arial Narrow";
	font-size: 9px;
	color: #E06420;
}