/**
 * File: Admin
 * CSS for Admin bar and area.
 */

/**
 * Admin Top Bar
 */
body.admin div.atmosphere {
    background-image: url(../images/bg_adminbar.png);
    background-position: bottom left;
    background-repeat: repeat-x;
    height: 92px;
}

ul.adminbar {
    display: block;
    height: 46px;
    width: 960px;
}

ul.adminbar li.feature.state-disabled a {
    color: #C9B577;
}

ul.adminbar li.adminQuestion.question {
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
}

ul.adminbar li.adminQuestion.add {
    margin: 0;
    padding: 0;
}

ul.adminbar li.adminQuestion.add a {
    background-color: #24201F;
    border: 1px solid #3C3B39;
    font-size: 11px;
    margin: 5px 0 0 0;
    padding: 5px 12px 4px 12px;
}

ul.adminbar li.adminQuestion.add a:hover {
    background-color: #3C3B39;
    border-color: #24201F;
}

ul.adminbar li.adminQuestion {
    color: #C9B577;
    float: right;
}

ul.adminbar li.adminQuestion div.ddContainer {
    max-width: 454px  ! important;
    width: 454px ! important;
}

ul.adminbar li.adminQuestion div.ddContainer a.ddToggle.down span {
    background: url(../images/ddQuestionArrowDown.png)
}

ul.adminbar li.adminQuestion div.ddContainer ul.ddOptionList {
    border-color: #3B393A;
    min-width: 454px ! important;
}

ul.adminbar li.adminQuestion div.ddContainer ul.ddOptionList li.ddOption {
    margin: 0 ! important;
}

ul.adminbar li.adminQuestion div.ddContainer ul.ddOptionList li.ddOption a {
    background-color: #24201F ! important;
    color: #CCCBC9;
    padding: 10px ! important;
    width: 434px ! important;
}

ul.adminbar li.adminQuestion div.ddContainer a.ddToggle {
    background-color: #231F20;
    border-color: #3B393A;
    color: #CCCBC9;
    display: block;
    height: 19px;
    margin-top: 6px;
    max-width: 434px ! important;
    padding: 7px 10px 3px 10px ! important;
}

ul.adminbar li.adminQuestion div.ddContainer a.ddToggle:hover {
    color: white;
}

ul.adminbar li.adminQuestion div.ddContainer a.ddToggle span {
    background: url(../images/ddQuestionArrow.png);
    height: 13px;
    right: 12px;
    top: 9px;
    width: 13px;
}

ul.adminbar li.adminQuestion a {
    font-size: 18px;
    margin: 0px;
    padding: 0;
}

ul.adminbar li.feature a {
    background-position: 0 0;
    padding-left: 42px;
}

ul.adminbar li.feature a,
ul.adminbar li.delete a {
    background-image: url(../images/control_adminbar_sprite46.png);
    background-repeat: none;
    font-size: 14px;
    font-weight: bold;
    padding-top: 17px;
}

ul.adminbar li.feature a:hover,
ul.adminbar li.feature.state-disabled a {
    background-position: 0 -46px;
}

ul.adminbar li.feature.state-disabled a:hover {
    background-color: transparent;
    cursor: default;
}

ul.adminbar li.delete a:hover {
    background-position: 0 -138px;
    color: #F3F2F0;
}

ul.adminbar li.delete a {
    background-position: 0 -92px;
    color: #6b6565;
    padding-left: 36px;
}

ul.adminbar li.active a {
    cursor: default;
}

ul.adminbar li {
    display: block;
    float: left;
    margin-right: 10px;
    max-height: 46px;
}

ul.adminbar li a {
    color: #F3F2F0;
    display: block;
    font-size: 16px;
    line-height: 1;
    padding: 15px 15px 15px;
}

ul.adminbar li a:hover,
ul.adminbar li.active a {
    background-color: #3c3a3a;
}

/**
 * Global styles for CMS pages
 */
.continent.cms .headlands {
    margin-bottom: 45px;
}

.continent.cms h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 30px;
}

.continent.cms ul.tabs {
    font-size: 28px;
    line-height: 1;
}

.continent.cms ul.tabs li {
    display: block;
    float: left;
    margin-right: 25px;
}

.continent.cms ul.tabs li a {
    display: block;
    padding: 9px 15px 8px;
}

.continent.cms ul.tabs li a:hover,
.continent.cms ul.tabs li.active a {
    background-color: #55504b;
    color: #F3F2F0;
}

/*
.continent.cms .pagination-controls { float:right; }
.continent.cms .pagination-controls a { font-style: normal; float: left;}
.continent.cms .pagination-controls a:hover { color: #55504b }
.continent.cms .pagination-controls a.prev { margin-right: 20px;}
*/

.pagination-controls {
    float: right;
}

.pagination-controls a.prev {
    margin-right: 20px;
}

.pagination-controls a {
    float: left;
    font-style: normal;
}

.pagination-controls a:hover {
    color: #55504b;
}

/* "Admin Settings" CMS page  */

.continent.cms-admin-settings {
    margin-bottom: 50px;
}

.continent.cms-admin-settings #administrators table.active-admins-table td.control-call-status {
    width: 125px;
}

.continent.cms-admin-settings #administrators table.active-admins-table td.control-admin-type {
    font-size: 11px;
    text-transform: uppercase;
    width: 175px;
}

.continent.cms-admin-settings #administrators table.active-admins-table td.control-delete {
    width: 44px;
}

.continent.cms-admin-settings #administrators table.active-admins-table td.control-delete a {
    color: #e06420;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.continent.cms-admin-settings #administrators table.active-admins-table td.control-delete a:hover {
    text-decoration: underline;
}

.continent.cms-admin-settings #administrators table.active-admins-table label.checked {
    font-weight: bold;
}

.continent.cms-admin-settings #administrators .add-admin-main input[type="password"] {
    margin-bottom: 25px;
}

.continent.cms-admin-settings #administrators .add-admin-main input[type="text"],
.continent.cms-admin-settings #administrators .add-admin-main input[type="password"] {
    float: none;
    width: 252px;
}

.continent.cms-admin-settings #administrators .add-admin-main .rounded-button {
    background-color: #a6a5a4;
    color: #F3F2F0;
    float: none;
    margin-top: 35px;
    padding-bottom: 9px;
    padding-top: 11px;
    text-align: center;
}

.continent.cms-admin-settings #administrators table.active-admins-table label {
    margin-bottom: 1px;
}

.continent.cms-admin-settings #administrators table.active-admins-table th,
.continent.cms-admin-settings #administrators table.active-admins-table td {
    border: none;
    padding: 25px 0 15px;
}

.continent.cms-admin-settings #administrators table.active-admins-table th h3 {
    font-size: 21px;
    line-height: 1;
    margin-bottom: 6px;
}

.continent.cms-admin-settings #administrators table.active-admins-table tr {
    border-bottom: 1px solid #EBEAE8;
}

.continent.cms-admin-settings #administrators table.active-admins-table tr:first-child th,
.continent.cms-admin-settings #administrators table.active-admins-table tr:first-child td {
    padding-top: 0;
}

.continent.cms-admin-settings #administrators table.active-admins-table th {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    width: 265px;
}

.continent.cms-admin-settings #administrators .add-admin-main .holderWrap {
    margin-left: -40px;
    top: 2px;
}

.continent.cms-admin-settings #administrators .add-admin-main label.white {
    padding-left: 40px;
}

.continent.cms-admin-settings #administrators .add-admin-main label {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 6px;
}

.continent.cms-admin-settings #administrators .add-admin-main .row {
    display: block;
    margin-bottom: 15px;
}

.continent.cms-admin-settings #administrators .scrollable {
    min-height: 1000px;
}

.continent.cms-admin-settings #administrators .scrollable > ul li {
    width: 610px;
}

.continent.cms-admin-settings #blacklist .box.actions-box {
    margin-right: 0;
    width: 280px;
}

.continent.cms-admin-settings #blacklist .box.actions-box .rounded-button {
    color: #55504b;
    float: left;
}

.continent.cms-admin-settings #blacklist .box.actions-box .rounded-button:hover {
    color: #F3F2F0;
}

.continent.cms-admin-settings #blacklist .box.actions-box > .hd p {
    color: #a6a5a4;
}

.continent.cms-admin-settings #blacklist .box.actions-box > .hd p span {
    font-weight: bold;
}

.continent.cms-admin-settings #administrators > .east {
    width: 610px;
}

.continent.cms-admin-settings #administrators > .east h2 {
    margin-top: 20px;
}

.continent.cms-admin-settings #blacklist .description {
    display: block;
    font-size: 18px;
    margin-bottom: 25px;
}

.continent.cms-admin-settings #administrators > .west {
    background-color: #ebe9e6;
    padding: 20px;
    width: 280px;
}

.continent.cms-admin-settings .pagination-controls {
    float: right;
    margin-top: 5px;
}

.continent.cms-admin-settings #blacklist textarea {
    background-color: #e5e4e1;
    border: none;
    color: #55504b;
    float: none;
    height: 450px;
    padding: 15px;
    width: 270px;
}

.continent.cms-admin-settings #blacklist .box {
    margin-right: 15px;
    width: 320px;
}

.continent.cms-admin-settings #blacklist .box > .hd p {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 20px;
    width: 70%;
}

.continent.cms-admin-settings #blacklist h2 {
    margin-bottom: 6px;
    text-transform: uppercase;
}

/**
 * "Content" CMS page
 */
.continent.cms-content {
    margin-bottom: 50px;
}

.continent.cms-content #featured-projects table.featured-projects-table {

}

.continent.cms-content #featured-projects table.featured-projects-table td.info-description {
    font-size: 13px;
    line-height: 16px;
    padding-right: 25px;
    width: 265px;
}

.continent.cms-content #featured-projects table.featured-projects-table td.control-delete {
    padding-right: 15px;
    text-align: right;
    width: 16px;
}

.continent.cms-content #featured-projects table.featured-projects-table td.control-delete a.delete {
    background: url(../images/control_close_16_sprite.png) 0 0 no-repeat transparent;
    display: block;
    float: right;
    height: 16px;
    width: 16px;
}

.continent.cms-content #featured-projects table.featured-projects-table td.control-delete a.delete:hover {
    background-position: 0 -16px;
}

.continent.cms-content #featured-projects table.featured-projects-table td.control-delete a.delete span {
    display: none;
}

.continent.cms-content #featured-projects table.featured-projects-table td.info-breakdown {
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    width: 155px;
}

.continent.cms-content #featured-projects table.featured-projects-table td.info-meta {
    font-size: 11px;
    line-height: 15px;
    padding-right: 14px;
    width: 115px;
}

.continent.cms-content #featured-projects table.featured-projects-table tr.alt {
    background-color: transparent;
}

.continent.cms-content #featured-projects table.featured-projects-table tr {
    background-color: #ebebe8;
    border: none;
}

.continent.cms-content #featured-projects table.featured-projects-table th,
.continent.cms-content #featured-projects table.featured-projects-table td {
    border: none;
    padding: 20px 0;
    vertical-align: middle;
}

.continent.cms-content #featured-projects table.featured-projects-table th h3 {
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 6px;
}

.continent.cms-content #featured-projects table.featured-projects-table th {
    padding-left: 15px;
    padding-right: 25px;
    text-align: left;
    vertical-align: middle;
    width: 315px;
}

.continent.cms-content li.flagged-content-carousel-item {
    width: 720px
}

.continent.cms-content #featured-projects .top-tier {
    border-bottom: 1px solid #EBEAE8;
    margin: 15px 0 25px;
    padding-bottom: 10px;
    width: 100%;
}

.continent.cms-content #featured-projects .top-tier > .east {
    width: 335px;
}

.continent.cms-content #featured-projects .top-tier > .west {
    padding-left: 15px;
    width: 480px;
}

.continent.cms-content #featured-projects .top-tier h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
}

.continent.cms-content #featured-projects .top-tier p {
    color: #a6a5a4;
    font-size: 11px;
    line-height: 15px;
    margin-top: 14px;
}

.continent.cms-content #featured-projects .top-tier p a {
    color: #a6a5a4;
    text-decoration: underline;
}

.continent.cms-content #featured-projects .top-tier p a:hover {
    color: #55504b;
}

.continent.cms-content #pending-resources {
    margin-top: 18px;
}

.continent.cms-content #pending-resources .spinner-message ul.pending-resources-stack p {
    float: none !important;
}

.continent.cms-content #pending-resources .scrollable > ul.items > li {
    height: 1000px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack {
    width: 564px
}

.continent.cms-content #pending-resources ul.pending-resources-stack li {
    border: 1px solid #cccbc8;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 563px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .control-approve {
    font-weight: bold;
    text-transform: uppercase;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .control-delete {
    color: #e06420;
    float: right;
    font-size: 11px;
    font-style: italic;
    margin-top: 3px;
    text-transform: uppercase;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li a:hover {
    text-decoration: underline;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .tags {
    margin-top: 29px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .hd,
.continent.cms-content #pending-resources ul.pending-resources-stack li .bd {
    padding: 10px 15px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd label.checked {
    font-weight: bold;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .box.half {
    float: left;
    margin-right: 25px;
    width: 138px;
    word-wrap: break-word;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .box.half + .box.half {
    margin-right: 0;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .box.half h4 {
    margin-top: 12px !important;
    width: 138px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .mission {
    margin-left: 215px;
    padding-right: 10px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .mission h4 {
    clear: right;
    margin-bottom: 3px;
    margin-top: 12px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .mission h4:first-child {
    margin-top: 0px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .mission p {
    margin-bottom: 10px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd label {
    font-size: 16px;
    line-height: 1;
    margin: 15px 0;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd label .holderWrap {
    position: relative;
    top: -3px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .west {
    width: 175px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .west img {
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    width: 38px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .west h3 {
    margin-bottom: 10px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .west p {
    clear: left;
    margin-bottom: 10px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .hd {
    background-color: #e5e4e1;
    font-size: 18px;
    line-height: 1;
    padding-bottom: 12px;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li .bd {
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li h3 {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 1px;
    word-wrap: break-word;
}

.continent.cms-content #pending-resources ul.pending-resources-stack li h4 {
    color: #878786;
    display: inline-block;
    margin-bottom: 7px;
    text-transform: uppercase;
    width: 300px;
}

.continent.cms-content #pending-resources .pagination-controls {
    float: none;
    width: 100%;
}

.continent.cms-content #pending-resources .pagination-controls .control {
    display: block;
    width: 100%;
}

.continent.cms-content #pending-resources .pagination-controls a.next {
    float: right;
}

.continent.cms-content #pending-resources > .west {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    width: 310px;
}

.continent.cms-content #pending-resources > .east {
    width: 565px;
}

.continent.cms-content #pending-resources > .east > .hd {
    margin-top: 5px;
    width: 100%;
}

.continent.cms-content #warning-list {
    margin-top: 18px;
}

.continent.cms-content #warning-list .box.flagged-content-filters .ft {
    font-size: 11px;
    line-height: 15px;
    margin-top: 35px;
    padding: 0 15px;
}

.continent.cms-content #warning-list .scrollable > ul.items > li {
    min-height: 1500px;
}

.continent.cms-content #warning-list ul.warning-list-stack li {
    background-color: #ebe9e6;
    float: none;
    margin-bottom: 15px;
    width: 720px;
}

.continent.cms-content #warning-list ul.warning-list-stack li .control-delete {
    color: #e06420;
    font-size: 11px;
    margin-right: 15px;
    margin-top: 3px;
    text-transform: uppercase;
}

.continent.cms-content #warning-list ul.warning-list-stack li.alt,
.continent.cms-content #warning-list ul.warning-list-stack li:nth-child(even) {
    background-color: transparent;
}

.continent.cms-content #warning-list ul.warning-list-stack li .control-ok {
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

.continent.cms-content #warning-list ul.warning-list-stack li .controls {
    background: url(../images/control_flag.png) center left no-repeat transparent;
    float: left;
    height: 20px;
    padding-left: 35px;
    width: 200px;
}

.continent.cms-content #warning-list ul.warning-list-stack li a:hover {
    text-decoration: underline;
}

.continent.cms-content #warning-list ul.warning-list-stack li .info {
    font-size: 11px;
    line-height: 15px;
    margin-left: 200px;
    text-align: right;
}

.continent.cms-content #warning-list ul.warning-list-stack li .info .title {
    font-size: 15px;
    margin: 0 15px 0 3px;
}

.continent.cms-content #warning-list ul.warning-list-stack li .info .name {
    font-weight: bold;
    text-transform: uppercase;
}

.continent.cms-content #warning-list ul.warning-list-stack li .bd,
.continent.cms-content #warning-list ul.warning-list-stack li h3 {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 3px;
}

.continent.cms-content #warning-list ul.warning-list-stack li h3 + p {
    font-size: 14px;
    line-height: 18px;
}

.continent.cms-content #warning-list ul.warning-list-stack li .hd {
    border-bottom: 1px solid #deddd9;
    min-height: 20px;
    padding: 10px 15px 10px;
}

.continent.cms-content #warning-list ul.warning-list-stack li .hd a {
    display: block;
    float: left;
    line-height: 1;
}

.continent.cms-content #warning-list ul.warning-list-stack li .hd a:hover {
    text-decoration: underline;
}

.continent.cms-content #warning-list ul.warning-list-stack li .bd {
    padding: 15px 15px 25px;
}

.continent.cms-content #warning-list ul.warning-list-stack li p {
    float: none;
}

.continent.cms-content #warning-list a.sidebar-item.active {
    cursor: default;
}

.continent.cms-content #warning-list a.sidebar-item {
    display: block;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 20px;
    padding: 3px 0 4px 15px;
}

.continent.cms-content #warning-list a.sidebar-item:hover,
.continent.cms-content #warning-list a.sidebar-item.active {
    background-color: #ebe9e6;
}

.continent.cms-content #warning-list > .west {
    width: 220px;
}

.continent.cms-content #warning-list > .east {
    width: 720px;
}

.continent.cms-content #warning-list > .east > .box > .hd {
    height: 42px;
    width: 720px;
}

.continent.cms-content #warning-list h2 {
    padding-left: 15px;
    text-transform: uppercase;
}

.continent.cms-content #metrics {
    margin-top: 18px;
}

.continent.cms-content #metrics ul.keyword-list li {
    display: block;
    float: left;
    margin-bottom: 6px;
    margin-right: 115px;
    min-height: 25px;
    overflow: hidden;
    padding: 3px 0;
    width: 345px;
}

.continent.cms-content #metrics ul.keyword-list li span.stats {
    float: right;
    font-size: 11px;
    line-height: 1;
    margin-top: 7px;
    text-transform: uppercase;
}

.continent.cms-content #metrics ul.keyword-list li span.stats .counter {
    color: #55504b;
}

.continent.cms-content #metrics ul.keyword-list li span.stats > span {
    margin-left: 15px;
}

.continent.cms-content #metrics ul.keyword-list li h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    max-width: 169px;
}

.continent.cms-content #metrics ul.keyword-list li h3 .counter {
    font-size: 11px;
    line-height: 1;
    position: relative;
    top: -2px;
}

.continent.cms-content #metrics .metrics-section {
    border-bottom: 1px solid #EBEAE8;
    margin: 35px 0;
    padding: 0 15px 35px;
}

.continent.cms-content #metrics .metrics-section .rounded-button {
    float: right;
    margin-right: 520px;
}

.continent.cms-content #metrics .metrics-section:last-child {
    border-bottom: none;
}

.continent.cms-content #metrics .metrics-section > .hd {
    width: 100%;
}

.continent.cms-content #metrics .metrics-section h2 {
    float: left;
}

.continent.cms-content #metrics .metrics-section p {
    font-size: 21px;
    line-height: 26px;
    width: 75%;
}

.continent.cms-content #metrics .metrics-header {
    background-color: #ebebe8;
    margin-bottom: 35px;
    padding: 20px 15px 15px;
}

.continent.cms-content #metrics .metrics-header .overall-stats {
    margin-left: 320px;
}

.continent.cms-content #metrics .metrics-header ul.breakdown {
    margin-bottom: 20px;
}

.continent.cms-content #metrics .metrics-header ul.breakdown li {
    float: left;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    width: 151px;
}

.continent.cms-content #metrics .metrics-header ul.breakdown li .counter {
    display: block;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 3px;
}

.continent.cms-content #metrics .metrics-header .averages {
    font-size: 11px;
    line-height: 15px;
    margin-left: 22px;
    text-transform: uppercase;
}

.continent.cms-content #metrics .metrics-header .averages .separator {
    margin: 0 8px;
}

.continent.cms-content #metrics .metrics-header > .west {
    width: 320px;
}

.continent.cms-content #metrics .metrics-header h2 {
    margin-top: 7px;
}

.continent.cms-content #metrics h2 questions

.continent.cms-content #metrics h2 .counter {
    font-size: 14px;
    line-height: 1;
    margin-left: 10px;
    position: relative;
    top: -2px;
}

/* "QUESTIONS" CMS page  */

.continent.cms-questions questions

.continent.cms-questions #questions table.active-questions-table td.control-call-status {
    width: 125px;
}

.continent.cms-questions #questions table.active-questions-table td.control-questions-type {
    font-size: 11px;
    text-transform: uppercase;
    width: 175px;
}

.continent.cms-questions #questions table.active-questions-table td.control-delete {
    width: 44px;
}

.continent.cms-questions #questions table.active-questions-table td.control-delete a {
    color: #e06420;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.continent.cms-questions #questions table.active-questions-table td.control-delete a:hover {
    text-decoration: underline;
}

.continent.cms-questions #questions table.active-questions-table label.checked {
    font-weight: bold;
}

.continent.cms-questions #questions .add-questions-main input[type="password"] {
    margin-bottom: 25px;
}

.continent.cms-questions #questions .add-questions-main input[type="text"],
.continent.cms-questions #questions .add-questions-main input[type="password"] {
    float: none;
    width: 252px;
}

.continent.cms-questions #questions .add-questions-main .rounded-button {
    background-color: #a6a5a4;
    color: #F3F2F0;
    float: none;
    margin-top: 35px;
    padding-bottom: 9px;
    padding-top: 11px;
    text-align: center;
}

.continent.cms-questions #questions table.active-questions-table label {
    margin-bottom: 1px;
}

.continent.cms-questions #questions table.active-questions-table th,
.continent.cms-questions #questions table.active-questions-table td {
    border: none;
    padding: 25px 0 15px;
}

.continent.cms-questions #questions table.active-questions-table th h3 {
    font-size: 21px;
    line-height: 1;
    margin-bottom: 6px;
}

.continent.cms-questions #questions table.active-questions-table tr {
    border-bottom: 1px solid #EBEAE8;
}

.continent.cms-questions #questions table.active-questions-table tr:first-child th,
.continent.cms-questions #questions table.active-questions-table tr:first-child td {
    padding-top: 0;
}

.continent.cms-questions #questions table.active-questions-table th questions

.continent.cms-questions #questions .add-questions-main .holderWrap {
    margin-left: -40px;
    top: 2px;
}

.continent.cms-questions #questions .add-questions-main label.white {
    padding-left: 40px;
}

.continent.cms-questions #questions .add-questions-main label {
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 6px;
}

.continent.cms-questions #questions .add-questions-main .row {
    display: block;
    margin-bottom: 15px;
}

.continent.cms-questions #questions .scrollable {
    min-height: 1000px;
}

.continent.cms-questions #questions .scrollable > ul li {
    width: 610px;
}

.continent.cms-questions #questions > .east {
    width: 610px;
}

.continent.cms-questions #questions > .east h2 {
    margin-top: 20px;
}

.continent.cms-questions #questions > .west {
    background-color: #ebe9e6;
    padding: 20px;
    width: 280px;
}

.continent.cms-questions .pagination-controls {
    float: right;
    margin-top: 5px;
}
