/**
 * File: Blackberry CSS
 * CSS for Blackberry devices.
 */

.west {
    float: left
}

.east {
    float: right
}

body {
    background-color: #f3f2f0;
    color: #55504b;
    font: 10px/14px Verdana, Arial, sans-serif;
}

a {
    color: #55504b;
    text-decoration: none;
}

h1 {
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 8px;
}

h1 a {
    text-decoration: underline
}

h2 {
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 12px;
    margin-top: 6px;
}

.serif {
    font-family: Georgia, Times, Times New Roman, serif
}

.unbold {
    font-weight: normal
}

.fancy-caps {
    text-transform: uppercase
}

.fancy-caps > span {
    font-style: italic;
    text-transform: none;
}

.atmosphere {
    background-color: #1f1e1d;
    color: #d9d4ca;
    height: 38px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.atmosphere .stratosphere {
    padding: 0 4%;
    position: relative;
}

.atmosphere .stratosphere li.userland {
    float: right;
    margin-top: 7px;
}

.atmosphere .stratosphere li.userland a {
    color: #d9d4ca;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.atmosphere .stratosphere li a span {
    display: none
}

.atmosphere .stratosphere li.home {
    background: url(../images/changebyus-lockup-bb.png) top left no-repeat;
    height: 26px;
    margin-top: 5px;
    width: 136px;
}

.atmosphere .stratosphere li.home a {
    display: block;
    height: 100%;
    width: 100%;
}

.continent {
    margin: 48px 4% 0;
    text-align: left;
}

.continent .step.signup-login input + h2 {
    display: block;
    font-weight: normal;
    margin: 3px 0 2px;
}

.continent .step.signup-login h2.last {
    font-weight: normal;
    margin-bottom: 35px;
    margin-top: 3px;
}

.continent input[type="submit"].large,
.continent input[type="button"].large {
    font-size: 165%;
    padding: 7px 12px;
}

.continent input[type="submit"].dark,
.continent input[type="button"].dark {
    background-color: #3d3a36
}

.continent .step.joined-project .box {
    margin-top: 25px;
    padding-bottom: 25px;
}

.continent .step.joined-project .box p {
    margin-bottom: 0
}

.continent .step.signup-login h2.or {
    margin: 0 15px 0;
    padding-top: 15px;
}

.continent .step.signup-login .box {
    height: 43px;
    margin-top: 25px;
    width: 100%;
}

.continent input[type="submit"],
.continent input[type="button"] {
    background-color: #f56516;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    margin-top: 6px;
    padding: 6px 10px;
    text-align: center;
    text-transform: uppercase;
}

.continent input[type="radio"] {
    display: block;
    float: left;
    margin-right: 4px;
}

.continent input[type="text"],
.continent input[type="password"] {
    color: #6d6660;
    margin-bottom: 3px;
    padding: 6px;
    width: 100%;
}

.continent .radio-buttons {
    font-size: 115%;
    text-align: left;
}

.continent .radio-buttons > span {
    clear: left;
    display: block;
    margin-bottom: 8px;
}

.continent .radio-buttons label {
    padding: 0
}

.continent .step.about h1 {
    line-height: 20px
}

.continent .step.initial {
    display: block
}

.continent h1 + .project {
    margin-top: 12px
}

.continent .project {
    font-size: 13px;
    line-height: 17px;
    width: 85%;
}

.continent .project span.title {
    display: block;
    font-weight: bold;
}

.continent .project span.num {
    font-weight: bold;
    left: -28px;
    max-width: 19px;
    position: absolute;
    top: 0;
}

.continent .project span {
    display: block;
    font-weight: normal;
}

.continent p.large {
    font-size: 125%
}

.continent .step {
    display: none
}

.continent label {
    display: block;
    font-size: 12px;
    padding: 12px 0 8px;
    text-align: left;
}

.continent form {
    text-align: center
}

.continent ol {
    list-style-type: none;
    margin-left: 28px;
}

.continent ol li {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.continent p {
    margin-bottom: 6px;
    text-align: left;
}

.location-hood-list {
    background-color: #fff;
    border: 1px solid #B9B8B6;
    font-size: 13px;
    margin: -4px 0 0;
    padding: 4px 0;
    position: absolute;
    text-align: left;
    z-index: 10001;
}

.location-hood-list li {
    display: block;
    z-index: 10002;
}

.location-hood-list a {
    display: block;
    padding: 4px;
}

.location-hood-list a:hover,
.location-hood-list li.selected a {
    background-color: #cfcecc
}

.location-hood-list a span {
    font-weight: bold
}

.location-hood-list.has-scrollbar {
    height: 100px;
    overflow-y: scroll;
}

.seafloor {
    margin: 16px 4% 0;
    padding-bottom: 10px;
    text-align: left;
}

.seafloor p.credits {
    margin-bottom: 6px
}

.seafloor p.links {
    font-weight: bold
}

.seafloor p {
    margin-bottom: 12px
}

.seafloor p a {
    margin-right: 6px;
    text-decoration: underline;
}

.template-content {
    display: none;
    overflow: hidden;
}