ul.navbar li.userland,
ul.navbar li.news-about,
ul.navbar li.search,
div.seafloor .search,
div.seafloor .sitemap li,
div.seafloor .feedback-button { display: none; }

div.seafloor { height: 175px; }
div.seafloor .sitemap li.sitemap-tou { display: block; }

body.beta-splash ul.navbar li.splashland { display: block; position: absolute; top: 0; right: -6px; }
body.beta-splash ul.navbar li.splashland a { padding: 3px 6px 4px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }
body.beta-splash ul.navbar li.splashland a:hover { text-decoration: none; background-color: #302b2c ; }
body.beta-splash ul.navbar li.splashland .join { color: #706d6e; } 
body.beta-splash ul.navbar li.splashland .join a { color:#c9c3c5; margin-left: 10px;}
body.beta-splash ul.navbar li.splashland > div { float:left; text-align:center; margin-top: 6px; position: relative; margin-left:10px; }
body.beta-splash ul.navbar li.splashland div.join { margin-right: 46px; }

.continent.splash { margin-top: 0; }
.continent.splash .headlands { margin-bottom: 125px; }

.continent.splash .beta-splash-container { 
	height: 635px; background: url("../images/bg_betasplash.jpg") no-repeat scroll left top transparent; position: relative; color: #3d3a36;}
.continent.splash .beta-splash-container .pane { 
	background: rgb(255, 255, 255); background: rgba(255, 255, 255, 0.7); position: absolute; top: 50px; left: 50px; right: 50px; padding: 25px 30px;}
.continent.splash .beta-splash-container .pane .west { width: 505px; }
.continent.splash .beta-splash-container .pane .east { width: 280px; margin-top: 66px; }
.continent.splash .beta-splash-container .pane h1 { font-size: 72px; line-height: 1; letter-spacing: -1px; position: relative; color: #3d3a36;}
.continent.splash .beta-splash-container .pane h1 .beta { 
	position: absolute; width: 66px; height: 47px; right: 12px; top: -6px;
	background: url("../images/button_beta.png") no-repeat scroll left top transparent }
.continent.splash .beta-splash-container .pane p {font-size: 22px; margin-bottom: 15px;}
.continent.splash .beta-splash-container .pane .east p { font-size: 22px; margin-top: 4px; }
.continent.splash .beta-splash-container .pane p.up { text-transform: uppercase; }
.continent.splash .beta-splash-container .pane p.up span { font-weight:bold; color: #f38213; }
.continent.splash .beta-splash-container .pane label { font-size: 18px; line-height: 1; }
.continent.splash .beta-splash-container .pane input { float: none; margin-top: 10px;}
.continent.splash .beta-splash-container .pane input[type="text"] { width: 262px; }
.continent.splash .beta-splash-container .pane input[type="submit"] { 
	float: right; color: #d9d7d7; background-color: #7e7c78; font-size: 21px; padding-bottom: 4px; margin-right: 0;
	filter:alpha(opacity=35); -moz-opacity:0.35; -khtml-opacity: 0.35; opacity: 0.35;}
.continent.splash .beta-splash-container .pane input[type="submit"]:hover { background-color: #4f4c4d; }
.continent.splash .beta-splash-container input.email.valid + input[type="submit"] { filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity: 1; opacity: 1;   }
.continent.splash .beta-splash-container .photocredit { 
	position: absolute; top: 612px; right: 14px; filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity: 0.4; opacity: 0.4;
	font-size: 10px; line-height: 1; color: #F3F2F0;}


.continent.splash .social-networking { padding: 15px 0 7px; }