/*------------------------------------------------------------------------------
	Give a Minute


-------------------------------------------------------------------------------*/

html.universe{ overflow-y: scroll; }
head.heavens{ /* too bad we can't style the heavens */ }

body.earth{ background:none repeat scroll 0 0 #F3F2F0; text-align:left;
	font-family:DIN,Helvetica; font-size:13px;}

.west{ float:left; }
.east{ float:right; }

a { text-decoration:none; }

/* headings */
h1, h2, h3, h4, h5, h6, .above-h1 { font-weight:normal; color: #55504b; }
h1{ font-size:42px; line-height: 42px; font-weight: bold; margin-bottom: 18px; letter-spacing: -1px;}
h2{ font-size:24px; line-height: 30px; }
h3{ font-size:14px; }
.above-h1 { font-size: 13px; line-height: 13px; margin-bottom: 12px; font-weight: bold; text-transform: uppercase; display: block; letter-spacing: 1px;}
.above-h1 em { font-weight: normal; font-style: italic; text-transform: none; }

/* top bar */
div.atmosphere{ width:100%; background-color:#231f20; height: 45px; margin-bottom: 35px; }
div.atmosphere .stratosphere{ width:960px; margin:0 auto; position: relative;}
div.atmosphere .stratosphere > ul > li{ float:left; }
div.atmosphere .stratosphere li a { color: #c9b577; text-transform: uppercase;}
div.atmosphere .stratosphere li a:hover { color: #F3F2F0; }
div.atmosphere .stratosphere li.home a { background-image: url(../images/header-logo.png); width: 281px; height: 45px; margin-right: 45px; display:block;}
div.atmosphere .stratosphere li.home a span { visibility: hidden; }
div.atmosphere .stratosphere li.news-about { font-size: 11px; line-height: 11px; font-weight: bold; margin-top: 16px; margin-right: 85px;} /* the right margin will need to change to 32px when the user is logged in */
div.atmosphere .stratosphere li.news-about > a { margin-right: 10px; }
div.atmosphere .stratosphere li.search { margin-top: 7px; }
div.atmosphere .stratosphere li.search input { border: 1px solid #312e2e; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;}
div.atmosphere .stratosphere li.search input[type=text] { width: 214px; margin-right: 8px; background-color: transparent; color: #736b6d; font: 10px/10px Verdana, Helvetica, Arial, sans-serif; padding: 6px;}
div.atmosphere .stratosphere li.search input[type=text]:focus { background-color: #302b2c; color:  }
div.atmosphere .stratosphere li.search input[type=submit] { background-color: #302b2c; color: #cab577; font: 13px/13px DIN, Helvetica, Arial, sans-serif; padding: 5px; text-transform: uppercase;}
div.atmosphere .stratosphere li.search input[type=submit]:hover { color: #F3F2F0 }
div.atmosphere .stratosphere li.userland { margin-top: 15px; text-align: right; position: absolute; top: 0; right: 0; }
div.atmosphere .stratosphere li.userland div { float:right; font-weight: bold; font-size: 13px; line-height: 13px; }
div.atmosphere .stratosphere li.userland div.join { margin-right: 45px; }



div.continent{ width:960px; margin:0 auto; }
	div.headlands{ width:100%; position:relative; margin:0 0 20px; }
	div.midlands{ width:100%; }
	div.foothills{ width:100%; }

/* general controls */
span.control { text-transform:uppercase; font-style:italic; font-size:9px; }
span.control a { color:#878786; }

span.counter { color:#e06420; }

p.hint { font-size:11px; color:#a6a5a4; }

input[type="button"],
input[type="submit"],
button { text-transform:uppercase; }

.form-pane { overflow:hidden; }
.form-pane .fields { float:left; }
.fields label { display:block; }

/* tooltip */
.tooltip { 
	background-color:#ffffff; 
	
	-moz-box-shadow:0 1px 24px #999999;
	-webkit-box-shadow:0 1px 24px #999999;
	box-shadow:0 1px 24px #999999;
}
.tooltip .tooltip-hd { background-color:#3d3a36; }
.tooltip .tooltip-hd h2 { font-family:MetaSerif,Georgia,serif; color:#ccccca; }

/* modal */
.modal {
	display:none;	
	z-index:10000;
	background-color:white;
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	-moz-box-shadow:3px 3px 1px 1px #aaa;
	-webkit-box-shadow: 3px 3px 1px 1px #aaa;	
}

/* wizard (merlin) */
.merlin-progress .indicator { display:block; height: 50px; width: 44px; margin: 0 15px; text-align: center; position: relative; }
.merlin-progress .indicator.last { margin-right: 0; }
.merlin-progress .indicator .label { position: absolute; top: 0; left: 0; width: 45px; font-size: 9px; color: #878786; text-transform: uppercase; font-weight: bold;}
.merlin-progress .indicator .num { position:absolute; bottom: 0; left: 6px; text-align: center; color: #f3f2f0; font-size: 20px; line-height: 20px; font-weight: bold; background-color: #878786; border: 1px solid #b6b4b1; width: 20px; height: 20px; padding: 4px 5px 6px 5px; -moz-border-radius: 16px; -webkit-border-radius: 16px; -khtml-border-radius: 16px; border-radius: 16px; display: block; float: left; }
.merlin-progress .indicator.inactive .num { background-color: #d1d1cf; }

/* tab view */
/* ... */

/* carousel */
/* ... */

/* empty state */
.empty-state-box { background-color:#d1fdb9; border:1px solid #cae6b5; }
.empty-state-box.big {  }

/* project */
.project-header { padding:16px 0; background-color:#edeceb; border-bottom:1px solid #e6e6e3; }

.project-header .thumb { float:left; width:132px; }
.project-header .thumb img.proj { margin:0 0 0 16px; }

.project-header .tools { float:right; width:170px; }

.project-header .main { overflow:hidden; }
.project-header .main h1 { font-family:MetaSerif,Georgia,serif; font-size:38px; }
.project-header .main .meta { display:block; }

.continent.project .midlands > .east { width:600px; }
.continent.project .midlands > .west { width:320px; }
.continent.project .midlands .box { margin:0 0 30px; }

.continent.project .midlands .box > .hd { margin:0 0 12px; position:relative; overflow:hidden; background-color:#edeceb; border-bottom:1px solid #e6e6e3; }
.continent.project .midlands .box > .hd h2 { float:left; text-transform:uppercase; color:#55504b; }
.continent.project .midlands .box > .hd h2 .counter { font-size:14px; }

.continent.project .midlands .box .actions { float:right; }
.continent.project .midlands .actions.detached + div { clear:right; }

.continent.project .midlands .box .bd .sub-hd { margin:0 0 8px; }
.continent.project .midlands .box h3 { text-transform:uppercase; color:#a6a5a4; }

/* goals */
.active-goals { background-color:#ffffff; }

.goal-card { background-color:#fff8dc; border:1px solid #fff3aa; }
.goal-card p { font-family:MetaSerif,Georgia,serif; font-size:25px; font-style:italic; }

.add-goal.form-pane { background-color:#ebebe8; }

/* conversation */
.comment-stack > li { margin:0 0 8px; padding:16px; background-color:#ffffff; border:1px solid #e8e6e3; }

/* seafloor */
div.seafloor{ width:960px; margin:20px auto 0; padding:20px 0 0; border-top:2px solid #ebeae8; }

div.seafloor > .west{ width:675px; }
div.seafloor > .east{ width:275px; }
div.seafloor .box { padding:0 0 25px; font-size: 11px; line-height: 16px; color: #55504b}
div.seafloor .logos img { height: 33px; margin-right: 20px }

div.seafloor .sitemap { width:150px; float:left;}
div.seafloor .sitemap a {color: #55504b }
div.seafloor .sitemap a:hover { border-bottom: 1px solid #d2cac2; }
div.seafloor .search { width:525px; float:right; margin-top: 6px;}
div.seafloor .search input { border: 1px solid #b9b8b6; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; font-family: DIN, Verdana, Arial, sans-serif; }
div.seafloor .search input[type=text] {background-color: #fff; color: #878786; font-size: 16px; line-height: 16px; padding: 8px; margin-right: 8px;}
div.seafloor .search input[type=submit] {background-color: #e5e4e1; color: #878786; font-weight: bold; font-size: 16px; line-height: 16px; padding: 10px; }
div.seafloor .search input[type=submit]:hover {color: #F3F2F0; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.04, rgb(179,178,177)),color-stop(0.76, rgb(201,201,201))); background-image: -moz-linear-gradient(center top,rgb(179,178,177) 4%,rgb(201,201,201) 76%); -webkit-box-shadow: 1px 1px 4px #dbdad8; -moz-box-shadow: 1px 1px 4px #dbdad8; box-shadow: 1px 1px 4px #dbdad8;}
div.seafloor .social-networking { margin-top: 3px; padding-bottom: 0; }
div.seafloor .copyright { margin-top: 6px; }

/* Home */
div.continent.home {  }
div.continent.home .headlands { border-bottom:1px solid #ebeae8; }
.home .headlands .splash { height:635px; background-color:#cccccc; }
.home .headlands .social-networking { padding:15px 0; color: #55504b;}

/* Register */
div.continent.register {  }
div.continent.register .merlin{  }
div.continent.register .merlin .step{ width:100%; }
div.continent.register .headlands{ border-bottom:1px solid #ebeae8; }
div.continent.register .headlands .merlin-progress .cur{ font-weight:bold; }
div.continent.register .headlands .ca-btn.enabled{ opacity:1.0; }
div.continent.register .headlands .ca-btn.disabled{ opacity:0.2; }

div.continent.register .midlands{ border-bottom:1px solid #ebeae8; }
div.continent.register .midlands input.has-been-focused.valid{ background-color:green; }
div.continent.register .midlands input.has-been-focused.not-valid{ background-color:red; }
div.continent.register .merlin .step{ padding:10px 0px 10px 0px; }
div.continent.register .foothills { padding-top:30px; }

/* Login */
div.continent.login {  }
div.continent.login .headlands{ border-bottom:1px solid #ebeae8; }
div.continent.login .midlands { width:; }
div.continent.login .midlands .west .email-login{ float:left;width:300px; }
div.continent.login .midlands .west .oauth-login{ float:right;width:; }
div.continent.login .midlands .east { width:374px; border-left:1px solid #ebeae8;
	padding:40px 0px;  }
div.continent.login .midlands .east p { margin-left:35px; }

/* Create */
div.continent.create {}
div.continent.create .headlands > .west { width: 600px; }
div.continent.create .headlands > .east { width: 360px; text-align: right}
div.continent.create .midlands .step > .west { width: 160px; }
div.continent.create .midlands .step > .east { width: 800px; }
