/*------------------------------------------------------------------------------
	Give a Minute
	Mobile-specific CSS

-------------------------------------------------------------------------------*/
html.universe{ }
head.heavens{ /* too bad we can't style the heavens */ }

body.earth{ height:auto; background:none repeat scroll 0 0 #F3F2F0; text-align:left;
	font-family:DIN,Helvetica; font-size:14px; color: #55504b; }
div.exosphere{ height:100%; overflow-y:scroll; }

.west{ float:left; }
.east{ float:right; }

a { text-decoration:none; color:#55504b; }
a.login-facebook,
a.login-twitter { width: 150px; height: 54px; display: block; background-position: top left; background-repeat: none; background-color: transparent; margin-right: 10px; -webkit-transition: 100ms ease-in;  -moz-transition: 100ms ease-in; -o-transition: 100ms ease-in; transition: 100ms ease-in;}
a.login-facebook:hover,
a.login-twitter:hover { -webkit-box-shadow: 1px 1px 4px #bfbebc; -moz-box-shadow: 1px 1px 4px #bfbebc; box-shadow: 1px 1px 4px #bfbebc; }
a.login-facebook { background-image: url(../images/signin_fb.png); }
a.login-twitter { background-image: url(../images/signin_twitter.png); margin-right:0px; }
a.login-facebook span,
a.login-twitter span { visibility: hidden; }

/* typography utils */
.serif { font-family:MetaSerif,Georgia,serif; }

.fancy-caps { text-transform:uppercase; }
.fancy-caps > span { text-transform:none; font-style:italic; }

/* headings */
h1, h2, h3, h4, h5, h6, .above-h1 { font-weight:normal; color: #55504b; }
h1{ font-size:42px; line-height: 44px; font-weight: bold; margin-bottom: 18px; letter-spacing: -1px;}
h2{ font-size:24px; line-height: 30px; }
h3{ font-size:14px; }
.above-h1 { font-size: 13px; line-height: 13px; margin-bottom: 12px; font-weight: bold; text-transform: uppercase; display: block; letter-spacing: 1px;}
.above-h1 em { font-weight: normal; font-style: italic; text-transform: none; }
h1 span.unbold { font-weight: normal; }

.m18{ font-size:18px;}
.m28{ font-size:28px;}
.light{ color:#a6a5a4;}


/* top bar */
div.atmosphere{ width:100%; background-color:#231f20; height: 45px; }
div.atmosphere .stratosphere{ width:100%; margin:0 auto; position: relative;}
div.atmosphere .stratosphere > ul > li{ float:left; }
div.atmosphere .stratosphere li a { color: #c9b577; text-transform: uppercase;}
div.atmosphere .stratosphere li a:hover { color: #F3F2F0; }

div.atmosphere .stratosphere li.home a { background-image: url(../images/header-logo-mobile.png); background-size:180px 24px; width: 180px; height: 24px; margin: 10px 10px 0 15px; display:block;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
div.atmosphere .stratosphere li.home a { background-image: url(../images/header-logo-mobile-hdpi.png); background-size:180px 24px; width: 180px; height: 24px; margin: 10px 10px 0 15px; display:block;}
}
div.atmosphere .stratosphere li.home a span { visibility: hidden; }
div.atmosphere .stratosphere li.userland { margin: 15px 15px 0 0; text-align: right; position: absolute; top: 0; right: 0; }
div.atmosphere .stratosphere li.userland div { float:right; font-weight: bold; font-size: 12px; line-height: 12px; }
div.atmosphere .stratosphere li.userland div.join { margin-right: 15px; }

div.continent{ width:100%; margin:5px auto 0; }


/* Nav */

.nav{ margin:20px  auto 30px; width:290px; display:block;}
.nav li {float: left; letter-spacing: 0;}
.nav li a.current { font-weight:bold; color:#66615b; outline:1px solid #e8e8e6;background-color:#F3F2F0; background-color:#e8e8e6;}
.nav li a{ font-size: 17px; text-transform:uppercase; color:#a6a5a4; padding:5px 8px; outline:1px solid #e8e8e6;background-color:#F3F2F0;}

/* Mbile Wizard (Little merlin) */

.merlin input,
.merlin textarea { background-color: #fff; font-size: 18px; line-height: 18px; color: #b9b8b6; padding: 8px; border: 1px solid #b9b8b6; font-family: DIN, Verdana, Arial, sans-serif; display: block; float: left; width:94%; }
.merlin input[type="text"],
.merlin input[type="password"] { height: 22px; font-style: italic;}
.merlin input[type="text"].has-been-focused,
.merlin input[type="password"].has-been-focused,
.merlin textarea.has-been-focused { font-family: Georgia, Times, Times New Roman, serif; color: #55504b; font-style: normal; }

.merlin input[type="checkbox"] { width: 20px; height: 20px; background-color: #d6d5d4; }
.merlin input[type=submit],
.merlin input[type=button] {background-color: #e5e4e1; color: #878786; font-weight: bold; font-size: 16px; line-height: 16px; padding: 10px; cursor: pointer; }
.merlin input[type=submit]:hover,
.merlin input[type=button]:hover {color: #F3F2F0; background: #7F7D7A; background: -moz-linear-gradient(top, #7F7D7A 0%, #A8A6A3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7F7D7A), color-stop(100%,#A8A6A3)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7F7D7A', endColorstr='#A8A6A3',GradientType=0 );}


/* Add Idea  */

.add-idea { position:relative; width:auto; padding: 8px 15px; display:inline-block; min-height:420px; border-bottom: 1px dashed #e5e5e5;}
.add-idea .console { display: block; width: auto; }
.add-idea .console span.hey { display: block; position: absolute; left: -6px; top:0px; background: url(../images/button_heyNYC_mobile_2.png) top left no-repeat transparent; height: 46px; width: 108px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        .add-idea .console span.hey { display: block; position: absolute; left: -6px; top:0px; background: url(../images/button_heyNYC_mobile_hdpi.png) top left no-repeat transparent; background-size: 108px 46px; height: 46px; width: 108px; }

}

.add-idea .console span.hey span { visibility: hidden; }
.add-idea .console span.console-message { font-size: 24px; line-height: 30px; font-weight: bold; letter-spacing: -1px;}
.add-idea .console span.console-message span { display: block; float: left; width: 90px; height: 10px; }

.add-idea .idea-input { float:left; margin-top: 11px; width:100%; }
.add-idea .idea-input textarea { float:none; width: 94%; min-height: 85px; border:1px solid #e5e5e3; }
.add-idea .idea-input .char-count { float:right; font-size:11px; color:#c0bfbd; margin-bottom:-12px;}
.add-idea .idea-input div.helpers a { font-size: 11px; line-height: 11px; font-weight: bold; color: #3d3a36; text-transform: uppercase; margin:0 8px; }
.add-idea div.primary-action {margin:0 auto; display:block; width:107px; height: 76px; top: 14px; right: 10px; }
.add-idea div.primary-action a span { visibility: hidden; }
.add-idea .idea-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_postActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.add-idea .idea-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_postActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 107px 76px;}
}

.add-idea .about { margin: 20px 0; font-size: 13px; letter-spacing:-0.5px;}

.add-idea .row { display:inline-block; margin-bottom:12px; width:100%;}
.add-idea label { font-size: 15px; line-height: 16px; margin: 4px 0 8px 4px; display: block }

/* User Details */

.add-idea .detail-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_nextActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.add-idea .detail-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_nextActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 107px 76px;}
}

/* Location */

.add-idea .location-input div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_finishActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.add-idea .location-input div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_finishActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 120px 90px;}
}

/* Join List  */

.add-idea .projects div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_join_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.add-idea .projects div.primary-action a { display: block; width: 120px; height: 90px; background: url(../images/button_join_mobile_hdpi.png) center right no-repeat transparent;background-size: 120px 90px;}
}

.thumb { position:relative; }
.thumb .overlay-tag { display:block; position:absolute; left:0; }

ul.projects-list li div.thumb img { position: absolute; top: 6px; left: 6px; z-index: 1; }
ul.projects-list li div.thumb .overlay-tag { display: block; position: absolute; width: 24px; height: 24px; background: url(../images/avatar_sq_19.png) top left no-repeat #F3F2F0; z-index: 2; }
ul.projects-list li div.thumb .member-count { 
	position: absolute; top: 59px; left: 6px; margin-top: 5px; padding: 2px 12px 2px 4px; font-weight: bold; font-size: 11px; line-height: 11px;  
	background: url(../images/bg_avatar_memberCount.png) center right no-repeat #fff; color: #747474;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
ul.projects-list li div.project-info { margin-left: 70px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis;  }
ul.projects-list li div.project-info span { display: block; font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, Times, Times New Roman, serif; font-size: 13px; line-height: 16px;  }
ul.projects-list li span.link { margin-bottom: 2px; }
ul.projects-list li span.link a { font-size: 17px; line-height: 19px; font-weight: bold; color: #55504b; }
ul.projects-list li span.link a:hover { color: #3d3a36; }
ul.projects-list li span.creator { margin-bottom: 6px; }
ul.projects-list li span.description { text-overflow: ellipsis; }

ul.projects-list li { display: block; float: left; border-top: 1px solid #e5e5e3; border-bottom: 1px solid #e5e5e3; }

ul.projects-list li { height: 105px; width: auto; padding-top: 20px; padding-bottom: 15px; padding-right: 10px;  }

.actions a { width:21px; height:18px;}
.actions a.back {background:url("../images/control_backArrow_mobile.png") no-repeat scroll left center transparent;}
.actions a.next {background:url("../images/control_nextArrow_mobile.png") no-repeat scroll left center transparent;}
.actions span { visibility:hidden; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.actions a { background-size: 21px 18px; }
	.actions a.back { background:url("../images/control_backArrow_mobile_hdpi.png") no-repeat scroll left center transparent;}
	.actions a.next { background:url("../images/control_nextArrow_mobile_hdpi.png") no-repeat scroll left center transparent;}
}




