/**
 * File: Mobile
 * Mobile-specific (non-Blackberry) CSS.
 */

html.universe {
    -webkit-text-size-adjust: none
}

head.heavens {
    /* too bad we can't style the heavens */ : 
}

body.earth {
    background: none repeat scroll 0 0 #F3F2F0;
    color: #55504b;
    font-family: DIN,Helvetica;
    font-size: 14px;
    text-align: left;
}

.continent {
    margin: 5px 15px 0
}

.west {
    float: left
}

.east {
    float: right
}

.row {
    margin-bottom: 12px;
    overflow: hidden;
}

.row.nomb {
    margin-bottom: 0
}

a {
    color: #55504b;
    text-decoration: none;
}

/**
 * Typography utils.
 */
.serif {
    font-family: MetaSerif,Georgia,serif
}

.fancy-caps {
    text-transform: uppercase
}

.fancy-caps > span {
    font-style: italic;
    text-transform: none;
}

.fancy-caps > span {
    font-style: italic;
    text-transform: none;
}

.fancy-caps {
    text-transform: uppercase
}

/**
 * Carousel.
 */
.carousel {
    position: relative
}

.carousel .scrollable {
    overflow: hidden;
    position: relative;
}

.carousel .scrollable .items {
    position: absolute;
    width: 2000em;
}

.carousel .scrollable .items > li {
    float: left
}

.carousel-nav a {
    display: block;
    float: left;
    height: 18px;
    margin-left: 8px;
    width: 21px;
}

.carousel-nav a:first-child {
    margin-left: 0
}

.carousel-nav a.prev {
    background: url("../images/control_backArrow_mobile.png") no-repeat scroll left center transparent
}

.carousel-nav a.next {
    background: url("../images/control_nextArrow_mobile.png") no-repeat scroll left center transparent
}

.carousel-nav span {
    visibility: hidden
}

/**
 * Headings.
 */
h1,
h2,
h3,
h4,
h5,
h6,
.above-h1 {
    color: #55504b;
    font-weight: normal;
}

h1 span.unbold {
    font-weight: normal
}

.above-h1 em {
    font-style: italic;
    font-weight: normal;
    text-transform: none;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 44px;
    margin-bottom: 18px;
}

h2 {
    font-size: 24px;
    line-height: 30px;
}

h3 {
    font-size: 14px
}

.above-h1 {
    display: block;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 13px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.m14 {
    font-size: 14px
}

.m18 {
    font-size: 18px
}

.m24 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}

.m28 {
    font-size: 27px;
    line-height: 32px;
}

.light {
    color: #a6a5a4
}

.mid-strong {
    font-size: 20px;
    margin: 0 0 10px 0;
}

.project-title {
    font-family: Georgia, Times, Times New Roman, serif
}

.step .about {
    font-size: 13px;
    letter-spacing: -0.5px;
    margin: 20px 0;
}

/**
 * Top bar.
 */
.atmosphere {
    background-color: #231f20;
    height: 45px;
}

.atmosphere .stratosphere {

}

.atmosphere .stratosphere li.userland {
    float: none;
    position: absolute;
    right: 0;
    top: 0;
}

.atmosphere .stratosphere li.userland a.active {
    background-color: #302b2c
}

.atmosphere .stratosphere li.userland div {
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
}

.atmosphere .stratosphere li.userland a {
    display: block;
    margin: 7px 5px 0 0;
    padding: 8px 10px;
}

.atmosphere .stratosphere li.home a {
    background-image: url(../images/logo-mobile-153x25.png);
    background-size: 153px 25px;
    display: block;
    height: 25px;
    margin: 10px 10px 0 10px;
    width: 153px;
}

.atmosphere .stratosphere li.home a span {
    visibility: hidden
}

.atmosphere .stratosphere > ul > li {
    float: left
}

.atmosphere .stratosphere li a {
    color: #c9b577
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
    div.atmosphere .stratosphere li.home a {
        background-image: url(../images/logo-mobile-306x50.png);
        background-size: 153px 25px;
        display: block;
        height: 50px;
        margin: 10px 0 0 10px;
        width: 306px;
    }
}

/**
 * Nav.
 */
.nav {
    font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    padding: 20px 0 30px;
}

.nav ul {
    text-align: center
}

.nav ul li {
    *display: inline;
    display: inline-block;
    letter-spacing: 0;
    zoom: 1;
}

.nav ul li a.current {
    background-color: #F3F2F0;
    background-color: #e8e8e6;
    color: #66615b;
    font-weight: bold;
    outline: 1px solid #e8e8e6;
}

.nav ul li a {
    background-color: #F3F2F0;
    color: #a6a5a4;
    display: block;
    font-size: 17px;
    outline: 1px solid #e8e8e6;
    padding: 5px 8px;
    text-transform: uppercase;
}

/**
 * JS utils.
 */
.template-content {
    display: none
}

.merlin {

}

.merlin .step.spinner-message img {
    display: block;
    margin: 5px auto 0;
    width: 32px;
}

.merlin input[type="checkbox"] {
    background-color: #d6d5d4;
    height: 20px;
    width: 20px;
}

.merlin input[type="radio"] {
    background-color: #d6d5d4;
    float: left;
    height: 20px;
    width: 20px;
}

.merlin input[type=submit],
.merlin input[type=button] {
    background-color: #e5e4e1;
    color: #878786;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding: 10px;
}

.merlin input[type=submit]:hover,
.merlin input[type=button]:hover {
    background: #7F7D7A;
    background: -moz-linear-gradient(top, #7F7D7A 0%, #A8A6A3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7F7D7A), color-stop(100%,#A8A6A3));
    color: #F3F2F0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7F7D7A', endColorstr='#A8A6A3',GradientType=0 );
}

.merlin input[type="text"],
.merlin input[type="password"] {
    height: 22px
}

.merlin .step.initial {
    display: block
}

.merlin .step {
    display: none;
    font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    position: relative;
}

.merlin input,
.merlin textarea {
    background-color: #fff;
    border: 1px solid #b9b8b6;
    color: #b9b8b6;
    color: #55504b;
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 5px;
    padding: 8px;
    width: 93%;
}

/**
 * Controls.
 */
label {
    display: block;
    font-size: 15px;
    line-height: 1;
    margin: 4px 0 8px 4px;
}

label.nobtn {
    margin-left: 30px
}

a.submit {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-transition: 100ms ease-in;
    -o-transition: 100ms ease-in;
    -webkit-border-radius: 2px;
    -webkit-transition: 100ms ease-in;
    background-color: #e5e4e1;
    border: 1px solid #b9b8b6;
    border-radius: 2px;
    color: #878786;
    display: inline-block;
    font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    margin-top: 5px;
    padding: 10px 10px 14px 10px;
    text-transform: uppercase;
    transition: 100ms ease-in;
}

a.submit:active {
    background: #7F7D7A;
    background: -moz-linear-gradient(top, #7F7D7A 0%, #A8A6A3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7F7D7A), color-stop(100%,#A8A6A3));
    color: #F3F2F0;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7F7D7A', endColorstr='#A8A6A3',GradientType=0 );
}

div.primary-action {
    display: block;
    height: 76px;
    margin: 0 auto;
    right: 10px;
    top: 14px;
    width: 107px;
}

div.primary-action a {
    display: block
}

div.primary-action a span {
    visibility: hidden
}

.rounded-button {
    -khtml-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -moz-transition: 75ms ease-in;
    -o-transition: 75ms ease-in;
    -webkit-border-radius: 3px !important;
    -webkit-transition: 75ms ease-in;
    background-color: #e5e4e1;
    border: 1px solid #cccbc8;
    border-radius: 3px !important;
    color: #878786;
    display: block;
    float: right;
    font-weight: bold;
    line-height: 1;
    padding: 8px 12px 10px;
    transition: 75ms ease-in;
}

.rounded-button:hover {
    background-color: #878786;
    color: #F3F2F0;
    cursor: pointer;
}

/**
 * Add Idea.
 */
.console span.hey {
    background: url(../images/button_heyNYC_mobile_2.png) top left no-repeat transparent;
    display: block;
    height: 46px;
    left: -17px;
    position: absolute;
    top: -5px;
    width: 108px;
}

.console span.hey span {
    visibility: hidden
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
    .console span.hey {
        background: url(../images/button_heyNYC_mobile_hdpi.png) top left no-repeat transparent;
        background-size: 108px 46px;
        height: 46px;
        width: 108px;
    }
}

.console span.console-message {
    font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 30px;
}

.console span.console-message span {
    display: block;
    float: left;
    height: 10px;
    width: 90px;
}

.idea-start .input {
    margin-top: 11px
}

.idea-start .input div.primary-action a {
    background: url(../images/button_postActive_mobile.png) center right no-repeat transparent;
    display: block;
    height: 76px;
    width: 107px;
}

.idea-start .input .char-count {
    color: #c0bfbd;
    font-size: 11px;
    text-align: right;
    width: 93%;
}

.idea-start .input .row {
    overflow: visible
}

textarea.idea-text {
    border-color: #e5e5e3;
    height: 85px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
    .idea-start .input div.primary-action a {
        background: url(../images/button_postActive_mobile_hdpi.png) center right no-repeat transparent;
        background-size: 107px 76px;
        display: block;
        height: 76px;
        width: 107px;
    }
}

.idea-start .welcome-about {
    font-size: 13px
}

/**
 * User Details.
 */
.user-details .detail-input div.primary-action a {
    background: url(../images/button_nextActive_mobile.png) center right no-repeat transparent;
    display: block;
    height: 76px;
    width: 107px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
    .user-details .detail-input div.primary-action a {
        background: url(../images/button_nextActive_mobile_hdpi.png) center right no-repeat transparent;
        background-size: 107px 76px;
        display: block;
        height: 76px;
        width: 107px;
    }
}

/**
 * Location.
 */
.location-input label {
    margin-left: 30px
}

.location-input input[type="radio"] {
    margin: 0
}

.location-input .row.location-hood-holder {
    overflow: visible
}

.location div.primary-action a {
    background: url(../images/button_finishActive_mobile.png) center right no-repeat transparent;
    height: 90px;
    width: 120px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
    .location div.primary-action a {
        background: url(../images/button_finishActive_mobile_hdpi.png) center right no-repeat transparent;
        background-size: 120px 90px;
        height: 90px;
        width: 120px;
    }
}

div.location-hood-list {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-transition: 100ms ease-in;
    -o-transition: 100ms ease-in;
    -webkit-border-radius: 2px;
    -webkit-transition: 100ms ease-in;
    background-color: #fff;
    border: 1px solid #B9B8B6;
    border-radius: 2px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 2px;
    padding: 8px;
    transition: 100ms ease-in;
    width: 94%;
}

div.location-hood-list li.selected a {
    background-color: #cfcecc
}

div.location-hood-list:hover {
    -moz-box-shadow: 1px 1px 4px #cfcecc;
    -webkit-box-shadow: 1px 1px 4px #cfcecc;
    box-shadow: 1px 1px 4px #cfcecc;
}

div.location-hood-list a {

}

div.location-hood-list a:hover {
    background-color: #cfcecc
}

div.location-hood-list a span {
    font-weight: bold
}

span.error {
    clear: left;
    color: #e53224;
    display: block;
    font-size: 11px;
    font-style: italic;
    line-height: 11px;
    margin: 6px 0;
}

/**
 * Join List.
 */
.join-list .projects div.primary-action a {
    background: url(../images/button_join_mobile.png) center right no-repeat transparent;
    height: 90px;
    width: 120px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
    .join-list .projects div.primary-action a {
        background: url(../images/button_join_mobile_hdpi.png) center right no-repeat transparent;
        background-size: 120px 90px;
        height: 90px;
        width: 120px;
    }
}

.found-projects {
    visibility: hidden
}

.projects .carousel .scrollable {
    height: 145px
}

.thumb {
    position: relative
}

.thumb .overlay-tag {
    display: block;
    left: 0;
    position: absolute;
}

ul.projects-list li {
    border-bottom: 1px solid #e5e5e3;
    border-top: 1px solid #e5e5e3;
    display: block;
    float: left;
}

ul.projects-list.display li {
    border: none
}

ul.projects-list li div.thumb .member-count {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: url(../images/bg_avatar_memberCount.png) center right no-repeat #fff;
    border-radius: 2px;
    color: #747474;
    font-size: 11px;
    font-weight: bold;
    left: 6px;
    line-height: 11px;
    margin-top: 5px;
    padding: 2px 12px 2px 4px;
    position: absolute;
    top: 59px;
}

ul.projects-list li div.thumb .overlay-tag {
    background: url(../images/avatar_sq_19.png) top left no-repeat #F3F2F0;
    display: block;
    height: 24px;
    position: absolute;
    width: 24px;
    z-index: 2;
}

ul.projects-list li div.project-info {
    -o-text-overflow: ellipsis;
    margin-left: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.projects-list li span.description {
    text-overflow: ellipsis
}

ul.projects-list li div.project-info span {
    display: block;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, Times, Times New Roman, serif;
    font-size: 13px;
    line-height: 16px;
}

ul.projects-list li div.thumb img {
    left: 6px;
    position: absolute;
    top: 6px;
    z-index: 1;
}

ul.projects-list li span.creator {
    margin-bottom: 6px
}

ul.projects-list li span.link {
    margin-bottom: 2px
}

ul.projects-list li span.creator .owner {
    display: inline-block
}

ul.projects-list li {
    height: 105px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-top: 20px;
    width: auto;
}

ul.projects-list li span.link a {
    color: #55504b;
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) { 
    .carousel-nav a {
        background-size: 21px 18px
    }

    .carousel-nav a.prev {
        background: url("../images/control_backArrow_mobile_hdpi.png") no-repeat scroll left center transparent
    }

    .carousel-nav a.next {
        background: url("../images/control_nextArrow_mobile_hdpi.png") no-repeat scroll left center transparent
    }
}

ul.projects-list li span.link a:hover {
    color: #3d3a36
}

.view-project {
    text-align: center
}

.view-project .submit {
    font-size: 22px;
    font-weight: normal;
    margin: 10px auto 0;
    text-align: center;
    width: 220px;
}

/**
 * Login/Signup.
 */
.login-or-signup .row {
    text-align: center
}

.login-or-signup .row > span {
    display: block;
    font-size: 12px;
}

.login-or-signup .submit {
    margin-bottom: 8px;
    margin-top: 8px;
}

.login-social {
    border-bottom: 1px solid #E5E5E3;
    margin-bottom: 35px;
    padding-bottom: 20px;
}

.signup .login-social {
    border: none;
    margin-bottom: 0;
}

.login-or {
    background-color: #F3F2F0;
    bottom: -33px;
    color: #A6A5A4;
    display: block;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 45px;
}

p.signup {
    float: right;
    text-align: right;
    width: 50%;
}

p.signup a {
    text-decoration: underline;
    text-transform: uppercase;
}

.signup p.signup {
    float: left;
    width: auto;
}

a.login-facebook,
a.login-twitter {
    -moz-transition: 100ms ease-in;
    -o-transition: 100ms ease-in;
    -webkit-transition: 100ms ease-in;
    background-color: transparent;
    background-position: top left;
    background-repeat: none;
    display: block;
    height: 48px;
    margin-right: 15px;
    transition: 100ms ease-in;
    width: 136px;
}

a.login-facebook:hover,
a.login-twitter:hover {
    -moz-box-shadow: 1px 1px 4px #bfbebc;
    -webkit-box-shadow: 1px 1px 4px #bfbebc;
    box-shadow: 1px 1px 4px #bfbebc;
}

a.login-facebook span,
a.login-twitter span {
    visibility: hidden
}

a.login-facebook {
    background-image: url(../images/signin_fb_mobile.png)
}

a.login-twitter {
    background-image: url(../images/signin_twitter_mobile.png);
    margin-right: 0px;
}

p.forgot-password {
    font-size: 12px
}

p.forgot-password a {
    font-style: italic
}

.forgot-password p.mid-strong {

}

.forgot-password .detail-input {
    margin: 10px 0 0
}

/**
 * Validation.
 */
.valid {
    border-color: #52B312 !important
}

/*.not-valid { border-color:#D95C5C !important; }_NO__DOTCOMMA__AFTER__*/

.email-info {
    clear: left;
    margin-top: 3px;
}

.email-info p.email-error {
    color: #e53224;
    margin-bottom: 3px;
}

.email-info p {
    font-size: 11px;
    line-height: 15px;
}

.email-info p a {
    border-bottom: 1px solid #3d3a36
}

div.continent input.has-been-focused.valid,
div.continent textarea.has-been-focused.valid {
    border-color: #52b312 !important
}

div.continent input.has-been-focused.not-valid.has-attempted-submit,
div.continent textarea.has-been-focused.not-valid.has-attempted-submit {
    border-color: #d95c5c !important
}

/**
 * Footer.
 */
.seafloor {
    margin: 20px 15px;
    overflow: hidden;
}

.seafloor .logos .supported-by {
    color: #894949;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: bold;
    height: 21px;
    line-height: 1;
    padding: 18px 15px 0 0;
    text-align: right;
    width: 70px;
}

.seafloor .logos img {
    height: 33px;
    margin-right: 16px;
}

.seafloor .row.nomb {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.seafloor .logos a {
    display: block;
    float: left;
    height: 33px;
    padding: 6px 0;
}

.seafloor .east {
    text-align: right;
    width: 50%;
}

.seafloor .west {
    width: 40%
}

.seafloor .box {
    color: #55504b;
    font-size: 11px;
    line-height: 16px;
    padding: 0 0 25px;
}

.seafloor .box .fancy-caps {
    color: #a6a5a4
}

.seafloor .row {
    border-bottom: 1px dashed #e5e5e5;
    padding-bottom: 20px;
}