/**
 * File: Search Map
 * CSS for the search map.
 */

#map_canvas {
    height: 545px;
    width: 960px;
}

#infobox {
    background: url('/static/images/map-infobox-bg.png') no-repeat;
    height: 135px;
    padding-left: 35px;
    padding-top: 12px;
    width: 155px;
}

#ib-content {
    cursor: pointer
}

#ib-title {
    color: #555046;
    font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, serif;
    font-size: 15px;
    margin-bottom: 8px;
    width: 110px;
}

/**
 * For vertically-centered title.
 */
.vCenter .outer {
    display: table;
    height: 110px;
    overflow: hidden;
    width: 112px;
}

/**
 * Adjust this width, it should be a fraction smaller
 * than the outercontainer width.
 */
.vCenter .outer .inner {
    display: table-cell;
    margin: 0 auto;
    nowhitespace: afterproperty;
    vertical-align: middle;
    width: 110px;
}

.ib-num {
    color: #E06420;
    font-family: "DIN", "Arial Narrow";
    font-size: 9px;
    margin-left: 4px;
}