/*------------------------------------------------------------------------------
	Reset
		Author: Lev Kanter, Type/Code LLC

-------------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, audio, canvas, command, datalist,
details, embed, figcaption, figure, footer, header,
hgroup, mark, meter, nav, output, progress, section,
summary, time, video {
	margin:0; padding:0; vertical-align:baseline;
	border:0; outline:0; font-size:100%;
	background-color:transparent; background-repeat:no-repeat;
}
html { height:100%; }
body { text-align:center; line-height:1.4; font-size:62.5%; }
ul, ol { list-style:none; list-style-position:outside; }
table { border-collapse:collapse; border-spacing:0; }
caption { text-align:center; caption-side:top; }
acronym[title], abbr[title] { cursor:help; }
del { text-decoration:line-through; }
strong { font-weight:bold; } 
em { font-style:italic; }
sup { vertical-align:super; font-size:80%; }
sub { vertical-align:sub; font-size:80%; }
small { font-size:80%; }
big { font-size:120%; }
hr { height:1px; }
textarea { overflow:auto; resize:none; }
input[type="hidden"] { display:none; }
blockquote, q { quotes:none; }
q:before, q:after { content:'"'; }
:focus { outline:0; }
::-moz-focus-inner { border-color:transparent; }

/* Hide for both screenreaders and browsers
	css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
	www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;   
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px); }
	
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

.clearfix:after { 
	content:"."; display:block; clear:both; 
	visibility:hidden; line-height:0; height:0; 
}
.clearfix { display:inline-block; }
html[xmlns] .clearfix { display:block; }
* html .clearfix { zoom:1; }