/**
 * File: Reset
 * Overrides browser CSS assumptions so that the rest of the CSS
 * can have a consistent base to start from.
 *
 * Authors: 
 * - Lev Kanter, Type/Code LLC
 */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

q:before,
q:after {
    content: '"'
}

html {
    height: 100%
}

body {
    font-size: 62.5%;
    line-height: 1.4;
    text-align: center;
}

ul,
ol {
    list-style: none;
    list-style-position: outside;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption {
    caption-side: top;
    text-align: center;
}

acronym[title],
abbr[title] {
    cursor: help
}

del {
    text-decoration: line-through
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

sup {
    font-size: 80%;
    vertical-align: super;
}

sub {
    font-size: 80%;
    vertical-align: sub;
}

small {
    font-size: 80%
}

big {
    font-size: 120%
}

hr {
    height: 1px
}

textarea {
    overflow: auto;
    resize: none;
}

input[type="hidden"] {
    display: none
}

blockquote,
q {
    quotes: none
}

:focus {
    outline: 0
}

::-moz-focus-inner {
    border-color: transparent
}

/**
 * Hide for both screenreaders and browsers
 * http://css-discuss.incutio.com/wiki/Screenreader_Visibility
 */
.hidden {
    display: none;
    visibility: hidden;
}

/**
 * Hide only visually, but have it available for screenreaders
 * http://www.webaim.org/techniques/css/invisiblecontent/
 * http://j.mp/visuallyhidden
 */
.visuallyhidden {
    /* IE6, IE7 */
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    nowhitespace: afterproperty;
    position: absolute !important;
}

/**
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden
}

.clearfix {
    display: inline-block
}

html[xmlns] .clearfix {
    display: block
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

* html .clearfix {
    zoom: 1
}