[program:%(application)s]
command=/usr/local/bin/uwsgi
  --socket %(app_path)s/run/uwsgi.sock
  --logto %(log_path)s/uwsgi.log
  --pythonpath %(app_path)s/current
  --wsgi-file %(app_path)s/current/wsgi.py
  --callable application
  --max-requests 1000
  --master
  --processes 4
  --chmod
directory=%(app_path)s/current
user=%(user)s
autostart=true
autorestart=true
stopsignal=QUIT
