/**
 * Basic 1 column (content)(aside) fluid layout
 * 
 * @package WPFramework
 * @subpackage Layouts
 * @beta
 */

.container { margin: 20px 20px; }
.hfeed { float: left; }
.aside { float: left; }
.footer { clear: both; }