#------------------------------------------------
# INSTRUCTIONS
#------------------------------------------------
#
# 1. Copy this file to rcfile.<your-name>:
#       cp rcfile.sample rcfile.your-name
# 2. Replace all the strings
# 3. Ask an admin for a pre-existing rcfile to start from
# 4. Check that this works by running:
#       fab --config=rcfile.your-name create_config_yaml
#    This will create config.yaml in the current directory,
#    which can then be used by the fabfile for all other tasks
#
# To create a
#

appmode = not-beta
dev = Yes
app_env = dev

default_host = http://localhost:8080/
blog_host = http://dev-nycblog.changeby.us/

# Database stuff
database_db = gam2
database_user = gam
database_password = 'gam'
database_host = 127.0.0.1

# Email configurations
email_from_noreplies_email = noreplies@nyc.changeby.us

digest_log_file = /Users/sundar/Desktop/cbu.log
digest_log_level = debug

email_smtp_username = 'changebyusnyc@gmail.com'
email_smtp_password = XXXXXXXXXX

# Homepage and leaderboard configurations
homepage_num_featured_projects = 6
homepage_num_recent_ideas = 125
homepage_is_display_featured_projects = True
homepage_is_display_leaderboard = False

# Comma-delimited (without-spaces) names of all recipients of debug messages
digest_debug_recipients = XXXX@XXXX.com
from_email = changebyusnyc@gmail.com

# AWS Credentials
aws_secret_access_key = XXXXXXXXXX
aws_access_key_id = XXXXXXXXXX

# S3 configs
s3_bucket = eholda-nyc-changebyus

# Twilio Credentials
twilio_sid = XXXXXXXXXX
twilio_token = XXXXXXXXXX
twilio_api = 2010-04-01
twilio_phone = XXXXXXXXXX

# Facebook credentials
facebook_app_id = XXXXXXXXXX

# Twitter credentials
twitter_consumer_key = XXXXXXXXXX
twitter_consumer_secret = XXXXXXXXXX

# Media
media_root = XXXXXXXXXX


#--------------------------------
# LIGHTTPD Configurations
#-------------------------------
webserver_port = 8080
webserver_user = sraman
webserver_group = developers
