/*------------------------------------------------------------------------------
	Give a Minute
	Internet Explorer general CSS (IE 9 and below)
-------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------
UTILS */

.has-layout-fixer { zoom:1; }


/*-----------------------------------------------------------------------------
GENERAL & SITE-WIDE STYLES */

/* input styles */
div.continent input[type="text"], 
div.continent input[type="password"] { padding-top: 5px; padding-bottom: 7px; }


/* table styles */
table.resources-list .resource-name > span { display: block; vertical-align: baseline; }
table.resources-list .resource-name > span span { display: inline; vertical-align: baseline; font-size: 15px;}

/* tooltips */
.tooltip .tooltip-tail { 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop',src='../images/tooltip_tail_bottom.png');
}





/*-----------------------------------------------------------------------------
PAGE-SPECIFIC STYLES */

/* search results page */
.continent.search-results table { padding:0; width: 100%; }
.search-results.continent #map-view table { width: auto; }
.continent.search-results .results-box .bd { padding:20px; width: 765px !important; }
.continent.search-results #list-view .results-box .bd ul.ideas-list { padding: 0 !important; }