/* ---------------------------------------------------------
CONVErSATION SECTION
----------------------------------------------------------- */
/* Layout the tabs */
.conversation-input { display:inline-block; vertical-align: top; border-left: 1px solid #E6E4E1; width: 350px; }
.conversation-tabs-wrapper { display:inline-block; padding-right:2px; }
.conversation-input-wrapper { background-color: white; width: 438px; padding: 6px 15px 3px 6px; margin 0 30px 0 0; border: 1px solid #E6E4E1; }

/* Set up the background sprites for the tabs */
.conversation-tabs a { display: block; width: 32px; height: 32px; overflow: hidden; }
.conversation-tabs li { float: left; margin-right: 3px; }

.conversation-comment-tab { width: 32px; height: 32px; background: transparent url('../../images/discussion_sprites.png') 0 0 no-repeat; }
.conversation-link-tab { width: 32px; height: 32px; background: transparent url('../../images/discussion_sprites.png') -32px 0 no-repeat; }
.conversation-file-tab { width: 32px; height: 32px; background: transparent url('../../images/discussion_sprites.png') -64px 0 no-repeat; }

.conversation-comment-tab.active { width: 32px; height: 32px; background: transparent url('../../images/discussion_sprites.png') 0 -32px no-repeat; }
.conversation-link-tab.active { width: 32px; height: 32px; background: transparent url('../../images/discussion_sprites.png') -32px -32px no-repeat; }
.conversation-file-tab.active { width: 32px; height: 32px; background: transparent url('../../images/discussion_sprites.png') -64px -32px no-repeat; }


/* Layout the widget space */
.conversation-input-file-field { display:none; float:left; padding:0 10px; }
.conversation-input-message-field { float:left; position: relative; padding:0 10px;}
.conversation-input-message-field label { position:absolute; top:0px; left:10px; height: 30px; line-height: 30px; font-size:18px; color:#878786; cursor:text; }

.conversation-input .file-uploader { position:static; }
.conversation-input .qq-upload-button { border:none; background:transparent; padding:0; width:auto; text-align: left; }
.conversation-input .qq-upload-button-hover { background:transparent; }
.conversation-input .qq-upload-button label { color:#878786; text-decoration:underline; font-size:18px; line-height: 30px; height: 30px; padding-right:18px; background: right no-repeat url('../../images/control_forwardArrow_12px_light.png'); }
.conversation-input .qq-upload-list { margin: 0; padding-top: 3px; list-style: none; }

.conversation-input .qq-upload-file { font-weight: bold; display: block; }
.conversation-input .qq-upload-file-thumb { display: inline-block; vertical-align: top; }
.conversation-input .qq-upload-file-details { display: inline-block; vertical-align: top; margin-left:10px; }

.message.step .hint { clear: both; }

/* conversation */
.conversation-controls { position:relative; width:100%; padding:0 0 25px; }
.conversation-controls .rss-btn { position:absolute; bottom:-8px; right:0; padding:0 8px 0 15px; font-weight:bold; font-size:9px; color:#e06420; background-color:#f3f2f0; }
.conversation-controls .filters { position:absolute; padding:0 15px 0 8px; bottom:-9px; left:0; background-color:#f3f2f0; }
.conversation-controls .filters select { visibility:hidden; }

.conversation-controls .conversation-input-wrapper { float:left; position:relative; }
.conversation-controls .conversation-input-wrapper textarea { display:block; width:327px; height:30px; padding: 0; margin: 0; line-height:1.3; border: none; }
.conversation-controls .conversation-input-wrapper p.hint { padding:5px 0 0 15px; clear:left; }

.conversation-controls .primary-action { float:right; width:100px; }
.conversation-controls .primary-action button { font-size:18px; padding:3px 5px; margin:1px 0 5px 5px; }
.conversation-controls .primary-action .ca-btn { margin:-10px 0 0; width:107px; height:76px; background-image:url("../../images/button_postActive_2.png"); }

.conversation-media-modal { padding:30px 90px; height:410px; }
.conversation-media-modal .carousel { height:100%; }
.conversation-media-modal .carousel-controls { display:block; width:60px; padding:42px 0 0; text-align:center; text-transform:uppercase; font-size:13px; font-weight:bold; color:#cccbc8; background-position:top center; }
.conversation-media-modal .carousel-controls.next { right:-65px; top:50%; background-image:url("../../images/control_nextArrow_mobile_hdpi.png");}
.conversation-media-modal .carousel-controls.prev { left:-65px; top:50%; background-image:url("../../images/control_backArrow_mobile_hdpi.png"); }

.conversation-media-modal .items li { height:410px; text-align:center; position:relative; }
.conversation-media-modal .items li .attachment-img { height:360px; line-height:360px;}
.conversation-media-modal .items li .attachment-img img { max-height:360px; max-width:360px; border:8px solid #fff; vertical-align:middle; }
.conversation-media-modal .items li .attachment-desc { position:absolute; bottom:0; text-align:left; font-size:13px; }

/**
 * Comments
 */
.comment-stack {
    border-top: 1px solid #e6e4e1;
    padding: 20px 0 0;
}

.comment-stack > li {
    background-color: #ffffff;
    border: 1px solid #e8e6e3;
    margin: 8px 0 0 10px;
    min-height: 50px;
    padding: 15px;
    padding-right: 0px;
    position: relative;
}

.comment-stack > li:first-child {
    margin-top: 0
}

.comment-stack > li > .membrane {
    /* this
 is mainly so we can add the speech bubble tail graphic */
    background-image: url("../../images/comment_tail.png");
    background-position: top left;
    background-repeat: no-repeat;
    left: -25px;
    padding-left: 25px;
    position: relative;
}

.comment-stack > li > a.close {
    background-image: url("../../images/control_close_7.png");
    height: 7px;
    right: 8px;
    top: 8px;
    width: 7px;
}

.comment-stack .thumb {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
}

.comment-stack .main {
    display: inline-block;
    vertical-align: top;
    width: 360px;
    overflow: hidden;
}

.comment-stack .aside {
    display: inline-block;
    vertical-align: top;
    width: 90px;
}

.comment-stack .aside cite {
    display: block;
}

.comment-stack .message-wrapper {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #e8e6e3;
    padding-right: 10px;
    margin-right: 10px;
}

.comment-stack .main > blockquote {
    word-break: break-word
}

.comment-stack .main > blockquote p {
    font-size: 17px;
    padding: 10px 0 0;
}

.comment-stack .main > blockquote p:first-child {
    padding-top: 0
}

.comment-stack .main > blockquote.serif p a {
    font-style: italic
}

.comment-stack .main .note-card + blockquote {
    padding-left: 135px
}

.comment-stack .main .note-card + blockquote + cite.meta-ft {
    padding-left: 135px
}

.comment-stack .main .meta-hd {
    display: block;
    padding: 0 0 5px;
}

.comment-stack .main .meta-hd strong {
    font-style: normal;
    text-transform: uppercase;
}

.comment-stack .main .meta-hd strong a {

}

.comment-stack .main .meta-hd strong a:hover {
    text-decoration: underline
}

.comment-stack .main .meta-ft {
    color: #a6a5a4;
    display: block;
    font-size: 11px;
    font-style: normal;
    padding: 5px 0 0;
    text-transform: uppercase;
    clear: both;
}

.comment-stack .file-thumb img {
    float: left;
    margin-right: 10px;
}

.comment-stack .main .note-card {
    background-image: url("../../images/bg_note_121.png");
    float: left;
    height: 128px;
    margin: 0 10px 0 0;
    width: 121px;
}

.comment-stack .main .note-card blockquote {
    font-size: 8px;
    font-weight: bold;
    line-height: 1.4;
    padding: 0 8px;
}

