.event {
}

.event > .bd {
    background-color: #EDECEB;
    border-top: 1px solid #E6E6E3;
    border-bottom: 1px solid #E6E6E3;
    margin: 0 0 12px;
    min-height: 25px;
    padding: 15px 10px 5px 10px;
    position: relative;
}

.event > .bd > .wrapper {
    display: table;
    width: 100%;
}

.event-body,
.event-datetime,
.event-rsvp {
    display: table-cell;
    vertical-align: top;
}

.event a.event-edit {
    float:right;
    color:red;
    text-transform:uppercase;
    font-style:italic;
    font-weight:bold;
    font-size:10px;
}

.event .bd .event-delete {
  background: url(../../images/control_close_7_sprite.png) 0 -7px no-repeat;
  width: 15px;
  height: 15px;
  display: block;

  position: absolute;
  right: 5px;
  top: 8px;
/*  float:right;*/
/*  margin-top: 10px;*/
/*  margin-right: -5px;*/
  line-height: 0;
  font-size: 0;
}

/* ========================================
 * The datetime calendar icon
 */
.event .event-datetime {
    float: left;
    background-image: url('/static/images/calendar.png');
    width: 68px;
    height: 88px;
}

.event .event-datetime .month,
.event .event-datetime .day,
.event .event-datetime .time {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 1em;
}

.event .event-datetime .month {
    margin-top: 15px;
    text-transform: uppercase;
}

.event .event-datetime .day {
    text-transform: uppercase;
    font-size: 35px;
}

.event .event-datetime .time {
    margin-top: 2px;
    text-transform: uppercase;
}

/* ========================================
 * The detail space
 */
.event-body {
  padding: 10px;
  width: 100%;
}

.event-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -5px;
}

.event-loc-title {
    font-size: 16px;
}

.event-loc-title a {
    font-weight: bold;
}

.event-description {
    margin-top: 1em;
}

.event-body p .read-more {
  background: url(../../images/control_readmore.png) 95% 50% no-repeat #55504b;
  color: #FFF8DD;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding:3px 15px 3px 3px;
}

/* ========================================
 * RSVP section
 */

.event-rsvp {
    padding-top: 8px;
    padding-right: 15px;
}

.rsvp-link {
    line-height: 50px;
    width:150px;
    font-size: 22px;
    display: block;
    font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    text-align: center;

    background-color: #d9d9d7;
    border: 1px solid #d1d0ce;
    color: #54504d;
}

.rsvp-site {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    text-align: left;
    font-style: italic;
}

.rsvp-site-name {
    display: block;
    font-style: normal;
    font-weight: bold;
}

.event-need {
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 10px 0px 5px 0px;
}

.more-event-needs {
    font-size: 10px;
    display: block;
    text-align: center;
    text-decoration: underline;
}
