.event {
    padding-top: 10px;
}

/* ========================================
 * The datetime calendar icon
 */
.event .event-datetime {
    float: left;
    background-image: url('/static/images/calendar.png');
    width: 68px;
    height: 88px;
}

.event .event-datetime .month,
.event .event-datetime .day,
.event .event-datetime .time {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 1em;
}

.event .event-datetime .month {
    margin-top: 15px;
    text-transform: uppercase;
}

.event .event-datetime .day {
    text-transform: uppercase;
    font-size: 35px;
}

.event .event-datetime .time {
    margin-top: 2px;
    text-transform: uppercase;
}

/* ========================================
 * The detail space
 */
.event-body,
.event-datetime,
.event-rsvp {
    display: table-cell;

}

.event-body {
  padding: 10px;
}

.event-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -5px;
}

.event-loc-title {
    font-size: 16px;
}

.event-loc-title a {
    font-weight: bold;
}

.event-description {
}

/* =
 * RSVP section
 */
.rsvp-link {
    line-height: 50px;
    width:150px;
    font-size: 22px;
    display: block;
    font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
    text-align: center;

    background-color: #d9d9d7;
    border: 1px solid #d1d0ce;
    color: #54504d;
}

.rsvp-site {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    text-align: left;
    font-style: italic;
}

.rsvp-site-name {
    display: block;
    font-style: normal;
    font-weight: bold;
}

/* =
 * Form section
 */
.project .midlands .box > .bd.add-event {
    background-color:#EDECEB;
    border:1px solid #E6E6E3;
    padding:20px;
    margin-top:10px;
    width:600px;
}

.project .midlands .box > .bd.add-event .long-row {
    width:600px;
}

.project .midlands .box > .bd.add-event .long-row.optional .title {
    font-weight:normal;
    font-size:12px;
    clear:both;
}

.project .midlands .box > .bd.add-event .title {
    font-weight:bold;
    font-size:13px;
    padding:15px 0 5px;
}

.project .midlands .box > .bd.add-event .long-row input[type="text"], .project .midlands .box > .bd.add-event .long-row input[type="password"], .project .midlands .box > .bd.add-event .long-row textarea {
    float:none;
    width:580px;
}

.project .midlands .box > .bd.add-event .row input[type="text"], .project .midlands .box > .bd.add-event .row input[type="password"], .project .midlands .box > .bd.add-event .row textarea {

}
.project .midlands .box > .bd.add-event .title .charlimit {
    float:right;
    margin:0 3px 0 0;
    line-height:normal;
    padding:0;
    font-size:12px;
}

#event-day {
    width:60px;
}

.event-submit {
  background-color: #D9D9D7;
  border: 1px solid #CCCCDA;
  color: #54504d;
  line-height: 50px;
  width:150px;
  font-size: 22px;
  display: block;
  font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  text-align: center;
  float: right;
}

.event-submit.disabled {
  background-color: #EDECEB;
  border-color: #E6E6E3;
  color: #c8c7c5;
}

