.members .east {
    background-color: white;
    padding: 5px 5px 5px 15px;
    width: 450px;
}

.members .west {
    width: 150px;
}

.project .members .sub-hd h3 {
    text-transform: none;
}

.members-nav li {
    padding: 5px 10px;
}

.members-nav .active {
    background-color: white;
    font-weight: bold;
    text-decoration: underline;
}

.members-stack {
    margin: 0px;
    padding: 0px;
}

.members-stack li {
    border-top: 1px solid #EDECEB;
    margin: 0px;
    padding: 10px 0px;
}

.members .pagination-controls a.prev {
    float: left;
    margin-right: 10px;
}

.members .pagination-controls .carousel-page-info {
    float: left;
    font-style: normal;
    text-transform: lowercase;
}

.members .pagination-controls a.next {
    float: right;
    margin-left: 10px;
}
