/* ---------------------------------------------------------
CONVErSATION SECTION
----------------------------------------------------------- */
.need .bd {
  background-color: #FFF9DB;
  padding-bottom: 10px !important;
}

.need .bd > a {
  display:block;
  float:left;
}

.volunteer-body {
  width: 425px;
}

.volunteer-body > span {
  font-size: 14px;
}

.vol-need {
  background-color: #FBEC99;
}

.vol-title {
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.volunteer-body {
  float:left;
  margin-right: 25px;
  margin-left: 10px;
}

.volunteer-body p {
  margin-bottom: 20px;
}

.volunteer-body p .read-more {
  background: url(../../images/control_readmore.png) 74px 4px no-repeat #55504b;
  color: #FFF8DD;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding:3px 15px 3px 3px;
}

.volunteer-details {
  width: 150px;
  float:left;
}

.volunteer-details .help-link {
  background-color: #F2C900;
  border: 1px solid #E7D14D;
  color: #6B5800;
  line-height: 50px;
  width:150px;
  font-size: 22px;
  display: block;
  font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  text-align: center;
}

.volunteer-details .time-detail {
  border-bottom: 1px solid #FFEC87;
  border-top: 1px solid #FFEC87;
  margin-top: 15px;
  padding: 10px 0 10px 0;
}

.volunteer-details .time-detail .time, .volunteer-details .time-detail .time-length {
  font-weight:bold;
}

.volunteer-details .location {
  padding-top: 10px;
}

.volunteer-details .location a {
  display: block;
  float: left;
  background-color: #F0EACC;
  margin-top: 5px;
}

.volunteer-details .location li {
  font-weight:bold;
}

.volunteers {
  background-color: #F2ECCE;
  padding: 20px;
  height: 60px;
  margin-top: 10px;
}

.volunteers.teaser {
  height: 30px;
  width: 175px;
  padding: 10px 20px 10px 20px;
}

.vol-first, .vol-first span, .vol-avatars {
  float: left;
  display: block;
}

.vol-desc span {
  font-weight:bold;
}

.vol-first {
 width: 40px;
 height: 40px;
 margin-right: 10px;
 border: 1px solid #C7C7C6;
}

.vol-avatars {
  margin-top: 10px;
}

.vol-avatars.teaser {
  margin-top: 0;
}

.vol-avatars .sub {
  float: right;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.15px;
  line-height: 12px;
  padding-left: 10px;
  margin-top: 3px;
}

.vol-avatars img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
  float:left;
  border: 1px solid #C7C7C6;
}

.vol-recent-comment {
  float: left;
  width 425px;
  background-color: #F2ECCE;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
}

.vol-recent-comment .comment, .vol-recent-comment .author {
  float:left;
}

.vol-recent-comment .comment {
  width: 390px;
  margin-left: 10px;
}

.vol-recent-comment img {
  width: 30px;
  height: 30px;
  float:left;
  border: 1px solid #C7C7C6;
}

.vol-recent-comment .author {
  border-left: solid 1px #DED7BA;
  margin-left:20px;
  padding-left: 20px;
}

.vol-recent-comment .author > span {
  font-weight: bold;
}

.modal-content.add-volunteer-need .section {
    margin:20px 0;
}

.modal-content.add-volunteer-need .section textarea {
    width:500px;
    height:115px;
}