/* ---------------------------------------------------------
CONVErSATION SECTION
----------------------------------------------------------- */
.need a.need-edit {
    float:right;
    color:red;
    text-transform:uppercase;
    font-style:italic;
    font-weight:bold;
    font-size:10px;
}

.need .bd {
  background-color: #FFF9DB;
  padding-bottom: 10px !important;
}

.need .bd > a {
  display:block;
  float:left;
}

.volunteer-body {
  width: 425px;
}

.volunteer-body > span {
  font-size: 14px;
}

.need .need-event {}
.need .need-event .need-event-details {
    padding-left:30px;
    background: url(../../images/calendar.png) 0 0 no-repeat;
    background-size:20px 25px;
    min-height:20px;
    margin-top:5px;
}

.vol-need {
  background-color: #FBEC99;
}

.vol-title {
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  width: 590px;
}

.need .bd .need-delete {
  background: url(../../images/control_close_7_sprite.png) 0 -7px no-repeat;
  width: 15px;
  height: 15px;
  display: block;
  float:right;
  margin-top: 10px;
  margin-right: -5px;
  line-height: 0;
  font-size: 0;
}

.volunteer-body {
  float:left;
  margin-right: 25px;
  margin-left: 10px;
}

.volunteer-body p {
  margin-bottom: 20px;
}

.volunteer-body p .read-more {
  background: url(../../images/control_readmore.png) 95% 50% no-repeat #55504b;
  color: #FFF8DD;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding:3px 15px 3px 3px;
}

.volunteer-details {
  width: 150px;
  float:left;
}

.volunteer-details .volunteer-count {
    text-align:right;
    font-size:11px;
    font-family:"ff-din-web-1","ff-din-web-2","Franklin Gothic Medium",Helvetica,Arial,sans-serif;
}

.volunteer-details .progress-wrapper {
    height:10px;
    width:150px;
    margin:5px 0 10px;
    background: #f5ecc9;
}

.volunteer-details .progress-wrapper .progress {
    height:10px;
    width:0px;
    background: #d6ceab;
    position:relative;
}

.volunteer-details .progress-wrapper .progress-pin {
    position:absolute;
    right:-2px;
    top:-5px;
    width:5px;
    height:15px;
    background: url(../../images/status-pin_small.png) 0px 0px no-repeat;
}

.volunteer-details .help-link {
  line-height: 50px;
  width:150px;
  font-size: 22px;
  display: block;
  font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  text-align: center;
}

.volunteer-details .help-link.active {
    background-color: #f0c61e;
    border: 1px solid #dbb51d;
    color: #55504b;
}

.volunteer-details .help-link.active:hover {
    background-color: #ffc300;
    border: 1px solid #cfab1b;
    color: #6B5800;
}

.volunteer-details .help-link.in-process {
  background-color: #f0aa1f;
  border: 1px solid #a67005;
  color: #55504b;
  cursor:default;
}

.volunteer-details .help-link.complete {
  background-color: #6b580c;
  border: 1px solid #6b580c;
  color: #f0c61e;
  cursor:default;
}

.volunteer-details .time-detail {
  border-bottom: 1px solid #FFEC87;
  border-top: 1px solid #FFEC87;
  margin-top: 15px;
  padding: 10px 0 10px 0;
}

.volunteer-details .time-detail .time, .volunteer-details .time-detail .time-length {
  font-weight:bold;
}

.volunteer-details .location {
  padding-top: 10px;
}

.volunteer-details .location a {
  display: block;
  float: left;
  background-color: #F0EACC;
  margin-top: 5px;
}

.volunteer-details .location li {
  font-weight:bold;
}

.volunteers {
  background-color: #F2ECCE;
  padding: 20px;
  height: 60px;
  margin-top: 10px;
}

.volunteers.teaser {
  height: 30px;
  width: 175px;
  padding: 10px 20px 10px 20px;
}

.vol-first {
  float: left;
  display: block;
}

.vol-desc span {
  font-weight:bold;
}

.vol-first {
 width: 50px;
 height: 50px;
 margin-right: 10px;
 border: 1px solid #C7C7C6;
}

.vol-avatars {
  margin-top: 0;
  font-size:16px;
  line-height:30px;
}

.vol-avatars .sub {
  float: right;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.15px;
  line-height: 12px;
  padding-left: 10px;
  margin-top: 3px;
}

.vol-avatars img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
  float:left;
  border: 1px solid #C7C7C6;
}

.need-detail .vol-avatars a:first-child {
    display:none;
}

.vol-recent-comment {
  float: left;
  width 425px;
  background-color: #F2ECCE;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
}

.vol-recent-comment .comment, .vol-recent-comment .author {
  float:left;
}

.vol-recent-comment .comment {
  width: 390px;
  margin-left: 10px;
}

.vol-recent-comment img {
  width: 30px;
  height: 30px;
  float:left;
  border: 1px solid #C7C7C6;
}

.vol-recent-comment .author {
  border-left: solid 1px #DED7BA;
  margin-left:20px;
  padding-left: 20px;
}

.vol-recent-comment .author > span {
  font-weight: bold;
}

.modal-content.user-volunteer-modal .section {
    margin:10px 0;
}

.modal-content.user-volunteer-modal .section textarea {
    width:520px;
    height:115px;
}

.modal-content.user-volunteer-modal .section label.list {
    float: none;
}

.modal-content.user-volunteer-modal .charlimit {
    float:right;
}

.modal-content.user-volunteer-modal .error-msg {
    float:left;
    display:none;
}

.project .midlands .bd.add-need {
  padding: 0;
}

.add-need-step {
  background-color: #FFF9DB;
  margin-top: 10px;
  border: 1px solid #EFEEA5;
  padding: 20px 15px 20px 15px;
}

.need-submit {
  background-color: #F2C900;
  border: 1px solid #E7D14D;
  color: #6B5800;
  line-height: 50px;
  width:150px;
  font-size: 22px;
  display: block;
  font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  text-align: center;
  float: right;
}

.need-submit.disabled {
  background-color: #F2DF81;
  color: #AF9D43;
}

.add-need-step .form-pane {
  overflow: visible;
}

.add-need .fields .row.vol-cont {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 15px;
}

.add-need .fields .row {
  width: 608px;
  float:left;
  margin: 0;
}

.add-need .form-pane p {
  float:left;
}

.add-need .time-cont p {
  width: 140px;
}

.desc-cont p {
  font-size: 14px;
}

.add-need .charlimit {
  float: right;
  margin-top: 5px;
}

.add-need input,
.add-need textarea,
.add-need a.ddSelect {
  background-color: #F5EFC7;
  border-color: #E8E19B;
}

.add-need .fields .row.vol-address {
  border-top: 2px solid #F8E47B;
  margin-top: 10px;
  padding-top: 10px;
}

#vol-quantity {
  width: 40px;
  margin: 0 5px 0 5px;
}

#vol-job{
  margin: 0 0 0 5px;
  width: 265px;
}

.row .desc-cont {
  width: 418px;
  float: left;
}

.row .time-cont {
  width: 149px;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #F4F0D0;
}

.row .time-cont label {
  margin-top: 29px;
  font-size: 18px;
  margin-left: 10px;
  display: block;
  float: left;
}

.add-need .row.vol-address p.madlib {
  margin: 15px 10px 0 10px;
  font-size: 18px;
}

#vol-desc {
  height: 56px;
  width: 400px;
  margin-top: 10px;
}

#vol-hours {
  width: 20px;
  margin-top: 23px;
}

.row .addr-cont {
  width: 400px;
}

.add-need .row.vol-address input {
  margin-top: 10px;
}

#vol-street {
  width: 250px;
}

#vol-month {
  width: 150px;
  margin-right: 10px;
}

#vol-day {
  width: 60px;
  margin-left: 10px;
}

#vol-time {
  width: 80px;
}

/* dropdown */

.need-form .ddSelectContainer {
  position: relative;
  float:left;
  margin-top:10px;
}