/* ---------------------------------------------------------
CONVErSATION SECTION
----------------------------------------------------------- */
.recent-need .bd {
  background-color: #FFF9DB;
  padding-bottom: 10px !important;
}

.recent-need .bd > a {
  display:block;
  float:left;
}

.volunteer-body {
  width: 425px;
}

.volunteer-body > span {
  font-size: 14px;
}

.vol-need {
  background-color: #FBEC99;
}

.vol-title {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 15px;
}

.volunteer-body {
  float:left;
  margin-right: 25px;
  margin-left: 10px;
}

.volunteer-body p {
  margin-bottom: 20px;
}

.volunteer-details {
  width: 150px;
  float:left;
}

.volunteer-details .help-link {
  background-color: #F2C900;
  border: 1px solid #E7D14D;
  color: #6B5800;
  line-height: 50px;
  width:150px;
  font-size: 22px;
  display: block;
  font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  text-align: center;
}

.volunteer-details .time-detail {
  border-bottom: 1px solid #FFEC87;
  border-top: 1px solid #FFEC87;
  margin-top: 15px;
  padding: 10px 0 10px 0;
}

.volunteer-details .time-detail .time, .volunteer-details .time-detail .time-length {
  font-weight:bold;
}

.volunteer-details .location {
  padding-top: 10px;
}

.volunteer-details .location a {
  display: block;
  float: left;
  background-color: #F0EACC;
  margin-top: 5px;
}

.volunteer-details .location li {
  font-weight:bold;
}

.volunteers {
  background-color: #F2ECCE;
  padding: 20px;
  height: 60px;
  margin-top: 10px;
}

.vol-first, .vol-first span, .vol-avatars {
  float: left;
  display: block;
}

.vol-desc span {
  font-weight:bold;
}

.vol-first {
 width: 40px;
 height: 40px;
 margin-right: 10px;
 border: 1px solid #C7C7C6;
}

.vol-avatars {
  margin-top: 10px;
}

.vol-avatars .sub {
  float: right;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.15px;
  line-height: 12px;
  padding-left: 10px;
  margin-top: 3px;
}

.vol-avatars img {
  width: 30px;
  height: 30px;
  margin-right: 3px;
  float:left;
  border: 1px solid #C7C7C6;
}

.project .midlands .bd.add-need {
  padding: 0;
}

.add-need-step {
  background-color: #FFF9DB;
  margin-top: 10px;
  border: 1px solid #EFEEA5;
  padding: 20px 15px 20px 15px;
}

.need-submit {
  background-color: #F2C900;
  border: 1px solid #E7D14D;
  color: #6B5800;
  line-height: 50px;
  width:150px;
  font-size: 22px;
  display: block;
  font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
  text-align: center;
  float: right;
}

.add-need .fields .row {
  width: 608px;
  float:left;
  margin: 0;
}

.add-need .form-pane p {
  float:left;
}

.desc-cont p, time-cont p {
  font-size: 14px;
}

.add-need input, .add-need textarea {
  background-color: #F5EFC7;
  border-color: #E8E19B;
}

.add-need .fields .row.vol-address {
  border-top: 2px solid #F8E47B;
  margin-top: 10px;
  padding-top: 10px;
}

#vol-quantity {
  width: 40px;
  margin: 0 5px 0 5px;
}

#vol-job{
  margin: 0 0 0 5px;
  width: 265px;
}

.row .desc-cont {
  width: 418px;
  float: left;
}

.row .time-cont {
  width: 149px;
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #F4F0D0;
}

.row .time-cont label {
  margin-top: 29px;
  font-size: 18px;
  margin-left: 10px;
  display: block;
  float: left;
}

.add-need .row.vol-address p.madlib {
  margin: 15px 10px 0 10px;
  font-size: 18px;
}

#vol-desc {
  height: 56px;
  width: 400px;
  float:left;
  margin-top: 10px;
}

#vol-hours {
  width: 20px;
  margin-top: 23px;
}

.row .addr-cont {
  width: 400px;
}

.add-need .row.vol-address input {
  margin-top: 10px;
}

#vol-street {
  width: 250px;
}

#vol-month {
  width: 150px;
  margin-right: 10px;
}

#vol-day {
  width: 60px;
}

#vol-time {
  width: 80px;
}

