.project .ddSelectContainer {
  position: relative;
  float:left;
}

.project .ddSelectContainer,
.project .ddSelectContainer a {
    font-size: 18px;
    line-height: 1;
}

.project .ddSelectContainer a {
    cursor: default;
    display: block;
    text-decoration: none;
}

.project .ddSelectOptions {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    /* The dropdown option list */
    background-color: #fff;
    border: 1px solid #E8E19B;
    border-radius: 2px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    left: 0;
    list-style-type: none;
    margin: 0;
    max-width: 378px;
    padding: 0;
    position: absolute;
    top: -1px;
    z-index: 999;
}

.project .ddSelectOptions li:first-child a {
    cursor: default;
    font-style: italic;
    color: #A8A6A3 !important;
}

.project .ddSelectOptions li a,
.project .ddNoDefault li:first-child a {
    background-color: #F5EEC7 !important;
    cursor: pointer;
    padding: 9px 8px 7px;
    font-style:normal;
    color:#55504B !important;
}

.project .ddSelect.selected {
    background-color: #FAEB9A !important;
}

.project .ddSelect {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    /* The dropdown toggle button */
    background-color: #fff;
    border: 1px solid #b9b8b6;
    border-radius: 2px;
    display: block;
    height: auto !important;
    max-width: 362px;
    padding: 10px 8px 10px 8px;
    position: relative;
    z-index: 1;
}

.project .ddSelect.has-been-focused.valid {
  color: #55504b;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, Times, Times New Roman, serif;
  font-style: normal;
}

.project .ddSelect:hover span {
    background-position: 0 -6px
}

.project .actions .add {
  padding-left: 10px;
  background: url(../../images/control_plus_7.png) 0 7px no-repeat;
}