.ddSelectContainer {
  position: relative;
  float:left;
}

.ddSelectContainer,
.ddSelectContainer a {
    font-size: 18px;
    line-height: 1;
}

.ddSelectContainer a {
    cursor: default;
    display: block;
    text-decoration: none;
}

.ddSelectOptions {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    /* The dropdown option list */
    background-color: #fff;
    border: 1px solid #E8E19B;
    border-radius: 2px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    left: 0;
    list-style-type: none;
    margin: 0;
    max-width: 378px;
    padding: 0;
    position: absolute;
    top: -1px;
    z-index: 999;
}

.ddSelectOptions li a {
    background-color: #F5EEC7 !important;
    cursor: pointer;
    padding: 9px 8px 7px;
}

.ddSelectOptions li:first-child a {
    cursor: default;
    font-style: italic;
    color: #A8A6A3 !important;
}

.ddSelectContainer  a.selected {
    background-color: #FAEB9A !important;
}

.ddSelect {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    /* The dropdown toggle button */
    background-color: #fff;
    border: 1px solid #b9b8b6;
    border-radius: 2px;
    display: block;
    height: 22px;
    max-width: 362px;
    padding: 10px 8px 6px;
    position: relative;
    z-index: 1;
}

.ddSelectContainer .ddSelect {
  padding-top: 10px;
  padding-bottom: 0;
}

.ddSelectContainer .ddSelect.has-been-focused.valid {
  color: #55504b;
  font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, Times, Times New Roman, serif;
  font-style: normal;
}

.ddSelect:hover span {
    background-position: 0 -6px
}