/**
 * Basic 2 column (content)(aside) fixed layout
 * 
 * @package WPFramework
 * @subpackage Layouts
 * @beta
 */

.container { width: 960px; margin: 20px auto; }
.hfeed { width: 600px; float: left; }
.aside { width: 300px; float: right; }
.footer { clear: both; }