#!/bin/bash

# INSTRUCTIONS
#   Copy this file into the appropriate cron directory (usually /etc/cron.daily)
#   chmod a+x /etc/cron.daily/daily_digest
#
# VARIABLES AND GLOBALS
#   From and To should be
#     from='2011/05/14 11:30:00'
#     to='2011/05/14 11:30:00'

# Base project path could be different for different hosts, so make sure about this
base_path=%(current_path)s 

# We really should have
python "$base_path/scripts/digest_emailer.py" --config_file="$base_path/config.yaml"
