/*------------------------------------------------------------------------------
	Give a Minute
	Admin CSS
-------------------------------------------------------------------------------*/

/* Admin Top Bar */
body.admin div.atmosphere { height: 92px; background-image:url(../images/bg_adminbar.png); background-repeat: repeat-x; background-position: bottom left; }

ul.adminbar { height: 46px; width: 960px; display: block;}
ul.adminbar li { float:left; display: block; max-height: 46px; margin-right: 10px;}
ul.adminbar li a { font-size: 16px; line-height: 1; padding: 13px 15px 17px; display: block; color: #C9B577;}
ul.adminbar li a:hover,
ul.adminbar li.active a { background-color: #3c3a3a; }
ul.adminbar li.active a { cursor: default; }
ul.adminbar li.feature a,
ul.adminbar li.delete a { 
	font-size: 14px; font-weight: bold; padding-top: 15px;
	background-image: url(../images/control_adminbar_sprite46.png); background-repeat: none; 
	}
ul.adminbar li.feature a { background-position: 0 0; padding-left: 42px; }
ul.adminbar li.feature a:hover,
ul.adminbar li.feature.state-disabled a { background-position: 0 -46px; }
ul.adminbar li.feature.state-disabled a:hover { cursor:default; background-color:transparent; }
ul.adminbar li.delete a { color: #6b6565; background-position: 0 -92px; padding-left: 36px;}
ul.adminbar li.delete a:hover { color: #C9B577; background-position: 0 -138px; }



/* Global styles for CMS pages */
.continent.cms .headlands { margin-bottom: 45px; }
.continent.cms h2 { font-size: 21px; line-height: 1; font-weight: bold; margin-bottom: 30px; }
.continent.cms ul.tabs { font-size: 28px; line-height: 1; }
.continent.cms ul.tabs li { display: block; float: left; margin-right: 25px;}
.continent.cms ul.tabs li a { padding: 7px 15px 10px; display: block; }
.continent.cms ul.tabs li a:hover,
.continent.cms ul.tabs li.active a { background-color: #55504b; color: #F3F2F0;}

.continent.cms .pagination-controls { float:right; }
.continent.cms .pagination-controls a { font-style: normal; float: left;}
.continent.cms .pagination-controls a:hover { color: #55504b }
.continent.cms .pagination-controls a.prev { margin-right: 20px;}




/* "Admin Settings" CMS page  */
.continent.cms-admin-settings { margin-bottom: 50px; }
.continent.cms-admin-settings #administrators > .west { width: 280px; padding: 20px; background-color: #ebe9e6; }
.continent.cms-admin-settings #administrators > .east { width: 610px; }
.continent.cms-admin-settings #administrators > .east h2 { margin-top: 20px; }
.continent.cms-admin-settings #administrators .add-admin-main .row { display: block; margin-bottom: 15px; }
.continent.cms-admin-settings #administrators .add-admin-main label { display: block; margin-bottom: 6px; font-size: 16px; line-height: 19px;}
.continent.cms-admin-settings #administrators .add-admin-main input[type="text"],
.continent.cms-admin-settings #administrators .add-admin-main input[type="password"] { float: none; width: 252px; }
.continent.cms-admin-settings #administrators .add-admin-main input[type="password"] { margin-bottom: 25px; }
.continent.cms-admin-settings #administrators .add-admin-main .holderWrap { margin-left: -40px; top: 2px; }
.continent.cms-admin-settings #administrators .add-admin-main label.white { padding-left: 40px; }
.continent.cms-admin-settings #administrators .add-admin-main .rounded-button { 
	float: none; text-align: center; margin-top: 35px; background-color: #a6a5a4; color: #F3F2F0; padding-top: 9px; padding-bottom: 11px; }

.continent.cms-admin-settings .pagination-controls { float: right; margin-top: 5px;}
.continent.cms-admin-settings #administrators .scrollable { min-height: 1000px; }
.continent.cms-admin-settings #administrators .scrollable > ul li { width: 610px; }
.continent.cms-admin-settings #administrators table.active-admins-table tr { border-bottom: 1px solid #EBEAE8; }
.continent.cms-admin-settings #administrators table.active-admins-table th,
.continent.cms-admin-settings #administrators table.active-admins-table td { border: none; padding: 25px 0 15px; }
.continent.cms-admin-settings #administrators table.active-admins-table tr:first-child th,
.continent.cms-admin-settings #administrators table.active-admins-table tr:first-child td { padding-top: 0; }
.continent.cms-admin-settings #administrators table.active-admins-table th { width: 265px; font-size: 14px; font-weight: normal; text-align: left;}
.continent.cms-admin-settings #administrators table.active-admins-table th h3 { font-size: 21px; line-height: 1; margin-bottom: 6px; }
.continent.cms-admin-settings #administrators table.active-admins-table td.control-admin-type { width: 175px; font-size: 11px; text-transform: uppercase; }
.continent.cms-admin-settings #administrators table.active-admins-table td.control-call-status { width: 125px; }
.continent.cms-admin-settings #administrators table.active-admins-table td.control-delete { width: 44px; }
.continent.cms-admin-settings #administrators table.active-admins-table td.control-delete a { 
	color: #e06420; font-size: 11px; font-weight: bold; text-transform: uppercase; }
.continent.cms-admin-settings #administrators table.active-admins-table td.control-delete a:hover { text-decoration: underline; }
.continent.cms-admin-settings #administrators table.active-admins-table label { margin-bottom: 1px; }
.continent.cms-admin-settings #administrators table.active-admins-table label.checked { font-weight: bold; }

.continent.cms-admin-settings #blacklist .description { font-size: 18px; display: block; margin-bottom: 25px; }
.continent.cms-admin-settings #blacklist h2 { text-transform: uppercase; margin-bottom: 6px; }
.continent.cms-admin-settings #blacklist .box { width: 320px; margin-right: 15px;} 
.continent.cms-admin-settings #blacklist .box.actions-box { margin-right: 0; width: 280px;} 
.continent.cms-admin-settings #blacklist .box > .hd p { font-size: 11px; line-height: 15px; width: 70%; margin-bottom: 20px; }
.continent.cms-admin-settings #blacklist .box.actions-box > .hd p {color: #a6a5a4;}
.continent.cms-admin-settings #blacklist .box.actions-box > .hd p span {font-weight: bold;}
.continent.cms-admin-settings #blacklist textarea { 
	background-color: #e5e4e1; width: 270px; padding: 15px; float: none; height: 450px; color: #55504b; border: none; }
.continent.cms-admin-settings #blacklist .box.actions-box .rounded-button { float: left; color: #55504b ; }
.continent.cms-admin-settings #blacklist .box.actions-box .rounded-button:hover { color: #F3F2F0 ; }

.continent.cms-admin-settings label.prettyCheckbox span.holderWrap:first-child { display: block !important; } /*there should be a better fix than this */
.continent.cms-admin-settings label.prettyCheckbox span.holderWrap:first-child + span.holderWrap,
.continent.cms-admin-settings label.prettyCheckbox span.holderWrap:first-child + span.holderWrap + span.holderWrap { display: none !important; }





/* "Content" CMS page  */
.continent.cms-content { margin-bottom: 50px; }
.continent.cms-content #featured-projects .top-tier { padding-bottom: 10px; margin: 15px 0 25px; border-bottom: 1px solid #EBEAE8; width: 100%;}
.continent.cms-content #featured-projects .top-tier > .west { width: 480px; padding-left: 15px; }
.continent.cms-content #featured-projects .top-tier > .east { width: 335px; }
.continent.cms-content #featured-projects .top-tier h2 { font-weight: normal; font-size: 24px; line-height: 28px; }
.continent.cms-content #featured-projects .top-tier p { font-size: 11px; line-height: 15px; color: #a6a5a4; margin-top: 14px;}
.continent.cms-content #featured-projects .top-tier p a { color: #a6a5a4; text-decoration: underline;}
.continent.cms-content #featured-projects .top-tier p a:hover { color: #55504b; }
.continent.cms-content #featured-projects table.featured-projects-table {}
.continent.cms-content #featured-projects table.featured-projects-table tr { border: none; background-color: #ebebe8;}
.continent.cms-content #featured-projects table.featured-projects-table tr.alt { background-color: transparent; }
.continent.cms-content #featured-projects table.featured-projects-table th,
.continent.cms-content #featured-projects table.featured-projects-table td { border:none; padding: 20px 0; vertical-align: middle;}
.continent.cms-content #featured-projects table.featured-projects-table th { 
	width: 315px; padding-left: 15px; text-align: left; padding-right: 25px; vertical-align: middle; }
.continent.cms-content #featured-projects table.featured-projects-table th h3 { font-size: 22px; line-height: 27px; padding-bottom: 6px; }
.continent.cms-content #featured-projects table.featured-projects-table td.info-breakdown { 
	width: 155px; font-size: 11px; line-height: 14px; text-transform: uppercase; font-weight: bold; }
.continent.cms-content #featured-projects table.featured-projects-table td.info-description { 
	width: 265px; padding-right: 25px; font-size: 13px; line-height: 16px;}
.continent.cms-content #featured-projects table.featured-projects-table td.info-meta { width: 115px; padding-right: 14px; font-size: 11px; line-height: 15px; }
.continent.cms-content #featured-projects table.featured-projects-table td.control-delete { width: 16px; padding-right: 15px; text-align: right; }
.continent.cms-content #featured-projects table.featured-projects-table td.control-delete a.delete { 
	display: block; width: 16px; height: 16px; float:right;
	background: url(../images/control_close_16_sprite.png) 0 0 no-repeat transparent; }
.continent.cms-content #featured-projects table.featured-projects-table td.control-delete a.delete:hover { background-position: 0 -16px; }
.continent.cms-content #featured-projects table.featured-projects-table td.control-delete a.delete span { display: none; }

.continent.cms-content #warning-list { margin-top: 18px; }
.continent.cms-content #warning-list h2 { padding-left: 15px; text-transform: uppercase; }
.continent.cms-content #warning-list > .west { width: 220px; }
.continent.cms-content #warning-list > .east { width: 720px; }
.continent.cms-content #warning-list > .east > .box > .hd { width: 720px; height: 42px;}
.continent.cms-content #warning-list a.sidebar-item { display: block; padding: 3px 0 4px 15px; margin-bottom: 20px; font-size: 18px; line-height: 1; }
.continent.cms-content #warning-list a.sidebar-item:hover,
.continent.cms-content #warning-list a.sidebar-item.active { background-color: #ebe9e6; }
.continent.cms-content #warning-list a.sidebar-item.active { cursor: default; }
.continent.cms-content #warning-list .box.flagged-content-filters .ft { margin-top: 35px; padding: 0 15px; font-size: 11px; line-height: 15px; }

.continent.cms-content li.flagged-content-carousel-item { width:720px; }

.continent.cms-content #warning-list ul.warning-list-stack li { width: 720px; background-color: #ebe9e6; margin-bottom: 15px; float:none; }
.continent.cms-content #warning-list ul.warning-list-stack li.alt,
.continent.cms-content #warning-list ul.warning-list-stack li:nth-child(even) { background-color: transparent; }
.continent.cms-content #warning-list ul.warning-list-stack li .hd { padding: 10px 15px 10px; border-bottom: 1px solid #deddd9; min-height: 20px; }
.continent.cms-content #warning-list ul.warning-list-stack li .bd { padding: 15px 15px 25px;}
.continent.cms-content #warning-list ul.warning-list-stack li .hd a { display: block; float: left; line-height: 1; }
.continent.cms-content #warning-list ul.warning-list-stack li .hd a:hover { text-decoration: underline; }
.continent.cms-content #warning-list ul.warning-list-stack li .controls { 
	background:url(../images/control_flag.png) center left no-repeat transparent; height: 20px; padding-left: 35px; width: 200px; float: left;}
.continent.cms-content #warning-list ul.warning-list-stack li .control-ok { font-size: 16px; font-weight: bold; margin-right: 15px;}
.continent.cms-content #warning-list ul.warning-list-stack li .control-delete { 
	font-size: 11px; margin-right: 15px; color: #e06420; text-transform: uppercase; margin-top: 3px;}
.continent.cms-content #warning-list ul.warning-list-stack li .info { text-align: right; margin-left: 200px; font-size: 11px; line-height: 15px; }
.continent.cms-content #warning-list ul.warning-list-stack li .info .name { font-weight: bold; text-transform: uppercase;}
.continent.cms-content #warning-list ul.warning-list-stack li .info .title { font-size: 15px; margin: 0 15px 0 3px;}
.continent.cms-content #warning-list ul.warning-list-stack li .bd,
.continent.cms-content #warning-list ul.warning-list-stack li h3 {font-size: 19px; line-height: 24px; margin-bottom: 3px;}
.continent.cms-content #warning-list ul.warning-list-stack li p { float: none; }
.continent.cms-content #warning-list ul.warning-list-stack li h3 + p {font-size: 14px; line-height: 18px;}
.continent.cms-content #warning-list ul.warning-list-stack li a:hover { text-decoration: underline; }

.continent.cms-content #warning-list .scrollable > ul.items > li { min-height: 1500px; }

.continent.cms-content #pending-resources { margin-top: 18px; }
.continent.cms-content #pending-resources > .west { width: 310px; padding-left: 15px; font-size: 18px; line-height: 24px; }
.continent.cms-content #pending-resources > .east { width: 565px; }
.continent.cms-content #pending-resources > .east > .hd { width: 100%; margin-top: 5px; }
.continent.cms-content #pending-resources .pagination-controls { float: none; width: 100%; }
.continent.cms-content #pending-resources .pagination-controls .control { display: block; width: 100%; }
.continent.cms-content #pending-resources .pagination-controls a.next { float: right; }
.continent.cms-content #pending-resources ul.pending-resources-stack li { border: 1px solid #cccbc8; margin-top: 30px; padding-bottom: 10px; }
.continent.cms-content #pending-resources ul.pending-resources-stack li a:hover { text-decoration: underline; }
.continent.cms-content #pending-resources ul.pending-resources-stack li .hd,
.continent.cms-content #pending-resources ul.pending-resources-stack li .bd { padding: 10px 15px;}
.continent.cms-content #pending-resources ul.pending-resources-stack li .hd { padding-bottom: 12px; background-color: #e5e4e1; font-size: 18px; line-height: 1;}
.continent.cms-content #pending-resources ul.pending-resources-stack li .control-approve { text-transform: uppercase; font-weight: bold; }
.continent.cms-content #pending-resources ul.pending-resources-stack li .control-delete { 
	text-transform: uppercase; font-style: italic; float: right; color: #e06420; font-size: 11px; margin-top: 3px;}
.continent.cms-content #pending-resources ul.pending-resources-stack li .bd { font-size: 14px; line-height: 18px; }
.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .west { width: 175px; }
.continent.cms-content #pending-resources ul.pending-resources-stack li .bd .mission { margin-left: 215px; padding-right: 10px; }
.continent.cms-content #pending-resources ul.pending-resources-stack li h3 { font-size: 19px; line-height: 24px; margin-bottom: 1px; }
.continent.cms-content #pending-resources ul.pending-resources-stack li h4 { color: #878786; text-transform: uppercase; margin-bottom: 7px; }
.continent.cms-content #pending-resources ul.pending-resources-stack li .tags { margin-top: 29px; }

.continent.cms-content #metrics { margin-top: 18px; }
.continent.cms-content #metrics h2 { text-transform: uppercase; }
.continent.cms-content #metrics h2 .counter { font-size: 14px; line-height: 1; position: relative; top: -2px; margin-left: 10px; }
.continent.cms-content #metrics .metrics-header { padding: 20px 15px 15px; margin-bottom: 35px; background-color: #ebebe8;}
.continent.cms-content #metrics .metrics-header h2 { margin-top: 7px; }
.continent.cms-content #metrics .metrics-header > .west { width: 320px; }
.continent.cms-content #metrics .metrics-header .overall-stats { margin-left: 320px; }
.continent.cms-content #metrics .metrics-header ul.breakdown { margin-bottom: 20px; }
.continent.cms-content #metrics .metrics-header ul.breakdown li { 
	float: left; width: 151px; text-align: center; font-size: 16px; line-height: 18px; text-transform: uppercase;}
.continent.cms-content #metrics .metrics-header ul.breakdown li .counter { display: block; font-size: 32px; line-height: 1; margin-bottom: 3px;}
.continent.cms-content #metrics .metrics-header .averages { font-size: 11px; line-height: 15px; text-transform: uppercase; margin-left: 22px; }
.continent.cms-content #metrics .metrics-header .averages .separator { margin: 0 8px; }
.continent.cms-content #metrics .metrics-section { padding: 0 15px 35px; margin: 35px 0; border-bottom: 1px solid #EBEAE8; }
.continent.cms-content #metrics .metrics-section:last-child { border-bottom: none; }
.continent.cms-content #metrics .metrics-section > .hd { width: 100%; }
.continent.cms-content #metrics .metrics-section h2 { float:left; }
.continent.cms-content #metrics .metrics-section .rounded-button { margin-right: 520px; float: right; }
.continent.cms-content #metrics .metrics-section p { font-size: 21px; line-height: 26px; width: 75%; }
.continent.cms-content #metrics ul.keyword-list li { display: block; float: left; width: 305px; margin-right: 115px; min-height: 25px; margin-bottom: 10px;}
.continent.cms-content #metrics ul.keyword-list li span.stats { float: right; margin-top: 7px; font-size: 11px; line-height: 1; text-transform: uppercase;}
.continent.cms-content #metrics ul.keyword-list li span.stats > span { margin-left: 15px; }
.continent.cms-content #metrics ul.keyword-list li span.stats .counter { color: #55504b;  }
.continent.cms-content #metrics ul.keyword-list li h3 { font-size: 20px; line-height: 1; font-weight: normal;}
.continent.cms-content #metrics ul.keyword-list li h3 .counter { font-size: 11px; line-height: 1; position: relative; top: -2px; }