/*------------------------------------------------------------------------------
	Give a Minute
	Blackberry CSS
-------------------------------------------------------------------------------*/

.west{ float:left; }
.east{ float:right; }

body { background-color: #f3f2f0; color: #55504b; font: 10px/14px Verdana, Arial, sans-serif; width: 100%;}

a { text-decoration:none; color:#55504b; }
h1 { font-weight: bold; font-size: 15px; line-height: 17px; margin-bottom: 8px;}
h2 { font-weight: bold; font-size: 13px; line-height: 14px; margin-bottom: 12px; margin-top: 6px;}

.serif { font-family: Georgia, Times, Times New Roman, serif; }
.unbold { font-weight: normal; }
.fancy-caps { text-transform:uppercase; }
.fancy-caps > span { text-transform:none; font-style:italic; }



.atmosphere { background-color: #1f1e1d; color: #d9d4ca; position: absolute; height: 38px; top: 0; left: 0; right: 0; z-index: 100;}
.atmosphere .stratosphere { padding: 0 4%; position: relative; }
.atmosphere .stratosphere li a span { display: none; }
.atmosphere .stratosphere li.home {background: url(../images/changebyus-lockup-bb.png) top left no-repeat; width: 136px; height: 26px; margin-top: 5px;}
.atmosphere .stratosphere li.home a { width: 100%; height: 100%; display: block;}
.atmosphere .stratosphere li.userland { float: right; margin-top: 7px;}
.atmosphere .stratosphere li.userland a { color: #d9d4ca; text-decoration: none; text-transform: uppercase; font-weight: bold;}



.continent { margin: 48px 4% 0; text-align: left; }
.continent p { text-align: left; margin-bottom: 6px;}
.continent p.large { font-size: 125% }
.continent .step { display: none; }
.continent .step.initial { display: block; }
.continent form { text-align: center; }
.continent .radio-buttons { text-align: left; font-size: 115%;}
.continent .radio-buttons > span { display: block; clear:left; margin-bottom: 8px; }
.continent .radio-buttons label { padding:0; }
.continent input[type="radio"] { display:block; float:left; margin-right:4px; }
.continent label { display:block; padding:12px 0 8px; text-align:left; font-size:12px; }
.continent input[type="text"],
.continent input[type="password"] {width:100%; padding: 6px; color: #6d6660; margin-bottom: 3px; }
.continent input[type="submit"],
.continent input[type="button"] { color: #fff; background-color: #f56516; text-transform: uppercase; font-size: 17px; line-height: 1; 
	padding: 6px 10px; margin-top: 6px; text-align: center; font-weight: bold; cursor: pointer; border: none;}
.continent input[type="submit"].large, .continent input[type="button"].large { font-size: 165%; padding: 7px 12px;}
.continent input[type="submit"].dark, .continent input[type="button"].dark { background-color: #3d3a36; }
.continent ol { list-style-type: none; margin-left:28px; }
.continent ol li { margin-bottom: 20px; position: relative; z-index: 1; }
.continent h1 + .project { margin-top: 12px; }
.continent .project { width: 85%; font-size: 13px; line-height: 17px; }
.continent .project span { display: block; font-weight: normal; }
.continent .project span.num { position: absolute; left:-28px; top: 0; max-width: 19px; font-weight: bold; }
.continent .project span.title { display: block; font-weight: bold;}

.continent .step.joined-project .box { margin-top: 25px; padding-bottom: 25px;}
.continent .step.joined-project .box p { margin-bottom: 0; }
.continent .step.signup-login .box { width: 100%; height: 43px; margin-top: 25px;}
.continent .step.signup-login input + h2 { display: block; margin: 3px 0 2px; font-weight: normal; }
.continent .step.signup-login h2.or { margin: 0 15px 0; padding-top: 15px;}
.continent .step.signup-login h2.last { margin-top: 3px; margin-bottom: 35px; font-weight: normal;}
.continent .step.about h1 { line-height: 20px; }



.location-hood-list { 
	position:absolute; margin:-4px 0 0; padding:4px 0; text-align:left;
	background-color:#fff; z-index: 10001;
	border:1px solid #B9B8B6; font-size: 13px;

}
.location-hood-list.has-scrollbar { height:100px; overflow-y:scroll; }
.location-hood-list li { display: block; z-index: 10002; }
.location-hood-list a { padding:4px; display: block; }
.location-hood-list a:hover,
.location-hood-list li.selected a{ background-color:#cfcecc; }
.location-hood-list a span{ font-weight:bold; }



.seafloor { margin: 16px 4% 0; padding-bottom: 10px; text-align: left;}
.seafloor p { margin-bottom: 12px; display: block;}
.seafloor p.links { font-weight: bold; }
.seafloor p.credits { margin-bottom: 6px;}
.seafloor p a { margin-right: 6px; text-decoration: underline;}



.template-content { display:none; overflow:hidden; }



