{% if 1 == 1 %}
<div class='dev-util'>
	<h2><a class="toggle" style="display: inline-block; font-weight: bold; font-size: 50%; cursor:pointer">[toggle development utilities]</a></h2>
	
	
	<div class="dev-util-content" style="display:none">
		<h2>Development Utilities </h2>
		
		<br />
		
		<!-- 
		<h3><strong>Give A Minute Templates</strong></h3>
		<ul class="clearfix">
			<li><a href='/home'>Home</a></li>
			<li><a href='/join'>Join</a></li>
			<li><a href='/login'>Login</a></li>
			<li><a href='/feedback'>Feedback</a></li>
			<li><a href='/create'>Create</a></li>
			<li><a href='/project'>Project</a></li>
			<li><a href='/useraccount'>User Account</a></li>
			<li><a href='/search'>Search</a></li>
			<li><a href='/search/map'>Search - Map</a></li>
			<li><a href='/resource'>Resource Addition</a></li>
			<li><a href='/about'>About</a></li>
			<li><a href='/blog'>Blog</a></li>
			<li><a href='/tou'>TOU</a></li>
			<li><a href='/mobile'>Mobile</a></li>
		</ul>
		-->
		
		<br />
		
		<p><strong>template_values:</strong></p>
		<pre>{{ d|pprint }}</pre>
	</div>
</div>
{% endif %}