{% extends "./partials/base.html" %}

{% block title %}
Change by Us NYC - 404
{% endblock title %}

{% block continent %}

<div class='continent fourhundredfour'>
	<img src='/static/images/404.png' width='460px' height='192px'/>
	<h3>Things change. Cities, people, web addresses.<br>
	If you think something is broken, please let us know <a href='#'>here</a>.</h3>
	<a class="rounded-button" href='javascript: history.go(-1)'>&larr; GO BACK <span class='lowercase'>to</span> WHERE YOU WERE</a>
</div>
{% endblock continent %}


{% block page_js %}
<script type='text/javascript' src="/static/js/pages/project.add_link.js"></script>
{% endblock page_js %}