{% extends "./partials/base-header.html" %}

{% block title %}
Change by Us - 404
{% endblock title %}

{% block continent %}

<div class='continent fourhundredfour'>
	<img src='/static/images/404.png' width='460px' height='192px'/>
	<h3>Things change. Cities, people, web addresses.<br>
	If you think something is broken, please let us know <a href='#'>here</a>.</h3>
	<a class="rounded-button" href='javascript: history.go(-1)'>&larr; GO BACK <span class='lowercase'>to</span> WHERE YOU WHERE</a>
</div>
{% endblock continent %}


{% block page_js %}
<script>
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: 404');
		tc.util.dump(window.location.hash);
	});
</script>
{% endblock page_js %}