{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - About
{% endblock title %}

{% block continent %}
	<div class='continent about'>
		<div class='headlands'>
			<h1><span class="unbold">What is</span> Give a Minute?</h1>
		</div>

		<div class='midlands clearfix'>
			
			<div class="west">
				<div class="box">
					<div class="hd">
						<h2>The public process can be improved.</h2>
					</div>
					<div class="bd">
						<p class="fancy">That's the basic premise of<br />Give a Minute.<br /><br /></p>
						<p class="indent">There's a lot that you can do to improve your city. And when it's easy to connect with likeminded people, there are few limits to what you can accomplish. We want to make Give a Minute a tool to express ideas, connect with people who share those ideas, and then make things happen by helping build constituencies and connect with local resources that can make your group more effective.</p>
						<p class="indent">Give a Minute began as a collaboration between CEOs for Cities and Local Projects, with a plan to launch in five cities around the U.S. In each city, we focus on a single question. We launched the first version in Chicago asking people to think about transportation. Next, we launched in Memphis with people talking about talent. Now, we're launching in New York asking people to think about how to make a greener, greater city. Give a Minute works closely with partners in each city. In New York, we're pleased to be working with The Office of Longterm Planning and Sustainability and 311.</p>
					</div>
				</div>
			</div>
			
			<div class="east ">
				<img src="/static/images/image_about.jpg" width="635" height="350" alt="" class=""/>
				<blockquote class="pullquote">
					<p><strong>Give a Minute</strong> is like 311 for new ideas.</p>
				</blockquote>
				<div class="west">
					<p>While Give a Minute is a private initiative, part of the aim of Give a Minute is to help the city be as effective as possible in helping people accomplish projects. To that end, our network of private and public leaders regularly review ideas, endorse groups, and communicate with participants. Of course, the only way to make sure your idea comes to pass is to gather a group and do it. We designed Give a Minute to be a perfect tool to help you do just that.</p>
				</div>
				<div class="east">
					<p>We're always trying to improve. Please give us some <strong>feedback</strong> if there's a feature you'd like to see.</p>
				</div>
			</div>
			
			<div class="south clearfix">
				<p class="fancy big">Give a Minute is designed and developed by Local Projects in partnership with CEOs for Cities. It is funded with the generous support of the Rockefeller Foundation, Knight Foundation, Case Foundation and the Mayor's Fund of New York City.</p>
			</div>
		</div>

		<div class='foothills'>

		</div>
	</div>
{% endblock continent %}