{% extends "./partials/base.html" %}

{% block title %} {{ _("About") }} {% endblock title %}

{% block continent %}
    <div class="continent about">
        <div class="headlands">
            <h1>{{ _('<span class="unbold">What is</span> %(site_name)s?')|format(site_name=d.config.site.name) }}</h1>
        </div>

        <div class="midlands clearfix">
            <div class="west">
                {{ _('<h2><strong>%(site_name)s</strong> is an online marketplace for community projects that allows you to share ideas for making the city better, and to turn those ideas into projects that have real impact. From tools to network and manage events to helping you connect with local resources, the site supports a number of ways to get involved.</h2>')|format(site_name=d.config.site.name) }}
                <p>{{ _('<strong>Share Ideas:</strong> Have an idea for how to make %(city)s better? Add it to Change by Us and connect with like-minded people and projects in your area. No idea is too big or small.')|format(city=d.config.site.city) }}</p>
                <p>{{ _('<strong>Join or Create Projects:</strong> Find great projects in your neighborhood, or start your own! Use Change by Us&#39; powerful project management tools to recruit volunteers, promote events, and find in-kind donations.') }}</p>
                <p>{{ _('<strong>Build Teams:</strong> Change by Us allows you to tap into a network of people motivated to improve their communities. The site helps you find people by interest, location, and skills. You can even find people by items they have available to lend. Change by Us helps you tap into the power of your community.') }}</p>
                <p>{{ _('<strong>Find Resources:</strong> In addition to projects, Change by Us also maintains information on public and non-profit programs that can help your project succeed. Connect with city services and local knowledge.') }}</p>
                <p class="din">{{ _('Change by Us is a growing community &mdash; help us get the word out! If there are any features or resources you&#39;d like to see on Change by Us, please let us know at') }} <strong><span class="nospam infomail"></span></strong>. {{ _('We&#39;re always improving the site and your feedback is a critical part of our planning.') }}</p>
            </div>

            <div class="south clearfix">
                <p class="fancy serif">{{ _('<strong>%(site_name)s</strong> was launched by CEOs for Cities, Local Projects and Code for America in collaboration with City of %(site_full_city)s. The new civic engagement platform was co-created by national urban advocacy non-profit CEOs for Cities and Local Projects &mdash; known for its innovative work on StoryCorps and the 9/11 Memorial Museum. After launching in New York, the platform was made open source by Code for America, a public service fellowship for technologists, who have generously donated their time to expanding Change by Us. Change by Us is funded nationally with support from the John S. and James L. Knight Foundation, The Rockefeller Foundation and the Case Foundation.')|format(site_name=d.config.site.name, site_full_city=d.config.site.full_city) }}</p>
            </div>
        </div>
    </div>
{% endblock continent %}

{% block page_js %}
  <script type="text/javascript" src="/static/js/pages/about.js"></script>
{% endblock page_js %}
