{% extends "./partials/base.html" %}

{% block title %}
Change by Us NYC - About
{% endblock title %}

{% block continent %}
	<div class='continent about'>
		<div class='headlands'>
			<h1><span class="unbold">What is</span> Change by Us NYC?</h1>
		</div>

		<div class='midlands clearfix'>
			
			<div class="west">
				
				<h2><strong>Change by Us NYC</strong> is a new website created by Local Projects and run by the City of New York.  It’s a place for New Yorkers to put their ideas into action by creating projects and building teams to make our city a better place to live.  We’re kicking things off by asking how we can make our city greener.  Get started today.</h2>
				<p><strong>Share Ideas:</strong> New Yorkers have always been full of great ideas about what will improve their 	neighborhoods.   Use Change by Us NYC to broadcast to others what you have in mind.  No idea is too big.  No idea is too small.</p>
				<p><strong>Join or Create Projects:</strong> Look for projects in your neighborhood or around the city where you can help.  Become a member and plug into a network of those who want what you want! You can also use Change by Us NYC to set up and lead your own project, and turn your idea into reality.</p>	
				<p><strong>Build Teams:</strong>  Use Change by Us NYC to connect quickly with the people who will help your project from start to finish. Someone has the idea, someone has the plan, someone has the tools, and together you succeed.</p>
				<p><strong>Find Resources:</strong> Use Change by Us NYC to find and connect with public and non-profit programs that can help your project succeed. Whether you need to access a City service or find some local knowledge, there are resources ready to provide guidance.</p>		
				<p>Help us spread the word about Change by Us NYC &mdash; and check back often to see the line-up of influential New Yorkers who have agreed to follow projects and connect with community members online.</p> 
				<p class="din">If there are any features or resources that you think will make Change by Us NYC easier to use or more effective, please contact us at <a href="mailto:nyc@changeby.us"><strong>nyc@changeby.us</strong></a>.</p>
			
			</div>
			
			<div class="south clearfix">
				<p class="fancy serif"><strong>Change by Us NYC</strong> is a new platform created by Local Projects &mdash; known for its innovative work on StoryCorps and the 9/11 Memorial Museum &mdash; and the urban think tank CEOs for Cities. It is funded with the generous support of the Rockefeller Foundation, the Knight Foundation, and the Case Foundation.<br /><br /></p>
				<p class="fancy serif"><strong>Change by Us NYC</strong> is run by New York City’s Office of the Mayor. New York City is also proud to have the following partners working with us on the site: Citizens Committee for New York City, Pratt Center for Community Development, ioby and the United States Forest Service.</p>
			</div>
			
		</div>

	</div>
{% endblock continent %}

{% block page_js %}
<script type='text/javascript' src="/static/js/pages/about.js"></script>
{% endblock page_js %}