<!DOCTYPE html>
<html class='universe'>
	
	<head class='heavens'>
		<title>Change by Us NYC</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		
		<link rel="stylesheet" href="/static/css/tc.reset.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/static/css/tc.gam.bb.css" type="text/css" media="screen" />
	</head>
	
	<body class='earth'>
		<div class='exosphere'>
			
			<div class='atmosphere'>
				<div class='stratosphere'>
					<ul>
						<li class="userland">
							<div class="logout" style="{% if d.template_data and d.template_data.user %}{% else %}display:none;{% endif %}">
								<a href="#">Logout</a>
							</div>
							<div class="login" style="{% if d.template_data and d.template_data.user %}display:none;{% endif %}">
								<a href="#">Sign Up / Login</a>
							</div>
						</li>
						<li class="home">
							<a href="/bb"><span>Change by Us NYC</span></a>
						</li>
					</ul>
				</div>
			</div><!--end .atmosphere-->
		
		
		
			<div class='continent'>
			
				<div class="step start initial">
					<h1>Hey NYC, How can we make our city a greener, greater place to live?</h1>
					<form>
						<input type="text" id="idea-input" class="idea-input" name="idea-input" />
						<input type="submit" id="idea-submit" class="submit idea-submit" name="idea-submit" value="Post" />
					</form>
				</div><!--end step-->
			
			
				<div class="step email">
					<h1>Thanks for your idea!<br /><span class="unbold">We need a little more information.</span></h1>
					<form>
						<input type="text" id="email-input" class="email-input" name="email-input" value="{% if d.template_data.user and d.template_data.user.data.email %}{{ d.template_data.user.data.email }}{% endif %}" />
						<input type="submit" id="email-submit" class="submit email-submit" name="email-submit" value="Next" />
					</form>
				</div><!--end step-->
						
				<div class="step location">
					<h1>Where is your idea located?</h1>
					<form>
						<div class="radio-buttons">
							<span><input type="radio" id="location-city" class="location-city location-group" name="location-input" value="city" /><label for="location-city">The city</label></span>
							<span><input type="radio" id="location-hood" class="location-hood location-group" name="location-input" value="neighborhood" /><label for="location-hood">A neighborhood or borough</label></span>
						</div>
						<input type="text" id="location-neighborhood-enter" class="location-hood-enter location-group" name="hood-neighborhood-enter" value="" />
						<div class="location-hood-list">
							<ul>
								<li></li>
							</ul>
						</div>
						<p>Ex. Harlem, East Village, Bronx, etc.</p>
						<input type="submit" id="hood-submit" class="submit hood-submit" name="hood-submit" value="Next" />
					</form>
				</div><!--end step-->
				
				<div class="step idea-processing">
					<p><img src='/static/images/loader32x32.gif' alt='' /></p>
				</div><!--end step-->
			
				<div class="step idea-error">
					<p>There was a problem submitting your idea.</p>
				</div><!--end step-->
			
				<div class="step related-processing">
					<p><img src='/static/images/loader32x32.gif' alt='' /></p>
				</div><!--end step-->
			
				<div class="step related-error">
					<p>There was a problem finding related projects.</p>
				</div><!--end step-->
			
			
				<div class="step browse-projects">
					<h1>Be part of the solution<br /><span class="unbold">Join one of the projects listed below or <a href="/">visit the full site</a> to start your own.</span></h1>
					<h2><span class="unbold">Found </span><span class='proj-count'></span> <span class='proj-qualifier'>Projects</span></h2>
					<ol>
						<li></li>
					</ol>
				</div><!--end step-->
			
			
				<div class="step invited-project">
					<h1>You've been invited to<br />join a project!</h1>
					<div class="project">
						<span class="title"></span>
						<span class="creator"><em>Created by </em><span>&nbsp;</span></span>
						<span class="description"></span>
						<input type="button" class="submit project-1-join" value="Join" />
					</div>
				</div><!--end step-->
			
			
				<div class="step join-processing">
					<p><img src='/static/images/loader32x32.gif' alt='' /></p>
				</div><!--end step-->
			
			
				<div class="step join-error">
					<p>There was a problem adding you to the project.</p>
				</div><!--end step-->
			
			
				<div class="step joined-project">
					<h1>Thanks, you've joined the project:</h1>
					<h1><span class="unbold"><span class="title"></span><br /><span class="creator"><em>Created by </em><span></span></span></span></h1>
					<div class="box">
						<p class="large">Leave the mobile site and</p>
						<input type="button" id="view-project" class="view-project large dark" name="view-project" value="View this project" />
					</div>
				</div><!--end step-->
			
			
				<div class="step signup-login">
					<h1>Change by Us is a place to<br />make your city better</h1>
					<h2><span class="unbold">Share your ideas. Build projects. Make a change.</span></h2>
					<div class="box">
						<input type="button" id="signup" class="signup large dark west" name="signup" value="Sign Up" />
						<h2 class="west or">or</h2>
						<input type="button" id="login" class="login large dark west" name="login" value="Log In" />
					</div>
					<h2 class="last">to join or start a project.</h2>
				</div><!--end step-->
			
			
				<div class="step login">
					<h1>Login</h1>
					<form>
						<label for="login-email">Email</label>
						<input type="text" id="login-email" class="login-email" name="login-email" />
						<label for="login-pass">Password</label>
						<input type="password" id="login-pass" class="login-pass" name="login-pass" />
						<input type="submit" id="login-submit" class="submit login-submit" name="login-submit" value="Login" />
					</form>
				</div><!--end step-->
			
			
				<div class="step login-processing">
					<p><img src='/static/images/loader32x32.gif' alt='' /></p>
				</div><!--end step-->
			
			
				<div class="step login-error">
					<p>There was a problem logging you in.</p>
				</div><!--end step-->
			
			
				<div class="step logout-processing">
					<p><img src='/static/images/loader32x32.gif' alt='' /></p>
				</div><!--end step-->
			
			
				<div class="step about">
					<h1>Change by Us NYC <span class="unbold">is a new website created by Local Projects and run by the City of New York. It’s a place for New Yorkers to put their ideas into action by creating projects and building teams to make our city a better place to live. We’re kicking things off by asking how we can make our city greener. <a href="#" class="get-started">Get started today.</a></span></h1>
				</div><!--end step-->
			
			</div><!--end .continent-->
		
		
		
			<div class="seafloor">
				<p>Change by Us is a place to share ideas, create projects, build teams, and make our city better.</p>
				<p>
					<a href="http://www.nyc.gov/html/simplicity/html/about/about.shtml"><strong>NYC Simplicity</strong></a>
					<a href="/feedback" class="contact east">Contact Us</a>
				</p>
				<p class="links">
					<a href="http://www.localprojects.net/">Local Projects</a>
					<a href="http://www.ceosforcities.org/">CEOS for Cities</a>
					<a href="http://www.knightfoundation.org/">Knight Foundation</a><br />
					<a href="http://www.rockefellerfoundation.org/">The Rockefeller Foundation</a>
					<a href="http://www.nyc.gov/html/planyc2030/html/home/home.shtml">PlaNYC</a>
				</p>
				<p class="sitemap">
					<a href="#bb,about" class="about-link">About Change by Us</a><br />
					<a href="http://www.nyc.gov/html/simplicity/html/about/about.shtml">About NYC Simplicity</a><br />
					<a href="http://nycblog.changeby.us">News</a><br />
					<a href="/tou#community">Community Policy</a><br />
					<a href="/tou">Terms of Service</a><br />
					<a href="/tou#privacy">Privacy Policy</a>
				</p>
				<p class="credits credits-one">Design and Development<br />&copy; 2011 Local Projects, LLC<br />All rights reserved.</p>
				<p class="credits credits-two">Content and NYC Logo<br />&copy; 2011 Mayor's Fund to Advance the City of New York.<br />All rights reserved.</p>
			</div><!--end .seafloor-->
		
		</div><!-- end .exosphere -->
		
		
		<!-- JS -->
		
		<script type="text/javascript" src="/static/js/libs/jquery-1.5.1.js"></script>
		<script type="text/javascript" src="/static/js/libs/tc.util.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.validate.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.merlin.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.locationDropdown.js"></script>
		<script type="text/javascript" src="/static/js/tc.gam.app.js"></script>
		
		<script type="text/javascript">
			(function(window, $) {
				var app_page, $userland;
			
				app_page = {
					data:{},
					features:[]
				};
				
				{% if d.template_data and d.template_data.user %}
					app_page.user = {{ d.template_data.user.json }}; 
					tc.util.log("User:");
					tc.util.dump( app_page.user );
				{% endif %}
				
				{% if d.template_data and d.template_data.locations %} 
					app_page.data.locations = {{ d.template_data.locations.json }}; 
				{% endif %}
				
				
				app_page.features.push(function(app) {
					tc.util.log("!!!!!!!!!!!! Change By Us Mobile (Lite) !!!!!!!!!!!!");
					
					app.components.merlin = new tc.merlin(app, {
						use_hashchange: false,
						name: "mobile-lite",
						dom: $(".continent"),
						first_step: "start",
						next_button: $(".submit"),
						data: {
							login: {
								email: null,
								password: null
							},
							idea: {
								text: null,
								email: null,
								location_id: null
							},
							idea_id: null,
							ref_project_id: null
						},
						steps: {
							"start": {
								selector: ".step.start",
								next_step: "email",
								inputs: {
									idea: {
										selector: "#idea-input",
										validators: ["min-3", "max-180"],
										hint: "What's your idea?"
									}
								},
								init: function(merlin, dom) {
									window.scroll(0, 0);
								},
								finish: function(merlin, dom) {
									merlin.options.data.idea.text = merlin.current_step.inputs.idea.dom.val();
								}
							},
							"email": {
								selector: ".step.email",
								prev_step: "start",
								next_step: "location",
								inputs: {
									email: {
										selector: "#email-input",
										validators: ["min-3", "max-32", "email"],
										hint: (function() {
											if (app.app_page.user && app.app_page.user.email) {
												return false;
											}
											return "Email address";
										}())
									}
								},
								init: function(merlin, dom) {
									window.scroll(0, 0);
									if (merlin.app.app_page.user && merlin.app.app_page.user.email) {
										merlin.current_step.inputs.email.dom.addClass("always-focused disabled").attr("disabled", true);
									} else {
										merlin.current_step.inputs.email.dom.removeClass("always-focused disabled").attr("disabled", false);
									}
								},
								finish: function(merlin, dom) {
									merlin.options.data.idea.email = merlin.current_step.inputs.email.dom.val();
								}
							},
							"location": {
								selector: ".step.location",
								prev_step: "email",
								next_step: "idea-processing",
								inputs: {
									location: {
										selector: ".location-group",
										validators: tc.locationDropdown.validator
									}
								},
								data: {
									locationDropdown: null
								},
								init: function(merlin, dom) {
									window.scroll(0, 0);
									if (!merlin.current_step.data.locationDropdown) {
										merlin.current_step.data.locationDropdown = new tc.locationDropdown({
											radios: dom.find("input[type=radio]"),
											input: dom.find("input.location-hood-enter"),
											list: dom.find(".location-hood-list"),
											locations: merlin.app.app_page.data.locations,
											scrollMenuThreshold: 5
										});
									}
								},
								finish: function(merlin, dom) {
									merlin.options.data.idea.location_id = merlin.current_step.data.locationDropdown.getLocation();
								}
							},
							"idea-processing": {
								selector: ".step.idea-processing",
								init: function(merlin, dom) {
									var idea;
									idea = merlin.options.data.idea;
									if (!(idea.text && idea.email && idea.location_id)) {
										merlin.show_step("idea-error");
										return false;
									}
									$.ajax({
										type: "POST",
										url: "/idea",
										data: idea,
										context: merlin,
										dataType: "text",
										success: function(data, ts, xhr) {
											if (data === "False") {
												this.show_step("idea-error");
												return false;
											}
											this.options.data.idea_id = data;
											this.show_step("related-processing");
										}
									});
								}
							},
							"idea-error": {
								selector: ".step.idea-error",
								init: function(merlin, dom) {
									window.scroll(0, 0);
								}
							},
							"related-processing": {
								selector: ".step.related-procesing",
								init: function(merlin, doom) {
									if (!merlin.options.data.idea_id && merlin.options.data.idea_id !== 0) {
										merlin.show_step("related-error");
									} else {
										$.ajax({
											url: "/idea/related",
											data: {
												idea_id: merlin.options.data.idea_id,
												n_limit: 10
											},
											context: merlin,
											dataType: "json",
											success: function(data, ts, xhr) {
												if (data.citywide.length || data.related.length) {
													this.options.steps["browse-projects"].data = data;
													this.show_step("browse-projects");
												}
											}
										});
									}
								}
							},
							"related-error": {
								selector: ".step.related-error",
								init: function(merlin, dom) {
									window.scroll(0, 0);
								}
							},
							"browse-projects": {
								selector: ".step.browse-projects",
								data: {},
								init: function(merlin, dom) {
									var $list = dom.find("ol").eq(0).empty(), 
									    n_projects = 0,
									    project_data = [],
									
										// adding elements with string concatenation and innerHTML
										// because jQuery .append() and .html() is breaking on Blackberry
										generate_proj_group = function(data) {
											var buf
											buf = "";
											$.each(data, function(i, d) {
												var proj;
												n_projects += 1;
												project_data.push(d);
												proj = 
													"<li class='project'>"+
														"<span class='num'>"+ n_projects +".</span>"+
														"<span class='title'>"+ d.title + "</span>"+
														"<span class='creator'><em>Created by </em><span>"+ d.owner.name +"</span></span>"+
														"<span class='description'>"+ d.description +"</span>"+
														"<input type='button' class='join' value='Join' />"+
													"</li>";
												buf += proj;
											});
											
											return buf;
										};
								
									$list[0].innerHTML =
										generate_proj_group( merlin.current_step.data.related ) + 
										generate_proj_group( merlin.current_step.data.citywide );
										
									$list.find(".join").each(function(i) {
										$(this).bind("click", {merlin: merlin, project: project_data[i]},
											merlin.current_step.join_click_handler);
									});
									
									if (n_projects === 0) {
										// TODO ==> explicitly handle case when no projects have been found
										dom.find(".proj-count").text("0");
									} else {
										dom.find(".proj-count").text(n_projects).next(".proj-qualifier").text( n_projects === 1 ? "Project" : "Projects" );
									}
									
									if (merlin.options.data.ref_project_id) {
										try {
											window.scroll(0, $("#project"+ merlin.options.data.ref_project_id).offset().top);
										} catch (err) {
											tc.util.log("could not find project "+ merlin.options.data.ref_project_id, "warn");
											window.scroll(0, 0);
										}
									} else {
										window.scroll(0, 0);
									}
								},
								join_click_handler: function(e) {
									e.preventDefault();
									e.data.merlin.options.steps["join-processing"].data.project = e.data.project; 
									e.data.merlin.show_step("join-processing");
								}
							},
							"join-processing": {
								selector: ".step.join-processing",
								data: {
									project: null
								},
								init: function(merlin, dom) {
									
									// if the user is not logged in,
									// redirect to signup/login, 
									// and store the id of the project they were trying to join
									// (so that we can get back to it after login)
									if (!merlin.app.app_page.user) {
										merlin.options.data.ref_project_id = merlin.current_step.data.project.project_id;
										merlin.show_step("signup-login");
										return;
									}
									
									$.ajax({
										type: "POST",
										url: "/project/join",
										data: {
											project_id: merlin.current_step.data.project.project_id,
											message: "I joined from my mobile device!"
										},
										context: merlin,
										dataType: "text",
										success: function(data, ts, xhr) {
											if (data === "False") {
												this.show_step("join-error");
												return false;
											}
											this.options.steps["joined-project"].data.project = this.current_step.data.project;
											this.show_step("joined-project");
										}
									});
								}
							},
							"join-error": {
								selector: ".step.join-error",
								init: function(merlin, dom) {
									window.scroll(0, 0);
								}
							},
							"joined-project": {
								selector: ".step.joined-project",
								data: {
									project: null
								},
								init: function(merlin, dom) {
									var d;
									window.scroll(0, 0);
									d = merlin.current_step.data.project;
									
									if (!d) {
										tc.util.log("joined-project: missing project data!", "error");
										return;
									}
									
									dom.find(".title").text(d.title);
									dom.find(".creator span").text(d.owner.name);
									
									dom.find(".view-project").unbind("click").bind("click", {project_id: d.project_id}, function(e) {
										e.preventDefault();
										window.location.assign("/project/"+ e.data.project_id);
									});
								}
							},
							
							
							// TODO ==> notifying user when they've been invited to a project 
							// is not implemented, but may need to be later on
							"invited-project": {
								selector: ".step.invited-project",
								init: function(merlin, dom) {
									window.scroll(0, 0);
								}
							},
							
							
							"signup-login": {
								selector: ".step.signup-login",
								init: function(merlin, dom) {
									window.scroll(0, 0);
									
									dom.find(".signup").unbind("click").bind("click", function(e) {
										e.preventDefault();
										window.location.assign("/join");
									});
									
									dom.find(".login").unbind("click").bind("click", function(e) {
										e.preventDefault();
										merlin.show_step("login");
									});
								}
							},
							"login": {
								selector: ".step.login",
								next_step: "login-processing",
								inputs: {
									email: {
										selector: "input.login-email",
										validators: ["min-3", "max-180", "email"]
									},
									password: {
										selector: "input.login-pass",
										validators: ["min-3", "max-180"]
									}
								},
								init: function(merlin, dom) {
									window.scroll(0, 0);
								},
								finish: function(merlin, dom) {
									merlin.options.data.login.email = merlin.current_step.inputs.email.dom.val();
									merlin.options.data.login.password = merlin.current_step.inputs.password.dom.val();
								}
							},
							"login-processing": {
								selector: ".step.login-processing",
								init: function(merlin, dom) {
									$.ajax({
										type: "POST",
										url: "/login",
										data: merlin.options.data.login,
										context: merlin,
										dataType: "text",
										success: function(data, ts, xhr) {
											if (data === "False") {
												this.show_step("login-error");
												return false;
											}
											
											this.app.app_page.user = data;
											
											// if the user was prompted to login upon trying to join a project,
											// return them to the project list
											if (this.options.data.ref_project_id || this.options.data.ref_project_id === 0) {
												$userland.find(".login").hide();
												$userland.find(".logout").show();
												this.show_step("browse-projects");
											} else {
												window.location.reload(true);
											}
										}
									});
								}
							},
							"login-error": {
								selector: ".step.login-error",
								init: function(merlin, dom) {
									
								}
							},
							"logout": {
								selector: ".step.logout-processing",
								init: function(merlin, dom) {
									if (merlin.app.app_page.user) {
										$.ajax({
											type: "POST",
											url: "/logout",
											dataType: "text",
											success: function() {
												window.location.reload(true);
											}
										});
									}
								}
							},
							"about": {
								selector: ".step.about",
								init: function(merlin, dom) {
									window.scroll(0, 0);
									dom.find(".get-started").unbind("click").bind("click", function(e) {
										e.preventDefault();
										merlin.show_step("start");
									});
								}
							}
						}
					});
					
					
					// HEADER LOGIN/LOGOUT
					$userland = $(".atmosphere .userland");
					$userland.find(".login a").click(function(e) {
						e.preventDefault();
						app.components.merlin.show_step("signup-login");
					});
					$userland.find(".logout a").click(function(e) {
						e.preventDefault();
						app.components.merlin.show_step("logout");
					});
					
					// LOCATION LIST
					$(".location-hood-enter").attr("autocomplete", "off");
					
					// FOOTER ABOUT LINK
					$(".about-link").bind("click", function(e) {
						e.preventDefault();
						app.components.merlin.show_step("about");
					});
					
				});
			
			
				$(function() {
					tc.app(app_page);
				});
			}(this, this.jQuery));
		</script>
	</body>
	
</html>