<!DOCTYPE html>
<html class='universe'>
<head class='heavens'>
	<title>{{ d.config.site.name }}</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<link rel="stylesheet" href="/static/css/tc.reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/static/css/tc.gam.bb.css" type="text/css" media="screen" />
</head>

<body class='earth'>
	<div class='exosphere'>
		<div class='atmosphere'>
			<div class='stratosphere'>
				<ul>
					<li class="userland">
						<div class="logout" style="{% if d.template_data and d.template_data.user %}{% else %}display:none;{% endif %}">
							<a href="#">Logout</a>
						</div>
						<div class="login" style="{% if d.template_data and d.template_data.user %}display:none;{% endif %}">
							<a href="#">Sign Up / Login</a>
						</div>
					</li>
					<li class="home">
						<a href="/bb"><span>{{ d.config.site.name }}</span></a>
					</li>
				</ul>
			</div>
		</div><!--end .atmosphere-->
	
		<div class='continent'>
			<div class="step start initial">
				<h1>Hey {{ d.config.site.city }}, {{ d.config.homepage.question }}</h1>
				<form>
					<input type="text" id="idea-input" class="idea-input" name="idea-input" />
					<input type="submit" id="idea-submit" class="submit idea-submit" name="idea-submit" value="Post" />
				</form>
			</div><!--end step-->
		
			<div class="step email">
				<h1>Thanks for your idea!<br /><span class="unbold">We need a little more information.</span></h1>
				<form>
					<input type="text" id="email-input" class="email-input" name="email-input" value="{% if d.template_data.user and d.template_data.user.data.email %}{{ d.template_data.user.data.email }}{% endif %}" />
					<input type="submit" id="email-submit" class="submit email-submit" name="email-submit" value="Next" />
				</form>
			</div><!--end step-->
					
			<div class="step location">
				<h1>Where is your idea located?</h1>
				<form>
					<div class="radio-buttons">
						<span><input type="radio" id="location-city" class="location-city location-group" name="location-input" value="city" /><label for="location-city">The city</label></span>
						<span><input type="radio" id="location-hood" class="location-hood location-group" name="location-input" value="neighborhood" /><label for="location-hood">A neighborhood or borough</label></span>
					</div>
					<input type="text" id="location-neighborhood-enter" class="location-hood-enter location-group" name="hood-neighborhood-enter" value="" />
					<div class="location-hood-list">
						<ul>
							<li></li>
						</ul>
					</div>

					<input type="submit" id="hood-submit" class="submit hood-submit" name="hood-submit" value="Next" />
				</form>
			</div><!--end step-->
			
			<div class="step idea-processing">
				<p><img src='/static/images/loader32x32.gif' alt='' /></p>
			</div><!--end step-->
		
			<div class="step idea-error">
				<p>There was a problem submitting your idea.</p>
			</div><!--end step-->
		
			<div class="step related-processing">
				<p><img src='/static/images/loader32x32.gif' alt='' /></p>
			</div><!--end step-->
		
			<div class="step related-error">
				<p>There was a problem finding related projects.</p>
			</div><!--end step-->
		
		
			<div class="step browse-projects">
				<h1>Be part of the solution<br /><span class="unbold">Join one of the projects listed below or <a href="/">visit the full site</a> to start your own.</span></h1>
				<h2><span class="unbold">Found </span><span class='proj-count'></span> <span class='proj-qualifier'>Projects</span></h2>
				<ol>
					<li></li>
				</ol>
			</div><!--end step-->
		
			<div class="step invited-project">
				<h1>You've been invited to<br />join a project!</h1>
				<div class="project">
					<span class="title"></span>
					<span class="creator"><em>Created by </em><span>&nbsp;</span></span>
					<span class="description"></span>
					<input type="button" class="submit project-1-join" value="Join" />
				</div>
			</div><!--end step-->
		
			<div class="step join-processing">
				<p><img src='/static/images/loader32x32.gif' alt='' /></p>
			</div><!--end step-->
		
			<div class="step join-error">
				<p>There was a problem adding you to the project.</p>
			</div><!--end step-->
		
			<div class="step joined-project">
				<h1>Thanks, you've joined the project:</h1>
				<h1><span class="unbold"><span class="title"></span><br /><span class="creator"><em>Created by </em><span></span></span></span></h1>
				<div class="box">
					<p class="large">Leave the mobile site and</p>
					<input type="button" id="view-project" class="view-project large dark" name="view-project" value="View this project" />
				</div>
			</div><!--end step-->
		
			<div class="step signup-login">
				<h1>Change by Us is a place to<br />make your city better</h1>
				<h2><span class="unbold">Share your ideas. Build projects. Make a change.</span></h2>
				<div class="box">
					<input type="button" id="signup" class="signup large dark west" name="signup" value="Sign Up" />
					<h2 class="west or">or</h2>
					<input type="button" id="login" class="login large dark west" name="login" value="Log In" />
				</div>
				<h2 class="last">to join or start a project.</h2>
			</div><!--end step-->
		
		
			<div class="step login">
				<h1>Login</h1>
				<form>
					<label for="login-email">Email</label>
					<input type="text" id="login-email" class="login-email" name="login-email" />
					<label for="login-pass">Password</label>
					<input type="password" id="login-pass" class="login-pass" name="login-pass" />
					<input type="submit" id="login-submit" class="submit login-submit" name="login-submit" value="Login" />
				</form>
			</div><!--end step-->
		
		
			<div class="step login-processing">
				<p><img src='/static/images/loader32x32.gif' alt='' /></p>
			</div><!--end step-->
		
		
			<div class="step login-error">
				<p>There was a problem logging you in.</p>
			</div><!--end step-->
		
		
			<div class="step logout-processing">
				<p><img src='/static/images/loader32x32.gif' alt='' /></p>
			</div><!--end step-->
		
		
			<div class="step about">
				<h1>{{ d.config.site.name }} <span class="unbold">is a new website to put pur ideas into action by creating projects and building teams to make our city a better place to live.  <a href="#" class="get-started">Get started today.</a></span></h1>
			</div><!--end step-->
		</div><!--end .continent-->
	
		<div class="seafloor">
			<p>Change by Us is a place to share ideas, create projects, build teams, and make our city better.</p>
			<p>
				<a href="/feedback" class="contact east">Contact Us</a>
			</p>
			<p class="links">
				<a href="http://www.localprojects.net/">Local Projects</a>
				<a href="http://www.codeforamerica.org/">Local Projects</a>
				<a href="http://www.ceosforcities.org/">CEOS for Cities</a>
				<a href="http://www.knightfoundation.org/">Knight Foundation</a><br />
				<a href="http://www.rockefellerfoundation.org/">The Rockefeller Foundation</a>
			</p>
			<p class="sitemap">
				<a href="#bb,about" class="about-link">About Change by Us</a><br />
				<a href="{{ d.config.blog_host }}">News</a><br />
				<a href="/tou#community">Community Policy</a><br />
				<a href="/tou">Terms of Service</a><br />
				<a href="/tou#privacy">Privacy Policy</a>
			</p>
			<p class="credits credits-one">Design and Development<br />&copy; 2011 Local Projects, LLC<br />All rights reserved.</p>
			<p class="credits credits-two">More Development<br />&copy; 2011 Code for America.<br />All rights reserved.</p>
		</div><!--end .seafloor-->
	</div><!-- end .exosphere -->
	
	
	<!-- JS -->
	<script type="text/javascript" src="/static/js/libs/jquery-1.5.1.js"></script>
	<script type="text/javascript" src="/static/js/tc.gam.base.js"></script>
	<script type="text/javascript" src="/static/js/tc.util.js"></script>
	<script type="text/javascript" src="/static/js/tc.gam.validate.js"></script>
	<script type="text/javascript" src="/static/js/tc.gam.merlin.js"></script>
	<script type="text/javascript" src="/static/js/tc.gam.locationDropdown.js"></script>
	<script type="text/javascript" src="/static/js/tc.gam.app.js"></script>
	<script type="text/javascript">
		var app_page;
		app_page = {
			data:{},
			features:[]
		};

		{% if d.template_data and d.template_data.user %}
			app_page.user = {{ d.template_data.user.json }}; 
			tc.util.log("User:");
			tc.util.dump( app_page.user );
		{% endif %}

		{% if d.template_data and d.template_data.locations %} 
			app_page.data.locations = {{ d.template_data.locations.json }}; 
		{% endif %}
	</script>
	<script type='text/javascript' src="/static/js/pages/bb.js"></script>
	
</body>
</html>
