{% extends "./partials/base.html" %}

{% block title %}
{{ d.site_name }} - Blog
{% endblock title %}

{% block continent %}
	<div class='continent blog'>
		<div class='headlands clearfix'>
			<!--<span class="above-h1 fancy-caps"><span>The</span> Official</span>-->
			<h1 class="west">{{ d.site_name }}<span class="unbold">Blog</span></h1>
			<!--<div class="description">
				Updates from Give a Minute community projects and all the news from Give a Minute <abbr>HQ</abbr>.
			</div>-->
			<div class="search generic-search east">
				<form action='/search' method='GET'>
					<input type='text' name='terms' />
					<input type='submit' class=" " value='Search' />
				</form>
			</div>
		</div>

		<div class='midlands clearfix'>
			<div class="west">
				<div class="box post">
					<div class="hd">
						<cite class="standout-tag">A {{ d.site_name }} Success Story</cite>
						<h2><a href="">Shawna starts a Garden in her neighborhood!</a></h2>
					</div>
					<div class="bd">
						<p><img src="http://placehold.it/555x368" alt=" " /></p>
						<p>We are so excited that Shawna started a garden in the Bronx based on the project she started on {{ d.site_name }}. Her project has tons of backers and they’re thinking about putting more gardens all around the city! Check out her group <a href="">here</a>.</p>
					</div>
					<div class="ft">
						<cite class="meta">
							Posted <span class="date">02.03.2011</span> at <span class="time">12:44pm</span>
						</cite>
					</div>
				</div>
				<div class="box post">
					<div class="hd">
						<h2><a href="">It's a {{ d.site_name }} weekend, join us in the park for an outdoor BBQ and gardening!</a></h2>
					</div>
					<div class="bd">
						<p>When you think about football, computer scientists probably aren’t the first thing to jump into your head. But with the big game this weekend, that’s exactly how to describe some of the fans who will be rooting along for both the Packers and Steelers. With Google engineering offices in both Pittsburgh, Pa. and Madison, Wis., Googlers in both areas will be glued to our TVs on Sunday along with the rest of the country.</p>
						<p>As everyone begins to gear up for their own parties this weekend, we thought it would be fun to see what (American) football fans are searching for on the web.</p>
					</div>
					<div class="ft">
						<cite class="meta">
							Posted <span class="date">02.03.2011</span> at <span class="time">12:44pm</span>
						</cite>
					</div>
				</div>
				<div class="box post">
					<div class="hd">
						<h2><a href="">GAM now a part of NYC SimpliCity</a></h2>
					</div>
					<div class="bd">
						<p>Back in November, we introduced {{ d.site_name }}, a new local recommendation engine powered by you and your friends. Using GAM is simple: you rate places on google.com/hotpot—restaurants, hotels, cafes—and add friends on Hotpot whose opinions you trust. Then the next time you perform a search, Google will serve up personalized results, listing places based on your tastes, as well as recommendations from your friends.</p>
					</div>
					<div class="ft">
						<cite class="meta">
							Posted <span class="date">02.03.2011</span> at <span class="time">12:44pm</span>
						</cite>
					</div>
				</div>
			</div>
			<div class="east sidebar">
				<div class="box blog-rss">
					<a href="" class="rounded-button small"><abbr>RSS</abbr></a>
				</div>
				<div class="box blog-categories">
					<div class="hd">
						<h3>Categories</h3>
					</div>
					<div class="bd">
						<ul>
							<li><a href="">language</a><span class="counter">8</span></li>
							<li><a href="">language</a><span class="counter">8</span></li>
							<li><a href="">language</a><span class="counter">8</span></li>
							<li><a href="">language</a><span class="counter">8</span></li>
							<li><a href="">language</a><span class="counter">8</span></li>
							<li><a href="">language</a><span class="counter">8</span></li>
						</ul>
					</div>
				</div>
				<div class="box blog-signup">
					<div class="hd">
						<h3 class="fancy-caps">Sign up <span>for</span> Emails</h3>
					</div>
					<div class="bd">
						<form action="" method="POST">
							<h4>Sign up to get our posts by email. It won't be more than one a day.</h4>
							<input type="text" />
							<input type="submit" class="rounded-button small" value="Sign Up" />
						</form>
					</div>
				</div>
				<div class="box blog-feedback">
					<div class="hd">
						<h3>We Love Feedback</h3>
					</div>
					<div class="bd">
						Comment on a post and <a href="">send it to us</a>.
					</div>
				</div>
				<div class="box blog-archive">
					<div class="hd">
						<h3>Archive</h3>
					</div>
					<div class="bd">
						<ul>
							<li><a href="">February 2011</a><span class="counter">35</span></li>
							<li><a href="">March 2011</a><span class="counter">5</span></li>
							<li><a href="">April 2011</a><span class="counter">4</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class='foothills'>

		</div>
	</div>
{% endblock continent %}

{% block page_js %}{% endblock page_js %}