{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - CMS Admin Settings
{% endblock title %}

{% block continent %}

<div class='continent cms cms-admin-settings'>

	<div class='headlands'>
		<ul class="tabs">
			<li class="tab administrators active"><a href="#administrators">Administrators</a></li>
			<li class="tab blacklist"><a href="#blacklist">Blacklist</a></li>
		</ul>
	</div><!-- end .headlands -->

	<div class='midlands clearfix'>
		<div id="administrators" class="view">
			<div class="west"><!-- begin .west -->
				<form class="merlin add-admin-merlin" method="POST" action=" ">
					<div class="step add-admin-main">
						<div class="box">
							<div class="hd">
								<h2 class="fancy-caps">Add <span>an</span> Administrator</h2>
							</div>
							<div class="bd">
								<div class="row">
									<label>First Name</label>
									<input type="text"/>
								</div>
								<div class="row">
									<label>Last Name</label>
									<input type="text"/>
								</div>
								<div class="row">
									<label>E-mail</label>
									<input type="text"/>
								</div>
								<div class="row">
									<label>Password</label>
									<input type="password"/>
								</div>
								<div class="row">
									<input type="radio"/>
									<label><strong>City Leaders</strong> can endorse projects</label>
								</div>
								<div class="row">
									<input type="radio"/>
									<label><strong>Administrators</strong> can moderate and delete posts and delete regular accounts</label>
								</div>
								<div class="row">
									<input type="radio"/>
									<label><strong>Super Administrators</strong> can create other admins and delete posts, users, and delete other admins</label>
								</div>
							</div>
							<div class="ft">
								<a class="rounded-button" href="#">Add Administrator</a>
							</div>
						</div>
					</div>
					<div class="step add-admin-finish">
						
					</div>
				</form>
			</div><!-- end .west -->
			<div class="east">
				<div class="box active-admins">
					<div class="hd">
						<h2>Active Administrators</h2>
						<div class="carousel-controls pagination-controls">
							<a class="prev" href="#"><span>Previous</span></a>
							<a class="next" href="#"><span>Next</span></a>
						</div>
					</div>
					<div class="bd">
						<div class="carousel">
							<div class="scrollable">
								<ul class="items">
									<li>
										<table class="active-admins-table">
											<tbody>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
											</tbody>
										</table>
									</li>
									<li>
										<table class="active-admins-table">
											<tbody>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
												<tr>
													<th scrope="row" class="active-admin-info">
														<h3>Halley Hanson</h3>
														<div class="email">
															<a href="">hh112@gmail.com</a>
														</div>
													</th>
													<td class="control-admin-type">
														<div>
															<input type="checkbox"/>
															<label>Super User</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>Administrator</label>
														</div>
														<div>
															<input type="checkbox"/>
															<label>City Leader</label>
														</div>
													</td>
													<td class="control-call-status">
														<input type="checkbox"/>
														<label>On Call</label>
													</td>
													<td class="control-delete">
														<a href="#">Delete</a>
													</td>
												</tr>
											</tbody>
										</table>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="blacklist" class="view">
			<div class="description">
				The blacklist and graylist are used to filter out inappropriate responses.
			</div>
			<form class="merlin blacklist-merlin" method="POST" action=" ">
				<div class="step blacklist-merlin-main">
					<div class="box graylist-box">
						<div class="hd">
							<h2>Graylist</h2>
							<p>If anything on the site matches the graylist, it will be <strong>flagged for review</strong>.</p>
						</div>
						<div class="bd">
							<textarea class="word-set"></textarea>
						</div>
					</div>
					<div class="box blacklist-box">
						<div class="hd">
							<h2>Blacklist</h2>
							<p>If anything on the site matches the blacklist, it will be <strong>automatically hidden</strong>.</p>
						</div>
						<div class="bd">
							<textarea class="word-set"></textarea>
						</div>
					</div>
					<div class="box actions-box">
						<div class="hd">
							<p>The last changes were saved at <span>02:45pm</span> on <span>04.12.2011</span> by <span>Jen</span></p>
						</div>
						<div class="bd">
							<a class="rounded-button save-button" href="#">Save</a>
						</div>
					</div>
				</div>
				<div class="step blacklist-merlin-finish">
					
				</div>
			</form>
		</div>
	</div>

	<div class='foothills'>

	</div>

	

</div><!-- end .continent.cms-admin-settings -->
{% endblock continent %}


{% block page_js %}

<script>
	
</script>
{% endblock page_js %}