{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - CMS Content
{% endblock title %}

{% block continent %}

<div class='continent cms cms-content'>

	<div class='headlands'>
		<ul class="tabs">
			<li class="tab featured-projects"><a href="#featured-projects">Featured Projects</a></li>
			<li class="tab warning-list active"><a href="#warning-list">Warning List</a></li>
			<li class="tab pending-resources"><a href="#pending-resources">Pending Resources</a></li>
			<li class="tab metrics"><a href="#metrics">Metrics</a></li>
		</ul>
	</div><!-- end .headlands -->

	<div class='midlands clearfix'>
		<div id="featured-projects" class="view">
			<div class="top-tier">
				<div class="west">
					<h2>Featured Projects are displayed on the board located on the homepage of the site.</h2>
				</div>
				<div class="east">
					<p><strong>Note:</strong> only five projects can be featured on the homepage at a time. To add a different project, you can <a href="">find some projects to feature</a>.</p>
				</div>
			</div>
			<div class="main-tier">
				<table class="featured-projects-table">
					<tbody>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
						<tr>
							<th class="featured-project-header" scope="row">
								<h3>Some Project Name That Could be This Long There</h3>
							</th>
							<td class="info-breakdown">
								<ul>
									<li><span class="counter">54</span> Members</li>
									<li><span class="counter">79</span> Ideas</li>
									<li><span class="counter">3</span> Resources</li>
									<li><span class="counter">1</span> Endorsements</li>
								</ul>
							</td>
							<td class="info-description">
								<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
							</td>
							<td class="info-meta">
								Featured since <strong>04.15.2011</strong> by <strong>Jen L.</strong>
							</td>
							<td class="control-delete">
								<a href="#"><span>Delete</span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="warning-list" class="view">
			<div class="west sidebar">
				<div class="box flagged-content-filters">
					<div class="hd">
						<h2>Flagged Content</h2>
					</div>
					<div class="bd">
						<a href="#all" class="sidebar-item all"><span>All</span></a>
						<a href="#ideas" class="sidebar-item ideas"><span>Ideas</span></a>
						<a href="#projects" class="sidebar-item projects"><span>Projects</span></a>
						<a href="#project-posts" class="sidebar-item project-posts"><span>Project Posts</span></a>
						<a href="#project-goals" class="sidebar-item project-goals"><span>Project Goals</span></a>
						<a href="#links" class="sidebar-item links"><span>Links</span></a>
					</div>
					<div class="ft">
						<p>Content is flagged according to the <q>Graylist</q> of questionable language.</p>
						<p>View and Edit the Graylist under Admin Settings &rarr; Blacklist</p>
					</div>
				</div>
			</div>
			<div class="east">
				<div class="box">
					<div class="hd">
						<div class="pagination-controls">
							<a class="prev" href="#"><span>Previous</span></a>
							<a class="next" href="#"><span>Next</span></a>
						</div>
					</div>
					<div class="bd">
						<ul class="items warning-list-stack">
							<li class="item-box">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<blockquote>
										<p>Iusto dolore eorum claritatem exerci consuetudium. Qui est processus lectores modo humanitatis. Aliquam non dolor eodem lectorum duis.</p>
									</blockquote>
								</div>
							</li>
							<li class="item-box every-other">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<blockquote>
										<p>Iusto dolore eorum claritatem exerci consuetudium. Qui est processus lectores modo humanitatis. Aliquam non dolor eodem lectorum duis.</p>
									</blockquote>
								</div>
							</li>
							<li class="item-box">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<blockquote>
										<p>Iusto dolore eorum claritatem exerci consuetudium. Qui est processus lectores modo humanitatis. Aliquam non dolor eodem lectorum duis.</p>
									</blockquote>
								</div>
							</li>
							
							<li class="item-box every-other">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd">
									<h3>Flagged Facebook Link Name</h3>
									<p>http://facebook.com/terrible-group-link/</p>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="pending-resource" class="view">
			<div class="west">
				<div class="box">
					<div class="bd">
						<p>These resources have been submitted to the site and await approval.</p>
						<p>Review and approve them to include them on the site.</p>
					</div>
				</div>
			</div>
			<div class="east">
				<div class="hd">
					<div class="pagination-controls">
						<a class="prev" href="#"><span>Previous</span></a>
						<a class="next" href="#"><span>Next</span></a>
					</div>
				</div>
				<div class="bd">
					<ul class="items pending-resources-stack">
						<li class="item-box">
							<div class="hd">
								<div class="controls">
									<a href="#" class="control-approve">Approve</a>
									<a href="#" class="control-delete">Delete</a>
								</div>
							</div>
							<div class="bd">
								<div class="west">
									<h3>Resource Name</h3>
									<p>www.resourcewebsite.org <br/> Given Location</p>
									<div class="tags">
										<h4>Tags</h4>
										lorem, ipsum, sit, eros
									</div>
								</div>
								<div class="east">
									<h4>Mission</h4>
									<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
								</div>
							</div>
						</li>
						<li class="item-box">
							<div class="hd">
								<div class="controls">
									<a href="#" class="control-approve">Approve</a>
									<a href="#" class="control-delete">Delete</a>
								</div>
							</div>
							<div class="bd">
								<div class="west">
									<h3>Resource Name</h3>
									<p>www.resourcewebsite.org <br/> Given Location</p>
									<div class="tags">
										<h4>Tags</h4>
										lorem, ipsum, sit, eros
									</div>
								</div>
								<div class="east">
									<h4>Mission</h4>
									<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
								</div>
							</div>
						</li>
						<li class="item-box">
							<div class="hd">
								<div class="controls">
									<a href="#" class="control-approve">Approve</a>
									<a href="#" class="control-delete">Delete</a>
								</div>
							</div>
							<div class="bd">
								<div class="west">
									<h3>Resource Name</h3>
									<p>www.resourcewebsite.org <br/> Given Location</p>
									<div class="tags">
										<h4>Tags</h4>
										lorem, ipsum, sit, eros
									</div>
								</div>
								<div class="east">
									<h4>Mission</h4>
									<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
								</div>
							</div>
						</li>
						<li class="item-box">
							<div class="hd">
								<div class="controls">
									<a href="#" class="control-approve">Approve</a>
									<a href="#" class="control-delete">Delete</a>
								</div>
							</div>
							<div class="bd">
								<div class="west">
									<h3>Resource Name</h3>
									<p>www.resourcewebsite.org <br/> Given Location</p>
									<div class="tags">
										<h4>Tags</h4>
										lorem, ipsum, sit, eros
									</div>
								</div>
								<div class="east">
									<h4>Mission</h4>
									<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
								</div>
							</div>
						</li>
						<li class="item-box">
							<div class="hd">
								<div class="controls">
									<a href="#" class="control-approve">Approve</a>
									<a href="#" class="control-delete">Delete</a>
								</div>
							</div>
							<div class="bd">
								<div class="west">
									<h3>Resource Name</h3>
									<p>www.resourcewebsite.org <br/> Given Location</p>
									<div class="tags">
										<h4>Tags</h4>
										lorem, ipsum, sit, eros
									</div>
								</div>
								<div class="east">
									<h4>Mission</h4>
									<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="metrics" class="view">
			<div class="metrics-header">
				<div class="west">
					<h2>Overall Metrics</h2>
				</div>
				<div class="east">
					<ul class="breakdown">
						<li>
							<span class="counter">120,228</span>
							Users
						</li>
						<li>
							<span class="counter">732</span>
							Projects
						</li>
						<li>
							<span class="counter">2,034</span>
							Ideas
						</li>
						<li>
							<span class="counter">120</span>
							Resources
						</li>
					</ul>
					<div class="averages">
						Average of <span class="counter">28</span> members per project <span class="separator">|</span>
						Average of <span class="counter">55</span> ideas submitted per day
					</div>
				</div>
			</div>
			<div class="box metrics-section metrics-keywords">
				<div class="hd">
					<h2>Top <strong>Keywords</strong><span class="counter">135 Total</span></h2>
					<a href="#" class="download-button download-csv">Download (.csv)</a>
				</div>
				<div class="bd">
					<table class="metrics-table">
						<tbody>
							<tr>
								<th scope="row">
									<h3>trees <span class="counter">258</span></h3>
								</th>
								<td class="breakdown breakdown-projects">
									<span class="counter">210</span> Projects
								</td>
								<td class="breakdown breakdown-resources">
									<span class="counter">34</span> Resources
								</td>
							</tr>
							<tr>
								<th scope="row">
									<h3>recycling <span class="counter">258</span></h3>
								</th>
								<td class="breakdown breakdown-projects">
									<span class="counter">210</span> Projects
								</td>
								<td class="breakdown breakdown-resources">
									<span class="counter">34</span> Resources
								</td>
							</tr>
							<tr>
								<th scope="row">
									<h3>bicycle <span class="counter">258</span></h3>
								</th>
								<td class="breakdown breakdown-projects">
									<span class="counter">210</span> Projects
								</td>
								<td class="breakdown breakdown-resources">
									<span class="counter">34</span> Resources
								</td>
							</tr>
						</tbody>
					</table>
					<table class="metrics-table">
						<tbody>
							<tr>
								<th scope="row">
									<h3>solar <span class="counter">258</span></h3>
								</th>
								<td class="breakdown breakdown-projects">
									<span class="counter">210</span> Projects
								</td>
								<td class="breakdown breakdown-resources">
									<span class="counter">34</span> Resources
								</td>
							</tr>
							<tr>
								<th scope="row">
									<h3>green <span class="counter">258</span></h3>
								</th>
								<td class="breakdown breakdown-projects">
									<span class="counter">210</span> Projects
								</td>
								<td class="breakdown breakdown-resources">
									<span class="counter">34</span> Resources
								</td>
							</tr>
							<tr>
								<th scope="row">
									<h3>water <span class="counter">258</span></h3>
								</th>
								<td class="breakdown breakdown-projects">
									<span class="counter">210</span> Projects
								</td>
								<td class="breakdown breakdown-resources">
									<span class="counter">34</span> Resources
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="box metrics-section metrics-projects">
				<div class="hd">
					<h2><strong>Project</strong> Metrics</h2>
					<a href="#" class="download-button download-csv">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains the number of: <strong>Members</strong>, <strong>Ideas</strong>, <strong>Resources</strong>, <strong>Endorsements</strong> and <strong>tags</strong> for all projects. (organized alphabetically by name)</p>
				</div>
			</div>
			<div class="box metrics-section metrics-user">
				<div class="hd">
					<h2><strong>User</strong> Metrics</h2>
					<a href="#" class="download-button download-csv">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains: <strong>name, email, date joineed,, projects joined, date for each user</strong> (organized alphabetically by user name)</p>
				</div>
			</div>
			<div class="box metrics-section metrics-location">
				<div class="hd">
					<h2><strong>Location</strong> Metrics</h2>
					<a href="#" class="download-button download-csv">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains the number of: <strong>Projects</strong>, <strong>Ideas</strong>, <strong>Resources</strong> for each neighborhood. (organized by borough)</p>
				</div>
			</div>
		</div>
	</div>

	<div class='foothills'>

	</div>
	

</div><!-- end .continent.cms-content -->
{% endblock continent %}


{% block page_js %}

<script>
	
</script>
{% endblock page_js %}