{% extends "./partials/base.html" %}

{% block title %} CMS Content {% endblock title %}

{% block continent %}

<div class='continent cms cms-content'>

	<div class='headlands clearfix'>
		<ul class="tabs">
			<li class="tab featured-projects"><a href="#admin-content,featuredprojects">Featured Projects</a></li>
			<li class="tab warning-list"><a href="#admin-content,warninglist">Warning List</a></li>
			<li class="tab pending-resources"><a href="#admin-content,pendingresources">Pending Resources</a></li>
			<li class="tab metrics"><a href="#admin-content,sitemetrics">Metrics</a></li>
		</ul>
	</div><!-- end .headlands -->

	<div class='midlands merlin clearfix'>
		<div id="featured-projects" class="step view">
			<div class="top-tier clearfix">
				<div class="west">
					<h2>Featured Projects are displayed on the board located on the homepage of the site.</h2>
				</div>
				<div class="east">
					<p><strong>Note:</strong> only six projects can be featured on the homepage at a time. To add a different project, you can <a href="/search?terms=#projects">find some projects to feature</a>.</p>
				</div>
			</div>
			<div class="main-tier">
				{% if d.template_data.featured_projects.data|length > 0 %}
					<table class="featured-projects-table">
						<tbody>
							{% for project in d.template_data.featured_projects.data %}
								<tr class="{% if loop.index is odd %}alt{% endif %}">
									<th class="featured-project-header" scope="row">
										<h3 class="serif"><a href="/project/{{ project.project_id }}">{{ project.title }}</a></h3>
									</th>
									<td class="info-breakdown">
										<ul>
											<li><span class="counter">{{ project.num_members }}</span> Members</li>
											<li><span class="counter">{{ project.num_ideas }}</span> Ideas</li>
											<li><span class="counter">{{ project.num_project_resources }}</span> Resources</li>
											<li><span class="counter">{{ project.num_endorsements }}</span> Supporters</li>
										</ul>
									</td>
									<td class="info-description serif">
										<p>{{ project.description }}</p>
									</td>
									<td class="info-meta">
										Featured since <br /><strong>{{ project.featured_datetime }}</strong><br />by <strong><a href="/useraccount/{{ project.owner.u_id }}">{{ project.owner.name }}</a></strong>
									</td>
									<td class="control-delete">
										<a href="#deleteProject,{{ project.project_id }}" class="delete"><span>Delete</span></a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					<div class="empty-state-box big">
						<!--<a class="close" href="#"><span>Close</span></a>-->
						<p>There are no Featured Projects yet.</p>
					</div>
				{% endif %}
			</div>
		</div>


		<div id="warning-list" class="step view" style="display:none">
			<div class="west sidebar">
				<div class="box flagged-content-filters">
					<div class="hd">
						<h2>Flagged Content</h2>
					</div>
					<div class="bd">
						<!-- <a href="#warning-content,all" class="sidebar-item all active"><span>All</span></a> -->
						<a href="#warning-content,ideas" class="sidebar-item ideas"><span>Ideas</span>&nbsp;<span class='count'></span></a>
						<a href="#warning-content,projects" class="sidebar-item projects"><span>Projects</span>&nbsp;<span class='count'></span></a>
						<a href="#warning-content,project-posts" class="sidebar-item project-posts"><span>Project Posts</span>&nbsp;<span class='count'></span></a>
						<a href="#warning-content,links" class="sidebar-item links"><span>Links</span>&nbsp;<span class='count'></span></a>
					</div>
					<div class="ft">
						<p>Content is flagged according to the <q>Graylist</q> of questionable language.</p><br />
						<p>View and Edit the Graylist under<br />Admin Settings &rarr; Blacklist</p>
					</div>
				</div>
			</div>
			<div class="east">


				<!-- <div class="box">
					<div class="hd clearfix">
						<div class="pagination-controls">
							<span class="control">
								<a class="prev" href="#"><span class="sm-arrow-back light"></span><span>Previous</span></a>
								<a class="next" href="#"><span>Next</span><span class="sm-arrow-forward light"></span></a>
							</span>
						</div>
					</div>
					<div class="bd">
						<ul class="items warning-list-stack">
							<li class="item-box ideas all">
								<div class="hd">
									<div class="controls">
										<a href="#" class="control-ok">OK</a>
										<a href="#" class="control-delete">Delete</a>
									</div>
									<div class="info">
										<span class="name">Lorem Lastname</span> in
										<span class="title serif">Project Name</span>
										<span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span>
									</div>
								</div>
								<div class="bd serif">
									<blockquote>
										<p>Idea. Iusto dolore eorum claritatem exerci consuetudium. Qui est processus lectores modo humanitatis. Aliquam non dolor eodem lectorum duis.</p>
									</blockquote>
								</div>
							</li>
						</ul>
					</div> -->

				<div class="box active-admins">
					<div class="hd clearfix">
						<div class="pagination-controls">
							<span class="control">
								<a class="prev warning-carousel-prev" href="#"><span class="sm-arrow-back light"></span><span>Previous</span></a>
								<a class="next warning-carousel-next" href="#"><span>Next</span><span class="sm-arrow-forward light"></span></a>
							</span>
						</div>
					</div>
					<div class="bd">
						<div class="carousel warning">
							<div class="scrollable">
								<ul class="items">

									<li class='flagged-content-carousel-item clearfix spinner-message'>
										<ul class="items warning-list-stack">
											<li><p>Loading&hellip;</p></li>
										</ul>
									</li>

								</ul>
							</div>
						</div>
					</div>
					<div class="ft">
						<div class="pagination-controls">
							<span class="control">
								<a class="prev warning-carousel-prev" href="#"><span class="sm-arrow-back light"></span><span>Previous</span></a>
								<a class="next warning-carousel-next" href="#"><span>Next</span><span class="sm-arrow-forward light"></span></a>
							</span>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div id="pending-resources" class="step view" style="display:none">
			<div class="west">
				<div class="box">
					<div class="bd">
						<p>These resources have been submitted to the site and await approval.</p><br />
						<p>Review and approve them to include them on the site.</p>
					</div>
				</div>
			</div>
			<div class="east">
				<div class="hd clearfix">
					<div class="pagination-controls">
						<span class="control">
							<a class="resources-carousel-prev prev" href="#"><span class="sm-arrow-back light"></span><span>Previous</span></a>
							<a class="resources-carousel-next next" href="#"><span>Next</span><span class="sm-arrow-forward light"></span></a>
						</span>
					</div>
				</div>
				<div class="bd">
					<div class="carousel resources">
						<div class="scrollable">
								<ul class="items">
									<li class="flagged-content-carousel-item clearfix spinner-message">
										<ul class="items pending-resources-stack">
											<li><p>Loading&hellip;</p></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
				</div>
			</div>
		</div>


		<div id="metrics" class="step view" style="display:none">
			<div class="metrics-header clearfix">
				<div class="west">
					<h2>Overall <span class="unbold">Metrics</span></h2>
				</div>
				<div class="overall-stats">
					<ul class="breakdown clearfix">
						<li>
							<span class="counter n-users">&nbsp;</span>
							Users
						</li>
						<li>
							<span class="counter n-projects">&nbsp;</span>
							Projects
						</li>
						<li>
							<span class="counter n-ideas">&nbsp;</span>
							Ideas
						</li>
						<li>
							<span class="counter n-resources">&nbsp;</span>
							Resources
						</li>
					</ul>
					<div class="averages">
						Average of <span class="counter avg-project-users">&nbsp;</span> members per project <span class="separator">|</span>
						Average of <span class="counter avg-daily-ideas">&nbsp;</span> ideas submitted per day
					</div>
				</div>
			</div>
			<div class="box metrics-section metrics-keywords">
				<div class="hd clearfix">
					<h2><span class="unbold">Top</span> Keywords<span class="counter total-tags">&nbsp;</span></h2>
					<a href="/admin/csv/metrics/keywords" target="_blank" class="download-button download-csv rounded-button small">Download (.csv)</a>
				</div>
				<div class="bd">
					<ul class="keyword-list clearfix"></ul>
				</div>
			</div>
			<div class="box metrics-section metrics-projects">
				<div class="hd clearfix">
					<h2>Project <span class="unbold">Metrics</span></h2>
					<a href="/admin/csv/metrics/project" target="_blank" class="download-button download-csv rounded-button small">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains the number of: <strong>Members</strong>, <strong>Ideas</strong>, <strong>Resources</strong>, <strong>Supporters</strong> and <strong>tags</strong> for all projects. (organized alphabetically by name)</p>
				</div>
			</div>
			<div class="box metrics-section metrics-resources">
				<div class="hd clearfix">
					<h2>Resource <span class="unbold">Metrics</span></h2>
					<a href="/admin/csv/metrics/resource" target="_blank" class="download-button download-csv rounded-button small">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains: <strong>Details</strong>, <strong>Number of Projects</strong> and <strong>Date Created</strong> for all resources. (organized alphabetically by name)</p>
				</div>
			</div>
			<div class="box metrics-section metrics-user">
				<div class="hd clearfix">
					<h2>User <span class="unbold">Metrics</span></h2>
					<a href="/admin/csv/metrics/user" target="_blank" class="download-button download-csv rounded-button small">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains: <strong>name</strong>, <strong>email</strong>, <strong>date joined</strong>, <strong>projects joined</strong>, and <strong>date</strong> <br />for each user (organized alphabetically by user name)</p>
				</div>
			</div>
			<div class="box metrics-section metrics-location">
				<div class="hd clearfix">
					<h2>Location <span class="unbold">Metrics</span></h2>
					<a href="/admin/csv/metrics/location" target="_blank" class="download-button download-csv rounded-button small">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains the number of: <strong>Projects</strong>, <strong>Ideas</strong>, and <strong>Resources</strong> <br />for each neighborhood.</p>
				</div>
			</div>
			<div class="box metrics-section metrics-feedback">
				<div class="hd clearfix">
					<h2>User <span class="unbold">Feedback</span></h2>
					<a href="/admin/csv/site/feedback" target="_blank" class="download-button download-csv rounded-button small">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains: <strong>Name</strong>, <strong>Email</strong>, <strong>Comment</strong>, and <strong>Timestamp</strong> of all feedback left by users of the site.</p>
				</div>
			</div>
			<div class="box metrics-section metrics-betarequests">
				<div class="hd clearfix">
					<h2>Beta <span class="unbold">Invite Requests</span></h2>
					<a href="/admin/csv/site/betarequests" target="_blank" class="download-button download-csv rounded-button small">Download (.csv)</a>
				</div>
				<div class="bd">
					<p>Contains: <strong>Email</strong> and <strong>Timestamp</strong> of all submissions on the beta inquiry form.</p>
				</div>
			</div>
		</div>
	</div>

	<div class='foothills'>

	</div>

	<li class="item-box item-box-warning-list ideas all template-content" >
		<div class="hd">
			<div class="controls">
				<a href="#" class="control-ok">OK</a>
				<a href="#" class="control-delete">Delete</a>
			</div>
			<div class="info">
				<span class="name"></span>&nbsp;in
				<span class="title serif"></span>
				<!-- <span class="time"><strong>12:43pm</strong> on <strong>04.03.2011</strong></span> -->
				<span class="time"></span>
			</div>
		</div>
		<div class="bd serif">
			<blockquote>
				<p class='description'></p>
			</blockquote>
		</div>
	</li>

	<li class="item-box clearfix resource-box template-content">
		<div class="hd">
			<div class="controls">
				<a href="#" class="control-approve control-ok">Approve</a>
				<a href="#" class="control-delete">Delete</a>
			</div>
		</div>
		<div class="bd">
			<div class="west">
				<h3 class="serif resource-name">Resource Name</h3>
				<!--<p class="serif"><a class='resource-link' href=""></a><br/> Given Location</p>-->
				<!--<div class="tags">
					<h4>Tags</h4>
					<span class="serif">lorem, ipsum, sit, eros</span>
				</div>-->
			</div>
			<div class="mission">
				<h4>Mission</h4>
				<span class="serif"><p class='description'></p></span>
			</div>
		</div>
		<!--[if lte IE 7]>
		<div style="clear:both"></div>
		<![endif]-->
	</li>

	<div class="template-content modal-content confirm-delete content-delete">
		<div class="step">
			<h2><strong>Delete</strong> this <span class='item-type-name'>&nbsp;</span>?</h2>
			<div>
				<p>You are about to delete this <span class='item-type-name'>&nbsp;</span> from the system permanently! <br/>Are you sure?</p>
			</div>
			<div class="actions">
				<a class="submit rounded-button" href="#">Yes, Delete <span class='item-type-name'></span></a>
				<a class="cancel" href="#">No, keep it.</a>
			</div>
		</div>
		<a class='close' href="#"><span>close</span></a>
	</div>

	<div class="template-content modal-content confirm-delete unfeature-project">
		<div class="step">
			<h2><strong>Remove</strong> this Project?</h2>
			<div>
				<p>You are about to remove this Project from the Featured Projects list! Are you sure?</p>
			</div>
			<div class="actions">
				<a class="submit rounded-button" href="#">Yes, Remove Project</a>
				<a class="cancel" href="#">No, keep it.</a>
			</div>
		</div>
		<a class='close' href="#"><span>close</span></a>
	</div>

</div><!-- end .continent.cms-content -->
{% endblock continent %}


{% block page_js %}
	<script type='text/javascript' src="/static/js/pages/cms.content.js"></script>
{% endblock page_js %}
