{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - CMS Content
{% endblock title %}

{% block continent %}

<div class='continent cms cms-content'>

	<div class='headlands'>
		<ul class="tabs">
			<li class="tab featured-projects"><a href="#featured-projects">Featured Projects</a></li>
			<li class="tab warning-list active"><a href="#warning-list">Warning List</a></li>
			<li class="tab pending-resources"><a href="#pending-resources">Pending Resources</a></li>
			<li class="tab metrics"><a href="#metrics">Metrics</a></li>
		</ul>
	</div><!-- end .headlands -->

	<div class='midlands clearfix'>
		<div id="featured-projects" class="view">
			
		</div>
		<div id="warning-list" class="view">
			
		</div>
		<div id="pending-resource" class="view">
			
		</div>
		<div id="metrics" class="view">
			
		</div>
	</div>

	<div class='foothills'>

	</div>
	

</div><!-- end .continent.cms-content -->
{% endblock continent %}


{% block page_js %}

<script>
	
</script>
{% endblock page_js %}