{% extends "./partials/base.html" %}

{% block title %}
Change by Us NYC - Create a Project
{% endblock title %}

{% block continent %}
<div class='continent create'>
	<div class='headlands clearfix'>
		<div class='west'>
			<span class="above-h1">Create <em>a</em> Project</span>
			<h1>Turn ideas into solutions.</h1>
			<h2> <strong>{% if d.template_data and d.template_data.user %}{{ d.template_data['user'].data.f_name }}{% else %}{{ 'Hey' }}{% endif %}, </strong> let's get started. The first step is to create a project.</h2>
		</div>
		<div class='east'>
			<div class='box'>
				<div class='box merlin-progress clearfix'>
					<a class='indicator 1 west'><span class="label">Describe</span><span class="num">1</span></a>
					<a class='indicator 2 west inactive'><span class="label">Location</span><span class="num">2</span></a>
					<a class='indicator 3 west inactive'><span class="label">Check</span><span class="num">3</span></a>
					<a class='indicator 4 west inactive last'><span class="label">Add</span><span class="num">4</span></a>
				</div>
				<div class='box next'>
					<a class="ca-btn" href="#">
						<span>Next step</span>
					</a>
				</div>
				<div class="oops" style='display:none;'>
					<span></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class='midlands'>
		<form class='merlin' action='/join' method='POST'>
			
			<div class='step start describe clearfix'>
				<div class="west">
					<div class="thumb">
						<img width='100' src="/static/images/thumb_genAvatar100.png" alt="" class="proj"/>
						<span class="overlay-tag"></span>
					</div>
					<div class="addphoto"><a href="">&#43; Add A Photo</a></div>
				</div>
				
				<div class="east">
					<div class="row clearfix">
						<label for='name'><strong>Name</strong> your project:</label>
						<input type='text' name='name' id='name' class='name'/>
						<span class="charlimit title">50</span>
						<div class="below-input clearfix"><span class="createdby">Created by</span><span class="user-name">{% if d.template_data and d.template_data.user %}{{ d.template_data['user'].data.f_name }} {{ d.template_data['user'].data.l_name }}{% endif %}</span><span class="edit" style='display:none;'>Edit</span></div>
					</div>
					<div class="row clearfix">
						<label for='organization'><strong>Give your affiliation</strong> (Optional)</label>
						<input type='text' name='organization' id='organization' class='organization'/>
					</div>
					<div class="row clearfix">
						<label for='describe'><strong>Describe</strong> your project. Be specific so people can find it and join.</label>
						<textarea cols="20" rows="6" name='describe' id='describe' class='describe'></textarea>
						<span class="charlimit description">200</span>
					</div>
					<div class="row clearfix">
						<label for='keywords'><strong>Add</strong> keywords to help people find your project:</label>
						<input type='text' name='keywords' id='keywords' class='keywords'/>
						<div class="below-input clearfix">
							<span class="suggested-keywords-label">Suggested Keywords</span>
							<span class="suggested-keywords"></span>
						</div>
						<input style='display:none;' name='main_text' class='main_text' />
					</div>
				</div>
			</div><!--end step-->

			<div class='step location clearfix' style='display:none;'>
				<div class="west"></div>
				<div class="east">
					<h3>Your project is for?</h3>
					<div class="row row-1 clearfix">
						<input type='radio' name='location-check' id='location-city' class='location-group location-city'/>
						<label class="location-city-label" for='location-city'>The city</a></label>
					</div>
					<div class="row row-2 clearfix">
						<input type='radio' name='location-check' id='location-hood' class='location-group location-hood'/>
						<label class="location-hood-label" for='location-hood'>A neighborhood or borough</a></label>
					</div>
					<div class="row row-3 clearfix">
						<span class="dropdown-indicator"></span>
						<input value='Start typing neighboorhood or borough...' type='text' name='location-hood-enter' id='location-hood-enter' class='location-group location-hood-enter'/>
						<div class="location-hood-list"><ul></ul></div>
						<span class="error">Please enter a neighborhood or borough.</span>
					</div>
				</div>
			</div><!--end step-->
			
			<div class='step check-projects-process clearfix spinner-message' style='display:none;'>
				<p class="west">Please wait while we check for similar projects.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step check clearfix' style='display:none;'>
				<h3>Similar Projects</h3>
				<table class="triplewide projects-list"></table>
			</div><!--end step-->
			
			<div class='step add-resource-process clearfix spinner-message' style='display:none;'>
				<p class="west">Please wait while we search for relevant resources.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step add clearfix' style='display:none;'>
				<div class="resources-added clearfix">
					<span class="resource-count">0</span>
					<span class="resource-label">You've added <br /><strong>resources</strong></span>
				</div>
				<!-- <ul class="triplewide resources-list clearfix"></ul> -->
				<table class="resources-list triplewide"></table>
			</div><!--end step-->
			
			<div class='step check-nosimilar other-step clearfix' style='display:none;'>
				<h3>Similar Projects</h3>
				<p><strong>No similar projects found.</strong></p>
				<p>Looks like you're the first with this kind of project.  Thanks for taking the lead!</p>
			</div><!--end step-->
			
			<div class='step add-noresources other-step clearfix' style='display:none;'>
				<h3>&nbsp;</h3>
				<p><strong>No resources found.</strong></p>
				<p>Sorry about that! Once you have created a project, you can add a link.</p>
			</div><!--end step-->
			
			<div class='step finish clearfix spinner-message' style='display:none;'>
				<p class="west">Thank you for joining.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
		</form>
	</div>

	<div class='foothills'>
		<a class='back' href='#' style='display:none'>Back</a>
	</div>
	
	<div class='template-content modal-content upload-image'>
		<div class='step'>
			<h2><strong>Upload</strong> a photo for your project.</h2>
			<div>
				<p>Photos should be <strong>under 1MB</strong> please. (We also crop photos to <strong>90px by 90px</strong>)</p>
			</div>
			<div class="file-uploader"></div>
		</div>
		<a class='close' href="#"><span>close</span></a>
	</div>
	
	<div class='template-content project-item'>
		<div class="thumb">
			<img width='50' src="http://placehold.it/50x50" alt="" class="proj"/>
			<span class="overlay-tag"></span>
			<span class="member-count">58</span>
		</div>
		<div class="project-info">
			<div class="endorser-thumb clearfix" style='display:none;'>
				<img width='30' src="http://placehold.it/30x30" alt="" class="endorser-photo" />
				<span class="overlay-tag"></span>
			</div>
			<span class="link"><a href="/project" target='_blank'>Start a Garden on 161st in South Bronx</a></span>
			<span class="creator"><em>Created by </em> Terry Richardson</span>
			<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
		</div>
	</div>
	
	<div class="template-content organization-item">
		<span class="thumb"><img width='35' src="http://placehold.it/35x35" alt="" /></span>
		<span class="resource-name"><span><span class='organization-name tooltip_trigger'></span></span></span>
		<a href="#add" class="add-button rounded-button small">Add</a>
		<div class="added-dialog">
			<span class="added-header">Added <em>to</em> your project</span>
			<span class="added-text">We've sent them a link to your project page. <a href="">?</a></span>
			<!-- <span class="added-close"></span> -->
		</div>
	</div>
	
</div>

<div class='template-content modal-content join-no-user'>
	<h2><strong>Hold your horses!</strong> Please register.</h2>
	<p>You must <strong><a href='/join'>register</a></strong> or <strong><a href='/login'>login</a></strong> with Change by Us NYC in order to create<br />your own project.</p>
	<p><a href='/' class='rounded-button'>Go Home</a></p>
</div>

<div class='template-content' id='organization-markup-source'>
	<div class='tooltip-hd'>
		<h2></h2>
	</div>
	<div class='tooltip-bd'>
		<div class='info'>
			<div class='thumb'>
				<img width='90' alt='' src='http://placehold.it/90x90'/>
			</div>
			<div class='main'>
				<p></p>
			</div>
		</div>
		<dl class='details'>
			<dt>Visit Us</dt>
			<dd><a href=''></a></dd>
		</dl>
	</div>
</div>

{% endblock continent %}

{% block page_js %}
<script>
	
	app_page.features.push(tc.user_handler({
		no_user_handler:function(app){
			app.components.modal.show({
				preventClose:true,
				source_element:tc.jQ('.modal-content.join-no-user')
			});
		}
	}));
	
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Create a Project');
		tc.jQ('.addphoto a').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.upload-image'),
			init:function(modal,callback){
				var uploader = new qq.FileUploader({
					element: modal.options.element.find('.file-uploader').get(0),
					action: '/create/photo',
					onComplete: function(id, fileName, responseJSON){
						
						tc.jQ(document).trigger('create-image-uploaded',{
							id:id,
							fileName:fileName,
							responseJSON:responseJSON
						});
						
						return true;
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.preventDefault();
			e.data.app.components.modal.show(e.data);
		});
		
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('form.merlin'),
			progress_element:tc.jQ('.merlin-progress'),
			next_button:tc.jQ('.ca-btn'),
			back_button:tc.jQ('.foothills .back'),
			error_indicator:tc.jQ('.oops'),
			title:tc.jQ('.headlands h1'),
			sub_title:tc.jQ('.headlands h2'),
			watch_keypress:true,
			first_step:'start',
			components:{
				organization_tooltip:null
			},
			data:{
				title:null,
				organization:null,
				text:null,
				keywords:null,
				location_id:null,
				links:null,
				resources:null,
				image:'-1',
				main_text:""
			},
			steps:{
				'start':{
					progress_selector:'.1',
					selector:'.step.start',
					prev_step:null,
					next_step:'location',
					title:'Turn ideas into solutions.',
					sub_title:'<strong>{% if d.template_data and d.template_data.user %}{{ d.template_data.user.data.f_name|e }}{% else %}Hey{% endif %}, </strong> let\'s get started. The first step is to create a project.',
					use_for_history:true,
					step_data:{
						timer:null
					},
					inputs:{
						title:{
							selector:'input.name',
							validators:['max-50','min-3','required'],
							hint:'e.g. More Trees in NYC',
							counter:{
								selector:'.charlimit.title',
								limit:50
							},
							handlers:{
								keyup:function(e){
									if(!e.data.me.current_step.step_data.loading){
										e.data.me.current_step.inputs.suggested_keywords.dom.prepend('<img class="loading" src="/static/images/loader16x16.gif" />');
										e.data.me.current_step.step_data.loading = true;
									}
									if(e.data.me.current_step.step_data.timer){
										clearTimeout(e.data.me.current_step.step_data.timer);
										e.data.me.current_step.step_data.timer = null;
									}
									e.data.me.current_step.step_data.timer = setTimeout(e.data.me.current_step.fn.stopped,500,[e.data.me]);
									//e.data.me.current_step.step_data.timer = setTimeout(function(){
									//	e.data.me.current_step.fn.stopped([e.data.me]);
									//},1000);
								}
							}
						},
						organization:{
							selector:'input.organization',
							hint:'Field Organization, Program, Community Group, etc.'
						},
						description:{
							selector:'textarea.describe',
							validators:['max-200','min-3','required'],
							hint:'Add a description',
							counter:{
								selector:'.charlimit.description',
								limit:200
							},
							handlers:{
								keyup:function(e){
									if(!e.data.me.current_step.step_data.loading){
										e.data.me.current_step.inputs.suggested_keywords.dom.prepend('<img class="loading" src="/static/images/loader16x16.gif" />');
										e.data.me.current_step.step_data.loading = true;
									}
									if(e.data.me.current_step.step_data.timer){
										clearTimeout(e.data.me.current_step.step_data.timer);
										e.data.me.current_step.step_data.timer = null;
									}
									//DOES NOT WORK IN IE
									e.data.me.current_step.step_data.timer = setTimeout(e.data.me.current_step.fn.stopped,500,[e.data.me]);
									//e.data.me.current_step.step_data.timer = setTimeout(function(){
									//	e.data.me.current_step.fn.stopped([e.data.me]);
									//},1000);
								}
							}
						},
						keywords:{
							selector:'input.keywords',
							hint:'Separate keywords by commas'
						},
						suggested_keywords:{
							selector:'span.suggested-keywords',
							handlers:{
								click:function(e){
									var tempval;
									if(e.target.nodeName == 'A'){
										e.preventDefault();
										if(!e.data.me.current_step.inputs.keywords.dom.hasClass('has-been-focused')){
											e.data.me.current_step.inputs.keywords.dom.val(e.target.text).addClass('has-been-focused');
										} else {
											tempval = tc.jQ.trim(e.data.me.current_step.inputs.keywords.dom.val());
											if(tempval.substring(tempval.length-1,tempval.length) == ','){
												e.data.me.current_step.inputs.keywords.dom.val(tempval += ' '+e.target.text);
											} else {
												e.data.me.current_step.inputs.keywords.dom.val(tempval += ', '+e.target.text);
											}
										}
										e.target.innerHTML = "";
									}
								}
							}
						},
						main_text:{
							selector:'input.main_text',
							validators:['max-0']
						}
					},
					fn:{
						inputKeyup:function(e){
							
						},
						stopped:function(pars){
							var merlin;
							merlin = pars[0];
							tc.jQ.ajax({
								url:'/create/keywords',
								data:{
									title:merlin.current_step.inputs.title.dom.val(),
									text:merlin.current_step.inputs.description.dom.val()
								},
								context:merlin,
								dataType:'json',
								success:function(data,ts,xhr){
									var i, existingtags, temphtml;
									existingtags = merlin.current_step.inputs.keywords.dom.val();
									temphtml = '';
									if(data.suggested_keywords.length){
										for(i in data.suggested_keywords){
											if(existingtags.indexOf(data.suggested_keywords[i]) == -1){
												temphtml += "<span><a href='#'>"+data.suggested_keywords[i]+"</a></span>";
											}
										}
									}
									this.current_step.inputs.suggested_keywords.dom.html(temphtml);
									this.current_step.step_data.loading = false;
								}
							});
						}
					},
					init:function(merlin,dom){
						tc.jQ(document).unbind('create-image-uploaded').bind('create-image-uploaded',{merlin:merlin}, function(e, d){
							e.data.merlin.app.components.modal.hide();
							if(d.responseJSON.thumbnail_id){
								merlin.dom.find('img.proj').attr('src','/images/'+(d.responseJSON.thumbnail_id % 10)+'/'+d.responseJSON.thumbnail_id+'.png');
								merlin.options.data.image = d.responseJSON.thumbnail_id;
							}
						});
						tc.jQ('.foothills a.back').hide();
					},
					finish:function(merlin,dom){
						tc.jQ('.foothills a.back').show();
						
						tc.util.dump(merlin.current_step.inputs);
						
						function val_escape_hints($input) {
							if ($input.hasClass("has-been-focused")) {
								return $input.val();
							}
							return "";
						}
						
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							title: merlin.current_step.inputs.title.dom.val(),
							organization: val_escape_hints(merlin.current_step.inputs.organization.dom),
							text: merlin.current_step.inputs.description.dom.val(),
							keywords: val_escape_hints(merlin.current_step.inputs.keywords.dom),
							main_text:merlin.current_step.inputs.main_text.dom.val()
						});
					}
				},
				'location':{
					progress_selector:'.2',
					selector:'.step.location',
					prev_step:'start',
					next_step:'check-projects-process',
					title:'Turn ideas into solutions',
					sub_title:'We want to connect you with people and resources in your area!',
					use_for_history:true,
					step_data:{},
					inputs:{
						location:{
							selector:'.location-group',
							validators:tc.locationDropdown.validator,
							hint:'Start typing neighborhood or borough...'
						}
					},
					init:function(merlin,dom){
						if(!merlin.current_step.step_data.locationDropdown){
							merlin.current_step.step_data.locationDropdown = new tc.locationDropdown({
								radios:dom.find('input[type=radio]'),
								input:dom.find('input.location-hood-enter'),
								list:dom.find('div.location-hood-list'),
								warning:dom.find('span.error'),
								locations:merlin.app.app_page.data.locations
							});
						}
					},
					finish:function(merlin,dom){
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							location_id:merlin.current_step.step_data.locationDropdown.getLocation()
						});
					}
				},
				'check-projects-process':{
					title:'Let&rsquo;s check for similar projects.',
					sub_title:'It\'s great to start something new but there is also strength in numbers. Have a look at some related projects you may want to be a part of.',
					progress_selector:'.3',
					selector:'.step.check-projects-process',
					prev_step:'location',
					next_step:null,
					init:function(merlin,dom){
						tc.jQ.ajax({
							url:'/create/similar',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								var d;
								try{
									d = tc.jQ.parseJSON(data);
								}catch(e){
									window.location.hash = 'check-nosimilar';
									return;
								}
								if(d.projects.length){
									this.options.steps['check-projects'].step_data = d;
									window.location.hash = 'check-projects';
								} else {
									window.location.hash = 'check-nosimilar';
								}
							}
						});
					}
				},
				'check-projects':{
					title:'Let\'s check for similar projects.',
					sub_title:'Starting something new is great, but there may already be a project you\'d like to join. Take a look at these others.',
					progress_selector:'.3',
					selector:'.step.check',
					prev_step:'location',
					next_step:'add-resource-process',
					use_for_history:true,
					step_data:{},
					init:function(merlin,dom){
						var tbody;

						tbody = "<tbody>";
						tc.jQ.each(merlin.current_step.step_data.projects, function(i, project) {
							var temp, position, tempImgPath;
							temp = "";
							position = i % 3;
							if(position == 0){
								temp = "<tr>";
							}
							if (project.image_id > 0) {
								tempImgPath = '/images/'+(project.image_id % 10)+'/'+project.image_id+'.png'
							} else {
								tempImgPath = '/static/images/thumb_genAvatar50.png'
							}
							temp += "<td>";
							temp += '<div class="thumb">'+
										'<a href="/project/'+project.project_id+'"><img width="50" height="50" src="'+tempImgPath+'" alt="" class="proj"/></a>'+
										'<span class="overlay-tag"></span>'+
										'<span class="member-count">'+project.num_members+'</span>'+
									'</div>'+
									'<div class="project-info">'+
										'<span class="link"><a href="/project/'+project.project_id+'">'+tc.truncate(project.title,50)+'</a></span>'+
										'<span class="creator"><em>Created by </em> <a href="/useraccount/'+project.owner_user_id+'">'+project.owner_first_name+' '+project.owner_last_name+'</a></span>'+
										'<span class="description"><a href="/project/'+project.project_id+'">'+tc.truncate(project.description,65)+'</a></span>'+
									'</div>';
							temp += "</td>";
							if (position == 2) { temp += "</tr>"; }
							tbody += temp;
						});
						tbody += "</tbody>";
						tbody = tc.jQ(tbody);


						tc.util.dump('table');
						tc.util.dump(dom.find('table.projects-list'));
						dom.find('table.projects-list').children().remove();
						dom.find('table.projects-list').append(tbody);
					}
				},
				'check-nosimilar':{
					title:'Let\'s check for similar projects.',
					sub_title:'Starting something new is great, but there may already be a project you\'d like to join. Take a look at these others.',
					progress_selector:'.3',
					selector:'.step.check-nosimilar',
					prev_step:'location',
					next_step:'add-resource-process'
				},
				'add-resource-process':{
					title:'Add a resource.',
					sub_title:'When you add a resource, we\'ll send them a link to your project page. If they\'re able to help, they\'ll send you a message.',
					progress_selector:'.4',
					selector:'.step.add-resource-process',
					prev_step:'check',
					next_step:null,
					init:function(merlin,dom){
						tc.jQ.ajax({
							url:'/create/resources',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								var d;
								try{
									d = tc.jQ.parseJSON(data);
								}catch(e){
									window.location.hash = 'add-noresources';
									return;
								}
								if(d.resources.length){
									this.options.steps['add'].step_data = d;
									window.location.hash = 'add';
								} else {
									window.location.hash = 'add-noresources';
								}
							}
						});
					}
				},
				'add':{
					title:'Add a resource.',
					sub_title:'When you add a resource, we\'ll send them a link to your project page. If they\'re able to help, they\'ll send you a message.',
					progress_selector:'.4',
					selector:'.step.add',
					prev_step:'check',
					next_step:'finish',
					use_for_history:true,
					init:function(merlin,dom){
						//var i, temphtml;
						//
						//if(!merlin.options.components.organization_tooltip){
						//	merlin.options.components.organization_tooltip = tc.resource_tooltip({
						//		triggers: this.dom.find(".resources-list .tooltip_trigger"),
						//		trigger_class:'tooltip_trigger',
						//		markup_source_element:tc.jQ('#organization-markup-source'),
						//		get_url: "/project/resource/info"
						//	});
						//} else {
						//	merlin.options.components.organization_tooltip.clear_triggers();
						//}
						//
						//dom.find('ul.resources-list').children().remove();
						//for(i in merlin.current_step.step_data.resources){
						//	temphtml = tc.jQ("<li class='organization-item'></li>").append(tc.jQ('.template-content.organization-item').clone().children());
						//	if(merlin.current_step.step_data.resources[i].image_id){
						//		temphtml.find('img').attr('src','/images/'+(merlin.current_step.step_data.resources[i].image_id % 10)+'/'+merlin.current_step.step_data.resources[i].image_id+'.png')
						//	}
						//	temphtml.find('.organization-name').text(merlin.current_step.step_data.resources[i].title);
						//	temphtml.find('.add-button').attr('href','#add,'+merlin.current_step.step_data.resources[i].project_resource_id);
						//	if(i!= 0 && (i-1)%3==0){
						//		temphtml.addClass('every-three');
						//	}
						//	if(i >= (merlin.current_step.step_data.resources.length-3)){
						//		temphtml.addClass('last-three');
						//	}
						//	if(i==merlin.current_step.step_data.resources.length-1){
						//		temphtml.addClass('last');
						//	}
						//	temphtml.find('.organization-name').attr('rel','#organization,'+merlin.current_step.step_data.resources[i].project_resource_id);
						//	merlin.options.components.organization_tooltip.add_trigger(temphtml.find('.organization-name'));
						//	dom.find('ul.resources-list').append(temphtml);
						//	
						//}
						//dom.find('ul.resources-list').find('.add-button').bind('click',{merlin:merlin},function(e){
						//	e.preventDefault();
						//	var existing_orgs;
						//	if(!e.data.merlin.options.data.resources){
						//		existing_orgs = [];
						//	} else {
						//		existing_orgs = e.data.merlin.options.data.resources.split(',');
						//	}
						//	
						//	// This was not working in IE
						//	// if(existing_orgs.indexOf(e.target.hash.split(',')[1]) == -1){
						//	// 								existing_orgs.push(e.target.hash.split(',')[1]);
						//	// 							}
						//	// Replaced with this:
						//	if (tc.jQ.inArray(e.target.hash.split(',')[1], existing_orgs) == -1) {
						//		existing_orgs.push(e.target.hash.split(','));
						//	}
						//	
						//	e.data.merlin.current_step.dom.find('.resource-count').text(existing_orgs.length);
						//	e.data.merlin.options.data.resources = existing_orgs.join(',');
						//	tc.jQ(e.target).animate({
						//		opacity:0.0
						//	},400,'easeOutCirc',function(e){
						//		tc.jQ(this).parent().addClass('added');
						//	});
						//});
						
						
						var tbody;

						if(!merlin.options.components.organization_tooltip){
							merlin.options.components.organization_tooltip = tc.resource_tooltip({
								triggers: this.dom.find(".resources-list .tooltip_trigger"),
								trigger_class:'tooltip_trigger',
								markup_source_element:tc.jQ('#organization-markup-source'),
								get_url: "/project/resource/info"
							});
						} else {
							merlin.options.components.organization_tooltip.clear_triggers();
						}
						
						tbody = "<tbody>";
						tc.jQ.each(merlin.current_step.step_data.resources, function(i, resource) {
							var temp, position, tempImgPath;
							temp = "";
							position = i % 3;
							if(position == 0){
								temp = "<tr>";
							}
							if (resource.image_id > 0) {
								tempImgPath = '/images/'+(resource.image_id % 10)+'/'+resource.image_id+'.png'
							} else {
								tempImgPath = '/static/images/thumb_genAvatar50.png'
							}
							temp += "<td>";
							temp += '<a href="#add,'+ resource.project_resource_id +'" class="add-button rounded-button small">Add</a>'+
							        '<span class="thumb">{% if d.template_data and d.template_data.user and d.template_data.user.is_admin %}<a class="close" href="#removeOrganization,'+resource.project_resource_id+'"><span>Close</span></a>{% endif %}<img width="35" src="'+tempImgPath+'" alt="" /></span>'+
							        '<span class="resource-name" ><span>'+
							            '<span class="organization-name tooltip_trigger" rel="#organization,'+ resource.project_resource_id +'">'+ 
							                resource.title +
							            '</span></span></span>';
							// hidden added dialog
							temp += '<div class="added-dialog">'+
							            '<span class="added-header">Added <em>to</em> your project</span><br />'+
							            '<span class="added-text">We\'ve sent them a link to your project page.'+
							            ' <a href="">?</a></span></div>';
							temp += "</td>";
							if (position == 2) { temp += "</tr>"; }
							tbody += temp;
						});
						tbody += "</tbody>";
						tbody = tc.jQ(tbody);
						
						tbody.find('.add-button').bind('click',{merlin:merlin},function(e){
							e.preventDefault();
							var existing_orgs;
							if(!e.data.merlin.options.data.resources){
								existing_orgs = [];
							} else {
								existing_orgs = e.data.merlin.options.data.resources.split(',');
							}
							if (tc.jQ.inArray(e.target.hash.split(',')[1], existing_orgs) == -1) {
								existing_orgs.push(e.target.hash.split(','));
							}
							
							e.data.merlin.current_step.dom.find('.resource-count').text(existing_orgs.length);
							e.data.merlin.options.data.resources = existing_orgs.join(',');
							tc.jQ(e.target).animate({
								opacity:0.0
							},400,'easeOutCirc',function(e){
								tc.jQ(this).parent().addClass('added');
							});
						});
						
						tbody.find('.close').unbind('click').bind('click', {merlin:merlin}, function(e){
							//e.data.project.options.app.components.modal.show({
							//	app:e.data.project.options.app,
							//	source_element:tc.jQ('.modal-content.remove-resource'),
							//	submit:function(){
							//		tc.jQ.ajax({
							//			type:'POST',
							//			url:'/admin/resource/delete',
							//			data:{
							//				resource_id: e.target.href.split(',')[1]
							//			},
							//			context:e,
							//			dataType:'text',
							//			success:function(data,ts,xhr){
							//				if(data == 'False'){
							//					return false;
							//				}
							//				tc.jQ(this.target).parent().parent().animate({
							//					'opacity':0.0
							//				},600,'easeOutCubic');
							//			}
							//		});
							//	}
							//});
						});
						
						
						merlin.options.components.organization_tooltip.add_trigger(tbody.find('.organization-name'));
						
						tc.util.dump('table');
						tc.util.dump(dom.find('table.resources-list'));
						dom.find('table.resources-list').children().remove();
						dom.find('table.resources-list').append(tbody);
						
						//me.elements.resources_table.empty().append(tbody);
						//me.elements.empty_box.hide();
						//me.elements.resource_counter.text(d.resources.length);
						//tc.resource_tooltip({
						//	triggers: me.elements.resources_table.find(".tooltip_trigger"),
						//	trigger_class:'tooltip_trigger',
						//	markup_source_element:tc.jQ('#organization-markup-source'),
						//	get_url: "/project/resource/info"
						//});
						
						function addOfficialResourceTags(tableName) {
							var officialResourceCells = tc.jQ(tableName + ' td.official-resource');
							for(var i = 0; i < officialResourceCells.length; i++) {
								var td = officialResourceCells.eq(i)
								var tdPos = td.position();
								var tdWidth = td.outerWidth();

								td.parents('.resources-list').before('<div class="official-resource-tag" style="top:' + tdPos.top + 'px; left:' + tdPos.left + 'px; width:' + (tdWidth - 48) + 'px"><span>Official Resource</span></div>');
								td.css({'padding-top' : '25px'});
							};
						};
						addOfficialResourceTags('table.resources-list');
					}
				},
				'add-noresources':{
					title:'Add a resource.',
					sub_title:'When you add a resource, we\'ll send them a link to your project page. If they\'re able to help, they\'ll send you a message.',
					progress_selector:'.4',
					selector:'.step.add-noresources',
					prev_step:'check',
					next_step:'finish'
				},
				'finish':{
					title:'Thank you!',
					sub_title:'Thank you for adding a project.',
					progress_selector:'.4',
					selector:'step.finish',
					prev_step:null,
					next_step:null,
					init:function(merlin,dom){
						tc.jQ.ajax({
							type:'POST',
							url:'/create',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
								window.location = '/project/'+data;
							}
						});
					}
				}
			}
		});
		
		// turn location field autocomplete off
		tc.jQ('#location-hood-enter').attr('autocomplete', 'off');
		
	});
	
</script>
{% endblock page_js %}