{% extends "./partials/base.html" %}

{% block title %}
Change by Us NYC - Create a Project
{% endblock title %}

{% block continent %}
<div class='continent create'>
	<div class='headlands clearfix'>
		<div class='west'>
			<span class="above-h1">Create <em>a</em> Project</span>
			<h1>Turn ideas into solutions.</h1>
			<h2> <strong>{% if d.template_data and d.template_data.user %}{{ d.template_data['user'].data.f_name }}{% else %}{{ 'Hey' }}{% endif %}, </strong> let's get started. The first step is to create a project.</h2>
		</div>
		<div class='east'>
			<div class='box'>
				<div class='box merlin-progress clearfix'>
					<a class='indicator 1 west'><span class="label">Describe</span><span class="num">1</span></a>
					<a class='indicator 2 west inactive'><span class="label">Location</span><span class="num">2</span></a>
					<a class='indicator 3 west inactive'><span class="label">Check</span><span class="num">3</span></a>
					<a class='indicator 4 west inactive last'><span class="label">Add</span><span class="num">4</span></a>
				</div>
				<div class='box next'>
					<a class="ca-btn" href="#">
						<span>Next step</span>
					</a>
				</div>
				<div class="oops" style='display:none;'>
					<span>&nbsp;</span>
				</div>
			</div>
		</div>
	</div>
	
	<div class='midlands'>
		<form class='merlin' action='/join' method='POST'>
			
			<div class='step start describe clearfix'>
				<div class="west">
					<div class="thumb">
						<img width='100' src="/static/images/thumb_genAvatar100.png" alt="" class="proj"/>
						<span class="overlay-tag"></span>
					</div>
					<div class="addphoto"><a href="">&#43; Add A Photo</a></div>
				</div>
				
				<div class="east">
					<div class="row clearfix">
						<label for='name'><strong>Name</strong> your project:</label>
						<input type='text' name='name' id='name' class='name'/>
						<span class="charlimit title">50</span>
						<div class="below-input clearfix"><span class="createdby">Created by</span><span class="user-name">{% if d.template_data and d.template_data.user %}{{ d.template_data['user'].data.f_name }} {{ d.template_data['user'].data.l_name }}{% endif %}</span><span class="edit" style='display:none;'>Edit</span></div>
					</div>
					<div class="row clearfix">
						<label for='organization'><strong>Give your affiliation</strong> (Optional)</label>
						<input type='text' name='organization' id='organization' class='organization'/>
					</div>
					<div class="row clearfix">
						<label for='describe'><strong>Describe</strong> your project. Be specific so people can find it and join.</label>
						<textarea cols="20" rows="6" name='describe' id='describe' class='describe'></textarea>
						<span class="charlimit description">200</span>
					</div>
					<div class="row clearfix">
						<label for='keywords'><strong>Add</strong> keywords to help people find your project:</label>
						<input type='text' name='keywords' id='keywords' class='keywords'/>
						<div class="below-input clearfix">
							<span class="suggested-keywords-label">Suggested Keywords</span>
							<span class="suggested-keywords"></span>
						</div>
						<input style='display:none;' name='main_text' class='main_text' />
					</div>
				</div>
			</div><!--end step-->

			<div class='step location clearfix' style='display:none;'>
				<div class="west"></div>
				<div class="east">
					<h3>Your project is for?</h3>
					<div class="row row-1 clearfix">
						<input type='radio' name='location-check' id='location-city' class='location-group location-city'/>
						<label class="location-city-label" for='location-city'>The city</a></label>
					</div>
					<div class="row row-2 clearfix">
						<input type='radio' name='location-check' id='location-hood' class='location-group location-hood'/>
						<label class="location-hood-label" for='location-hood'>A neighborhood or borough</a></label>
					</div>
					<div class="row row-3 clearfix">
						<span class="dropdown-indicator"></span>
						<input value='Start typing neighboorhood or borough...' type='text' name='location-hood-enter' id='location-hood-enter' class='location-group location-hood-enter'/>
						<div class="location-hood-list"><ul></ul></div>
						<span class="error">Please enter a neighborhood or borough.</span>
					</div>
				</div>
			</div><!--end step-->
			
			<div class='step check-projects-process clearfix spinner-message' style='display:none;'>
				<p class="west">Please wait while we check for similar projects.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step check clearfix' style='display:none;'>
				<h3>Similar Projects</h3>
				<table class="triplewide projects-list"></table>
			</div><!--end step-->
			
			<div class='step add-resource-process clearfix spinner-message' style='display:none;'>
				<p class="west">Please wait while we search for relevant resources.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
			
			<div class='step add clearfix' style='display:none;'>
				<div class="resources-added clearfix">
					<span class="resource-count">0</span>
					<span class="resource-label">You've added <br /><strong>resources</strong></span>
				</div>
				<!-- <ul class="triplewide resources-list clearfix"></ul> -->
				<table class="resources-list triplewide"></table>
			</div><!--end step-->
			
			<div class='step check-nosimilar other-step clearfix' style='display:none;'>
				<h3>Similar Projects</h3>
				<p><strong>No similar projects found.</strong></p>
				<p>Looks like you're the first with this kind of project.<br />Thanks for taking the lead!</p>
			</div><!--end step-->
			
			<div class='step add-noresources other-step clearfix' style='display:none;'>
				<h3>&nbsp;</h3>
				<p><strong>No resources found.</strong></p>
				<p>Sorry about that! Once you have created a project, you can add a link.</p>
			</div><!--end step-->
			
			<div class='step finish clearfix spinner-message' style='display:none;'>
				<p class="west">Thank you for joining.</p>
				<img class="loading" src='/static/images/loader32x32.gif' />
			</div><!--end step-->
		</form>
	</div>

	<div class='foothills'>
		<a class='back' href='#' style='display:none'>Back</a>
	</div>
	
	<div class='template-content modal-content upload-image'>
		<div class='step'>
			<h2><strong>Upload</strong> a photo for your project.</h2>
			<div>
				<p>Photos should be <strong>under 1MB</strong> please. (We also crop photos to <strong>90px by 90px</strong>)</p>
			</div>
			<div class="file-uploader"></div>
		</div>
		<a class='close' href="#"><span>close</span></a>
	</div>
	
	<div class='template-content project-item'>
		<div class="thumb">
			<img width='50' src="http://placehold.it/50x50" alt="" class="proj"/>
			<span class="overlay-tag"></span>
			<span class="member-count">58</span>
		</div>
		<div class="project-info">
			<div class="endorser-thumb clearfix" style='display:none;'>
				<img width='30' src="http://placehold.it/30x30" alt="" class="endorser-photo" />
				<span class="overlay-tag"></span>
			</div>
			<span class="link"><a href="/project" target='_blank'>Start a Garden on 161st in South Bronx</a></span>
			<span class="creator"><em>Created by </em> Terry Richardson</span>
			<span class="description">Tired of the empty lot at 161st and Melrose? Let&rsquo;s start a garden...</span>
		</div>
	</div>
	
	<div class="template-content organization-item">
		<span class="thumb"><img width='35' src="http://placehold.it/35x35" alt="" /></span>
		<span class="resource-name"><span><span class='organization-name tooltip_trigger'></span></span></span>
		<a href="#add" class="add-button rounded-button small">Add</a>
		<div class="added-dialog">
			<span class="added-header">Added <em>to</em> your project</span>
			<span class="added-text">We've sent them a link to your project page.</span>
			<!-- <span class="added-close"></span> -->
		</div>
	</div>
	
</div>

<div class='template-content modal-content join-no-user'>
	<h2><strong>Hold your horses!</strong> Please register.</h2>
	<p>You must <strong><a href='/join'>register</a></strong> or <strong><a href='/login'>login</a></strong> with Change by Us NYC in order to create<br />your own project.</p>
	<p><a href='/' class='rounded-button'>Go Home</a></p>
</div>

<div class='template-content' id='organization-markup-source'>
	<div class='tooltip-hd'>
		<h2></h2>
	</div>
	<div class='tooltip-bd'>
		<div class='info'>
			<div class='thumb'>
				<img width='90' alt='' src='http://placehold.it/90x90'/>
			</div>
			<div class='main'>
				<p></p>
			</div>
		</div>
		<dl class='details'>
			<dt>Visit Us</dt>
			<dd><a href=''></a></dd>
		</dl>
	</div>
</div>

{% endblock continent %}

{% block page_js %}
<script type="text/javascript">
		{% if d.template_data.user %}
			app_page.data.user = {{ d.template_data.user.json }};
		{% endif %}
	</script>
	<script type="text/javascript" src='/static/js/pages/create.js'></script>
{% endblock page_js %}
