{% extends "./partials/base.html" %}

{% block title %} Frequently Asked Questions {% endblock title %}

{% block continent %}
	<div class='continent faq'>
		<div class='headlands'>
			<h1>Frequently Asked Questions</h1>
		</div>

		<div class='midlands clearfix'>
			
			<div class="west">
				<ul>
					<li><h3>Question about logging into the site?</h3>
						New Yorkers have always been full of great ideas about what will improve their 	neighborhoods.   Use Change by Us NYC to broadcast to others what you have in mind.  No idea is too big.  No idea is too small.
					</li>
					<li><h3>Question about doing something else on the site like creating a project or something?</h3>
					Look for projects in your neighborhood or around the city where you can help.  Become a member and plug into a network of those who want what you want! You can also use Change by Us NYC to set up and lead your own project, and turn your idea into reality.
					</li>
					<li><h3>Question about doing something else on the site like creating a project or something?</h3> 
					Use Change by Us NYC to connect quickly with the people who will help your project from start to finish. Someone has the idea, someone has the plan, someone has the tools, and together you succeed.
					</li>
				</ul>
			</div>
			
			<div class="east">
				<div class="box feedback">
					<div class="hd">
						<h2>We Love Feedback</h2>
					</div>
					<div class="bd">
						<p>Do you want to comment on a post? <a href="/feedback"><strong>Send it to us</strong></a></p>
					</div>
				</div>
			
		</div>

	</div>
{% endblock continent %}

{% block page_js %}
<script type='text/javascript' src="/static/js/pages/faq.js"></script>
{% endblock page_js %}