{% extends "./partials/base.html" %}

{% block title %} Frequently Asked Questions {% endblock title %}

{% block continent %}
	<div class='continent faq'>
		<div class='headlands'>
			<h1>Frequently Asked Questions</h1>
		</div>

		<div class='midlands clearfix'>
			<div class="west">
				<ul>
					<li>
            <h3>What's the best way to promote my project?</h3>
            <p>Share your project page with friends on Facebook, Twitter 
              and/or Google+ by heading to the upper left-hand corner.
              Email members of your project directly.
              Create flyers and feature the website address.</p>
            <br>
            <iframe src="http://player.vimeo.com/video/30394752?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
					</li>
					<li>
            <h3>How do I write a mission statement?</h3>
            <p>A good mission statement should accurately explain a problem you and 
              your team hope to address and how you plan to accomplish your goal in 
              the future. It should articulate the project's essential nature, its 
              values and its work.</p>
              <br>
            <p>Your mission should answer these three key questions:
              <br>
              <br>What are the opportunities or needs that exist that your 
                project will address?  Example: "There is trash on the street."
              <br>What will you be doing to address those needs? Example: "Let's 
                get together and clean the street up."
              <br>What values, principles, or beliefs guide your work? 
                Example: "We all want a clean, safe neighborhood."
            </p>
          </li>
					<li>
            <h3>Why should I post a project on Change by Us?</h3>
            <p>There are many platforms to get the word out to get something done in your community. Change by Us stands apart because of its audience, neighbors, city leaders and response leaders, there to help support your projects and offer you guidance.</p>
					</li>
					<li>
            <h3>Who created Change by Us?</h3>
            <p>Change by Us originally launched in New York City in the summer of 2011 as a project by the City of New York, CEOs for Cities and Local Projects. Code for America began working with CEOs for Cities to bring Change by Us to Philadelphia  and Seattle in the fall of 2011, bringing engineering resources and open-source expertise to the project. Making Change by Us open source will allow the project to be implemented affordably and efficiently in more cities across the country.</p>
					</li>
					<li>
            <h3>How do I start a project?</h3>
            <p>To start a project, you can turn an idea into a project or scroll down to the bottom of the screen and click on "start a project."</p>
            <br>
            <iframe src="http://player.vimeo.com/video/28648130?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
					</li>
					<li>
            <h3>How do I add an event?</h3>
            <p>To add an event, click on the "event" button and fill out the name of the event, time, date and a url, if you have one, from an event creation site.</p>
            <br>
            <iframe src="http://player.vimeo.com/video/29929264?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
					</li>
					<li>
            <h3>If I add an event to a project, can people RSVP?</h3>
            <p>Yes, but only if the event creation site has an RSVP feature.</p>
					</li>
					<li>
            <h3>How can I give feedback to the creators of the site?</h3>
            <p>Go to the <a href="/feedback">feedback</a> page and let us know what you think.</p>
					</li>
					<li>
            <h3>How do I join a project?</h3>
            <p>You can browse and join project pages by searching projects in the upper right-hand corner, or down below, by clicking the orange button.</p>
            <br>
            <iframe src="http://player.vimeo.com/video/28649434?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
					</li>
					<li>
            <h3>What does it mean to join a project?</h3>
            <p>Joining a project means you are signing up to updates on the project page, including new events, comments added to the discussion screen.</p>
					</li>
					<li>
            <h3>What's a response leader?/What is the role of the people featured on the bottom of the home page?</h3>
            <p>Response leaders are ambassadors of Change by Us, featured beneath the question "Who's listening?" They are city and community leaders who spend time helping out projects and highlighting projects on the site. </p>
					</li>
					<li>
            <h3>What happens when you add an idea?</h3>
            <p>You can add an idea via text message or online, by clicking the giant post-it note on the right hand side of the site. Adding an idea enters your email address into the site, allowing others who start projects to find you and recruit you to join their project.</p>
            <br>
            <iframe src="http://player.vimeo.com/video/28650728?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
					</li>
				</ul>
			</div>
			
			<div class="east">
				<div class="box feedback">
					<div class="hd">
						<h2>We Love Feedback</h2>
					</div>
					<div class="bd">
						<p>Do you want to comment on a post? <a href="/feedback"><strong>Send it to us</strong></a></p>
					</div>
				</div>
			
		</div>

	</div>
{% endblock continent %}

{% block page_js %}
<script type='text/javascript' src="/static/js/pages/faq.js"></script>
{% endblock page_js %}
