{% extends "./partials/base.html" %}

{% block title %}
Change by Us NYC - Feedback
{% endblock title %}

{% block continent %}
<div class='continent feedback'>
	<div class='headlands clearfix'>
		<div class='west'>
			<h2>Get in touch with us.</h2>
			<h3>We want to hear from you about Change by Us NYC.  Use the form below to ask us a question, tell us about glitch on the site, warn us about inappropriate material.  Really whatever will make the site better.</h3>
		</div>
	</div>

	<div class='midlands clearfix merlin feedback'>
		
		<div class='step feedback-form'>
			<div class="row row-type">
				<label for='feedback-type'>Type of Feedback</label>
				<select class='feedback-type' name='feedback-type'>
					<option selected='true' value='general'>General Feedback</option>
					<option value='feature'>Feature Request</option>
					<option value='bugs'>Bugs</option>
				</select>
			</div>
			<div class="row row-name">
				<label for='name'>Name</label>
				<input type='text' name='name' id='name' class='name'/>
			</div>		
			<div class="row row-email">
				<label for='email'>Email</label>
				<input type='text' name='email' id='email' class='email'/>
			</div>
			<div class="row row-comment">
				<label for='text'>Question/Comment</label>
				<textarea name='text' id='text' class='text'></textarea>
			</div>
			<div style="clear:both"></div>
			<div class="row row-send">
				<input type='submit' name='send' value='Send' class='submit rounded-button' />
			</div>
		</div>
		
		<div class='step finish clearfix spinner-message' style='display:none;'>
			<p>Thank you for the feedback...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
		
		<div class='step thanks' style='display:none;'>
			<p>Thank you for the feedback...</p>
		</div>
	</div>
	
	<!--<div class='foothills'>
		<a class='back' href='#'>Back</a>
	</div>-->
</div>
{% endblock continent %}


{% block page_js %}
<script type="text/javascript" src="/static/js/libs/jqdropdown.js"></script>
<script type='text/javascript' src="/static/js/pages/feedback.js"></script>
{% endblock page_js %}