{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Feedback
{% endblock title %}

{% block continent %}
<div class='continent feedback'>
	<div class='headlands clearfix'>
		<div class='west'>
			<h2>Get in touch with us.</h2>
			<h3>If you have a question, feature request, or something is broken, please let us know. We try to respond quickly to all messages.</h3>
		</div>
	</div>

	<div class='midlands clearfix merlin feedback'>
		
		<div class='step feedback-form'>
			<div class="row row-name">
				<label for='name'>Name</label>
				<input type='text' name='name' id='name' class='name'/>
			</div>		
			<div class="row row-email">
				<label for='email'>E-mail</label>
				<input type='text' name='email' id='email' class='email'/>
			</div>
			<div class="row row-comment">
				<label for='text'>Question/Comment</label>
				<textarea name='text' id='text' class='text'></textarea>
			</div>
			<div class="row row-send">
				<input type='submit' name='send' value='Send' class='submit rounded-button' />
			</div>
		</div>
		
		<div class='step finish clearfix spinner-message' style='display:none;'>
			<p>Thank you for the feedback...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
		
		<div class='step thanks' style='display:none;'>
			<p>Thank you for the feedback...</p>
		</div>
	</div>
	
	<!--<div class='foothills'>
		<a class='back' href='#'>Back</a>
	</div>-->
</div>
{% endblock continent %}


{% block page_js %}
<script>
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Feedback');
		
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('.merlin.feedback'),
			next_button:tc.jQ('input.submit'),
			first_step:'feedback-form',
			data:{
				name:null,
				email:null,
				text:null
			},
			steps:{
				'feedback-form':{
					selector:'.feedback-form',
					next_step:'finish',
					data:{
						name:null,
						email:null,
						text:null
					},
					inputs:{
						name:{
							selector:'input.name',
							validators:['min-3,max-32','required'],
							hint:''
						},
						email:{
							selector:'input.email',
							validators:['min-3','max-32','email','required'],
							hint:''
						},
						text:{
							selector:'textarea.text',
							validators:['min-3,max-1024','required'],
							hint:''
						}
					},
					finish:function(merlin,dom){
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							name:merlin.current_step.inputs.name.dom.val(),
							email:merlin.current_step.inputs.email.dom.val(),
							text:merlin.current_step.inputs.text.dom.val(),
						});
					}
				},
				'finish':{
					selector:'.finish',
					init:function(merlin,dom){
						tc.util.dump(merlin.options.data);
						tc.jQ.ajax({
							type:'POST',
							url:'/feedback',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
								window.location.hash = 'thanks';
							}
						});
						
					}
				},
				'thanks':{
					selector:'.thanks',
				}
			}
		});
	});
</script>
{% endblock page_js %}