{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Home
{% endblock title %}

{% block continent %}
<div class='continent home'>
	<div class='headlands'>
		<div class='splash'>
			
			<!-- post your idea step -->
			<div class="step">
				<div class="top-pane">
					<div class="console">
						<span class="hey">Hey NYC!</span>
						<span class="console-message">How can we green our neighborhoods?</span>
					</div>
					<div class="idea-input">
						<div>
							<label>What's your idea?</label>
							<textarea></textarea>
							<div class="helpers">
								<a href="">What is this?</a>
								<a href="">Who's Listening</a>
							</div>
						</div>
						<div class="primary-action">
							<a class="ca-btn" href="#">
								<span>Post</span>
							</a>
						</div>
					</div>
					<div class="info-input">
						<div class="west">
							<div>
								<label>Your e-mail</label>
								<input type="text" />
							</div>
						</div>
						<div class="east">
							<div>
								<input name="idea-for" type="radio" />
								<label>It's an idea for the whole city</label>
							</div>
							<div>
								<input name="idea-for" type="radio" />
								<label>It's about a specific neighborhood or borough</label>
							</div>
							<div>
								<select>
									<option>South Bronx</option>
									<option></option>
									<option></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="projects-pane">
					<div class="projects-pane-hd">
						<h2>Featured Projects</h2>
						<div class="primary-action">
							<a class="ca-btn" href="#">
								<span>See all projects</span>
							</a>
						</div>
					</div>
					<div class="project-cards">
						<div class="box grouping">
							<div class="hd">
								<h3>More Trees in NYC</h3>
							</div>
							<div class="bd">
								
							</div>
						</div>
						<div class="box grouping">
							<div class="hd">
								<h3>Start a Garden</h3>
							</div>
							<div class="bd">
								
							</div>
						</div>
						<div class="box grouping">
							<div class="hd">
								<h3>Fresh Air for Astoria</h3>
							</div>
							<div class="bd">
								
							</div>
						</div>
						<div class="box grouping">
							<div class="hd">
								<h3>Solar Panels and Cool Roofs</h3>
							</div>
							<div class="bd">
								
							</div>
						</div>
						<div class="box grouping">
							<div class="hd">
								<h3>NYC Compost Collection</h3>
							</div>
							<div class="bd">
								
							</div>
						</div>
					</div>
				</div>
				<div class="note-card-pane">
					<div class="note-card">
						<cite class="note-meta-hd">
							<strong>Jack T.</strong> says &ndash;
						</cite>
						<blockquote>
							<p>More Trees in New York City would be awesome and it would totally help to make it way more green! Let's plant some!</p>
						</blockquote>
					</div>
				</div>
			</div>
			
			<!-- after idea is posted step -->
			<div class="step">
				<div class="top-pane">
					<div class="console">
						<span class="console-message">
							Go from an idea to a solution: join or start a project.
						</span>
					</div>
				</div>
				<div class="projects-pane">
					<div class="box popular-topics">
						<div class="hd">
							<h2>Most Popular Topics</h2>
						</div>
						<div class="bd">
							<ul class="tag-cloud">
								<li><a href="">block</a></li>
								<li><a href="">green</a></li>
								<li><a href="">trees</a></li>
								<li><a href="">parks</a></li>
								<li><a href="">neighborhood</a></li>
								<li><a href="">local</a></li>
								<li><a href="">solar panels</a></li>
								<li><a href="">planting</a></li>
							</ul>
						</div>
					</div>
					<div class="box related-projects">
						<div class="hd">
							<h2>Related Projects near South Bronx</h2>
						</div>
						<div class="bd">
							
						</div>
					</div>
					<div class="box citywide-projects">
						<div class="hd">
							<h2>Citywide Projects</h2>
						</div>
						<div class="bd">
							
						</div>
					</div>
					<div class="controls">
						<button>Browse All</button> or <button>Start Your Own</button>
					</div>
				</div>
				<div class="note-card-pane">
					<div class="note-card">
						<cite class="note-meta-hd">
							<strong>You</strong> said &ndash;
						</cite>
						<blockquote>
							<p>Yeah! I totally would like to make the city greener by either planting a tree or adding some new solar panels to my apt!</p>
						</blockquote>
					</div>
				</div>
			</div>
			
		</div>
		<div class="social-networking">
			<div class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.giveaminute.com&amp;layout=standard&amp;show_faces=true&amp;width=275&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:60px;" allowTransparency="true"></iframe></div>
		</div>
	</div>

	<div class='midlands'>
		<div class="west">
			<div>
				<h1><strong>Give a Minute</strong> is a way to get your ideas heard, build projects, and change your city.</h1>
			</div>
			
			<div class="box whos-listening">
				<div class="hd">
					<h2>Who's listening?</h2>
					<p>Give a Minute's network of leaders regularly review ideas, endorse groups, and communicate with members.</p>
				</div>
				<div class="bd">
					<ul class="">
						<li></li>
					</ul>
				</div>
			</div>
			
		</div>
		<div class="east">
			<div class="box why-use">
				<div class="hd">
					<h2>Why use Give a Minute?</h2>
				</div>
				<div class="bd">
					<ol class=" ">
						<li>Access a limited number of &#36;5,000 starter grants for <a href="/project">Projects</a></li>
						<li>Communicate with private and public sector leaders</li>
						<li>Discover and connect with relevant <a href="">city resources</a></li>
					</ol>
				</div>
			</div>
			<div class="box whats-happening">
				<div class="hd">
					<h2>What's happening?</h2>
				</div>
				<div class="bd">
					<ul class="news-stack">
						<li>
							<cite class="meta">02.03.2011</cite>
							<h3>New grants program announced!</h3>
							<p>The city is happy to announce a new grant program of up to &36;4000 for innovative ideas that transform neighborhoods.</p>
						</li>
						<li>
							<cite class="meta">02.20.2011</cite>
							<h3>Give a Minute generates new ideas for New York City in 2011</h3>
							<p>The city is happy to announce that it received thousands of ideas this year!</p>
						</li>
					</ul>
				</div>
				<div class="ft">
					<a class="read-more" href="">Read more news &rarr;</a>
				</div>
			</div>
		</div>
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}