{% extends "./partials/base.html" %}

{% block title %} Home {% endblock title %}

{# Main content for page. #}
{% block continent %}
<div class='continent home'>
    <div class='headlands'>
        <span class="hey {{ d.config.site.city_id }}"><span>{{ _('Hey %(city)s!')|format(city=d.config.site.city) }}</span></span>

        <div class='splash-container merlin'>
            <div class='splash-background'></div>

            <div class='splash'>
                <div class="splash-inner first">

                    <!-- Post your idea steps -->
                    <div class='top-pane clearfix start'>
                        <div class="console">
                            <div class='question-wrap'>
                                <span class="start console-message" style="margin-bottom: -4px; margin-top: 12px">
                                  <span class="spacer"></span>
                                  {{ d.config.homepage.question }}
                                </span>
                            </div>

                            <span class="more-info after-idea-message" style='display:none;'>
                {{ _('Thanks for your idea') }}<br /><span class="sm">{{ _('We need just a few more details.') }}</span>
                            </span>
                            <span class="thanks after-idea-message" style='display:none;'>
                {{ _('Thanks for your idea') }}<br /><span class="sm">{{ _('Please wait while we process your idea!') }}</span>
              </span>
                        </div>

                        <div class="step-info step" style='display:none;'>
                            <div class="info-input clearfix">
                                <div class="box box-info box-info-email">
                                    <span class="col-head">{{ _('Your email?') }}</span>
                                    <input value='{% if d.template_data.user and d.template_data.user.data.email %}{{ d.template_data.user.data.email }}{% endif %}' type='text' name='email' id='email' class='email'/>

                                    <div class="email-info">
                                        <p class="email-error">{{ _('Please enter a valid email address') }}</p>
                                        <p>{{ _('We will never send spam or sell your email address.') }}</p>
                                        <p><em>{{ _('See our <a href="/tou" class="toc-link">privacy policy</a> for more details.') }}</em></p>
                                    </div>
                                </div>

                                <div class="box box-info box-info-hood">
                                    <span class="col-head">{{ _('Your idea is for...') }}</span>
                                    <div class="row row-1 clearfix">
                                        <input type='radio' name='location-check' id='location-city' class='location-city location-group styled'/>
                                        <label class="location-city-label" for='location-city'>{{ _('The city') }}</label>
                                    </div>

                                    <div class="row row-2 clearfix">
                                        <input type='radio' name='location-check' id='location-hood' class='location-hood location-group styled'/>
                                        <label class="location-hood-label" for='location-hood'>{{ _('A neighborhood') }}</label>
                                    </div>

                                    <div class="row row-3">
                                        <input type='text' name='location-hood-enter' id='location-hood-enter' class='location-hood-enter location-group'/>
                                        <div class="location-hood-list">
                                            <ul>
                                                <li></li>
                                            </ul>
                                        </div>
                                        <span class="error">{{ _('Please enter a neighborhood.') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="step idea-processing" style="display:none"></div>
                    </div>

                    <!-- Projects -->
                    <div class="projects-pane">
                        <div class="project-cards">
                            <div class="membrane">
                                <a class="rounded-button small west" href="/search#ideas">{{ _('See more ideas') }} <span class="sm-arrow-forward"></span></a>
                                <h3>{{ _('New Ideas') }}</h3>
                                <div class="small-note-area">
                                    {% for idea in d.template_data.all_ideas.data %}
                                        <div class="small-note">
                                            <div class="wrap">
                                                <div class="note-meta-hd" {% if not idea.name %}style="display:none"{% endif %}>
                                                    <strong>{% if idea.name %}{{ idea.name }}{% endif %}</strong> <em>said</em> &mdash;
                                                </div>

                                                <blockquote><p>{{ idea.text|truncate(140) }}</p></blockquote>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="social-networking">
                                    {% if d.template_data and d.template_data.app_mode != 'beta' %}
                                    <div class="facebook">
                                        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="{{ d.default_host }}" show_faces="false" width="535" font=""></fb:like>
                                    </div>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                    {% if d.config.homepage.photo_credit %}
                        <div class="photocredit">
                            {{ d.config.homepage.photo_credit }}
                        </div>
                    {% endif %}

                </div>

                <!-- Turn idea into a Project -->
                <div class="splash-inner">
                    <!-- after idea is posted step -->

                    <div class="top-pane related-processing step-three">
                        <div class="console">
                            <span class="console-message">
                                {{ _('Make that idea happen. Join a project, or start your own.') }}
                            </span>
                        </div>
                    </div>

                    <div class="projects-pane step-three found">
                        <div class="box related-projects">
                            <div class="hd">
                                <h2>{{ _('Related Projects') }}</h2>
                            </div>
                            <div class="bd">
                                <ul class="projects-list">
                                </ul>

                                <a href="/search" class="see-more more-projects more-projects-related">{{ _('See more projects <em>near</em> you') }} &rarr;</a>
                            </div>
                        </div>
                        <div class="box citywide-projects">
                            <div class="hd">
                                <h2>{{ _('Citywide Projects') }}</h2>
                            </div>

                            <div class="bd">
                                <ul class="projects-list">
                                </ul>
                                <a href="/search#projects" class="see-more more-projects">{{ _('See more citywide projects') }} &rarr;</a>
                            </div>
                        </div>

                        <div class="controls">
                            <a href="/search#projects" class="rounded-button">{{ _('Browse All') }}</a><span>{{ _('or') }}</span><a href="/create" class="rounded-button">{{ _('Start Your Own') }}</a>
                        </div>
                    </div>

          <!-- No projects found -->
                    <div class="projects-pane not-found" style="display:none" >
                        <div class="box no-related-projects">
                            <div class="hd">
                                <h2>{{ _('No projects found!') }}</h2>
                                <p>{{ _('We didn&#39;t find any projects based on your idea or location.  But don&#39;t stop there.') }}</p>
                            </div>
                            <div class="bd">
                                <div class="row clearfix">
                                    <p>{{ _('Search for projects that interest you:') }}</p>
                                    <a href="/search#projects" class="rounded-button">{{ _('Browse All') }}</a>
                                </div>

                                <div class="row clearfix">
                                    <p class="center"><em>{{ _('or') }}</em></p>
                                </div>

                                <div class="row clearfix">
                                    <p>{{ _('Take the lead, and begin a project today.') }}</p>
                                    <a href="/create" class="rounded-button">{{ _('Start Your Own') }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card in hand -->
            <div class="note-card-pane color3">
                <div class="membrane">
                    <div class="note-card-splash" style="display:none">
                        <!-- Content loaded here by js when hovering on a .small-note -->
                    </div>

                    <div class="note-card-submit-idea">
                        <span class="hd serif">{{ _('My idea is:') }}</span>
                        <textarea class="idea"></textarea>
                        <span class="charlimit idea">0/175</span>
                        <input type='text' name='main_text' class='main_text' style='display:none;' />
                        <div class="disabler" style="display:none"></div>
                    </div>
                </div>

                <div class="primary-action">
                    <a class="ca-btn" href="#">
                        <span>{{ _('Post') }}</span>
                    </a>
                </div>
            </div>

            <!-- Hand -->
            <div class="hand">
                <div class="oops" style="display:none;">
                    <span>{{ _('Oops! Please limit your idea to 175 characters.') }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Mid content -->
    <div class='midlands clearfix'>
        <div class="box box-mission">
            <h1>{{ _('<strong>%(site_name)s</strong> helps you share ideas, start projects, connect with resources, and make your community better.')|format(site_name=d.config.site.name) }}</h1>
        </div>

        <div class="box box-project">
            <a href="/search#projects" class="ca-btn"><span>{{ _('Browse and join projects') }}</span></a>
            <h1><strong>{{ _('Make something good happen:') }}</strong></h1>
            <h2>{{ _('<a href="/search#projects">Join a project</a> or <a href="/create">Start your own project</a>.') }}</h2>
        </div>

        {% if d.template_data.features_is_display_leaderboard %}
            <div class="box box-leaderboard">
                <h3>{{ _('Top <strong>%(length)s Projects</strong>')|format(length=d.template_data.leaderboard|length) }}<a href="/leaderboard" class="leaderboard-link">{{ _('See the leaderboard') }}</a></h3>
                <ol class="leaderboard">
                    {% for item in d.template_data.leaderboard %}
                    <li {% if loop.index is even %}class="every-other"{% endif %}>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="num">{{ item.ordinal }}</td>
                                    <td class="project-header">
                                        <div class='thumb'>
                                            {% if item.image_id > 0 %}
                                            <a href="/project/{{ item.project_id }}"><img width="60" height="60" src="{{d.template_data.media_root}}images/{{ item.image_id % 10 }}/{{ item.image_id }}.png" alt="" class='proj'/></a>
                                            {% else %}
                                            <img src="/static/images/thumb_genAvatar100.png" width="60" height="60" alt="" class="proj"/>
                                            {% endif %}
                                            <span class="overlay-tag"></span>
                                        </div>
                                        <div class='main'>
                                            <h1><a href="/project/{{ item.project_id }}">{{ item.title|truncate(45) }}</a></h1>
                                            <cite class="meta"><em>{{ _('Created by') }}</em> <a href="/useraccount/{{ item.owner_user_id }}">{{ item.owner_full_display_name }}</a></cite>
                                        </div>
                                    </td>
                                    <td class="score">{{ (item.user_count * 5) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    {% if loop.index is even %}
                    <li class="clearrow">
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div style="clear:both"></div>
            </div>
        {% endif %}

        {% if d.features_is_display_featured_projects %}
            <div class="box box-leaderboard">
                <h3>{{ _('Featured <strong>Projects</strong>') }}</h3>
                <ol class="leaderboard">
                    {% for item in d.template_data.featured_projects %}
                    <li {% if loop.index is even %}class="every-other"{% endif %}>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="num">{{ loop.index }}</td>
                                    <td class="project-header">
                                        <div class='thumb'>
                                            {% if item.image_id > 0 %}
                                            <a href="/project/{{ item.project_id }}"><img width="60" height="60" src="{{d.template_data.media_root}}images/{{ item.image_id % 10 }}/{{ item.image_id }}.png" alt="" class='proj'/></a>
                                            {% else %}
                                            <img src="/static/images/thumb_genAvatar100.png" width="60" height="60" alt="" class="proj"/>
                                            {% endif %}
                                            <span class="overlay-tag"></span>
                                        </div>
                                        <div class='main'>
                                            <h1><a href="/project/{{ item.project_id }}">{{ item.title|truncate(45) }}</a></h1>
                                            <cite class="meta"><em>Created by</em> <a href="/useraccount/{{ item.owner_user_id }}">{{ item.owner_full_display_name }}</a></cite>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    {% if loop.index is even %}
                    <li class="clearrow">
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div style="clear:both"></div>
            </div>
        {% endif %}

        <!-- Who is listening? -->
        {% if d.config.features.is_community_leaders_displayed %}
          <div class="box box-whoslistening">
              <h1><strong>{{ _('Who&#39;s listening?') }}</strong></h1>
              <h2>{{ _('A network of city leaders is ready to hear your <a href="/search#ideas">ideas</a> and provide guidance for your <a href="/search#projects">projects</a>.') }}</h2>
              <ul class="clearfix">
                {% for community_leader in d.template_data.community_leaders %}
                  <li>
                      <img src="/static/{{ community_leader.image_path }}" alt="{{ community_leader.display_name|e }}" width="200" height="150" />
                      <p class="name">{{ community_leader.display_name|e }}</p>
                      <p class="job">{{ community_leader.title|e }}</p>
                  </li>
                {% endfor %}
              </ul>

              <div style="clear:both"></div>
          </div>
        {% endif %}

        {% if d.config.homepage.news %}
          <div class="box box-news">
              <h1><strong>{{ _('Recent News') }}</strong></h1>
              <h2>{{ _('Find out what&#39;s happening on %(site_name)s.')|format(site_name=d.config.site.name) }}</h2>

              <ul>
                  {% for item in d.template_data.news %}
                      {% if loop.index <= 3 %}
                      <li {% if loop.index % 3 == 0 %}class="every-third"{% endif %}>
                          <span class="date">{{ item.datetime }}</span>
                          <span class="title serif">{{ item.title }}</span>
                          <span class="excerpt serif">{{ item.text }}</span>
                          <a href="{{ item.link }}" class="rounded-button small">{{ _('Read more') }} <span class="sm-arrow-forward"></span></a>
                      </li>
                      {% endif %}
                  {% endfor %}
              </ul>

              <div style="clear:both"></div>
          </div>
        {% endif %}
    </div>

  <!-- Not sure what this is used for -->
    <div class='foothills'>
    </div>

    <!-- Terms of use -->
    <div class='template-content modal-content toc'>
        <h2><strong>{{ _('Terms of Use') }}</strong></h2>
        <div class="scroll-pane">
            {% include 'partials/toc.html' %}
        </div>
        <a class='close' href="#"><span>{{ _('close') }}</span></a>
    </div>
</div>
{% endblock continent %}

{% block page_js %}
    <script type="text/javascript">
        {% if d.template_data.user %}
            app_page.data.user = {{ d.template_data.user.json }};
        {% endif %}
    </script>
    <script type="text/javascript" src='/static/js/pages/home.js'></script>
{% endblock page_js %}
