{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Login
{% endblock title %}

{% block continent %}
<div class='continent login'>
	<div class='headlands clearfix'>
		<div class='west'>
			<h2>Give a Minute is a place to make your city better.</h2>
			<h3>Share your ideas. Build projects. Make a change.</h3>
		</div>
	</div>

	<div class='midlands merlin login clearfix'>
		
		<div class="step start" >
			<div class='west'>
				<h4>Login</h4>
				<div class='oauth-login'>
					<a class="login-facebook" href='#'><span>Sign in with Facebook</span></a>
					<a class="login-twitter" href='#'><span>Sign in with Twitter</span></a>
				</div>
				<div class='or'>
					<em>or</em>
				</div>
				<div class='email-login'>
						<div class="row">
							<label for='email'>E-mail</label>
							<input type='text' name='email' id='email' class='email' />
						</div>
						<div class="row">
							<label for='password'>Password</label>
							<input type='password' name='password' id='password'  class='password'/>
							<a class="forgot-pass-link" href="#forgot-password">Forgot your password?</a>
						</div>
						<div class="row">
							<button id='login-button' class='next-button'>Login</button>
							<!-- <input type='submit' name='submit' value='Login' /> -->
						</div>
				</div>
			</div>
			
			<div class='east clearfix'>
				<p>Dont have an account?</p>
				<p><a class="rounded-button" href='/join'>Sign Up</a></p>
			</div>
		</div><!--end .step-->
		
		<div class="step login-process" style="display:none;">	
			<p>Thank you for logging in...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div><!--end .step-->
		
		<div class="step login-failure" style="display:none;">	
			<p>There was an error logging you in.</p>
		</div><!--end .step-->
		
		<div class="step forgot-password" style="display:none;">	
			<div class='west'>
				<h4>Forgot your password? <span>We'll send you an e-mail with a instructions to reset your password.</span></h4>
				<div class='email-login'>
						<div class="row">
							<label for='email'>Enter your e-mail</label>
							<input type='text' name='email-forgot-pass' id='email-forgot-pass' class='email' />
						</div>
						<div class="row">
							<button id='login-button' class='next-button'>Send Instructions</button>
							<!-- <input type='submit' name='send-instructions' value='Send Instructions' /> -->
						</div>
				</div>
			</div>
			
			<div class='east clearfix'>
				<div class='oauth-login'>
					<a class="login-facebook" href='#'><span>Sign in with Facebook</span></a>
					<a class="login-twitter" href='#'><span>Sign in with Twitter</span></a>
				</div>
			</div>
		</div><!--end .step-->
		
		<div class="step forgot-password-process" style="display:none;">	
			<p>Please wait...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div><!--end .step-->
		
		<div class="step forgot-password-finished" style="display:none;">	
			<p>You will receive an email with further details on retrieving your password.</p>
		</div><!--end .step-->
		
	</div>

	<div class='foothills'>
		<!-- <a class='back' href='#'><span>Back</span></a> -->
	</div>
	
	
	<script>
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Login');

		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('.merlin.login'),
			next_button:tc.jQ('button.next-button'),
			first_step:'start',
			data:{
				email:null,
				password:null
			},
			steps:{
				'start':{
					selector:'.start',
					next_step:'login-process',
					inputs:{
						email:{
							selector:'input.email',
							validators:['min-3','max-32','required'],
							hint:''
						},
						password:{
							selector:'input.password',
							validators:['min-3','max-200','required'],
							hint:''
						}
					},
					finish:function(merlin,dom){
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							email:merlin.current_step.inputs.email.dom.val(),
							password:merlin.current_step.inputs.password.dom.val()
						});
					}
				},
				'login-process':{
					selector:'.login-process',
					init:function(merlin,dom){
						tc.jQ.ajax({
							type:'POST',
							url:'/login',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									window.location.hash = 'login-failure';
									return;
								}
								window.location = '/useraccount';
							}
						});
					}
				},
				'login-failure':{
					selector:'.login-failure',
					init:function(merlin,dom){
						
					}
				},
				'forgot-password':{
					selector:'.forgot-password',
					next_step:'forgot-password-process',
					inputs:{
						email:{
							selector:'input.email',
							validators:['min-3','max-32','required'],
							hint:''
						}
					},
					finish:function(merlin,dom){
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							email:merlin.current_step.inputs.email.dom.val()
						});
					}
				},
				'forgot-password-process':{
					selector:'.forgot-password-process',
					init:function(merlin,dom){
						window.location.hash = 'forgot-password-finished';
					}
				},
				'forgot-password-finished':{
					selector:'.forgot-password-finished',
					init:function(merlin,dom){
						
					}
				}
				
			}
		});
	});
</script>
	
</div>
{% endblock continent %}