{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Login
{% endblock title %}

{% block continent %}
<div class='continent login'>
	<div class='headlands clearfix'>
		<div class='west'>
			<h2>Give a Minute is a place to make your city better.</h2>
			<h3>Share your ideas. Build projects. Make a change.</h3>
		</div>
	</div>

	<div class='midlands clearfix'>
		<div class='west clearfix'>
			<p>Login</p>
			<div class='email-login'>
				<form action='/login' method='POST'>
					<label for='email'>E-mail</label>
					<input type='text' name='email' id='email' />
					<label for='password'>Password</label>
					<input type='text' name='password' id='password' />
					<input type='submit' name='submit' value='Login' />
				</form>
			</div>
			<div class='oauth-login'>
				<a href='#'>Sign in with Facebook</a>
				<a href='#'>Sign in with Twitter</a>
			</div>
		</div>
		
		<div class='east'>
			<p>Dont have an account?</p>
			<p><a href='/register'>Sign Up</a></p>
		</div>
	</div>

	<div class='foothills'>
		<!-- <a class='back' href='#'><p>&larr; Back</p></a> -->
	</div>
</div>
{% endblock continent %}