{% extends "./partials/base.html" %}

{% block continent %}
<div class='continent dev-main'>
<h1>Give A Minute Templates</h1>
	<ul>
		<li><a href='/home'>Home</a></li>
		<li><a href='/ideasubmission'>IdeaSubmission</a></li>
		<li><a href='/register'>Register</a></li>
		<li><a href='/login'>Login</a></li>
		<li><a href='/feedback'>Feedback</a></li>
		<li><a href='/create'>Create</a></li>
		<li><a href='/project'>Project</a></li>
		<li><a href='/useraccount'>User Account</a></li>
		<li><a href='/search'>Search</a></li>
		<li><a href='/resource'>Resource Addition</a></li>
		<li><a href='/about'>About</a></li>
		<li><a href='/blog'>Blog</a></li>
		<li><a href='/tou'>TOU</a></li>
		<li><a href='/mobile'>Mobile</a></li>
	</ul>
</div>
{% endblock continent %}