{% extends "./partials/mobilebase.html" %}

{% block continent %}

<ul class="nav clearfix">
	<li><a class="current" href="#">Add an Idea</a></li>
	<li><a href="#">Join a Project</a></li>
</ul>

<div class="add-idea">
	<div class="console">
		<span class="hey"><span>Hey NYC!</span></span>
		<span class="console-message"><span></span>How can we green our neighborhoods?</span>
	</div>
	<div class="idea-input">
		
		<div>
			<!--<label>What's your idea?</label>-->
			<textarea></textarea>
			<div class="char-count">200</div>
		</div>
		<div class="primary-action">
			<a class="ca-btn" href="#">
				<span>Post</span>
			</a>
		</div>
		<div class="about">
			<p><strong>Give a Minute</strong> is a new kind of public dialogue. It only takes a minute to think about improving your city, but your ideas can make a world of difference.</p>
		</div>
	</div>
</div>
{% endblock continent %}