{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Project
{% endblock title %}

{% block continent %}

<div class='continent project'>

	<div class='headlands clearfix project-header'>
		<div class="thumb">
			<img src="http://placehold.it/100x100" alt="" class="proj"/>
			<span class="overlay-tag"></span>
		</div>
		<div class="tools">
			<a class="ca-btn join-project" href="#">
				<span>Join</span>
			</a>
			<div class="members">
				<a href='#'>Members <span class="counter">0</span></a>
			</div>			
			{% if d.template_data.project.data.editable is sameas True %}
				<span class="control"><a href="#">Manage</a></span>
			{% endif %}
		</div>
		<div class="main">
			<h1>{{ d.template_data.project.data.info.title }}</h1>
			<cite class="meta">
				<span class="fancy-caps">Created <span>by</span></span> <strong>{{ d.template_data.project.data.info.owner.name }}</strong>
			</cite>
			<div class="sub-ft">
				<div class="twitter">
					<!-- TODO -->
				</div>
				<div class="facebook">
					<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
					<fb:like layout="button_count" show_faces="true" width="100"></fb:like>
				</div>
			</div>
		</div>
	</div><!-- end .headlands -->

	<div class='midlands clearfix'>
	
		<!-- Begin Project.East -->
		<div class="east">
		
			<div class="box resources related-resources">
				<div class="hd clearfix">
					<h2>
						<span>
							Related Resources <span class="counter">6</span>
							{% if d.template_data.project.data.editable is sameas True %}
								<span class="control"><a href="#">Manage</a></span>
							{% endif %}
						</span>
					</h2>
					<div class="actions">
						<a href="#" class="see-all">&larr; Back <em>to</em> project home</a>
					</div>
				</div>
			
				<div class="bd clearfix">		
					<ul class="resources-list doublewide clearfix">
						<li>
							<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
							<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
							<a href="" class="add-button rounded-button">Add</a>
						</li>
						<li class="every-other added">
							<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
							<span class="resource-name"><span><span>Bronx River Alliance</span></span></span>
							<a href="" class="add-button rounded-button">Add</a>
							<div class="added-dialog">
								<span class="added-header">Added <em>to</em> your project</span>
								<span class="added-text">We sent an introduction to this organization... <a href="">?</a></span>
								<span class="added-close"></span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
							<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
							<a href="" class="add-button rounded-button">Add</a>
						</li>
						<li class="every-other">
							<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
							<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
							<a href="" class="add-button rounded-button">Add</a>
						</li>
						<li class="last-two">
							<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
							<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
							<a href="" class="add-button rounded-button">Add</a>
						</li>
						<li class="every-other last-two">
							<span class="thumb"><img src="http://placehold.it/35x35" alt="" /></span>
							<span class="resource-name"><span><span>GreenThumb NYC</span></span></span>
							<a href="" class="add-button rounded-button">Add</a>
						</li>
					</ul>
					
					<div class="actions">
						<a href="#" class="forward fancy-caps">
							<span>Find more resources</span>
						</a>
					</div>
				</div>
			</div>
				
			<div class="box goals">
				<div class="hd clearfix">
					<h2>
						<span>
							Goals 
							<span class="counter">{{ d.template_data.project.data.info.goals['items']|length }}</span>
							{% if d.template_data.project.data.editable %}
								<span class="control"><a href="#">Manage</a></span>
							{% endif %}
						</span>
					</h2>
					<div class="actions">
						{% if d.template_data.project.data.info.goals['items']|length > 0 %}
							<a href="#" class="see-all">See all the Goals</a> <em>or</em>
						{% endif %}
						<a href="#" class='add'>Propose Your Own</a>
					</div>
				</div>
				
				{% if d.template_data.project.data.info.goals['items']|length > 0 %}
				
					<div class="goals-display">
						<h3 class="fancy-caps"><span>The</span> Active Goal <span>for this</span> Project</h3>
						<div class="carousel">
							<div class="scrollable">
								<ul class="items">
									
									{% for goal in d.template_data.project.data.info.goals['items'] %}
										<li>
											<div class="goal-card">
												{% if d.template_data.project.data.editable %}
													<a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a>
												{% endif %}
												<p>{{ goal.text }}</p>
												<div class="meta">
													<dl>
														<dt>Timeframe</dt>
														<dd>{{ goal.timeframe }}</dd>

														<dt>Point Person</dt>
														<dd>{{ goal.owner.name }}</dd>
													</dl>
												</div>
											</div>
										</li>
									{% endfor %}
									
								</ul>
							</div>
							<div class="carousel-controls">
								<a class="next" href="#">
									<span>Next</span>
								</a>
							</div>
						</div>
					</div>
				
				{% else %}
					
					<div class="goals-empty">
						<h3 class="fancy-caps">Make <span>an</span> Active Goal <span>for this</span> Project</h3>
						<div class="empty-state-box big">
							<a class="close" href="#"><span>Close</span></a>
							<p>Goals help you define what you want to do and get your project done more efficiently. Why not <a href="#">add a goal now?</a></p>
						</div>
					</div>
					
				{% endif %}	
			
			</div>
		
			<div class='box goals-add' style='display:none;'>
				<div class="actions">
					<a href="#" class="back fancy-caps">
						<span>Back <span>to</span> Project Home</span>
					</a>
				</div>
				<div class="add-goal form-pane">
					<h2><strong>Add</strong> a Goal</h2>
					<form action="" method="POST">
						<div class="fields">
							<div class="row">
								<label>What's the goal?</label>
								<textarea></textarea>
							</div>
							<div class="row">
								<label>How quickly can it get done?</label>
								<select>
									<option>1 week or less</option>
								</select>
							</div>
							<div class="row">
								<label>Who will be the point person for getting it done?</label>
								<select>
									<option>Dan D.</option>
								</select>
							</div>
						</div>
						<div class="primary-action">
							<a class="ca-btn" href="#">
								<span>Let's Do it!</span>
							</a>
						</div>
					</form>
				</div>
			</div>
			
			{% if d.template_data.project.data.editable %}
				<div class="box goals-cards">
					<ul class="goals-stack">
					
						{% for goal in d.template_data.project.data.info.goals['items'] %}
							<li>
								<div class="goal-card">
									<a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a>
									<div class="make-this-active">
										<a href="#makeActive,{{ goal.goal_id }}" class="fancy-caps">Make <span>this the</span> Active Goal</a>
									</div>
									<p>{{ goal.text }}</p>
									<div class="meta">
										<dl>
											<dt>Timeframe</dt>
											<dd>{{ goal.timeframe }}</dd>
					
											<dt>Point Person</dt>
											<dd>{{ goal.owner.name }}</dd>
										</dl>
									</div>
								</div>
							</li>
						{% endfor %}
					
					</ul>
				</div>
			{% endif %}
		
			<div class="box conversation">
				<div class="conversation-controls clearfix">
					<a class="rss-btn" href="#"><span><abbr>RSS</abbr></span></a>
					
					{% if d.template_data.project.data.info.messages['total'] > 0 %}
						<div class="filters">
							<select>
								<option>All messages</option>
								<option>XXXX</option>
								<option>XXXX</option>
							</select>
						</div>
					{% endif %}
					
					<div class="main">
						<div class="conversation-input">
							{% if d.template_data.project.data.info.messages['total'] > 0 %}
								<label class="fancy-caps">Join <span>the</span> Conversation</label>
							{% else %}
								<label class="fancy-caps">Start <span>the</span> Conversation</label>
							{% endif %}
							<textarea></textarea>
							<p class="hint">Post your update as a comment or add links to photos and videos.</p>
						</div>
						<div class="primary-action">
							<!--<button class="rounded-button">Update</button>-->
							<a class="ca-btn" href="#">
								<span>Post</span>
							</a>
						</div>
					</div>
				</div>
				
				{% if d.template_data.project.data.info.messages['n_returned'] > 0 %}
					<ol class="comment-stack">
						{% for message in d.template_data.project.data.info.messages['items'] %}
							<li class=" ">
								{% if d.template_data.project.data.editable %}
									<a class="close" href="#"><span>Close</span></a>
								{% endif %}
								<div class="membrane">
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt=" " class="avatar"/>
									</div>
									<div class="main">
										{% if message.message_type == 'join' %}
											<cite class="meta-hd"><strong>{{ message.owner.name }}</strong> joined the project!</cite>
										{% elif message.message_type == 'comment' %}
											<cite class="meta-hd"><strong>{{ message.owner.name }}</strong> says</cite>
										{% endif %}
										
										{% if message.idea %}
											<div class="note-card">
												<cite class="note-meta-hd"></cite>
												<blockquote>
													<p>{{ message.idea.message }}</p>
												</blockquote>
												<cite class="note-meta-ft"></cite>
											</div>
										{% endif %}
										
										<blockquote class="serif">
											<p>{{ message.body }}</p>
										</blockquote>
										<!-- TODO calculate time since based on {{ message.created }} -->
										<cite class="meta-ft">XXXX ago</cite>
									</div>
								</div>
							</li>
						{% endfor %}
					</ol>
					<div class="load-more">
						<a href="#"><span>Load older posts</span></a>
					</div>
				{% endif %}

			</div>
		
			<!-- begin members -->
			<div class="box members" style=' '>
				<div class="hd clearfix">
					<h2>
						<span>
							Members <span class="counter">{{ d.template_data.project.data.info.members['items']|length }}</span>
						</span>
					</h2>
					<div class="actions">
						<a class="back fancy-caps" href="#">
							<span>Back <span>to</span> Project Home</span>
						</a>
					</div>
				</div>
				<div class="bd">
					<div class="west">
					
						{% if d.template_data.project.data.info.members['items']|length > 0 %}
							
							<!-- Begin Members.Stack -->
							<ul class="members-stack">
							{% for member in d.template_data.project.data.info.members['items'] %}
							
								<li>
									<div class="thumb">
										<img src="http://placehold.it/40x40" alt="" />
									</div>
									<div class="main">
										<a href="">{{ member.name }}</a>
									</div>
									{% if d.template_data.project.data.editable %}
										<a class="close" href="#removeMember,{{member.u_id}}"><span>Close</span></a>
									{% endif %}
								</li>
							
							{% endfor %}
							</ul>
							<!-- End Members.Stack -->
						{% else %}
						
							<!-- Begin Members.Empty -->
							<div class="empty-state-box">
								<a class="close" href="#"><span>Close</span></a>
								<p>Use the tools at the right to get some members listed in here!</p>
								<a href="#" class="rounded-button small">Add Link</a>
							</div>
							<!-- End Members.Empty -->
							
						{% endif %}
					
					</div>
					<div class="east">
					
						<!-- Begin Members.email-invite -->
						<div class="email-invite">
							<div class="sub-hd">
								<h3 class="fancy-caps">Invite People <span>by</span> Email</h3>
							</div>
							<div class="sub-bd form-pane">
								<form action="" method="POST">
									<div class="fields">
										<div class="row">
											<textarea>Add emails separated by commas</textarea>
										</div>
										<div>
											<input class="rounded-button" id="send-invites" name="send-invites" type="submit" value="Send Invites" />
										</div>
									</div>
								</form>
							</div>
						</div>
						<!-- End Members.email-invite -->
					
						<!-- Begin Members.ideas-invite -->
						<div class="ideas-invite">
							<div class="sub-hd">
								<h3 class="fancy-caps">Invite People <span>with</span> Similar Ideas</h3>
								<div class="pagination">
									<span class="cur-index">XXXX</span> <em>of</em>
									<span class="total">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
								</div>
							</div>
							<div class="sub-bd">
																
								{% if d.template_data.project.data.info.related_ideas['items']|length > 0 %}
									<div class="carousel">
										<div class="scrollable">
											<ul class="items">
												{% for idea in d.template_data.project.data.info.related_ideas['items'] %}
													<li>
														<div class="note-card-public-controls">
															<a class="invite rounded-button" href="#">Invite</a>
															<a href="#"><span class="flag">Flag as Inappropriate</span></a>
														</div>
														<div class="note-card">
															<div class="membrane">
																<cite class="note-meta-hd">
																	<strong>{{ idea.owner.name }}</strong> says &mdash;
																</cite>
																<blockquote>
																	<p>{{ idea.message }}</p>
																</blockquote>
																<cite class="note-meta-ft">
																	Posted <strong>{{ idea.created }}</strong>
																</cite>
															</div>
														</div>
													</li>
												{% endfor %}
											</ul>
										</div>
										<div class="carousel-controls">
											<a class="next" href="#">
												<span>Next</span>
											</a>
										</div>
									</div>
								{% endif %}
								
							</div>
						</div>
						<!-- End Members.ideas-invite -->
					
					</div>
				</div>
			</div>
			<!-- end Members -->
		
		</div>
		<!-- End Project.East -->
	
	
		<!-- Begin Project.West -->
		<div class="west">
		
			<div class="box mission">
			
				<div class="hd clearfix">
					<h2>
						<span>
							Mission
							{% if d.template_data.project.data.editable %}
								<span class="control"><a href="#">Manage</a></span>
							{% endif %}
						</span>
					</h2>
				</div>
			
				<div class="bd clearfix">
					<div class="our-mission">
						<div class="sub-hd">
							<h3>Our Mission</h3>
						</div>
						<div class="sub-bd serif">
							<p>{{ d.template_data.project.data.info.mission }}</p>
						</div>
					</div>
					<div class="endorsements">
						<div class="sub-hd">
							<h3>Endorsements</h3>
						</div>
						<div class="sub-bd">
							<ul class="endorsements-stack">
								{% for endorsement in d.template_data.project.data.info.endorsements['items'] %}
									<li>
										<div class="thumb">
											<img class="endorser-photo" alt="{{ endorsement.name }}" src="http://placehold.it/30x30"/>
											<span class="overlay-tag"></span>
										</div>
										<div class="main">
											<strong>{{ endorsement.name }}</strong>,
											<cite>{{ endorsement.title }} {{ endorsement.organization }}</cite>
										</div>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="location">
						<div class="sub-hd">
							<h3>Location</h3>
						</div>
						<div class="sub-bd">
							<!-- TODO {{ location }} -->
							<div class="map-holder">Location Map placeholder</div>
						</div>
					</div>
					<div class="keywords">
						<div class="sub-hd">
							<h3>Keywords</h3>
						</div>
						<div class="sub-bd">
							<ul class="tag-cloud serif">
								{% for keyword in d.template_data.project.data.info.keywords %}
									{% if d.template_data.project.data.editable %}
										<li class="admin"><a href="#keyword,{{ keyword }}">{{ keyword }}</a> <a href="#" class="remove-btn"><span>Remove</span></a></li>
									{% else %}
										<li><a href="#keyword,{{ keyword }}">{{ keyword }}</a></li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- end .box.mission -->		
		
			<div class="box resources">
			
				<div class="hd clearfix">
					<h2>
						<span>
							Resources
						</span>
					</h2>
				</div>
			
				<div class="bd">
					<p class="hint">The resources listed below are separate entities not run by the Give a Minute Projects but used by this Project</p>
					<div class="external-links">
						<div class="sub-hd">
							<h3>External Links</h3>
						</div>
						<div class="sub-bd">
							
							{% if d.template_data.project.data.info.resources.links['items']|length > 0 %}
								<ul class="doublewide resources-list clearfix">
									{% for link in d.template_data.project.data.info.resources.links['items'] %}
										<li class="{% if loop.index is even %} every-other {% endif %} {% if loop.revindex < 2 %} last-two {% endif %}">
											<span class="thumb">
												<img src="http://placehold.it/30x30" alt=""/>
											</span>
											<span class="resource-name">
												<span>
													<span><a href="{{ link.url }}"><span>{{ link.title }}</span></a></span>
												</span>
											</span>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								
								<div class="empty-state-box">
									<a class="close" href="#"><span>Close</span></a>
									<p><a href="">Add links</a> to anything, including some of our recommended links like Facebook groups and Kickstarter.</p>
									<a href="#" class='rounded-button small add-link'>Add Link</a>
								</div>
								
							{% endif %}

						</div>
					</div>
					<div class="organizations">
						<div class="sub-hd">
							<h3>Organizations</h3>
						</div>
						<div class="sub-bd">
							
							{% if d.template_data.project.data.info.resources.organizations['items']|length > 0 %}
								
								<ul class="doublewide resources-list clearfix">
									{% for org in d.template_data.project.data.info.resources.organizations['items'] %}
										<li class="{% if loop.index is even %} every-other {% endif %} {% if loop.revindex < 2 %} last-two {% endif %}">
											<span class="thumb">
												<img src="http://placehold.it/30x30" alt=""/>
											</span>
											<span class="resource-name">
												<span>
													<span><a href="{{ org.url }}"><span>{{ org.title }}</span></a></span>
												</span>
											</span>
										</li>
									{% endfor %}
								</ul>
								
							{% else %}
							
								<div class="empty-state-box">
									<a class="close" href="#"><span>Close</span></a>
									<p>When you <a href="">add organizations</a>, we'll introduce your project to the people over there.</p>
									<a href="#" class="rounded-button small">Add Organizations</a>
								</div>
								
							{% endif %}
							
							<!-- add the class "right" to the tooltip to change its orientation accordingly -->
							<div class="tooltip" style='display:none;'>
								<div class="tooltip-hd">
									<h2>Bronx River Alliance</h2>
								</div>
								<div class="tooltip-bd">
									<div class="info">
										<div class="thumb">
											<img src="http://placehold.it/90x90" alt=""/>
										</div>
										<div class="main">
											<p>In collaboration with Alliance partners, we maintain a full-time presence on the river, monitoring river conditions and doing ecological restoration projects that improve water quality, stabilize the riverbanks and improve river habitat.</p>
										</div>
									</div>
									<dl class="details">
										<dt>Visit Us</dt>
										<dd><a href="">bronxriver.org</a></dd>
										<dt>Latest Update</dt>
										<dd>
											<blockquote>
												<p>Wally Arias is an intern from the Phipps Community Development Corporation. For the past few weeks he has been alongside&hellip;</p>
											</blockquote>
										</dd>
									</dl>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			
			
				<div class="ft clearfix">
					<a href="#" class="rounded-button small">Add a Resource</a>
				</div>
			
			</div>
			<div class="box fresh-ideas">
				<p class="hint">Check out some new ideas related to your project!</p>
				<div class="hd clearfix">
					<h2>
						<span>
							Fresh Ideas
							<span class="counter">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
						</span>
					</h2>
				</div>
				<div class="bd">
					<div class="ideas-invite">
						<div class="sub-bd">
							
							{% if d.template_data.project.data.info.related_ideas['items']|length > 0 %}
								<div class="carousel">
									<div class="scrollable">
										<ul class="items">
											{% for idea in d.template_data.project.data.info.related_ideas['items'] %}
												<li>
													<div class="note-card-public-controls">
														<a class="invite rounded-button" href="#">Invite</a>
														<a href="#"><span class="flag">Flag as Inappropriate</span></a>
													</div>
													<div class="note-card">
														<div class="membrane">
															<blockquote>
																<p>{{ idea.message }}</p>
															</blockquote>
															<cite class="note-meta-ft">
																Posted <strong>{{ idea.created }}</strong>
															</cite>
														</div>
													</div>
												</li>
											{% endfor %}
										</ul>
									</div>
									<div class="carousel-controls">
										<a class="next" href="#">
											<span>Next</span>
										</a>
									</div>
								</div>
								<div class="pagination">
									<span class="cur-index">XXXX</span> <em>of</em>
									<span class="total">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
								</div>	
							{% endif %}
							
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>

	<div class='foothills'>

	</div>

	<div class='modal-content introduce-yourself'>
		<div class='step introduce-message-step'>
			<form action='#'>
				<div class='box note-card'>
					<cite class="note-meta-hd">
						<strong>You</strong> say &ndash;</strong>
					</cite>
					<textarea name='introduce-message' class='introduce-message'></textarea>
				</div>
				<div class='box'>
					<h2><strong>Introduce</strong> yourself to the project team.</h2>
					<h3>What's your idea for something this project could do?</h3>
					<a href="#" class='submit rounded-button'>Send</a>
				</div>
			</form>
		</div>
	
		<div class='step finish'>
			<p>Thanks for introducing yourself&hellip;</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	
		<a class='close' href="#"><span>close</span></a>
	</div>

	<div class='modal-content invite-user'>
		<div class='step invite-message-step'>
			<h2>Invite <strong>XXXXXX</strong> To Your Project</h2>
			<p>You can send a message to XXXXXX telling them more about your new project and why he or she should join (optional).</p>
			<form action='#' class="form-pane">
				<div class="fields">
					<textarea name='invite-message' class='invite-message'></textarea>
					<span class="charlimit">200</span>
				</div>
				<a class='submit rounded-button' href="#">Send</a>
			</form>
		</div>
	
		<div class='step finish'>
			<p>Thanks for sending an invitation...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	
		<a class='close' href="#"><span>close</span></a>
	</div>

	<div class='modal-content add-link'>
		<div class='step add-link-step'>
			<h2><strong>Add</strong> a link</h2>
			<p>You can add links to blogs, news items, or one of our recommended links.</p>
			<form action='#' class="form-pane">
				<div class="fields">
					<div class="row">
						<input name='link-label' class='link-url' type="text"></input>
					</div>
					<div class="row">
						<input name='link-url' class='link-url' type="text"></input>
					</div>
				</div>
				<a href="#" class='submit rounded-button'>Add</a>
			</form>
			<div class='box link-to-facebook'>
				<a class='partner-link' href='http://www.facebook.com'><span>Facebook</span></a>
				<p>Create a <strong>Facebook group</strong> and link it here. You can have the option to make the feed from the group show up in your group as well.</p>
			</div>
			<div class='box link-to-kickstarter'>
				<a class='partner-link' href='http://www.kickstarter.com'><span>Kickstarter</span></a>
				<p><strong>Raise money</strong> for your project on Kickstarter.</p>
			</div>
			<div class='box link-to-meetup'>
				<a class='partner-link' href='http://www.meetup.com'><span>Meetup</span></a>
				<p>A popular way of <strong>managing complex groups</strong>.</p>
			</div>
		</div>
	
		<div class='step finish'>
			<p>Thank you for adding a link to this group...</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	
		<a class='close' href="#"><span>close</span></a>
	</div>

	<div class="modal-content confirm-delete member-delete">
		<div class="step">
			<h2><strong>Delete</strong> this Project Member?</h2>
			<div>
				<p>This deletes <span class="person-name serif">XXXXXX</span> from the system permanently! <br/>Are you sure?</p>
			</div>
			<div class="actions">
				<a class="submit rounded-button" href="#">Yes, Delete Member</a>
				<a class="cancel" href="#">No, keep them.</a>
			</div>
		</div>
		<a class='close' href="#"><span>close</span></a>
	</div>

</div><!-- end .continent.project -->

<script>
	app_page.data = {{ d.template_data.project.json }};

	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Project');
		
		tc.util.log('PROJECT DATA');
		tc.util.dump(app.app_page.data);
		tc.util.log(' ');
		
		app.components.project = new tc.gam.project({
			dom:tc.jQ('.continent.project')
		});
		
		tc.util.dump(app.components.project);
		
		tc.jQ('a.join-project').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.introduce-yourself'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.introduce-yourself'),
					first_step:'introduce-message-step',
					steps:{
						'introduce-message-step':{
							selector:'.introduce-message-step',
							validators:{
								'textarea.introduce-message':['max-200']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ('a.invite').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.invite-user'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.invite-user'),
					first_step:'invite-message-step',
					steps:{
						'invite-message-step':{
							selector:'.invite-message-step',
							validators:{
								'textarea.invite-message':['max-200']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('a.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ('a.add-link').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.add-link'),
			init:function(modal,callback){
				var modal_merlin;
				modal_merlin = new tc.merlin(app,{
					dom:modal.options.element.find('.add-link'),
					first_step:'add-link-step',
					steps:{
						'add-link-step':{
							selector:'.add-link-step',
							validators:{
								'input.link-url':['max-200','url']
							},
							init:function(merlin,dom){
								var data;
								data = {merlin:merlin,dom:dom};
								dom.find('a.partner-link').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.util.dump(e.target.href);
									window.open(e.target.href);
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
								dom.find('a.submit').bind('click',data,function(e,d){
									e.preventDefault();
									if(dom.hasClass('invalid')){
										return;
									}
									tc.timer(1000,function(){
										modal.hide();
									});
									e.data.merlin.show_step('finish');
								});
							}
						},
						'finish':{
							selector:'.finish'
						}
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.data.app.components.modal.show(e.data);
		});
		
		tc.jQ(".members-stack li a.close").bind("click", {
			app:app,
			source_element:tc.jQ(".modal-content.member-delete"),
			init:function(modal, callback) {
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d) {
			e.data.app.components.modal.show(e.data);
		});
		
		
	});
</script>
{% endblock continent %}