{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Add Resource
{% endblock title %}

{% block continent %}

<div class='continent add-resource'>
	<div class='headlands'>

	</div>

	<div class='midlands'>
		<div class="west">
			<div class="box">
				<div class="hd">
					<h1><strong>Add</strong> your resource</h1>
				</div>
				<div class="bd">
					<p>Welcome! We are always looking to add existing community organizations and services to Give a Minute. Please fill out the form at right. We'll notify you at the contact address provided when your organization is approved.</p>
					<p>When you add your organization, you will appear under the <q>resources</q> section in search and elsewhere.</p>
					<p>Please note, Give a Minute reserves the right not to include any group that is in violation of our <a href="">community policy</a>.</p>
				</div>
			</div>
		</div>
		<div class="east">
			<form action=" " method="POST">
				<div class="upload-image">
					<div class="thumb">
						<img src="http://placehold.it/100x100" alt="" />
					</div>
					<div class="upload-image-controls">
						<a href="#">Upload</a> an image (100px by 100px)
					</div>
				</div>
				<div class="fields">
					<div>
						<label>Name</label>
						<input type="text"/>
					</div>
					<div>
						<label>Description</label>
						<textarea></textarea>
					</div>
					<div>
						<label>Physical Address</label>
						<input type="text"/>
					</div>
					<div>
						<label>Web Address</label>
						<input type="text"/>
					</div>
					<div>
						<label>Other links (if applicable) Facebook, Twitter, Blog, etc</label>
						<input type="text"/>
						<div class="control add-another">
							<a href="#">Another Link</a>
						</div>
					</div>
					<div>
						<label>Keywords (separate by commas)</label>
						<input type="text"/>
					</div>
					<div>
						<label>Contact e-mail</label>
						<input type="text"/>
					</div>
				</div>
				<div>
					<input type="submit" value="Add My Organization"/>
				</div>
			</form>
		</div>
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}