{% extends "./partials/base.html" %}

{% block title %}
Change by Us - Add Resource
{% endblock title %}

{% block continent %}

<div class='continent add-resource'>
	<div class='headlands'>

	</div>

	<div class='midlands merlin resource-addition clearfix'>
		
		<div class='step resource-form'>
		
			<div class="west">
				<div class="box">
					<div class="hd">
						<h1><strong>Add</strong> your resource</h1>
					</div>
					<div class="bd">
						<p>Welcome! We're always looking to list more exciting organizations, services, and programs on Change By Us – to give users a variety of resources to add to their projects.</p>
						<p>To be considered, just fill out this form.<span class="smaller">*</span> We'll notify you by email when you have been approved as a resource to be listed on Change By Us.<span class="smaller">**</span> </p>
						<p>When you have been approved, users will be able to find your resource on the site and add it to their project pages. When they do, you’ll get an email inviting you to visit their page to see if you can help.</p>
						<div class="smaller">
							<p>*Please use this form only if you are an employee or direct affiliate of the organization, service, or program.</p>
							<p>**We’ll post only resources relevant to the questions being asked on the site.</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="east">
				<form>
					<div class="upload-image clearfix">
						<div class="thumb">
							<img class='proj' src="/static/images/thumb_genAvatar100.png" alt="" />
						</div>
						<div class="upload-image-controls">
							<a href="#" class='upload-link'>Upload</a> an image (100px by 100px)
						</div>
					</div>
					<div class="fields">
						<div class="row row-name">
							<label>Resource Name</label>
							<span class="charlimit">0/50</span>
							<input type="text" class='name'/>
						</div>
						<div class="row row-description">
							<label>Description</label>
							<span class="charlimit">0/400</span>
							<textarea class='description'></textarea>
						</div>
						<div class="row">
							<label>Address</label>
							<input type="text" class='address'/>
						</div>
						<div class="row row-neighborhood">
							<label>Neighborhood</label>
							<!-- <span class="dropdown-indicator"></span> -->
							<input type='text' name='location-hood-enter' id='location-hood-enter' class='location-hood-enter location-group'/>
							<div class="location-hood-list" style="display: none">
								<ul>
								</ul>
							</div>
							<span class="error" style="display: none">Please enter a neighborhood or borough.</span>
						</div>
						<div class="row">
							<label>Web Address</label>
							<input type="text" class='web'/>
						</div>
						<div class="row row-otherlinks">
							<label>Other links (if applicable) Facebook, Twitter, Blog, etc</label>
							<input type="text" class='links' id="links1" name='otherlinks' />
							<div class="control add-another">
								<a class="anotherlink">&#43; Another Link</a>
							</div>
						</div>
						<div class="row">
							<label>Keywords (separate by commas)</label>
							<input type="text" class='keywords'/>
						</div>
						<div class="row">
							<label>Contact email<span class="note"><strong>Important</strong> This email is for Change by Us to get in touch with you whenever a project adds your organization as a resource.</span></label>
							<input type="text" class='contact'/>
						</div>
						<div class="row">
							<input type="checkbox" id="agree-tos" class='contact' />
							<label for="agree-tos">I have read and accept the <a href="/tou"><strong>Terms &amp; Conditions</strong></a></label>
						</div>
					</div>
					<div>
						<input type='submit' name='add-org' id="add-org" class="rounded-button" value='Add My Resource' />
					</div>
				</form>
				
			</div>
		</div><!--end step-->
		
		<div class='step finish' style='display:none;'>
			<div class="west">
				<div class="box">
					<div class="hd">
						<h1><strong>Add</strong> your resource</h1>
					</div>
					<div class="bd">
						<p>Welcome! We're always looking to list more valuable organizations, services, and programs on Change By Us – to give users a variety of resources to add to their projects.</p>
						<p>To be considered, just fill out this form.<span class="smaller">*</span> We'll notify you by email when you have been approved as a resource to be listed on Change By Us.<span class="smaller">**</span> </p>
						<p>When you have been approved, users will be able to find your resource on the site and add it to their project pages. When they do, you’ll get an email inviting you to visit their page to see if you can help.</p>
						<span class="smaller">
							<p>*Please use this form only if you are an employee or direct affiliate of the organization, service, or program.</p>
							<p>**We’ll post only resources relevant to the questions being asked on the site.</p>
						</span>
					</div>
				</div>
			</div>
			
			<div class="east">
				<div class="thanks">
					<p><strong>Your resource has been added for approval</strong></p>
					<a href="/resource">Add another resource</a>
					<a class="prev" href="/"><span class="sm-arrow-back light"></span><span>Go back home</span></a>
				</div>
			</div>
		</div>
		
	</div>

	<div class='foothills'>

	</div>
	
	<div class='template-content modal-content upload-image'>
		<div class='step add-link-step'>
			<h2><strong>Upload</strong> a photo for your project.</h2>
			<p>Photos should be <strong>under 1MB</strong> please. (We also crop photos to <strong>90px by 90px</strong>)</p>
			<div class="file-uploader"></div>
		</div>
		<a class='close' href="#"><span>close</span></a>
	</div>
</div>
{% endblock continent %}

{% block page_js %}
<script>
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Resource Addition');
		
		tc.jQ('a.upload-link').bind('click',{
			app:app,
			source_element:tc.jQ('.modal-content.upload-image'),
			init:function(modal,callback){
				var uploader = new qq.FileUploader({
					element: modal.options.element.find('.file-uploader').get(0),
					action: '/create/photo',
					onComplete: function(id, fileName, responseJSON){
						
						tc.jQ(document).trigger('create-image-uploaded',{
							id:id,
							fileName:fileName,
							responseJSON:responseJSON
						});
						
						return true;
						
					}
				});
				if(tc.jQ.isFunction(callback)){
					callback(modal);
				}
			}
		},function(e,d){
			e.preventDefault();
			e.data.app.components.modal.show(e.data);
		});
		
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('.merlin.resource-addition'),
			next_button:tc.jQ('#add-org'),
			first_step:'resource-form',
			data:{
				title:null,
				description:null,
				physical_address:null,
				location_id: null,
				url: null,
				keywords: null,
				contact_name: null,
				contact_email: null,
				other_urls: null,
				image: null
			},
			steps:{
				'resource-form':{
					selector:'.resource-form',
					next_step:'finish',
					inputs:{
						name:{
							selector:'input.name',
							validators:['min-3','max-50','required'],
							hint:'',
							counter:{
								selector:'.row-name .charlimit',
								limit:50
							}
						},
						description:{
							selector:'textarea.description',
							validators:['min-3','max-400','required'],
							hint:'',
							counter:{
								selector:'.row-description .charlimit',
								limit:400
							}
						},
						address:{
							selector:'input.address',
							validators:['min-3','max-75','required'],
							hint:''
						},
						location:{
							selector:'.location-group',
							validators:tc.locationDropdown.validator,
							hint:'Start typing neighborhood or borough...'
						},
						web:{
							selector:'input.web',
							validators:['min-3','max-50','url'],
							hint:''
						},
						links:{
							selector:'input.links',
							validators:['min-3','max-50','csv-url'],
							hint:''
						},
						keywords:{
							selector:'input.keywords',
							validators:['min-3','max-200','required'],
							hint:''
						},
						contact:{
							selector:'input.contact',
							validators:['min-3','max-50','required','email'],
							hint:''
						}
					},
					step_data:{},
					init:function(merlin,dom){
						tc.jQ(document).unbind('create-image-uploaded').bind('create-image-uploaded',{merlin:merlin}, function(e, d){
							e.data.merlin.app.components.modal.hide();
							if(d.responseJSON.thumbnail_id){
								merlin.dom.find('img.proj').attr('src','/images/'+(d.responseJSON.thumbnail_id % 10)+'/'+d.responseJSON.thumbnail_id+'.png');
								merlin.options.data.image = d.responseJSON.thumbnail_id;
							}
						});
						if(!merlin.current_step.step_data.locationDropdown){
							merlin.current_step.step_data.locationDropdown = new tc.locationDropdown({
								radios:dom.find('input[type=radio]'),
								input:dom.find('input.location-hood-enter'),
								list:dom.find('div.location-hood-list'),
								warning:dom.find('span.error'),
								locations:merlin.app.app_page.data.locations
							});
						};
						tc.jQ('#location-hood-enter').attr('autocomplete', 'off');
						var linksCount = 1;
						dom.find('.add-another').click(function() {
							dom.find('input#links'+linksCount).after('<a class="deletelink" id="'+(linksCount + 1)+'">&ndash;</a><input type="text" class="links always-focused" name="otherlinks" id="links'+(linksCount + 1)+'" />');
							dom.find('.deletelink').unbind('click').bind('click',function(e) {
								dom.find('#links'+tc.jQ(this).attr('id')).remove();
								tc.jQ(this).remove();
							});
							linksCount++;
						});
					},
					finish:function(merlin,dom){
						var links;
						links = "";
						merlin.current_step.dom.find('input[name=otherlinks]').each(function(i,j){
							if(j.value && j.value.length){
								links += j.value + ', ';
							}
						});
						
						merlin.options.data = tc.jQ.extend(merlin.options.data,{
							title:merlin.current_step.inputs.name.dom.val(),
							description:merlin.current_step.inputs.description.dom.val(),
							physical_address:merlin.current_step.inputs.address.dom.val(),
							location_id:merlin.current_step.step_data.locationDropdown.getLocation(),
							url:merlin.current_step.inputs.web.dom.val(),
							other_urls:links,
							keywords:merlin.current_step.inputs.keywords.dom.val(),
							contact_email:merlin.current_step.inputs.contact.dom.val()
						});
					}
				},
				'finish':{
					selector:'.finish',
					init:function(merlin,dom){
						window.scroll(0,0);
						tc.jQ.ajax({
							type:'POST',
							url:'/resource',
							data:merlin.options.data,
							context:merlin,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
							}
						});
					}
				}
			}
		});
		
	});
</script>
{% endblock page_js %}