{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Search Results
{% endblock title %}


{% block javascript_header %}
{{ super() }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/js/gam-map-style.js"></script>
<script type="text/javascript" src="/static/js/libs/infobox_packed.js"></script>
<script type="text/javascript">
	var nychoods = {{ d.template_data.locations_scored }};
	var max_score = {{ d.template_data.max_score }};
</script>
<script type="text/javascript" src="/static/js/tc.gam.map.js"></script>
<script type="text/javascript">
	app_page.features.push(initialize);
</script>
{% endblock %}<!--end javascript_header-->



{% block continent %}

<div class='continent search-results'>
	<div class='headlands clearfix'>
		<ul class="tabs">
			<li class="tab tab-map"><a href="#map">Map</a></li>
			<li class="tab tab-list active"><a href="#all">List</a></li>
		</ul>
		<form class="search-results-header" action="" method="GET">
			<label>Search results for:</label>
			<div class="form-tier west">
				<div class="search-terms-container">
					<input type="text" class="search-terms" value="{% if d.template_data.search_terms %}{{ d.template_data.search_terms }}{% endif %}"/> 
					<a class="clear-field" href=""></a>
				</div>
				<span class="in">in</span>
				<!-- <input type="text" class="search-location" /> -->
				<input type='text' name='location-hood-enter' id='location-hood-enter' class='search-location location-group location-hood-enter' {% if d.template_data.search_location_id %}location_id="{{ d.template_data.search_location_id }}"{% endif %}/>
				<div class="location-hood-list"><ul></ul></div>
				
				<input type="submit" class="rounded-button search-submit" value="Search" />
			</div>
		</form>
	</div>
	
	<div class='midlands merlin clearfix'>
		
		<!-- LIST VIEW -->
		<div id="list-view" class="step">
			<div class="west sidebar">
				<a class="sidebar-item all active" href="#all"><span>All</span><span class="counter">{{ d.template_data.results.data.projects|length + d.template_data.results.data.ideas|length + d.template_data.results.data.resources|length }}</span></a>
				<a class="sidebar-item projects" href="#projects"><span>Projects</span><span class="counter">{{ d.template_data.results.data.projects|length }}</span></a>
				<a class="sidebar-item resources" href="#resources"><span>Resources</span><span class="counter">{{ d.template_data.results.data.resources|length }}</span></a>
				<a class="sidebar-item ideas" href="#ideas"><span>Ideas</span><span class="counter">{{ d.template_data.results.data.ideas|length }}</span></a>
			</div>
			<div class="east">
				<div class="box results-box results-projects clearfix {% if d.template_data.results.data.projects|length == 0 %}none-found{% endif %}">
					<div class="hd">
						<h2><span class="counter">{{ d.template_data.results.data.projects|length }}</span> Project{% if d.template_data.results.data.projects|length > 1 %}s{% endif %}</h2>
						{% if d.template_data.results.data.projects|length > 6 %}
						<span class="control"><a href="#projects">See all <span class="sm-arrow-forward light"></span></a></span>
						{% endif %}
					</div>
					<div class="bd">		
						{% if d.template_data.results.data.projects|length > 0 %}
						<table class="projects-list doublewide clearfix">
							<tbody>
								{% for project in d.template_data.results.data.projects %}
									{% if loop.index is odd %}
									<tr class="{% if loop.index > 6 %}hidden-result {% endif %}{% if loop.index == 5 %}last-initial-row{% endif %}">
									{% endif %}
										<td>
											<!-- <a class="close" href="#"><span>Close</span></a> -->
											<div class="thumb">
												{% if project.image_id %}
												<img width='50' height='50' src='/images/{{ project.image_id % 10 }}/{{ project.image_id }}.png' alt="" class='proj'/>
												{% else %}
												<img width='50' height='50' src="/static/images/thumb_genAvatar50.png" alt="" class="proj"/>
												{% endif %}
												<span class="overlay-tag"></span>
												<span class="member-count">{{ project.num_members }}</span>
											</div>
											<div class="project-info">
												<span class="link"><a href="/project/{{ project.project_id }}">{{ project.title|truncate(50) }}</a></span>
												<span class="creator"><em>Created by </em> XXXXXX</span>
												<span class="description">{{ project.description|truncate(70) }}</span>
											</div>
										</td>
									{% if loop.index is even %}
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Projects</strong> found</h2>
							{% if d.template_data and d.template_data.user %}
							<a class="rounded-button small fancy-caps more-link" href="/create">Start <span>a</span> Project <span class="sm-arrow-forward"></span></a>
							{% endif %}
						</div>
					</div>
					<div class="ft">
						{% if d.template_data and d.template_data.user %}
						<a class="rounded-button small fancy-caps more-link" href="/create">Start <span>a</span> Project <span class="sm-arrow-forward"></span></a>
						{% endif %}
					</div>
				</div><!-- end results-box -->
				
				
				<div class="box results-box results-resources clearfix {% if d.template_data.results.data.resources|length == 0 %}none-found{% endif %}">
					<div class="hd">
						<h2><span class="counter">{{ d.template_data.results.data.resources|length }}</span> Resource{% if d.template_data.results.data.resources|length > 1 %}s{% endif %}</h2>
						{% if d.template_data.results.data.resources|length > 6 %}
						<span class="control"><a href="#resources">See all <span class="sm-arrow-forward light"></span></a></span>
						{% endif %}
					</div>
					<div class="bd">		
						{% if d.template_data.results.data.resources|length > 0 %}
						<table class="resources-list triplewide clearfix">
							<tbody>
								{% for resource in d.template_data.results.data.resources %}
									{% if loop.index % 3 == 1 %}
									<tr class="{% if loop.index > 6 %}hidden-result {% endif %}{% if loop.index == 4 %}last-initial-row{% endif %}">
									{% endif %}
										<td>
											{% if d.template_data and d.template_data.user and d.template_data.user.data.projects|length > 0 %}
												<a href="" class="add-button rounded-button small" href="">Add</a>
											{% endif %}
											{% if resource.image_id %}
											<span class="thumb"><!-- <a class="close" href="#"><span>Close</span> --></a><img width='35' height='35' src='/images/{{ resource.image_id % 10 }}/{{ resource.image_id }}.png' alt="" /></span>
											{% else %}
											<span class="thumb"><!-- <a class="close" href="#"><span>Close</span> --></a><img width='35' height='35' src='/static/images/thumb_genAvatar50.png' alt="" /></span>
											{% endif %}
											<span class="resource-name"><span><span>{{ resource.title|truncate(50) }}</span></span></span>
										</td>
									{% if loop.index % 3 == 0 %}
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Resources</strong> found</h2>
							<a class="rounded-button small fancy-caps more-link" href="/resource">Add <span>an</span> Organization <span class="sm-arrow-forward"></span></a>
						</div>
					</div>
					<div class="ft">
						<a class="rounded-button small fancy-caps more-link" href="/resource">Add <span>an</span> Organization <span class="sm-arrow-forward"></span></a>
					</div>					
				</div><!-- end results-box -->
				
				
				<div class="box results-box results-ideas clearfix {% if d.template_data.results.data.ideas|length == 0 %}none-found{% endif %}">
					<div class="hd">
						<h2><span class="counter">{{ d.template_data.results.data.ideas|length }}</span> Idea{% if d.template_data.results.data.ideas|length > 1 %}s{% endif %}</h2>
						{% if d.template_data.results.data.ideas|length > 3 %}
						<span class="control"><a href="#ideas">See all <span class="sm-arrow-forward light"></span></a></span>
						{% endif %}
					</div>
					<div class="bd">		
						{% if d.template_data.results.data.ideas|length > 0 %}
						<ul class="ideas-list clearfix">
							{% for idea in d.template_data.results.data.ideas %}
								<li class="{% if loop.index % 3 == 0  %}every-third {% endif %}{% if loop.index > 3 %}hidden-result{% endif %}">
									{% if d.template_data and d.template_data.user %}
									<div class="note-card-public-controls">
										{% if d.template_data.user.data.projects|length > 0 %}
											<a class="invite rounded-button small" href="#invite,{{ idea.idea_id }},{{ idea.owner.name }}">Invite</a>
										{% endif %}
										<span class="flag">Flag as Inappropriate</span>
									</div>
									{% endif %}
									<div class="note-card">
										<div class="membrane">
											<!-- <a class="close" href="#"><span>Close</span></a> -->
											<cite class="note-meta-hd">{% if idea.owner %}<strong>{{ idea.owner.name|truncate(18) }}</strong> says &mdash;{% endif %}</cite>
											<blockquote><p>{{ idea.message|truncate(180) }}</p></blockquote>
											<!-- <cite class="note-meta-ft">Posted <strong>02.04.2011</strong> at <strong>02:45pm</strong> via <strong>Web</strong></cite> -->
											<cite class="note-meta-ft">Posted <strong>{{ idea.created }}</strong> via <strong>{{ idea.submission_type }}</strong></cite>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
						{% endif %}
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Ideas</strong> found</h2>
							{% if d.template_data and d.template_data.user %}
							<a class="rounded-button small fancy-caps more-link" href="/">Add <span>an</span> Idea <span class="sm-arrow-forward"></span></a>
							{% endif %}
						</div>
					</div>
					<div class="ft">
						{% if d.template_data and d.template_data.user %}
						<a class="rounded-button small fancy-caps more-link" href="/">Add <span>an</span> Idea <span class="sm-arrow-forward"></span></a>
						{% endif %}
					</div>
				</div><!-- end results-box -->
				
				
			</div><!--end .east -->
		</div><!-- end #list-view-->
		
		
		
		
		
		
		
		
		
		
		
		
		
		<div id="map-view" class="step" style="display:none">
			<div class="map-results clearfix">
				<div class="box results-box results-projects">
					<div class="hd">
						<h2><span class="uncaps">Citywide</span> Projects <span class="counter">{{ d.template_data.results.data.projects|length }}</span></h2>
						{% if d.template_data.results.data.projects|length > 0 %}
						<span class="control"><a href="#projects">See all <span class="sm-arrow-forward light"></span></a></span>
						{% endif %}
					</div>
					<div class="bd">
						{% if d.template_data.results.data.projects|length > 0 %}
						<table class="projects-list doublewide clearfix">
							<tbody>
								{% for project in d.template_data.results.data.projects %}
									{% if loop.index < 3 %}
										{% if loop.index is odd %}
										<tr>
										{% endif %}
											<td>
												<!-- <a class="close" href="#"><span>Close</span></a> -->
												<div class="thumb">
													{% if project.image_id %}
													<img width='50' height='50' src='/images/{{ project.image_id % 10 }}/{{ project.image_id }}.png' alt="" class='proj'/>
													{% else %}
													<img width='50' height='50' src="/static/images/thumb_genAvatar50.png" alt="" class="proj"/>
													{% endif %}
													<span class="overlay-tag"></span>
													<span class="member-count">{{ project.num_members }}</span>
												</div>
												<div class="project-info">
													<span class="link"><a href="/project/{{ project.project_id }}">{{ project.title|truncate(50) }}</a></span>
													<span class="creator"><em>Created by </em> XXXXXX</span>
													<span class="description">{{ project.description|truncate(70) }}</span>
												</div>
											</td>
										{% if loop.index is even %}
										</tr>
										{% endif %}
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
					</div>
				</div>
				
				<div class="box results-box results-resources">
					<div class="hd">
						<h2><span class="uncaps">Citywide</span> Resources <span class="counter">{{ d.template_data.results.data.resources|length }}</span></h2>
						{% if d.template_data.results.data.resources|length > 0 %}
						<span class="control"><a href="#resources">See all <span class="sm-arrow-forward light"></span></a></span>
						{% endif %}
					</div>
					<div class="bd">
						{% if d.template_data.results.data.resources|length > 0 %}
						<table class="resources-list clearfix">
							<tbody>
								<tr>
									{% for resource in d.template_data.results.data.resources %}
										{% if loop.index < 2 %}
										<td>
											{% if d.template_data and d.template_data.user and d.template_data.user.data.projects|length > 0 %}
												<a href="" class="add-button rounded-button small" href="">Add</a>
											{% endif %}
											{% if resource.image_id %}
											<span class="thumb"><!-- <a class="close" href="#"><span>Close</span> --></a><img width='35' height='35' src='/images/{{ resource.image_id % 10 }}/{{ resource.image_id }}.png' alt="" /></span>
											{% else %}
											<span class="thumb"><!-- <a class="close" href="#"><span>Close</span> --></a><img width='35' height='35' src='/static/images/thumb_genAvatar50.png' alt="" /></span>
											{% endif %}
											<span class="resource-name"><span><span>{{ resource.title|truncate(50) }}</span></span></span>
										</td>
										{% endif %}
									{% endfor %}
								<tr>
							</tbody>
						</table>
						{% endif %}
					</div>
				</div>
			</div><!-- end map-results-->
			
			
			<div class="box results-map themap">
				<div id="map_canvas"></div>
				<!--<iframe src="/search/map" style="width: 960px; height: 545px"></iframe>-->
			</div>
			
			
		</div><!-- end #map-view -->
		
		
		
		
		
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}

{% block page_js %}
<script type="text/javascript">
	tc.util.dump('Search Data');
	tc.util.dump({{ d.template_data.results['json'] }})
</script>

<script type="text/javascript">
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Search');
		
		function changeListCat(theCat) {
			tc.jQ('.results-box').removeClass('single');
			tc.jQ('ul.tabs .tab-map').removeClass('active');
			tc.jQ('ul.tabs .tab-list').addClass('active');
			tc.jQ('.sidebar').children('.sidebar-item').removeClass('active');
			tc.jQ('.sidebar').children('.'+theCat).addClass('active');
			tc.jQ('#list-view').removeClass('all projects resources ideas').addClass(theCat);
		};
		
		tc.jQ('a.clear-field').bind('click',{input:tc.jQ('input.search-terms')},function(e){
			e.preventDefault();
			e.data.input.val('');
		});
		
		tc.jQ('input.search-submit').bind('click',{terms:tc.jQ('input.search-terms'),location:tc.jQ('input.location-hood-enter')},function(e){
			e.preventDefault();
			if(e.data.terms.val().length){
				if(e.data.location.attr('location_id')){
					window.location = '/search?terms='+e.data.terms.val()+'&location_id='+e.data.location.attr('location_id');
				} else {
					window.location = '/search?terms='+e.data.terms.val();
				}
			}
		});
		
		new tc.locationDropdown({
			input:tc.jQ('input.location-hood-enter'),
			list:tc.jQ('div.location-hood-list'),
			locations:app.app_page.data.locations
		});
		
		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('.merlin'),
			first_step:'all',
			allow_hash_override_onload:true,
			steps:{
				'all':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('all')
					}
				},
				'projects':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('projects');
						tc.jQ('.results-projects').addClass('single');
					}
				},
				'resources':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('resources');
						tc.jQ('.results-resources').addClass('single');
					}
				},
				'ideas':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('ideas');
						tc.jQ('.results-ideas').addClass('single');
					}
				},
				'map':{
					selector:'#map-view',
					init:function(merlin,dom){
						google.maps.event.trigger(map, 'resize');
						map.setCenter(brooklyn);
						tc.jQ('ul.tabs .tab-list').removeClass('active');
						tc.jQ('ul.tabs .tab-map').addClass('active');
					}
				}
			}
		});
		
		tc.gam.ideas_invite( app );
		
	});
</script>
{% endblock page_js %}