{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Search Results
{% endblock title %}

{% block continent %}

<div class='continent search-results'>
	<div class='headlands clearfix'>
		<ul class="tabs">
			<li class="tab tab-map"><a href="#map">Map</a></li>
			<li class="tab tab-list active"><a href="#all">List</a></li>
		</ul>
		<form class="search-results-header" action="" method="GET">
			<label>Search results for:</label>
			<div class="form-tier west">
				<div class="search-terms-container">
					<input type="text" class="search-terms" /> 
					<a class="clear-field" href=""></a>
				</div>
				<span class="in">in</span>
				<input type="text" class="search-location" />
				<input type="submit" class="rounded-button search-submit" value="Search" />
			</div>
		</form>
	</div>
	
	

	<div class='midlands merlin clearfix'>
		
		<!-- LIST VIEW -->
		<div id="list-view" class="step">
			<div class="west sidebar">
				<a class="sidebar-item all active" href="#all"><span>All</span><span class="counter">{{ d.template_data.results.data.projects|length + d.template_data.results.data.ideas|length + d.template_data.results.data.resources|length }}</span></a>
				<a class="sidebar-item projects" href="#projects"><span>Projects</span><span class="counter">{{ d.template_data.results.data.projects|length }}</span></a>
				<a class="sidebar-item resources" href="#resources"><span>Resources</span><span class="counter">{{ d.template_data.results.data.resources|length }}</span></a>
				<a class="sidebar-item ideas" href="#ideas"><span>Ideas</span><span class="counter">{{ d.template_data.results.data.ideas|length }}</span></a>
			</div>
			<div class="east">
				<div class="box results-box results-projects tab-view clearfix {% if d.template_data.results.data.projects|length == 0 %}none-found{% endif %}">
					<div class="hd">
						<h2><span class="counter">{{ d.template_data.results.data.projects|length }}</span> Projects</h2>
						<span class="control"><a href="#projects">See all <span class="sm-arrow-forward light"></span></a></span>
					</div>
					<div class="bd">		
						{% if d.template_data.results.data.projects|length > 0 %}
						<table class="projects-list doublewide clearfix">
							<tbody>
								{% for project in d.template_data.results.data.projects %}
									{% if loop.index is odd %}
									<tr class="{% if loop.index > 6 %}hidden-result {% endif %}{% if loop.index == 5 %}last-initial-row{% endif %}">
									{% endif %}
										<td>
											<a class="close" href="#"><span>Close</span></a>
											<div class="thumb">
												<img src="http://placehold.it/50x50" alt="" class="proj"/>
												<span class="overlay-tag"></span>
												<span class="member-count">{{ project.num_members }}</span>
											</div>
											<div class="project-info">
												<span class="link"><a href="/project">{{ project.title|truncate(50) }}</a></span>
												<span class="creator"><em>Created by </em> XXXXXX</span>
												<span class="description">{{ project.description|truncate(70) }}</span>
											</div>
										</td>
									{% if loop.index is even %}
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Projects</strong> found</h2>
							<a class="rounded-button fancy-caps more-link" href="/create">Start <span>a</span> Project <span class="sm-arrow-forward"></span></a>
						</div>
					</div>
					<div class="ft">
						<a class="rounded-button fancy-caps more-link" href="/create">Start <span>a</span> Project <span class="sm-arrow-forward"></span></a>
					</div>
				</div><!-- end results-box -->
				
				
				<div class="box results-box results-resources clearfix {% if d.template_data.results.data.projects|length == 0 %}none-found{% endif %}">
					<div class="hd">
						<h2><span class="counter">{{ d.template_data.results.data.resources|length }}</span> Resources</h2>
						<span class="control"><a href="#resources">See all <span class="sm-arrow-forward light"></span></a></span>
					</div>
					<div class="bd">		
						{% if d.template_data.results.data.projects|length > 0 %}
						<table class="resources-list triplewide clearfix">
							<tbody>
								{% for resource in d.template_data.results.data.resources %}
									{% if loop.index % 3 == 1 %}
									<tr class="{% if loop.index > 6 %}hidden-result {% endif %}{% if loop.index == 4 %}last-initial-row{% endif %}">
									{% endif %}
										<td>
											<a href="" class="add-button rounded-button" href="">Add</a>
											<span class="thumb"><a class="close" href="#"><span>Close</span></a><img src="http://placehold.it/35x35" alt="" /></span>
											<span class="resource-name"><span><span>{{ resource.title|truncate(50) }}</span></span></span>
										</td>
									{% if loop.index % 3 == 0 %}
									</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Resources</strong> found</h2>
							<a class="rounded-button fancy-caps more-link" href="/resource">Add <span>an</span> Organization <span class="sm-arrow-forward"></span></a>
						</div>
					</div>
					<div class="ft">
						<a class="rounded-button fancy-caps more-link" href="/resource">Add <span>an</span> Organization <span class="sm-arrow-forward"></span></a>
					</div>					
				</div><!-- end results-box -->
				
				
				<div class="box results-box results-ideas clearfix {% if d.template_data.results.data.projects|length == 0 %}none-found{% endif %}">
					<div class="hd">
						<h2><span class="counter">{{ d.template_data.results.data.ideas|length }}</span> Ideas</h2>
						<span class="control"><a href="#ideas">See all <span class="sm-arrow-forward light"></span></a></span>
					</div>
					<div class="bd">		
						{% if d.template_data.results.data.ideas|length > 0 %}
						<ul class="ideas-list clearfix">
							{% for idea in d.template_data.results.data.ideas %}
								<li class="{% if loop.index % 3 == 0  %}every-third {% endif %}{% if loop.index > 3 %}hidden-result{% endif %}">
									<div class="note-card-public-controls">
										<a class="invite rounded-button" href="">Invite</a>
										<span class="flag">Flag as Inappropriate</span>
									</div>
									<div class="note-card">
										<div class="membrane">
											<a class="close" href="#"><span>Close</span></a>
											<cite class="note-meta-hd"><strong>{{ idea.owner.name|capitalize() }}</strong> says &mdash;</cite>
											<blockquote><p>{{ idea.message|truncate(180) }}</p></blockquote>
											<!-- <cite class="note-meta-ft">Posted <strong>02.04.2011</strong> at <strong>02:45pm</strong> via <strong>Web</strong></cite> -->
											<cite class="note-meta-ft">Posted <strong>{{ idea.created }}</strong> via <strong>{{ idea.submission_type }}</strong></cite>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
						{% endif %}
						<div class="none-found-message clearfix">
							<h2>There were <span class="counter">0</span> <strong>Ideas</strong> found</h2>
							<a class="rounded-button fancy-caps more-link" href="">Add <span>an</span> Idea <span class="sm-arrow-forward"></span></a>
						</div>
					</div>
					<div class="ft">
						<a class="rounded-button fancy-caps more-link" href="">Add <span>an</span> Idea <span class="sm-arrow-forward"></span></a>
					</div>
				</div><!-- end results-box -->
				
				
			</div><!--end .east -->
		</div><!-- end #list-view-->
		
		
		<div id="map-view" class="step">
			<div class="map-results clearfix">
				<div class="box results-box results-projects">
					<div class="hd">
						<h2><span class="uncaps">Citywide</span> Projects <span class="counter">{{ d.template_data.results.data.projects|length }}</span></h2>
						<span class="control"><a href="#projects">See all <span class="sm-arrow-forward light"></span></a></span>
					</div>
					<div class="bd">
						{% if d.template_data.results.data.projects|length > 0 %}
						<table class="projects-list doublewide clearfix">
							<tbody>
								{% for project in d.template_data.results.data.projects %}
									{% if loop.index < 3 %}
										{% if loop.index is odd %}
										<tr>
										{% endif %}
											<td>
												<!-- <a class="close" href="#"><span>Close</span></a> -->
												<div class="thumb">
													<img src="http://placehold.it/50x50" alt="" class="proj"/>
													<span class="overlay-tag"></span>
													<span class="member-count">{{ project.num_members }}</span>
												</div>
												<div class="project-info">
													<span class="link"><a href="/project">{{ project.title|truncate(50) }}</a></span>
													<span class="creator"><em>Created by </em> XXXXXX</span>
													<span class="description">{{ project.description|truncate(70) }}</span>
												</div>
											</td>
										{% if loop.index is even %}
										</tr>
										{% endif %}
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						{% endif %}
					</div>
				</div>
				
				<div class="box results-box results-resources">
					<div class="hd">
						<h2><span class="uncaps">Citywide</span> Resources <span class="counter">{{ d.template_data.results.data.resources|length }}</span></h2>
						<span class="control"><a href="#resources">See all <span class="sm-arrow-forward light"></span></a></span>
					</div>
					<div class="bd">
						{% if d.template_data.results.data.resources|length > 0 %}
						<table class="resources-list clearfix">
							<tbody>
								<tr>
									{% for resource in d.template_data.results.data.resources %}
										{% if loop.index < 2 %}
										<td>
											<a href="" class="add-button rounded-button" href="">Add</a>
											<span class="thumb"><!-- <a class="close" href="#"><span>Close</span></a> --><img src="http://placehold.it/35x35" alt="" /></span>
											<span class="resource-name"><span><span>{{ resource.title|truncate(50) }}</span></span></span>
										</td>
										{% endif %}
									{% endfor %}
								<tr>
							</tbody>
						</table>
						{% endif %}
					</div>
				</div>
			</div><!-- end map-results-->

			
			<div class="box results-map themap">
				<img src="http://placehold.it/960x545&text=map"/>	
			</div>
			
			
		</div><!-- end #map-view -->
		
		
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}

{% block page_js %}
<script type="text/javascript">
	tc.util.dump('Search Data');
	tc.util.dump({{ d.template_data.results['json'] }})
</script>

<script type="text/javascript">
	app_page.features.push(function(app){
		tc.util.log('Give A Minute: Search');
		
		function changeListCat(theCat) {
			tc.jQ('ul.tabs .tab-map').removeClass('active');
			tc.jQ('ul.tabs .tab-list').addClass('active');
			tc.jQ('.sidebar').children('.sidebar-item').removeClass('active');
			tc.jQ('.sidebar').children('.'+theCat).addClass('active');
			tc.jQ('#list-view').removeClass('all projects resources ideas').addClass(theCat);
		};

		app.components.merlin = new tc.merlin(app,{
			dom:tc.jQ('.merlin'),
			first_step:'all',
			steps:{
				'all':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('all')
					}
				},
				'projects':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('projects')
					}
				},
				'resources':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('resources')
					}
				},
				'ideas':{
					selector:'#list-view',
					init:function(merlin,dom){
						changeListCat('ideas')
					}
				},
				'map':{
					selector:'#map-view',
					init:function(merlin,dom){
						tc.jQ('ul.tabs .tab-list').removeClass('active');
						tc.jQ('ul.tabs .tab-map').addClass('active');
					}
				}
			}
		});
	});
</script>
{% endblock page_js %}