{% extends "./partials/base.html" %}

{% block title %}
{{ d.site_name }}
{% endblock title %}

{% block continent %}
<div class='continent splash'>
	<div class='headlands'>
		<div class='beta-splash-container'>
			<div class="pane merlin">
				<div class="west">
					<h1>{{ d.site_name }}<span class="beta"></span></h1>
					<p><strong>A new</strong> way to share ideas, create projects, build teams, and make our city better.</p>
					<p class="up">Launching <span>Spring 2011</span></p>
				</div>
				
				<div class="east">
					<label class="fancy-caps">Sign Up <span>to</span> Learn More</label>
					<div class="email-start">
						<input type="text" class="email" value="Your email address..." />
						<input type="submit" class="rounded-button initial" value="submit" id="submit"/>
					</div>
					<div class="email-finish" style="display:none">
						<p><strong>Thanks! We'll be in touch!</strong></p>
					</div>
				</div>
			</div>
			
			<div class="photocredit">
				Photo: &copy; Julienne Schaer/NYC &amp; Company
			</div>
		</div><!--end .beta-splash-container-->
	</div>

	<div class='foothills'>
	</div>
	
</div>
{% endblock continent %}

{% block page_js %}
<script type='text/javascript' src="/static/js/pages/splash.js"></script>
{% endblock page_js %}