{% extends "./partials/base.html" %}

{% block title %}
Change by Us
{% endblock title %}

{% block continent %}
<div class='continent splash'>
	<div class='headlands'>
		<div class='splash-container'>

		</div><!--end .splash-container-->
		
		<div class="social-networking">
			<div class="facebook"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.giveaminute.info&amp;layout=standard&amp;show_faces=false&amp;width=600&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:25px; width: 600px;" allowTransparency="true"></iframe></div>
		</div>
	</div>

	<div class='midlands clearfix'>
		<div class="west">
		</div>
		<div class="east">
			<div class="box why-use">
				<div class="hd">
					<h2>Why use Change by Us?</h2>
				</div>
				<div class="bd">
					<ol class=" ">
						<li>
							<span class="num"><span>1</span></span>
							<span class="text">Discover resources and friends to help you complete your <a href="/search#projects">community project</a>.</span>
						</li>
						<li>
							<span class="num"><span>2</span></span>
							<span class="text">Connect with leaders from across the city.</span>
						</li>
						<li>
							<span class="num"><span>3</span></span>
							<span class="text">Access a limited number of small grants to get your project off the ground.</span>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>

	<div class='foothills'>
	</div>
	
</div>
{% endblock continent %}

{% block page_js %}

{% endblock page_js %}