{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - Terms of Use
{% endblock title %}

{% block continent %}

<div class='continent tou'>
	<div class='headlands'>
		<span class="above-h1">Give a Minute's</span>
		<h1>Terms <em>of</em> Use</h1>
		<!--<div class="search generic-search">
			<form action='/home' method='GET'>
				<input type='text' name='query' />
				<input type='submit' name='headlands-search-btn' value='Search' />
			</form>
		</div>-->
	</div>

	<div class='midlands clearfix'>
		<div class="west">
			{% include 'partials/toc.html' %}
		</div>
		<div class="east">
			<div class="box feedback">
				<div class="hd">
					<h2>We Love Feedback</h2>
				</div>
				<div class="bd">
					<p>Do you want to comment on a post? <a href="/feedback"><strong>Send it to us</strong></a></p>
				</div>
			</div>
			<div class="box archive">
				<div class="hd">
					<h2>Archived <abbr title="Terms of Service">T.O.S.</abbr></h2>
				</div>
				<div class="bd">
					<ul>
						<li><a href="">February 2011</a></li>
						<li><a href="">March 2011</a></li>
						<li><a href="">April 2011</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class='foothills'>
	</div>
</div>

{% endblock continent %}