{% extends "./partials/base.html" %}

{% block title %}
Give A Minute - User Account
{% endblock title %}

{% block continent %}

<div class='continent user-account'>
	<div class='headlands'>

	</div>

	<div class='midlands tab-view'>
		<div class="west">
			<div class="box user-account-nav">
				<div class="hd">
					<div class="thumb">
						<img src="http://placehold.it/30x30" alt="" class="avatar"/>
					</div>
					<div class="user-info">
						Shawna T.
					</div>
				</div>
				<div class="bd">
					<ul class="tabs">
						<li><a href="">Messages</a></li>
						<li><a href="">Activity <span class="counter">4</span></a></li>
						<li><a href="">Account</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="east">
			<div class="panes">
				<div class="messages-view">
					<div class="box messages">
						<div class="hd">
							<h2>Messages</h2>
						</div>
						<div class="bd">
							<ol class="message-stack">
								<li class="message-item user-notification">
									<a class="close" href="#"><span>Close</span></a>
									<h3>You've been invited to the <strong>Green Bklyn</strong> Action Group!</h3>
									<div class="controls">
										<a href="">Click to see action group</a>
									</div>
								</li>
								<li class="message-item">
									<a class="close" href="#"><span>Close</span></a>
									<div class="thumb">
										<img src="http://placehold.it/50x50" alt="" class="avatar"/>
									</div>
									<div class="main">
										<div class="meta">
											<cite>Jake B.</cite>
											<cite>02.04.2011 at 5:00pm</cite>
										</div>
										<blockquote class="excerpt">
											<p>We should bring a projector and a MacBook Air to the meetings&hellip;</p>
										</blockquote>
									</div>
								</li>
								<li class="message-item user-prompt">
									<a class="close" href="#"><span>Close</span></a>
									<h3>Sasha wants to join your Action Group!</h3>
									<p>Hey Robert, I saw your group when I went in to create something similar. I live on Church and would love to see some green on this street. I heard the city has a program where you can request plantings. Anyway, let's group up and geterdone!</p>
									<div class="controls">
										<button class="approve-btn">Approve</button>
										<a href="">Ignore</a>
									</div>
								</li>
							</ol>
						</div>
						<div class="load-more">
							<a href="">Load older messages</a>
						</div>
					</div>
					<div class="box preferences">
						<div class="hd">
							<h2>Preferences</h2>
						</div>
						<div class="bd">
							<ul class="checklist">
								<li>
									<input type="checkbox"/>
									<label>Receive e-mails for each message</label>
								</li>
								<li>
									<input type="checkbox"/>
									<label>Get a daily digest e-mail</label>
								</li>
								<li>
									<input type="checkbox"/>
									<label>No e-mails</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="activity-view">
					<div class="box my-projects">
						<div class="hd">
							<h2>My Projects <span class="counter">1</span></h2>
						</div>
						<div class="bd">
							<div class='clearfix project-header'>
								<div class="thumb">
									<img src="http://placehold.it/100x100" alt="" class="proj"/>
									<span class="overlay-tag"></span>
								</div>
								<div class="tools">
									<div class="members">
										Members <span class="counter">0</span>
									</div>
								</div>
								<div class="main">
									<h1>Start a Garden on 161st and Melrose Ave</h1>
									<cite class="meta"><span>Created</span> <span>by</span> <strong>You!</strong></cite>
								</div>
							</div>
						</div>
					</div>
					<div class="box my-ideas">
						<div class="hd">
							<h2>My Ideas <span class="counter">3</span></h2>
						</div>
						<div class="bd">
							<ul class="idea-cards">
								<li>
									<div class="note-card">
										<cite class="note-meta-hd">
											<strong>Shawna</strong> says &ndash;
										</cite>
										<blockquote>
											<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
										</blockquote>
										<cite class="note-meta-ft">
											Posted 02.04.2011 at 02:45pm via Web
										</cite>
									</div>
								</li>
								<li>
									<div class="note-card">
										<cite class="note-meta-hd">
											<strong>Shawna</strong> says &ndash;
										</cite>
										<blockquote>
											<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
										</blockquote>
										<cite class="note-meta-ft">
											Posted 02.04.2011 at 02:45pm via Web
										</cite>
									</div>
								</li>
								<li>
									<div class="note-card">
										<cite class="note-meta-hd">
											<strong>Shawna</strong> says &ndash;
										</cite>
										<blockquote>
											<p>I would really love to see the neighborhood come together and start up this garden. It would be so great to get involved in the community. Finally!</p>
										</blockquote>
										<cite class="note-meta-ft">
											Posted 02.04.2011 at 02:45pm via Web
										</cite>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="account-view">
					<div class="box user-account">
						<div class="hd">
							<h2>Account</h2>
						</div>
						<div class="bd">
							<form action="" method="POST">
								<div class="thumb user-pic">
									<img src="http://placehold.it/50x50" alt="" class="avatar"/>
									<div class="controls">
										<a href="#">Change Photo</a>
									</div>
								</div>
								<div class="user-details">
									<div class="fields">
										<div>
											<label>First name</label>
											<input type="text" value="Shawna" />
										</div>
										<div>
											<label>Last name</label>
											<input type="text" value="Tearsdille" />
										</div>
										<div>
											<label>E-mail address</label>
											<input type="text" value="shawna1890@gmail.com" />
										</div>
									</div>
									<div>
										<input type="submit" value="Save Changes"/>
									</div>
								</div>
							</form>
							<div class="social-networking">
								<div class="connect-facebook">
									
								</div>
								<div class="connect-twitter">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>

	<div class='foothills'>

	</div>
</div>

{% endblock continent %}