/*------------------------------------------------------------------------------
	Give a Minute
	Mobile-specific CSS

-------------------------------------------------------------------------------*/
html.universe{ -webkit-text-size-adjust: none; }
head.heavens{ /* too bad we can't style the heavens */ }

body.earth{ background:none repeat scroll 0 0 #F3F2F0; text-align:left;
	font-family:DIN,Helvetica; font-size:14px; color: #55504b;}

.continent{ margin:5px 15px 0; }

.west{ float:left; }
.east{ float:right; }

.row { overflow:hidden; margin-bottom:12px; }
.row.nomb { margin-bottom: 0; }

a { text-decoration:none; color:#55504b; }

/* typography utils */
.serif { font-family:MetaSerif,Georgia,serif; }

.fancy-caps { text-transform:uppercase; }
.fancy-caps > span { text-transform:none; font-style:italic; }

.fancy-caps { text-transform:uppercase; }
.fancy-caps > span { text-transform:none; font-style:italic; }

/* carousel */
.carousel { position:relative; }
.carousel .scrollable { position:relative; overflow:hidden; }
.carousel .scrollable .items { position:absolute; width:2000em; }
.carousel .scrollable .items > li { float:left; }

.carousel-nav a { display:block; float:left; margin-left:8px; width:21px; height:18px;}
.carousel-nav a:first-child { margin-left:0; }
.carousel-nav a.prev {background:url("../images/control_backArrow_mobile.png") no-repeat scroll left center transparent;}
.carousel-nav a.next {background:url("../images/control_nextArrow_mobile.png") no-repeat scroll left center transparent;}
.carousel-nav span { visibility:hidden; }

/* headings */
h1, h2, h3, h4, h5, h6, .above-h1 { font-weight:normal; color: #55504b; }
h1{ font-size:42px; line-height: 44px; font-weight: bold; margin-bottom: 18px; letter-spacing: -1px;}
h2{ font-size:24px; line-height: 30px; }
h3{ font-size:14px; }
.above-h1 { font-size: 13px; line-height: 13px; margin-bottom: 12px; font-weight: bold; text-transform: uppercase; display: block; letter-spacing: 1px;}
.above-h1 em { font-weight: normal; font-style: italic; text-transform: none; }
h1 span.unbold { font-weight: normal; }

.m14{ font-size:14px;}
.m18{ font-size:18px;}
.m24{ font-size:24px; line-height:28px; margin-bottom:5px;}
.m28{ font-size:27px; line-height:32px;}
.light{ color:#a6a5a4;}
.mid-strong{font-size:20px; margin:0 0 10px 0;}
.project-title { font-family: Georgia, Times, Times New Roman, serif; }
.step .about { margin: 20px 0; font-size: 13px; letter-spacing:-0.5px; }

/* top bar */
.atmosphere{ background-color:#231f20; height: 45px; }
.atmosphere .stratosphere{ }
.atmosphere .stratosphere > ul > li{ float:left; }
.atmosphere .stratosphere li a { color: #c9b577; }

.atmosphere .stratosphere li.home a { background-image: url(../images/logo-mobile-153x25.png); background-size: 153px 25px; width: 153px; height: 25px; margin: 10px 10px 0 10px; display:block;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
div.atmosphere .stratosphere li.home a { background-image: url(../images/logo-mobile-306x50.png); background-size:153px 25px; width: 306px; height: 50px; margin: 10px 0 0 10px; display:block;}
}
.atmosphere .stratosphere li.home a span { visibility: hidden; }

.atmosphere .stratosphere li.userland { float:none; position: absolute; top: 0; right: 0; }
.atmosphere .stratosphere li.userland div { float:right; font-weight: bold; font-size: 12px; line-height: 12px; }

.atmosphere .stratosphere li.userland a { display:block; padding:8px 10px; margin:7px 5px 0 0; }
.atmosphere .stratosphere li.userland a.active { background-color:#302b2c; }

/* Nav */
.nav { padding:20px 0 30px; font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif; }
.nav ul { text-align:center; }
.nav ul li { letter-spacing: 0;  display:inline-block; zoom:1; *display:inline; }
.nav ul li a.current { font-weight:bold; color:#66615b; outline:1px solid #e8e8e6;background-color:#F3F2F0; background-color:#e8e8e6;}
.nav ul li a{ display:block; font-size: 17px; text-transform:uppercase; color:#a6a5a4; padding:5px 8px; outline:1px solid #e8e8e6;background-color:#F3F2F0;}

/* js utils */
.template-content { display:none; }

.merlin { }
.merlin .step { 
	display:none; position:relative;
	font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
}
.merlin .step.initial { display:block; }

.merlin .step.spinner-message img { display:block; width:32px; margin:5px auto 0; }

/* controls */

label { font-size: 15px; line-height:1; margin: 4px 0 8px 4px; display: block }
label.nobtn { margin-left: 30px; }

.merlin input,
.merlin textarea {
	width:93%; margin-bottom:5px; padding: 8px; font-size: 18px; line-height:1;  
	background-color: #fff; color: #b9b8b6; border: 1px solid #b9b8b6; font-family: Georgia, Times, Times New Roman, serif; color: #55504b; 
}
.merlin input[type="text"],
.merlin input[type="password"] { height: 22px; }

.merlin input[type="checkbox"] { width: 20px; height: 20px; background-color: #d6d5d4; }
.merlin input[type="radio"] { float:left; width: 20px; height: 20px; background-color: #d6d5d4; }
.merlin input[type=submit],
.merlin input[type=button] {background-color: #e5e4e1; color: #878786; font-weight: bold; font-size: 16px; line-height: 16px; padding: 10px; cursor: pointer; }
.merlin input[type=submit]:hover,
.merlin input[type=button]:hover {color: #F3F2F0; background: #7F7D7A; background: -moz-linear-gradient(top, #7F7D7A 0%, #A8A6A3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7F7D7A), color-stop(100%,#A8A6A3)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7F7D7A', endColorstr='#A8A6A3',GradientType=0 );}

a.submit {
	margin-top:5px; padding: 10px 10px 14px 10px; display:inline-block;
	background-color: #e5e4e1; border: 1px solid #b9b8b6;
	font-size: 16px; line-height: 1; 
	font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
	font-weight:bold; text-transform:uppercase; color:#878786;
	
	-webkit-transition: 100ms ease-in;  -moz-transition: 100ms ease-in; -o-transition: 100ms ease-in; transition: 100ms ease-in;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
}

a.submit:active {color: #F3F2F0; background: #7F7D7A; background: -moz-linear-gradient(top, #7F7D7A 0%, #A8A6A3 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7F7D7A), color-stop(100%,#A8A6A3)); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7F7D7A', endColorstr='#A8A6A3',GradientType=0 );}

div.primary-action { margin:0 auto; display:block; width:107px; height: 76px; top: 14px; right: 10px; }
div.primary-action a { display:block; }
div.primary-action a span { visibility: hidden; }


.rounded-button { 
	display:block; float: right; line-height:1; padding:8px 12px 10px; border: 1px solid #cccbc8; 
	color: #878786; font-weight: bold; background-color: #e5e4e1; 
	-moz-border-radius: 3px !important; -webkit-border-radius: 3px !important; -khtml-border-radius: 3px !important; border-radius: 3px !important;
	-webkit-transition: 75ms ease-in;  -moz-transition: 75ms ease-in; -o-transition: 75ms ease-in; transition: 75ms ease-in;
}
.rounded-button:hover {
	color: #F3F2F0; cursor: pointer; background-color: #878786; 
}

/* Add Idea  */

.console span.hey { display: block; position: absolute; left:-17px; top:-5px; background: url(../images/button_heyNYC_mobile_2.png) top left no-repeat transparent; height: 46px; width: 108px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
        .console span.hey { display: block; position: absolute; left: -6px; top:0px; background: url(../images/button_heyNYC_mobile_hdpi.png) top left no-repeat transparent; background-size: 108px 46px; height: 46px; width: 108px; }

}

.console span.hey span { visibility: hidden; }
.console span.console-message { font-family: "ff-din-web-1","ff-din-web-2", "Franklin Gothic Medium", "Franklin Gothic Medium", Helvetica, Arial, sans-serif; font-size: 24px; line-height: 30px; font-weight: bold; letter-spacing: -1px;}
.console span.console-message span { display: block; float: left; width: 90px; height: 10px; }

.idea-start .input { margin-top: 11px; }
.idea-start .input .row { overflow:visible; }
textarea.idea-text { height: 85px; border-color:#e5e5e3; }
.idea-start .input .char-count { width:93%; text-align:right; font-size:11px; color:#c0bfbd; }

.idea-start .input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_postActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.idea-start .input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_postActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 107px 76px;}
}

.idea-start .welcome-about { font-size:13px; }

/* User Details */

.user-details .detail-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_nextActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.user-details .detail-input div.primary-action a { display: block; width: 107px; height: 76px; background: url(../images/button_nextActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 107px 76px;}
}

/* Location */

.location-input label { margin-left:30px; }
.location-input input[type="radio"] { margin:0; }

.location-input .row.location-hood-holder { overflow:visible; }

.location div.primary-action a { width: 120px; height: 90px; background: url(../images/button_finishActive_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.location div.primary-action a { width: 120px; height: 90px; background: url(../images/button_finishActive_mobile_hdpi.png) center right no-repeat transparent;background-size: 120px 90px;}
}

div.location-hood-list { 
	width:94%; padding: 8px; margin-top:2px; background-color:#fff; 
	border:1px solid #B9B8B6; font-size: 18px; line-height: 28px;
	-webkit-transition: 100ms ease-in;  -moz-transition: 100ms ease-in; -o-transition: 100ms ease-in; transition: 100ms ease-in;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
	}
div.location-hood-list:hover { -webkit-box-shadow: 1px 1px 4px #cfcecc; -moz-box-shadow: 1px 1px 4px #cfcecc; box-shadow: 1px 1px 4px #cfcecc; }
div.location-hood-list a{ }
div.location-hood-list a:hover{ background-color:#cfcecc; }
div.location-hood-list li.selected a{ background-color:#cfcecc; }
div.location-hood-list a span{ font-weight:bold; }
span.error { display: block; clear:left; margin:6px 0; color: #e53224; font-size: 11px; line-height: 11px; font-style: italic; }

/* Join List  */

.join-list .projects div.primary-action a { width: 120px; height: 90px; background: url(../images/button_join_mobile.png) center right no-repeat transparent;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.join-list .projects div.primary-action a { width: 120px; height: 90px; background: url(../images/button_join_mobile_hdpi.png) center right no-repeat transparent; background-size: 120px 90px;}
}

.found-projects { visibility:hidden; }

.projects .carousel .scrollable { height:145px; }

.thumb { position:relative; }
.thumb .overlay-tag { display:block; position:absolute; left:0; }

ul.projects-list li div.thumb img { position: absolute; top: 6px; left: 6px; z-index: 1; }
ul.projects-list li div.thumb .overlay-tag { display: block; position: absolute; width: 24px; height: 24px; background: url(../images/avatar_sq_19.png) top left no-repeat #F3F2F0; z-index: 2; }
ul.projects-list li div.thumb .member-count { 
	position: absolute; top: 59px; left: 6px; margin-top: 5px; padding: 2px 12px 2px 4px; font-weight: bold; font-size: 11px; line-height: 11px;  
	background: url(../images/bg_avatar_memberCount.png) center right no-repeat #fff; color: #747474;
	-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;}
ul.projects-list li div.project-info { margin-left: 70px; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis;  }
ul.projects-list li div.project-info span { display: block; font-family: "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2", Georgia, Times, Times New Roman, serif; font-size: 13px; line-height: 16px;  }
ul.projects-list li span.link { margin-bottom: 2px; }
ul.projects-list li span.link a { font-size: 17px; line-height: 19px; font-weight: bold; color: #55504b; }
ul.projects-list li span.link a:hover { color: #3d3a36; }
ul.projects-list li span.creator { margin-bottom: 6px; }
ul.projects-list li span.creator .owner { display: inline-block; }
ul.projects-list li span.description { text-overflow: ellipsis; }

ul.projects-list li { display: block; float: left; border-top: 1px solid #e5e5e3; border-bottom: 1px solid #e5e5e3; }
ul.projects-list.display li {border:none;}

ul.projects-list li { height: 105px; width: auto; padding-top: 20px; padding-bottom: 15px; padding-right: 10px;  }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.carousel-nav a { background-size: 21px 18px; }
	.carousel-nav a.prev { background:url("../images/control_backArrow_mobile_hdpi.png") no-repeat scroll left center transparent;}
	.carousel-nav a.next { background:url("../images/control_nextArrow_mobile_hdpi.png") no-repeat scroll left center transparent;}
}

.view-project {
	text-align:center;
}
.view-project .submit { 
	width:220px; margin:10px auto 0; text-align:center;
	font-weight:normal; font-size:22px;
}

/*  Login/Signup  */

.login-or-signup .row {
	text-align:center;
}
.login-or-signup .submit { margin-top:8px; margin-bottom:8px; }
.login-or-signup .row > span { display:block; font-size:12px; }

.login-social { 
	padding-bottom:20px; margin-bottom:35px; 
	border-bottom:1px solid #E5E5E3; 
}

.signup .login-social { border:none; margin-bottom:0; }

.login-or { margin:0 auto; text-transform:uppercase; font-size:18px; font-style:italic; color:#A6A5A4;
	background-color:#F3F2F0; position:relative; bottom:-33px; text-align:center; display:block; width:45px; }

p.signup { width:50%; float:right; text-align:right; }
p.signup a{ text-transform:uppercase; text-decoration:underline; }
.signup p.signup { width:auto; float:left; }

a.login-facebook,
a.login-twitter { width: 136px; height: 48px; display: block; background-position: top left; background-repeat: none; background-color: transparent; margin-right: 15px; -webkit-transition: 100ms ease-in;  -moz-transition: 100ms ease-in; -o-transition: 100ms ease-in; transition: 100ms ease-in; }

a.login-facebook:hover,
a.login-twitter:hover { -webkit-box-shadow: 1px 1px 4px #bfbebc; -moz-box-shadow: 1px 1px 4px #bfbebc; box-shadow: 1px 1px 4px #bfbebc; }

a.login-facebook { background-image: url(../images/signin_fb_mobile.png); }
a.login-twitter { background-image: url(../images/signin_twitter_mobile.png); margin-right:0px; }

a.login-facebook span,
a.login-twitter span { 
	visibility: hidden; 
}

p.forgot-password { font-size:12px; }
p.forgot-password a { font-style:italic; }

.forgot-password p.mid-strong { }
.forgot-password .detail-input { margin:10px 0 0; }

/* Validation */

.valid { border-color:#52B312 !important;}
/*.not-valid { border-color:#D95C5C !important; }*/
.email-info { margin-top: 3px; clear:left; }
.email-info p {  font-size: 11px; line-height: 15px; }
.email-info p a { border-bottom: 1px solid #3d3a36; }
.email-info p.email-error { color: #e53224; margin-bottom: 3px; }
div.continent input.has-been-focused.valid,
div.continent textarea.has-been-focused.valid{ border-color:#52b312 !important; }
div.continent input.has-been-focused.not-valid.has-attempted-submit,
div.continent textarea.has-been-focused.not-valid.has-attempted-submit{ border-color:#d95c5c !important; }

/* Footer */

.seafloor { overflow:hidden; margin:20px 15px; }

.seafloor .west { width: 40%; }
.seafloor .east { width: 50%; text-align:right; }

.seafloor .row { padding-bottom: 20px; border-bottom: 1px dashed #e5e5e5; }
.seafloor .row.nomb { margin-bottom: 0; padding-bottom: 0; border-bottom: none; }

.seafloor .box { padding:0 0 25px; font-size: 11px; line-height: 16px; color: #55504b}
.seafloor .box .fancy-caps { color: #a6a5a4}

.seafloor .logos a { height: 33px; padding: 6px 0; display: block; float: left;}
.seafloor .logos img { height: 33px; margin-right:16px; }
.seafloor .logos .supported-by { height: 21px; width: 70px; padding: 18px 15px 0 0; text-align: right; font-size: 10px; line-height: 1; color: #894949; font-weight: bold; display: block; float: left; }
