<div class="box add-file" style="display:none;">
	<div class="hd clearfix">
		<h2>
			<span>
				Add a File
			</span>
		</h2>
		<div class="actions">
			<a href="#project-home" class="back fancy-caps">
				<span>Back <span>to</span> Project Home</span>
			</a>
		</div>
	</div>

	<div class="bd clearfix merlin add-file">
		<div class='step add-file-step'>
			<p>Link to blogs, news items, and more.</p>
			<form action='#' class="form-pane" enctype="multipart/form-data" method="post">
				<div class="fields">
					<div class="row first clearfix">
						<input name='file-title' class='file-url file-title' type="text" />
						<span class="charlimit title">50</span>
						<input style='display:none;' name='main_text' class='main_text' />
					</div>
					<div class="row second">
						<input name='file-attach' class='file-attach' size="40" type="file" />
						<a href="#" class='submit rounded-button'>Add</a>
					</div>
				</div>
			</form>
			<div class='box' style='margin:50px 0 20px 0;'>Here are a few web services that are free and will help you store and present your files:</div>
			<div class='box link-to link-to-youtube'>
				<p><a href='http://www.youtube.com' target='_blank'><strong>Youtube</strong></a><br />Upload videos to Youtube.</p>
			</div>
		</div>
		
		<div class='step submit-file-step spinner-message'>
			<p>Thank you for submitting a file!</p>
			<p><img src='/static/images/loader32x32.gif' /></p>
		</div>
	</div>
</div>

<script type='text/javascript' src="/static/js/pages/project.add_file.js"></script>