<div class="box main-section project-section add-need">
    <div class="hd clearfix">
        <h2>
            <span>
                Create a need
            </span>
        </h2>

        <div class="actions">
            <a href="#show,needs" class="back fancy-caps">
                <span>Go Back</span>
            </a>
        </div>
    </div>

    <span class="add-need-section clearfix">
      <a href="#show,vol-form" class="add-need-button">Volunteers</a>
      <div class="add-need-desc">You're doing good work but don't try to do it alone. Ask for volunteers and help will soon be on the way.</div>
    </span>
    <div class="add-need-section clearfix">
      <a href="#show,inkind-form" class="add-need-button">In-kind Donations</a>
      <div class="add-need-desc">Need a projector, gardening supplies, or a bike? List an in-kind donations to ask for physical goods.</div>
    </div>
</div>

<script src="/static/js/pages/project.add_need.js"></script>
