<li class="box need">
    <div class="clearfix">
        <div class="empty-state-box big">
            <!--<a class="close" href="#"><span>Close</span></a>-->

            {% if  d.sqla_user in d.template_data.project.admins %}
                <p>What do you need to get your project done? Volunteers? Tools?
                   Start by <a href="#show,add-need">creating a need</a> to find other people
                   to help!</p>
            {% else %}
                <p>There are no needs yet on this project. Contact the project
                   admins to see how you can help!</p>
            {% endif %}
        </div>
    </div>
</li>
