<li class="box event">
    <div class="clearfix">
        <div class="empty-state-box big">
            <!--<a class="close" href="#"><span>Close</span></a>-->

            {% if  d.sqla_user in d.template_data.project.admins %}
                <p>Events are a great way to bring motivated people together!
                   <a href="#show,event-form">Create an event now</a>!</p>
            {% else %}
                <p>There are no events yet on this project. Contact the project
                   admins to see how you can help!</p>
            {% endif %}
        </div>
    </div>
</li>
