<li class="event" data-id="{{ event.id }}">
{#    {% if
        (d.template_data.project_user.data.is_project_admin) or
        (d.template_data and d.template_data.user and d.template_data.user.is_admin) or
        (d.template_data and d.template_data.user and d.template_data.user.is_leader) %}
        <a href="#show,event-form,{{ event.id }}" class="event-edit">Edit This</a>
    {% endif %}
#}
    <div class="bd clearfix">
        <div class="event-datetime">
            <span class="month">{{ event.start_datetime|datetime('%b') }}</span>
            <span class="day">{{ event.start_datetime.day }}</span>
            <span class="time">{{ event.start_datetime|neattime }}</span>
        </div>

        <div class="event-body">
            <div class="event-title serif">
                <a href="#show,event-detail,{{ event.id }}">{{ event.name }}</a>
            </div>

            <div class="event-loc-title serif">
                at <a href="#">{{ event.address }}</a>
            </div>
{#
            {% if
              (d.template_data.project_user.data.is_project_admin) or
              (d.template_data and d.template_data.user and d.template_data.user.is_admin) or
              (d.template_data and d.template_data.user and d.template_data.user.is_leader) %}
              <a href="#removeEvent,{{ event.id }}" class="event-delete" title="Delete this event">Delete</a>
            {% endif %}
#}
            <div class="event-description">
                <p class="serif">
                    {{ event.description|truncate(130) }}
                    {% if event.description|length > 130 %}
                        <a href="#show,event-detail,{{ event.id }}" class="read-more">Read More</a>
                    {% endif%}
                    Exhibit planned from September 6th - 18th 2011. Want to get involved? Get in touch!
                </p>
            </div>
        </div>

        <div class="event-rsvp">
            <a href="#" class="rsvp-link">RSVP <span class="rsvp-site">on <span class="rsvp-site-name">Eventbrite</span></span></a>

            {% if event.needs|length > 0 %}
                {% with need=event.needs[0] %}
                    <span class="event-need serif">We need <a href="#show,need-detail,{{ need.id }}" class="vol-need"><span class="vol-count">{{ need.quantity }}</span> volunteer {{ need.request }}</a></span>
                    <span class="more-event-needs"><a href="#show,event-needs">Show all needs for this event</a></span>
                {% endwith %}
            {% endif %}
        </div>

        <!--
        <div class="vol-recent-comment serif">
            <img src="/static/images/thumb_sgoldsmith.jpg"></img>
            <div class="comment">We still really need people for this if anyone can help. It'll be fun and it's just one night.</div>
            <div class="author">
                <span>Alexandra M.</span><br>
                3 hours ago
            </div>
        </div>
        -->

        <div class="empty-state-box" style="display:none;">
            <!--<a class="close" href="#"><span>Close</span></a>-->
            <p>No events found.</p>
        </div>
    </div>
</li>
