<div class="box main-section project-section event-form">
    <div class="hd clearfix">
        <h2>
            <span>
                Create a new event
            </span>
        </h2>
        <div class="actions">
            <a href="#show,events" class="back fancy-caps">
                <span>Go Back</span>
            </a>
        </div>
    </div>

    <div>
      <a href="#" class="submit event-submit">Submit</a>
      <br style="clear:both;" />
    </div>
    <div class="bd clearfix merlin add-event">
        <div class='step add-event-step clearfix'></div>

        <div class='step submit-event-step spinner-message'>
            <p>Thank you for submitting a link!</p>
            <p><img src='/static/images/loader32x32.gif' /></p>
        </div>
    </div>
</div>

{% raw %}
<script id="event_form_tmpl" type="text/html">
    <form action="#" class="event-form">
      <div class="event-form fields serif">
        <div class="wide row">
          <div class="title">The name of the event is:</div>
          <input name="event-name" id="event-name" type="text" value="{{name}}"  class="long-input"/>
        </div>
        <div class="wide row">
          <div class="title"><span>A few details about the event:</span><span class="charlimit title">200</span></div>
          <textarea name="event-desc" id="event-desc" class="long-input">{{details}}</textarea>
        </div>
        <div class="wide row optional">
          <div class="title">Link to the event on Facebook, Eventbrite or elsewhere:</div>
          <input name="event-url" id="event-url" type="text" value="{{rsvp_url}}"  class="long-input"/>
        </div>
        <div class="wide row datetime">
          <div class="title">The name of the event is:</div>
          <div class="event-left">
            <select id="event-month">
              {{{monthOpts}}}
            </select>
            <input name="event-day" id="event-day"value="{{day}}" type="text" />
            <select id="event-year">
              {{{yearOpts}}}
            </select>
          </div>
          <div class="event-right">
            <input name="event-hour" id="event-hour" value="{{hour}}" type="text" />
            <span class="time-delim">:</span>
            <input name="event-minute" id="event-minute" value="{{minute}}" type="text" />
            <select id="event-meridiem">
              {{{meridiemOpts}}}
            </select>
          </div>
        </div>

        <div class="row wide inline">
          <div class="title">It will take place at:</div>
          <div class="event-right">
            <input name="event-street" id="event-street" type="text" value="{{address}}" />
          </div>
          <div class="clearfix"></div>
        </div>

        <div class="row wide inline needs">
          <div class="title">Link a need:</div>
          <div class="event-right">
            <select id="event-needs">
            </select>
          </div>
          <a href="javascript:void(0)" class="attach-need">+</a>
          <div class="tip">You can always come back and link needs later</div>
        </div>

        <div class="row wide linked-needs-list"></div>
      </div>
    </form>
</script>

<script id="linked_event_needs_tmpl" type="text/html">
  <ul>
    {{#linked_needs}}
      <li>{{name}}<a href="#" data-id="{{id}}" class="unlink-need"></a></li>
    {{/linked_needs}}
  </ul>
</script>

<script id="unlinked_event_needs_tmpl" type="text/html">
  <option value="">Volunteer needs</option>
  {{#unlinked_needs}}
    <option value="{{id}}">{{name}}</option>
  {{/unlinked_needs}}
</script>
{% endraw %}

<script type='text/javascript' src="/static/js/pages/project.event_form.js"></script>
