<div class="box fresh-ideas">
	<p class="hint">Check out some new ideas related to your project!</p>
	<div class="hd clearfix">
		<h2>
			<span>
				Fresh Ideas
				<span class="counter">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
			</span>
		</h2>
	</div>
	<div class="bd">
		<div class="ideas-invite">
			<div class="sub-bd" style="{% if d.template_data.project.data.info.related_ideas['items']|length == 0 %}display:none;{% endif %}">
				<div class="carousel">
					<div class="scrollable">
						<ul class="items">
							{% for idea in d.template_data.project.data.info.related_ideas['items'] %}
								<li>
									<div class="note-card-public-controls">
										<a class="invite rounded-button small" href="#invite,{{ idea.idea_id }},{{ idea.owner.name }}">Invite</a>
										<span class="flag"><a href="#flagIdea,{{ idea.idea_id }}" class='flag-idea'>Flag as Inappropriate</a></span>
									</div>
									<div class="note-card">
										<div class="membrane">
											{% if d.template_data and d.template_data.user and d.template_data.user.is_admin %}
											<a class="close remove-idea" href="#removeIdea,{{ idea.idea_id }}"><span>Close</span></a>
											{% endif %}
											<cite class="note-meta-hd">{% if idea.owner %}<strong>{{ idea.owner.name|truncate(18) }}</strong> said &mdash;{% endif %}</cite>
											<blockquote>
												<p>{{ idea.message }}</p>
											</blockquote>
											<cite class="note-meta-ft">Posted <strong>{{ idea.created }}</strong> via <strong>{{ idea.submission_type }}</strong></cite>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="carousel-controls">
						<a class="next" href="#">
							<span>Next</span>
						</a>
					</div>
				</div>
				<div class="pagination">
					<span class="cur-index">0</span> <em>of</em>
					<span class="total">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
				</div>
			</div>
		
			<div class="empty-state-box" style="{% if d.template_data.project.data.info.related_ideas['items']|length > 0 %}display:none;{% endif %}">
				<a class="close remove-idea" href="#"><span>Close</span></a>
				<p>No similar ideas found.</p>
			</div>
		
		</div>
	</div>
</div>

<div class="template-content modal-content confirm-delete remove-idea">
	<div class="step">
		<h2><strong>Delete</strong> this Idea?</h2>
		<div>
			<p>This deletes the idea from the system permanently! <br/>Are you sure?</p>
		</div>
		<div class="actions">
			<a class="submit rounded-button" href="#">Yes, Delete Idea</a>
			<a class="cancel" href="#">No, keep them.</a>
		</div>
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.fresh_ideas = function(project,dom,deps,options){
		var widget;
		tc.util.log("project.fresh_ideas");
		this.options = tc.jQ.extend({name:'fresh_ideas'},options);
		this.dom = dom;
		widget = tc.gam.widget(this,project);
	
		this.carousel = new tc.carousel({
			element: this.dom.find(".carousel"),
			pagination: {
				current: this.dom.find(".pagination .cur-index"),
				total: this.dom.find(".pagination .total")
			}
		});
		if (!this.carousel.is_rendered()) {
			
		}
		
		
		dom.find('a.flag-idea').bind('click', {project:project}, function(e){
			e.preventDefault();
			tc.jQ.ajax({
				type:"POST",
				url:'/idea/flag',
				data:{
					idea_id:e.target.hash.split(',')[1]
				},
				context:tc.jQ(e.target),
				dataType:"text",
				success: function(data, ts, xhr) {
					if (data == "False") {
						return false;
					}
					this.parent().text('Flagged');
				}
			});
		});
		
		dom.find('a.remove-idea').bind('click', {project:project}, function(e){
			e.preventDefault();
			
			e.data.app.components.modal.show({
					app:e.data.app,
					source_element:tc.jQ('.modal-content.remove-message'),
					submit:function(){
						tc.jQ.ajax({
							type:'POST',
							url:'/idea/remove',
							data:{
								idea_id: e.target.hash.split(',')[1]
							},
							context:e.data.project,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
							}
						});
					}
				});
			
		});
			
		return {
			show:widget.show,
			hide:widget.hide
		};
	};
	
</script>