<div class="box fresh-ideas">
	<p class="hint">Check out some new ideas related to your project!</p>
	<div class="hd clearfix">
		<h2>
			<span>
				Fresh Ideas
				<span class="counter">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
			</span>
		</h2>
	</div>
	<div class="bd">
		<div class="ideas-invite">
			<div class="sub-bd">
				
				<div class="carousel">
					<div class="scrollable">
						<ul class="items">
							{% if d.template_data.project.data.info.related_ideas['items']|length > 0 %}
								{% for idea in d.template_data.project.data.info.related_ideas['items'] %}
									<li>
										<div class="note-card-public-controls">
											<a class="invite rounded-button" href="#">Invite</a>
											<a href="#"><span class="flag">Flag as Inappropriate</span></a>
										</div>
										<div class="note-card">
											<div class="membrane">
												<blockquote>
													<p>{{ idea.message }}</p>
												</blockquote>
												<cite class="note-meta-ft">
													Posted <strong>{{ idea.created }}</strong>
												</cite>
											</div>
										</div>
									</li>
								{% endfor %}
							{% else %}
							
							{% endif %}
						</ul>
					</div>
					<div class="carousel-controls">
						<a class="next" href="#">
							<span>Next</span>
						</a>
					</div>
				</div>
				<div class="pagination">
					<span class="cur-index">0</span> <em>of</em>
					<span class="total">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
				</div>
			
			</div>
		</div>
	</div>
</div>

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.fresh_ideas = function(project,dom,deps,options){
		var widget;
		tc.util.log("project.fresh_ideas");
		this.options = tc.jQ.extend({name:'fresh_ideas'},options);
		this.dom = dom;
		widget = tc.gam.widget(this,project);
	
		this.carousel = new tc.carousel({
			element: this.dom.find(".carousel"),
			pagination: {
				current: this.dom.find(".pagination .cur-index"),
				total: this.dom.find(".pagination .total")
			}
		}).carousel;
	
		return {
			show:widget.show,
			hide:widget.hide
		};
	};
	
</script>