{% if d.template_data.project_user.data.is_member %}
	<div class="box goals-stack-holder" style="display:none;">
		<div class="hd clearfix">
			<h2>
				<span>
					Goals 
					<span class="counter">{{ d.template_data.project.data.info.goals['items']|length }}</span>
					{% if d.template_data.project_user.data.is_project_admin %}
						<span class="control"><a href="#show,goals_stack" class="manage">Manage</a></span>
					{% endif %}
				</span>
			</h2>
			<div class="actions">
				<a class="back fancy-caps" href="#">
					<span>Back <span>to</span> Project Home</span>
				</a>
			</div>
		</div>
		
		<ul class="goals-stack">
	
			{% for goal in d.template_data.project.data.info.goals['items'] %}
				<li>
					<div class="goal-card">
						<a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a>
						<div class="make-this-active">
							<a href="#makeActive,{{ goal.goal_id }}" class="fancy-caps">Make <span>this the</span> Active Goal</a>
						</div>
						<p>{{ goal.text }}</p>
						<div class="meta">
							<dl>
								<dt>Timeframe</dt>
								<dd>{{ goal.timeframe }}</dd>
	
								<dt>Point Person</dt>
								<dd>{{ goal.owner.name }}</dd>
							</dl>
						</div>
					</div>
				</li>
			{% endfor %}
	
		</ul>
	</div>
	
<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.goals_stack = function(project,dom,deps,options){
		var widget, me;
		tc.util.log("project.goals_stack");
		me = this; 
		this.options = tc.jQ.extend({name:'goals_stack'},options);
		this.dom = dom;
		widget = tc.gam.widget(this,project); 
		this.handlers = {
			back:function(e,d){
				e.preventDefault();
				e.data.me.hide(true);
			},
			make_goal_active: function(e, d) {
				e.preventDefault();
				//e.data.goal_card
			},
			remove_goal: function(e, d) {
				e.preventDefault();
			}
		};
		
		this.dom.find(".goal-card").each(function() {
			var card = tc.jQ(this);
			card.find(".make-this-active a").bind("click", { project:project, me:me, goal_card:card }, me.handlers.make_goal_active);
			card.find("a.close").bind("click", { project:project, me:me, goal_card:card }, me.handlers.remove_goal);
		});
		this.dom.find('.actions a.back').bind('click',{ project:project,me:this },this.handlers.back);
		
		return {
			show:widget.show,
			hide:widget.hide
		};
	};

	
</script>
{% endif %}