{% if d.template_data.project_user.data.is_member %}
	<div class="box goals-stack-holder" style="display:none;">
		<div class="hd clearfix">
			<h2>
				<span>
					Goals 
					<span class="counter">{{ d.template_data.project.data.info.goals['items']|length }}</span>
				</span>
			</h2>
			<div class="actions">
				<a class="back fancy-caps" href="#hide,goals_stack">
					<span>Back <span>to</span> Project Home</span>
				</a>
			</div>
		</div>
		
		<ul class="goals-stack">
			
			{% for goal in d.template_data.project.data.info.goals['items'] %}
				{% if goal.active == True %}
					<li>
						<div class="goal-card">
							<a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a>
							
							{% if goal.accomplished %}
								<div class="label-accomplished">
									Accomplished!
								</div>
							{% else %}
								<div class="control-accomplished">
									<a class="fancy-caps" href="#markAccomplished,{{ goal.goal_id }}">
										Mark <span>as</span> Accomplished
									</a>
								</div>
							{% endif %}
							
							<p>{{ goal.text }}</p>
							<div class="meta">
								<dl>
									<dt>Timeframe</dt>
									<dd>{{ goal.timeframe }}</dd>
									
									<dt>Point Person</dt>
									<dd>{{ goal.owner.name }}</dd>
								</dl>
							</div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
			
			{% for goal in d.template_data.project.data.info.goals['items'] %}
				{% if goal.active == False %}
					<li>
						<div class="goal-card">
							<a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a>
							
							<div class="make-this-active">
								<a href="#makeActive,{{ goal.goal_id }}" class="fancy-caps">Make <span>this the</span> Active Goal</a>
							</div>
							
							{% if goal.accomplished %}
								<div class="label-accomplished">
									Accomplished!
								</div>
							{% else %}
								<div class="control-accomplished">
									<a class="fancy-caps" href="#markAccomplished,{{ goal.goal_id }}">
										Mark <span>as</span> Accomplished
									</a>
								</div>
							{% endif %}
							
							<p>{{ goal.text }}</p>
							<div class="meta">
								<dl>
									<dt>Timeframe</dt>
									<dd>{{ goal.timeframe }}</dd>
									
									<dt>Point Person</dt>
									<dd>{{ goal.owner.name }}</dd>
								</dl>
							</div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
	
		</ul>
	</div>
	
<li class='template-content goal-stack-item'>
	<div class="goal-card">
		{% if d.template_data.project_user.data.is_project_admin %}
			<a class="close" href="#close,"><span>Close</span></a>
			<div class="make-this-active">
				<a href="#makeActive," class="fancy-caps">Make <span>this the</span> Active Goal</a>
			</div>
		{% endif %}
		
		<div class="label-accomplished">
			Accomplished!
		</div>
		<div class="control-accomplished">
			<a class="fancy-caps" href="#markAccomplished,">
				Mark <span>as</span> Accomplished
			</a>
		</div>
		
		<p class='goal-title'></p>
		<div class="meta">
			<dl>
				<dt>Timeframe</dt>
				<dd class='timeframe'></dd>
				<dt>Point Person</dt>
				<dd class='owner-name'></dd>
			</dl>
		</div>
	</div>
</li>

<div class="template-content modal-content confirm-delete remove-goal">
	<div class="step">
		<h2><strong>Delete</strong> this Goal?</h2>
		<div>
			<p>This deletes this goal from the system permanently! <br/>Are you sure?</p>
		</div>
		<div class="actions">
			<a class="submit rounded-button" href="#">Yes, Delete Goal</a>
			<a class="cancel" href="#">No, keep them.</a>
		</div>
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>
	
<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.goals_stack = function(project,dom,deps,options){
		var widget, me;
		tc.util.log("project.goals_stack");
		me = this;
		this.project = project;
		this.options = tc.jQ.extend({name:'goals_stack'},options);
		this.dom = dom;
		widget = tc.gam.widget(this,project); 
		this.handlers = {
			make_goal_active: function(e, d) {
				var t, goal_id;
				
				e.preventDefault();
				t = e.target;
				if(t.nodeName == 'SPAN'){
					t = t.parentNode;
				}
				goal_id = t.href.split(",")[1];
				
				tc.jQ.ajax({
					type:'POST',
					url:'/project/goal/active',
					data:{
						project_id: e.data.me.options.app.app_page.data.project.project_id,
						goal_id: goal_id
					},
					context:e.data.me,
					dataType:'text',
					success:function(data,ts,xhr){
						if(data == 'False'){
							return false;
						}
						this.project.dom.trigger('goals-refresh');
					}
				});
			},
			mark_goal_accomplished: function(e, d) {
				var t, goal_id;
				
				e.preventDefault();
				t = e.target;
				if(t.nodeName == 'SPAN'){
					t = t.parentNode;
				}
				goal_id = t.href.split(",")[1];
				
				tc.jQ.ajax({
					type:'POST',
					url:'/project/goal/accomplish',
					data:{
						project_id: e.data.me.options.app.app_page.data.project.project_id,
						goal_id: goal_id
					},
					context:e.data.me,
					dataType:'text',
					success:function(data,ts,xhr){
						if(data == 'False'){
							return false;
						}
						this.project.dom.trigger('goals-refresh');
					}
				});
			},
			remove_goal: function(e, d) {
				e.preventDefault();
				
				e.data.project.options.app.components.modal.show({
					app:e.data.project.options.app,
					source_element:tc.jQ('.modal-content.remove-goal'),
					submit:function(){
						tc.jQ.ajax({
							type:'POST',
							url:'/project/goal/remove',
							data:{
								project_id:e.data.me.options.app.app_page.data.project.project_id,
								goal_id:e.target.href.split(',')[1]
							},
							context:this,
							dataType:'text',
							success:function(data,ts,xhr){
								if(data == 'False'){
									return false;
								}
								project.dom.trigger('goals-refresh');
							}
						});
					}
				});
			},
			goals_refresh:function(e){
				tc.util.dump('goals_stack.goals-refresh');
				tc.jQ.ajax({
					type:'GET',
					url:'/project/goals',
					data:{
						project_id:e.data.me.project.data.project_id
					},
					context:e.data.me,
					dataType:'text',
					success:function(data,ts,xhr){
						var d;
						try{
							d = tc.jQ.parseJSON(data);
						}catch(e){
							return;
						}
						this.handle_goals(d);
					}
				});
			}
		};
		
		project.dom.bind('goals-refresh',{me:this},this.handlers.goals_refresh);
		
		function setup_events() {
			me.dom.find(".make-this-active a").unbind('click').bind("click", { project:project, me:me }, me.handlers.make_goal_active);
			me.dom.find(".control-accomplished a").unbind("click").bind("click", { project:project, me:me }, me.handlers.mark_goal_accomplished);
			me.dom.find('a.close').unbind('click').bind('click', { project:project, me:me }, me.handlers.remove_goal);
		}
		
		this.generate_markup = function(data){
			var temphtml;
			temphtml = tc.jQ('.template-content.goal-stack-item').clone().removeClass('template-content');
			temphtml.find('.goal-title').text(data.text);
			if(data.active){
				temphtml.find('.make-this-active').remove();
			} else {
				temphtml.find('.make-this-active a').attr('href','#makeActive,'+data.goal_id);
			}
			if (data.accomplished) {
				temphtml.find(".control-accomplished").remove();
			} else {
				temphtml.find(".label-accomplished").remove();
				temphtml.find('.control-accomplished a').attr("href", "#markAccomplished,"+data.goal_id);
			}
			temphtml.find('a.close').attr('href','#remove,'+data.goal_id);
			temphtml.find('.timeframe').text(data.timeframe);
			temphtml.find('.owner-name').html("<a href='/useraccount/"+data.owner.u_id+"'>"+data.owner.name+"</a>");
			return temphtml;
		};
		
		this.handle_goals = function(data){
			var i, list, temphtml;
			list = this.dom.find('.goals-stack');
			list.children().remove();
			this.dom.find('.counter').text(data.length);
			if(!data.length){
				return;
			}
			for(i in data){
				if(data[i].active){
					list.append(this.generate_markup(data[i]));
					delete data[i];
					break;
				}
			}
			for(i in data){
				list.append(this.generate_markup(data[i]));
			}
			setup_events();
		};
		
		setup_events();
		
		return {
			show:widget.show,
			hide:widget.hide
		};
	};

	
</script>
{% endif %}