<!-- begin goals-main -->	
<div class="box goals-main">
	<div class="hd clearfix">
		<h2>
			<span>
				Goals 
				<span class="counter">{{ d.template_data.project.data.info.goals['items']|length }}</span>
				{% if d.template_data.project_user.data.is_project_admin %}
					<span class="control"><a href="#show,goals_stack" class="manage">Manage</a></span>
				{% endif %}
			</span>
		</h2>
		<div class="actions">
			{% if d.template_data.project_user.data.is_member %}
				<a href="#show,goals_add" class='add'>Propose Your Own</a>
			{% endif %}
		</div>
	</div>
	
	<div class="goals-display" style="{% if not d.template_data.project.data.info.goals['items']|length > 0 %}display:none;{% endif %}">
		<h3 class="fancy-caps"><span>The</span> Active Goal <span>for this</span> Project</h3>
		<div class="carousel">
			<div class="scrollable">
				<ul class="items">
					{% for goal in d.template_data.project.data.info.goals['items'] %}
						<li>
							<div class="goal-card">
								{% if d.template_data.project_user.is_project_admin %}
									<!-- <a class="close" href="#close,{{ goal.goal_id }}"><span>Close</span></a> -->
								{% endif %}
								<p>{{ goal.text }}</p>
								<div class="meta">
									<dl>
										<dt>Timeframe</dt>
										<dd>{{ goal.timeframe }}</dd>
										
										<dt>Point Person</dt>
										<dd><a href='/useraccount/{{ goal.owner.u_id }}'>{{ goal.owner.name }}</a></dd>
									</dl>
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="carousel-controls">
				<a class="next" href="#">
					<span>Next</span>
				</a>
			</div>
		</div>
	</div>
	
	<div class="goals-empty" style="{% if d.template_data.project.data.info.goals['items']|length > 0 or not d.template_data.project_user.data.is_member %}display:none;{% endif %}">
		<h3 class="fancy-caps">Make <span>an</span> Active Goal <span>for this</span> Project</h3>
		<div class="empty-state-box big">
			<a class="close" href="#"><span>Close</span></a>
			<p>Goals help you define what you want to do and get your project done more efficiently. Why not <a href="#show,goals_add">add a goal now?</a></p>
		</div>
	</div>
	
</div>

<li class='template-content goal'>
	<div class="goal-card">
		{% if d.template_data.project_user.data.is_project_admin %}
			<a class="close" href="#close,"><span>Close</span></a>
		{% endif %}
		<p class='goal-title'></p>
		<div class="meta">
			<dl>
				<dt>Timeframe</dt>
				<dd class='timeframe'></dd>
				<dt>Point Person</dt>
				<dd class='owner-name'></dd>
			</dl>
		</div>
	</div>
</li>

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.goals_main = function(project,dom,deps,options){
		var widget, me;
		me = this;
		tc.util.log("project.goals_main");
		this.project = project;
		this.options = tc.jQ.extend({name:'goals_main'},options);
		this.dom = dom;
		widget = tc.gam.widget(this,project);
		this.handlers = {
			goals_refresh:function(e){
				tc.util.dump('goals_main.goals-refresh');
				tc.jQ.ajax({
					type:'GET',
					url:'/project/goals',
					data:{
						project_id:e.data.me.project.data.project_id
					},
					context:e.data.me,
					dataType:'text',
					success:function(data,ts,xhr){
						var d;
						try{
							d = tc.jQ.parseJSON(data);
						}catch(e){
							return;
						}
						this.handle_goals(d);
					}
				});
			}
		};
		
		project.dom.bind('goals-refresh',{me:this},this.handlers.goals_refresh);
				
		this.generate_markup = function(data){
			var temphtml;
			temphtml = tc.jQ('.template-content.goal').clone().removeClass('template-content');
			temphtml.css('width','512px');
			temphtml.find('.goal-title').text(data.text);
			temphtml.find('.timeframe').text(data.timeframe);
			temphtml.find('.owner-name').html("<a href='/useraccount/"+data.owner.u_id+"'>"+data.owner.name+"</a>");
			return temphtml;
		};
		
		this.handle_goals = function(data){
			var i, list, temphtml;
			this.dom.find('.counter').text(data.length);
			if (!this.carousel.is_rendered) {
				list = this.dom.find('ul.items');
				for(i in data){
					if(data[i].active){
						list.append(this.generate_markup(data[i]));
						delete data[i];
						break;
					}
				}
				for(i in data){
					list.append(this.generate_markup(data[i]));
				}
				
			} else {
				this.carousel.carousel.getItems().remove();
				for(i in data){
					if(data[i].active){
						this.carousel.carousel.addItem(this.generate_markup(data[i]));
						delete data[i];
						break;
					}
				}
				for(i in data){
					this.carousel.carousel.addItem(this.generate_markup(data[i]));
				}
				this.carousel.carousel.end();
			}
		};
		
		this.carousel = new tc.carousel({
			element: this.dom.find(".carousel")
		});
		
		return {
			show:function(propagate){
				var has_items;
				has_items = me.dom.find("li.goal").length;
				if (has_items) {
					me.dom.find('.goals-empty').hide().siblings('.goals-display').show();
				}
				widget.show(propagate);
				if (has_items) {
					// this should only be called after the carousel container is visible
					me.carousel.render();
				}
			},
			hide:widget.hide
		};
	};
	
</script>
<!-- end .goals-main -->