<!-- begin members -->
<div class="box members" style='display:none;'>
	<div class="hd clearfix">
		<h2>
			<span>
				Members <span class="counter members-counter">{{ d.template_data.project.data.info.members['items']|length }}</span>
			</span>
		</h2>
		<div class="actions">
			<a class="back fancy-caps" href="#hide,members">
				<span>Back <span>to</span> Project Home</span>
			</a>
		</div>
	</div>
	<div class="bd">
		<div class="west">
		
			{% if d.template_data.project.data.info.members['items']|length > 0 %}
				
				<!-- Begin Members.Stack -->
				<ul class="members-stack">
				{% for member in d.template_data.project.data.info.members['items'] %}
				
					<li id='member-{{ member.u_id }}'>
						<div class="thumb">
							<img width='40' src="/static/images/thumb_genAvatar.jpg" alt="" />
						</div>
						<div class="main">
							<a href="/useraccount/{{ member.u_id }}">{{ member.name }}</a>
						</div>
						{% if d.template_data.project_user.data.is_project_admin %}
							<a class="close" href="#removeMember,{{member.u_id}}"><span>Close</span></a>
						{% endif %}
					</li>
				
				{% endfor %}
				</ul>
				<!-- End Members.Stack -->
			{% else %}
				
				{% if d.template_data.project_user.data.is_member or d.template_data.project_user.data.is_project_admin %}
					<!-- Begin Members.Empty -->
					<div class="empty-state-box">
						<!--<a class="close" href="#"><span>Close</span></a>-->
						<p>Invite people to join! Project members will appear here.</p>
						<a href="#show,link_add" class="rounded-button small">Add Link</a>
					</div>
					<!-- End Members.Empty -->
				{% endif %}
				
			{% endif %}
		
		</div>
		<div class="east">
			
				<!-- Begin Members.email-invite -->
				<div class="email-invite merlin" style="{% if not d.template_data.project_user.data.is_member and not d.template_data.project_user.data.is_project_admin %}display:none;{% endif %}">
				
					<div class='step email-invite-info'>
						<div class="sub-hd">
							<h3 class="fancy-caps">Invite People <span>by</span> Email</h3>
						</div>
						<div class="sub-bd form-pane">
							<div class="fields">
								<div class="row clearfix">
									<textarea class='email-list'></textarea>
								</div>
							</div>
						</div>
					
						<div class="sub-hd" style='padding-top:0px;'>
							<h3 class="fancy-caps">Add <span>a</span> Message</h3>
						</div>
						<div class="sub-bd form-pane">
							<div class="fields">
								<div class="row clearfix" style='margin-top:0px;'>
									<textarea class='email-message'></textarea>
								</div>
								<div class='row clearfix' style='margin-top:0px;'>
									<input class="rounded-button email-invite-submit-button" id="send-invites" name="send-invites" type="submit" value="Send Invites" />
								</div>
							</div>
						</div>
					</div>
				
					<!--<div class='step email-invite-message' style='display:none;'>
						<div class="sub-hd">
							<h3 class="fancy-caps">Add <span>a</span> Message</h3>
						</div>
						<div class="sub-bd form-pane">
							<div class="fields">
								<div class="row clearfix">
									<textarea class='email-message'></textarea>
								</div>
								<div class='row clearfix' style='margin-top:0px;'>
									<input class="rounded-button email-invite-submit-button" id="send-invites" name="send-invites" type="submit" value="Send Invites" />
								</div>
							</div>
						</div>
					</div>-->
				
					<div class='step email-invite-submit clearfix spinner-message' style='display:none;'>
						<p>Thank you for inviting more users!</p>
						<p><img src='/static/images/loader32x32.gif' /></p>
					</div>
				
					<div class='step email-invite-error' style='display:none;'>
						<p>There was an error sending the email invites!</p>
					</div>
				
				</div>
				<!-- End Members.email-invite -->
		
				<!-- Begin Members.ideas-invite -->
				<div class="ideas-invite" style="{% if not d.template_data.project_user.data.is_member and not d.template_data.project_user.data.is_project_admin %}display:none;{% endif %}">
					<div class="sub-hd">
						<h3 class="fancy-caps">Invite People <span>with</span> Similar Ideas</h3>
						<div class="pagination">
							<span class="cur-index">0</span> <em>of</em>
							<span class="total">{{ d.template_data.project.data.info.related_ideas['items']|length }}</span>
						</div>
					</div>
					<div class="sub-bd" style="{% if d.template_data.project.data.info.related_ideas['items']|length == 0 %}display:none;{% endif %}">
					
						{% if d.template_data.project.data.info.related_ideas['items']|length > 0 %}
							<div class="carousel">
								<div class="scrollable">
									<ul class="items">
										{% for idea in d.template_data.project.data.info.related_ideas['items'] %}
											<li>
												<div class="note-card-public-controls">
													<a class="invite rounded-button" href="#invite,{{ idea.idea_id }},{{ idea.owner.name }}">Invite</a>
													<span class="flag"><a href="#flagIdea,{{ idea.idea_id }}" class='flag-idea'>Flag as Inappropriate</a></span>
												</div>
												<div class="note-card">
													<div class="membrane">
														{% if idea.owner.name %}
															<cite class="note-meta-hd">
																<strong><a href="/useraccount/{{ idea.owner.u_id }}">{{ idea.owner.name }}</a></strong> said &mdash;
															</cite>
														{% endif %}
														<blockquote>
															<p>{{ idea.message }}</p>
														</blockquote>
														<cite class="note-meta-ft">
															Posted <strong><span class="time-since">{{ idea.created }}</span></strong>
														</cite>
													</div>
												</div>
											</li>
										{% endfor %}
									</ul>
								</div>
								<div class="carousel-controls">
									<a class="next" href="#">
										<span>Next</span>
									</a>
								</div>
							</div>
						{% endif %}
					
					</div>
				
					<div class="empty-state-box" style="{% if d.template_data.project.data.info.related_ideas['items']|length > 0 %}display:none;{% endif %}">
						<!--<a class="close" href="#"><span>Close</span></a>-->
						<p>No similar ideas found.</p>
					</div>
				
				</div>
				<!-- End Members.ideas-invite -->
		
		</div>
	</div>
</div>
<!-- end Members -->

<div class="template-content modal-content confirm-delete remove-member">
	<div class="step">
		<h2><strong>Delete</strong> this Project Member?</h2>
		<div>
			<p>You are about delete <span class="person-name serif">this member</span> from the project permanently! <br/>Are you sure?</p>
		</div>
		<div class="actions">
			<a class="submit rounded-button" href="#">Yes, Delete <span class="person-name">Member</span></a>
			<a class="cancel" href="#">No, keep them.</a>
		</div>
	</div>
	<a class='close' href="#"><span>close</span></a>
</div>

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.members = function(project,dom,deps,options){
		var widget, me;
		tc.util.log("project.members");
		me = this;
		this.options = tc.jQ.extend({name:'members'},options);
		this.project = project;
		this.dom = dom;
		widget = tc.gam.widget(this,project);
		
		this.handlers = {
			remove_member:function(e){
				e.preventDefault();
				
				e.data.project.options.app.components.modal.show({
					app:e.data.project.options.app,
					source_element:tc.jQ('.modal-content.remove-member'),
					init: function(modal, callback) {
						var member_name;
						member_name = tc.jQ(e.target).prev().find("a").text();
						if (member_name) {
							modal.options.element.find(".person-name").text(member_name);
						}
						if (tc.jQ.isFunction(callback)) {
							callback(modal);
						}
					},
					submit:function(){
						tc.jQ.ajax({
							type:'POST',
							url:'/project/user/remove',
							data:{
								project_id: e.data.me.options.app.app_page.data.project.project_id,
								user_id: e.target.href.split(',')[1]
							},
							context:e.data.me,
							dataType:'text',
							success:function(data,ts,xhr){
								var n_members;
								if(data == 'False'){
									return false;
								}
								
								this.dom.find('#member-'+e.target.href.split(',')[1]).remove();
								n_members = this.dom.find('.members-stack').children().length;
								this.project.dom.find('.members-counter').text(n_members);
							}
						});
					}
				});
			}
		};
		
		this.dom.find('a.close').unbind('click').bind('click', {project:project,me:this}, this.handlers.remove_member);
		
		this.components = {
			email_merlin:null,
			ideas_carousel:null,
			ideas_pagination: this.dom.find(".ideas-invite .pagination")
		};
		
		this.build_email_merlin = function(){
			if(this.components.email_merlin){
				return;
			}
			this.components.email_merlin = new tc.merlin(options.app,{
				name:'email_invite',
				dom:tc.jQ('.email-invite'),
				next_button:tc.jQ('input.email-invite-submit-button'),
				first_step:null,//'email-invite-info',
				data:{
					email_list:null,
					project_id:null
				},
				steps:{
					'email-invite-info':{
						selector:'.step.email-invite-info',
						next_step:'email-invite-submit',
						inputs:{
							email_list:{
								selector:'.email-list',
								validators:['min-3','max-200','required','csv-email'],
								hint:'Add emails separated by commas'
							},
							email_message:{
								selector:'.email-message',
								validators:['min-3','max-200','required'],
								hint:'Add a message'
							}
						},
						init:function(merlin,dom){
							merlin.current_step.inputs.email_list.dom.removeClass('has-been-focused').removeClass('has-attempted-submit');
							merlin.current_step.inputs.email_message.dom.removeClass('has-been-focused').removeClass('has-attempted-submit');
						},
						finish:function(merlin,dom){
							merlin.options.data = tc.jQ.extend(merlin.options.data,{
								project_id:merlin.app.app_page.data.project.project_id,
								email_list:merlin.current_step.inputs.email_list.dom.val(),
								message:merlin.current_step.inputs.email_message.dom.val()
							});
						}
					},
					'email-invite-message':{
						selector:'.step.email-invite-message',
						next_step:'email-invite-submit',
						inputs:{
							email_message:{
								selector:'.email-message',
								validators:['min-3','max-200','required'],
								hint:'Add a message'
							}
						},
						init:function(merlin,dom){
							merlin.current_step.inputs.email_message.dom.val('').removeClass('has-been-focused').removeClass('has-attempted-submit');
						},
						finish:function(merlin,dom){
							merlin.options.data = tc.jQ.extend(merlin.options.data,{
								message:merlin.current_step.inputs.email_message.dom.val()
							});
						}
					},
					'email-invite-submit':{
						selector:'.step.email-invite-submit',
						next_step:'email-invite-info',
						init:function(merlin,dom){
							tc.jQ.ajax({
								type:'POST',
								url:'/project/invite',
								data:merlin.options.data,
								context:merlin,
								dataType:'text',
								success:function(data,ts,xhr){
									if(data == 'False'){
										window.location.hash = 'email_invite,email-invite-error';
										return false;
									}
									tc.timer(1000,function(){
										window.location.hash = 'email_invite,email-invite-info';
									});
								}
							});
						}
					},
					'email-invite-error':{
						selector:'.step.email-invite-error'
					}
				}
			});
		};
		
		this.build_email_merlin();
		
		this.dom.find('a.flag-idea').bind('click', {project:project}, function(e){
			e.preventDefault();
			tc.jQ.ajax({
				type:"POST",
				url:'/idea/flag',
				data:{
					idea_id:e.target.hash.split(',')[1]
				},
				context:tc.jQ(e.target),
				dataType:"text",
				success: function(data, ts, xhr) {
					if (data == "False") {
						return false;
					}
					this.parent().text('Flagged');
				}
			});
		});
		
		this.components.ideas_carousel = new tc.carousel({
			element: this.dom.find(".ideas-invite .carousel"),
			pagination: {
				current: this.components.ideas_pagination.find(".cur-index"),
				total: this.components.ideas_pagination.find(".total")
			}
		});
		if (!this.components.ideas_carousel.is_rendered()) {
			this.components.ideas_pagination.hide();
		}
		
		return {
			show:function(propagate) {
				widget.show(propagate);
				if (me.components.ideas_carousel.has_items() && !me.components.ideas_carousel.is_rendered()) {
					me.components.ideas_carousel.render();
					me.components.ideas_pagination.show();
				}
				window.location.hash = 'email_invite,email-invite-info';
			},
			hide:widget.hide
		};
	};

	
</script>