<div class="box main-section project-section needs">
    <div class="hd clearfix">
        <h2>
            <span>
                Needs <span class="counter"></span>
            </span>
        </h2>
        <div class="actions">
            <a href="#show,needs" class="back fancy-caps">
                <span>See More</span>
            </a>
        </div>
    </div>

    
    <ol class="need-stack">
        {% for need in d.template_data.project.needs %}
            {% include "project/volunteer_need.html" %}
        {% endfor %}
    </ol>
</div>

<script src="/static/js/pages/project.needs.js"></script>
