<div class="box recent-need">
    <div class="hd clearfix">
        <h2>
            <span>
                Needs <span class="counter"></span>
            </span>
        </h2>
        <div class="actions">
            <a href="#show,needs" class="back fancy-caps">
                <span>See More</span>
            </a>
        </div>
    </div>

  <div class="bd clearfix">
    <a href="#" class="vol-title serif">We need <span class="vol-need"><span class="vol-count">10</span> volunteer ushers</span> for our gallery opening on August 28th</a>
    <div class="volunteer-body">
      <p class="serif">You'll be greeting people at the door, passing out the artwork index as well as helping
      with cleanup after! There are already a bunch of people helping out and it would be a
      great opportunity if you are new to the city and are involved in the artistic community!</p>
      <span>Who's helping</span>
      <div class="volunteers">
        <img class="vol-first" src="/static/images/thumb_pshepard.jpg"></img>
        <span class="vol-desc"><span>Devin O.</span> and 9 others volunteered.</span>
        <div class="vol-avatars">
          <img src="/static/images/thumb_mbloomberg.jpg"></img>
          <img src="/static/images/thumb_ryaro.jpg"></img>
          <img src="/static/images/thumb_akeys.jpg"></img>
          <img src="/static/images/thumb_sgoldsmith.jpg"></img>
          <a href="#" class="sub fancy-caps"><span>E-mail</span> the<br>
            volunteer list</a>
        </div>
      </div>
    </div>
    <div class="volunteer-details serif">
      <div class="status"></div>
      <a href="#" class="help-link">I can help</a>
      <div class="time-detail">
        <span>We'll need you at<br>
          <span class="time">6:30pm</span> <span class="">for</span> <span class="time-length">5 hrs</span></span>
      </div>
      <div class="location">We'll need you to go to
        <ul>
          <li class="location-name">CultureFix</li>
          <li class="location-addr">9 Clinton Street</li>
          <li class="location-city">New York, NY 1002</li>
        </ul>
        <a href="#" class="rounded-button small">Map it</a>
      </div>
    </div>

        <div class="empty-state-box" style="display:none;">
            <!--<a class="close" href="#"><span>Close</span></a>-->
            <p>No needs found.</p>
        </div>

    </div>

</div>

<script type='text/javascript' src="/static/js/pages/project.related_resources.js"></script>
