<div class="box recent-need">
	<div class="hd clearfix">
		<h2>
			<span>
				Needs <span class="counter"></span>
			</span>
		</h2>
		<div class="actions">
			<a href="#project-home" class="back fancy-caps">
				<span>See More</span>
			</a>
		</div>
	</div>

  <div class="bd clearfix">
    <a href="#" class="vol-title serif">We need <span class="vol-need"><span class="vol-count">10</span> volunteer ushers</span> for our gallery opening on August 28th</a>
    <div class="volunteer-body">
      <p class="serif">You'll be greeting people at the door, passing out the artwork index as well as helping
      with cleanup after! <a href="#" class="read-more">Read More</a></p>
      <div class="volunteers teaser">
        <div class="vol-avatars teaser">
          <img src="/static/images/thumb_mbloomberg.jpg"></img>
          <img src="/static/images/thumb_ryaro.jpg"></img>
          <img src="/static/images/thumb_akeys.jpg"></img>
          <img src="/static/images/thumb_sgoldsmith.jpg"></img>
          <img src="/static/images/thumb_mbloomberg.jpg"></img>
        </div>
      </div>
    </div>
    <div class="volunteer-details serif">
      <div class="status"></div>
      <a href="#" class="help-link">I can help</a>
    </div>
    <div class="vol-recent-comment serif">
      <img src="/static/images/thumb_sgoldsmith.jpg"></img>
      <div class="comment">We still really need people for this if anyone can help. It'll be fun and it's just one night.</div>
      <div class="author">
        <span>Alexandra M.</span><br>
        3 hours ago
      </div>
    </div>
		
		<div class="empty-state-box" style="display:none;">
			<!--<a class="close" href="#"><span>Close</span></a>-->
			<p>No needs found.</p>
		</div>
							
	</div>
	
</div>

<script type='text/javascript' src="/static/js/pages/project.related_resources.js"></script>
