<div class="box main-section project-section needs">
    <div class="hd clearfix">
        <h2>
            <span>
                Needs <span class="counter"></span>
            </span>
        </h2>
        {% if
            (d.template_data.project_user.data.is_project_admin) or
            (d.template_data and d.template_data.user and d.template_data.user.is_admin) or
            (d.template_data and d.template_data.user and d.template_data.user.is_leader) %}
        <div class="actions">
            <a href="#show,need-form" class="add fancy-caps">
                <span>Add Need</span>
            </a>
        </div>
        {% endif %}
    </div>


    <ol class="need-stack">
        {% for need in d.template_data.project.needs %}
            {% include "project/volunteer_need_teaser.html" %}
        {% else %}
            {% include "project/empty_needs_list.html" %}
        {% endfor %}
    </ol>


    {% raw %}
    <script id="add_inkind_need_tmpl" type="text/html">
        <span>
        <strong>YES</strong>, I can bring <input name="add-quantity" class="add-quantity" id="add_quantity" type="text" /> {{ request }}

        {{#reason}}
            for {{ reason }}
        {{/reason}}

        {{#display_date}}
            on {{ display_date }}
        {{/display_date}}
        </span>
    </script>

    <script id="add_vol_need_tmpl" type="text/html">
        <span>
        <strong>YES</strong>, I can help {{ request }}

        {{#reason}}
            for {{ reason }}
        {{/reason}}

        {{#display_date}}
            on {{ display_date }}
        {{/display_date}}
        </span>
    </script>

    <script id="need_vol_avatars" type="text/html">
        {{#volunteers}}
        <a href="/useraccount/{{id}}" title="{{display_name}}">
            <img src="{{avatar}}" alt="{{display_name}}"></img>
        </a>
        {{/volunteers}}
        {{^volunteers}}
        <span>Be the first to volunteer!</span>
        {{/volunteers}}
    </script>
    {% endraw %}

    <div class="template-content modal-content user-volunteer-modal merlin">
        <div class="step user-volunteer">
            <h2>We&#39;d love it if you could help!</h2>

            <div class="section clearfix volunteer-agree-section">
                <input type="checkbox" name="volunteer-agree" id="volunteer-agree" class="volunteer-agree has-prettycheckbox">
                <label for="volunteer-agree"></label><span class="volunteer-agree-label"></span>
            </div>

            <div class="section clearfix">
                <label class="volunteer-agree-msg-label" for="volunteer-agree-msg">Add a message</label>
                <textarea cols="20" rows="6" name="volunteer-agree-msg" id="volunteer-agree-msg" class="volunteer-agree-msg"></textarea>
                <div class="charlimit charlimit-volunteer-agree-msg"></div>
                <div class="error-msg">Uh oh, something went wrong. Please try again!</div>
            </div>

            <div class="actions clearfix">
                <a class="send rounded-button" href="#">Send</a>
            </div>

            <a class='close' href="#"><span>close</span></a>
        </div>
    </div>
</div>

{% include 'project/need_form.html' %}
{% include 'project/volunteer_need.html' %}

<script src="/static/js/pages/project.needs.js"></script>
