<div class="box related-resources" style="display:none;">
	<div class="hd clearfix">
		<h2>
			<span>
				Related Resources <span class="counter"></span>
			</span>
		</h2>
		<div class="actions">
			<a href="#hide,related_resources" class="back fancy-caps">
				<span>Back <span>to</span> Project Home</span>
			</a>
		</div>
	</div>

	<div class="bd clearfix">
		<table class="resources-list doublewide"></table>
		
		<div class="empty-state-box">
			<a class="close" href="#"><span>Close</span></a>
			<p>No resources found.</p>
		</div>
							
		<div class="actions">
			<a href="/search#resources" class="forward fancy-caps">
				<span>Find more resources</span>
			</a>
		</div>
	</div>
	
</div>

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.related_resources = function(project,dom,deps,options){
		var widget, data, me;
		tc.util.log("project.related_resources");
		me = this;
		this.options = tc.jQ.extend({name:'related_resources'},options);
		this.dom = dom;
		data = this.options.app.app_page.data;
		widget = tc.gam.widget(this,project);
		this.elements = {
			resource_counter: this.dom.find(".counter"),
			resources_table: this.dom.find("table.resources-list"),
			empty_box: this.dom.find(".empty-state-box")
		};
		this.handlers = {
			resources_loaded: function(data, ts, xhr) {
				var d;
				try {
					d = tc.jQ.parseJSON(data);
				} catch(err) {
					no_resources();
					return;
				}
				if (d.resources.length) {
					populate(d);
				} else {
					no_resources();
				}
			},
			add_resource_click: function(e, d) {
				var add_btn, my_id;
				e.preventDefault();
				
				add_btn = tc.jQ(e.target);
				my_id = add_btn.attr("href").split(",")[1];
				
				tc.jQ.ajax({
					url: "/project/resource/add",
					type: "POST",
					dataType: "text",
					data: {
						project_id: e.data.project.data.project_id,
						project_resource_id: my_id
					},
					context: e.data.me,
					success: function(data, ts, xhr) {
						if(data == 'False'){
							tc.util.log("resource add failed");
							return false;
						}
						tc.util.log("resource add success");
						project.dom.trigger('resources-refresh',{ type:'organization' });
						add_btn.parent().addClass("added");
					}
				});
			}
		};
		
		function get() {
			tc.jQ.ajax({
				type: 'GET',
				url: '/project/resources/related',
				data: {
					project_id: project.data.project_id
				},
				context: me,
				dataType:'text',
				success: me.handlers.resources_loaded
			});
		}
		
		function populate(d) {
			var tbody;
			
			tbody = "<tbody>";
			tc.jQ.each(d.resources, function(i, resource) {
				var temp, even;
				
				temp = "";
				even = (i % 2 === 0);
				
				if (even) { temp = "<tr>"; }
				temp += "<td>";
				
				temp += '<a href="#add,'+ resource.project_resource_id +'" class="add-button rounded-button small">Add</a>'+
				        '<span class="thumb">{% if d.template_data and d.template_data.user and d.template_data.user.is_admin %}<a class="close" href="#"><span>Close</span></a>{% endif %}<img src="http://placehold.it/35x35" alt="" /></span>'+
				        '<span class="resource-name" ><span>'+
				            '<span class="organization-name tooltip_trigger" rel="#organization,'+ resource.project_resource_id +'">'+ 
				                resource.title +
				            '</span></span></span>';
				
				// hidden added dialog
				temp += '<div class="added-dialog">'+
				            '<span class="added-header">Added <em>to</em> your project</span><br />'+
				            '<span class="added-text">We\'ve sent them a link to your project page.'+
				            ' <a href="">?</a></span></div>';
				
				temp += "</td>";
				if (!even) { temp += "</tr>"; }
				
				tbody += temp;
			});
			tbody += "</tbody>";
			tbody = tc.jQ(tbody);
			
			tbody.find("a.add-button").bind("click", {project:project, me:me}, me.handlers.add_resource_click);
			
			me.elements.resources_table.empty().append(tbody);
			me.elements.empty_box.hide();
			me.elements.resource_counter.text(d.resources.length);
			
			tc.resource_tooltip({
				triggers: me.elements.resources_table.find(".tooltip_trigger"),
				markup_source_element:tc.jQ('#organization-markup-source'),
				get_url: "/project/resource/info"
			});
			
		}
		
		function no_resources() {
			me.elements.resources_table.hide();
			me.elements.empty_box.show();
			me.elements.resource_counter.text("0");
		}
		
		get();
		
		return {
			show:widget.show,
			hide:widget.hide
		};
	};
	
</script>