<div class="box resources">
	<div class="hd clearfix">
		<h2>
			<span>
				Resources
			</span>
		</h2>
	</div>

	<div class="bd">
		<p class="hint">The resources listed below are separate entities not run by the Give a Minute Projects but used by this Project</p>
		<div class="external-links">
			<div class="sub-hd">
				<h3>External Links</h3>
			</div>
			
			{% if d.template_data.project.data.info.resources.links['items']|length > 0 %}
			<div class="sub-bd">
					<table class="resources-list doublewide">
						<tbody>
							{% for link in d.template_data.project.data.info.resources.links['items'] %}
								{% if loop.index is odd %}
									<tr>
								{% endif %}
								<td rel="#link,{{ link.link_id }}" title="{{ link.title }}">
									<span class="thumb">
										<img src="http://placehold.it/30x30" alt=""/>
									</span>
									<span class="resource-name">
										<span>
											<span><a href="{{ link.url }}"><span>{{ link.title }}</span></a></span>
										</span>
									</span>
								</td>
								{% if loop.index is even %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
					<div class="sub-ft clearfix">
						<a href="#" class="rounded-button small add-link">Add a Link</a>
					</div>
				</div>	
				{% else %}
				<div class="sub-bd">
					<div class="empty-state-box">
						<!-- <a class="close" href="#"><span>Close</span></a> -->
						<p><a href="#show,link_add">Add links</a> to anything, including some of our recommended links like Facebook groups and Kickstarter.</p>
						<a href="#show,link_add" class='rounded-button small add-link'>Add Link</a>
					</div>
				</div>
				
				{% endif %}
		</div>
		<div class="organizations">
			<div class="sub-hd">
				<h3>Organizations</h3>
			</div>
			
				
				{% if d.template_data.project.data.info.resources.organizations['items']|length > 0 %}
				<div class="sub-bd">
					<table class="resources-list doublewide">
						<tbody>
							{% for org in d.template_data.project.data.info.resources.organizations['items'] %}
								{% if loop.index is odd %}
									<tr>
								{% endif %}
								<td rel="#organization,{{ org.organization_id }}" title="{{ org.title }}">
									<span class="thumb">
										<img src="http://placehold.it/30x30" alt=""/>
									</span>
									<span class="resource-name">
										<span>
											<span><a href="{{ org.url }}"><span>{{ org.title }}</span></a></span>
										</span>
									</span>
								</td>
								{% if loop.index is even %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="sub-ft clearfix">
					<a href="#show,related_resources" class="rounded-button small add-organization">Add Organization</a>
				</div>
				{% else %}
				<div class="sub-bd">
					<div class="empty-state-box">
						<!-- <a class="close" href="#"><span>Close</span></a> -->
						<p>When you <a href="#show,related_resources">add organizations</a>, we'll introduce your project to the people over there.</p>
						<a href="#show,related_resources" class="rounded-button small">Add Organizations</a>
					</div>
				</div>
				{% endif %}
				
				<!-- TODO -->
				<!-- add the class "right" to the tooltip to change its orientation accordingly -->
				<div class="tooltip" style='display:none;'>
					<div class="tooltip-hd">
						<h2>Bronx River Alliance</h2>
					</div>
					<div class="tooltip-bd">
						<div class="info">
							<div class="thumb">
								<img src="http://placehold.it/90x90" alt=""/>
							</div>
							<div class="main">
								<p>In collaboration with Alliance partners, we maintain a full-time presence on the river, monitoring river conditions and doing ecological restoration projects that improve water quality, stabilize the riverbanks and improve river habitat.</p>
							</div>
						</div>
						<dl class="details">
							<dt>Visit Us</dt>
							<dd><a href="">bronxriver.org</a></dd>
							<dt>Latest Update</dt>
							<dd>
								<blockquote>
									<p>Wally Arias is an intern from the Phipps Community Development Corporation. For the past few weeks he has been alongside&hellip;</p>
								</blockquote>
							</dd>
						</dl>
					</div>
				</div>
		</div>
	</div>
	
</div>

<script>
	if(!tc){ var tc = {}; }
	if(!tc.gam){ tc.gam = {}; }
	if(!tc.gam.project_widgets){ tc.gam.project_widgets = {}; }
	
	tc.gam.project_widgets.resources = function(project,dom,deps,options){
		var widget, me;
		me = this;
		this.options = tc.jQ.extend({name:'resources'},options);
		this.dom = dom; 
		widget = tc.gam.widget(this,project);
		this.handlers = {
			add_link: function(e, d) {
				e.preventDefault();
				//TODO
			},
			add_organization: function(e, d) {
				e.preventDefault();
				e.data.project.components.related_resources.show(true);
			}
		};
		this.dom.find(".resources-list td").each(function() {
			var trig;
			trig = tc.jQ(this);
			tc.resource_tooltip({
				element: trig,
				get_url: "/project/resource/info",
				get_params: {
					project_resource_id: trig.attr("rel").split(",")[1]
				}
			});
		});
		//this.dom.find("a.add-link").bind('click',{ project:project,me:this },this.handlers.add_link);
		this.dom.find("a.add-organization").bind('click',{ project:project,me:this },this.handlers.add_organization);
		return {
			show:widget.show,
			hide:widget.hide
		};
	};

	
</script>