            <cite class="meta">
                <span class="fancy-caps">Created <span>by</span></span> <strong><a href='/useraccount/{{ d.template_data.project.data.info.owner.u_id }}'>{{ d.template_data.project.data.info.owner.name }}</a></strong>
            </cite>
            <div class="sub-ft">
                {% if d.template_data and d.template_data.user and not (d.template_data.project.data.info.owner.u_id == d.template_data['user'].data.u_id) %}
                    <a href="#" class="contact">Contact {{ d.template_data.project.data.info.owner.name }}</a>
                {% endif %}
            </div>
