<div class="box main-section project-section need-detail">
    <div class="hd clearfix">
        <h2>
            <span>
                Needs
            </span>
        </h2>
        <div class="actions">
            <a href="#show,needs" class="back fancy-caps">
                <span>Go Back</span>
            </a>
        </div>
    </div>
    <ol class="need-stack"></ol>
</div>

{% raw %}
<script id="need_detail_tmpl" type="text/html">
<li class="box need" data-id="{{id}}">
{% endraw %}
{% if
    (d.template_data.project_user.data.is_project_admin) or
    (d.template_data and d.template_data.user and d.template_data.user.is_admin) or
    (d.template_data and d.template_data.user and d.template_data.user.is_leader) %}
    <a href="#show,need-form,{{ '{{id}}' }}" class="need-edit">Edit This</a>
{% endif %}
{% raw %}
  <div class="bd clearfix need-detail-cont">
    <div class="vol-title serif">
        We need <a href="#show,need-detail,{{id}}" class="vol-need"><span class="vol-count">{{quantity}}</span> volunteer {{request}}</a>
        {{#reason}} for {{reason}}{{/reason}}
        {{#display_date}} on {{display_date}}{{/display_date}}
    </div>

    <div class="volunteer-body">
      <p class="serif">{{description}}</p>

      <span>Who&#39;s helping</span>
      <div class="volunteers">
          {{#has_first}}
            {{#first_vol}}
            <a href="/useraccount/{{id}}" title="{{ display_name }}"><img class="vol-first" src="{{ avatar }}" alt="{{ display_name }}"></img></a>
            <div class="vol-desc"><span>{{ display_name }}</span> and
            {{/first_vol}}
                {{ vol_count_minus_one }} others volunteered.
            </div>
          {{/has_first}}
          <div class="vol-avatars"></div>
          <!--<a href="#" class="sub fancy-caps"><span>E-mail</span> the<br>volunteer list</a>-->
      </div>
    </div>
    <div class="volunteer-details serif">
      <div class="volunteer-count">We have <strong>{{ need.volunteers|length }}</strong> volunteers</div>
      <div class="progress-wrapper"><div class="progress" style="width:150px;"><div class="progress-pin"></div></div></div>
      <a href="#" class="help-link active">I can help</a>
      <div class="time-detail">
        <span>We&#39;ll need you at<br>
          <span class="time">{{time}}</span>
          <span class="">for</span> <span class="time-length">{{duration}} hrs</span></span>
      </div>
        <div class="location">We&#39;ll need you to go to
          <ul>
            <li class="location-name">{{address}}</li>
          </ul>
          <a href="http://maps.google.com/maps?q={{address}}" target="_blank" class="rounded-button small">Map it</a>
        </div>
    </div>
  </div>
</li>
</script>
{% endraw %}