  <div class="bd clearfix">
    <a href="#" class="vol-title serif">
        We need <span class="vol-need"><span class="vol-count">{{ need.num_needed }}</span> volunteer {{ need.item_needed }}</span>
        {% if need.reason %} for {{ need.reason }}{% endif %} 
        {% if need.datetime %} on {{ need.datetime }}{% endif %}
    </a>
    
    <div class="volunteer-body">
      <p class="serif">{{ need.description }}</p>
      
      <span>Who's helping</span>
      <div class="volunteers">
      
        {% for volunteer in need.volunteers %}
          {% with volunteer_name = volunteer|display_name %}
            {% if loop.first %}
              <img class="vol-first" src="{{ MEDIA_ROOT }}/{{ volunteer.avatar_path }}" alt="{{ volunteer_name }}"></img>
              <span class="vol-desc"><span>{{ volunteer_name }}</span> and {{ need.volunteers|length - 1 }} others volunteered.</span>
              
              <div class="vol-avatars">
            {% else %}
              {% if loop.index <= 5 %}
                <img src="{{ MEDIA_ROOT }}/{{ volunteer.avatar_path }}" alt="{{ volunteer_name }}"></img>
              {% endif %}
            {% endif %}
            
            {% if loop.last %}
              </div>
            {% endif %}
          {% endwith %}
        {% endfor %}
        
        <a href="#" class="sub fancy-caps"><span>E-mail</span> the<br>
          volunteer list</a>
      </div>
    </div>
    <div class="volunteer-details serif">
      <div class="status"></div>
      <a href="#" class="help-link">I can help</a>
      <div class="time-detail">
        <span>We'll need you at<br>
          <span class="time">{{ need.datetime }}</span> 
          {% if need.duration %}
            <span class="">for</span> <span class="time-length">{{ need.duration }} hrs</span></span>
          {% endif %}
      </div>
      {% if need.address %}
        <div class="location">We'll need you to go to
          <ul>
            <li class="location-name">{{ need.address.name }}</li>
            <li class="location-addr">{{ need.address.street }}</li>
            <li class="location-city">{{ need.address.city }}</li>
          </ul>
          <a href="#" class="rounded-button small">Map it</a>
        </div>
      {% endif %}
    </div>

        <div class="empty-state-box" style="display:none;">
            <!--<a class="close" href="#"><span>Close</span></a>-->
            <p>No needs found.</p>
        </div>

    </div>


<!--<script type='text/javascript' src="/static/js/pages/project.related_resources.js"></script>-->
